{{- $children := .Children.All.ByRank.Slice -}}

<div class="flex-row">
	{{- if .Data "showSidebar" -}}
		<div class="sidebar">
			<div>
				{{- if ne 0 (len $children) -}}
					<div>
						{{- range $children -}}
							<a href="#{{.StreamID}}" class="block sidebar-item ellipsis">{{.Label}}</a>
						{{- end -}}
					</div>

					{{- if .UserCan "add-child" -}}
						<div class="margin-top text-xs">
							<br>
							<button hx-get="/{{.Token}}/add-child">
								{{- icon "plus"}} Add Another
							</button>
						</div>
					{{- end -}}
				{{- end -}}
			</div>
		</div>
	{{- end -}}

	<div class="flex-grow-1">
		{{- range $children -}}
			<div id="{{.StreamID}}" hx-get="/{{.StreamID}}" hx-trigger="revealed" hx-target="this" hx-push-url="false"></div>
		{{- end -}}

		{{- if .UserCan "add-child" -}}
			<div>
				<button hx-get="/{{.Token}}/add-child">
					{{- icon "plus"}} Add an Item
				</button>
			</div>
		{{- end -}}
	</div>

</div>
