<div class="page">

	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <div id="menu-bar">
        <a href="/{{.Token}}">&larr; View</a>
        <a href="/{{.StreamID}}/edit" class="bold">Edit</a>
        <a href="/{{.StreamID}}/widgets">Widgets</a>
        <a hx-get="/{{.StreamID}}/properties">Properties</a>
    
        {{- if .UserCan "sharing" -}}
            <a hx-get="/{{.StreamID}}/sharing">Sharing</a>
        {{- end -}}
    
        <div class="right">
            {{- if .UserCan "delete" -}}
                <a hx-get="/{{.StreamID}}/delete" class="text-red">Delete</a>
            {{- end -}}
        </div>
    </div>
            
    <h1 class="p-name">{{.Label}}</h1>
            
    <br>

    <form class="sortable margin-bottom" hx-post="/{{.StreamID}}/edit" hx-swap="none" hx-push-url="false" hx-trigger="end">
        {{- range .Children.All.ByRank.Slice -}}
            <div class="draggable">
                <input type="hidden" name="keys" value="{{.StreamID}}">
                <div class="float-right">
                    <a hx-get="/{{.StreamID}}/edit">{{icon "edit"}} Edit</a>
                </div>
                {{icon "grip-vertical"}}
                &nbsp;
                <span>{{.Label}}</span>
            </div>
        {{- end -}}
    </form>

     <button hx-get="/{{.StreamID}}/add-child">
        {{- icon "plus"}} Add an Item
    </button>

	<script>
		var sortables = document.querySelectorAll(".sortable");
		for (var node of sortables) {
			new Sortable(node, {
				animation: 150,
				whisperClass: 'draggable-whisper'
			});
		}
	</script>

	<style>
		.draggable {
			padding:10px 20px;
			border: solid 1px var(--gray10);
			background-color: var(--gray00);
			color: var(--gray80);
			margin-bottom: -1px;
			cursor: grab;
		}

		.draggable-whisper {
			background-color: var(--gray50);
			color:var(--gray50);
			cursor: grabbing;
		}
	</style>

	<div
		hx-get="/{{.StreamID}}/edit" 
		hx-trigger="refreshPage from:window" 
		hx-target="main"
		hx-swap="innerHTML" 
		hx-push-url="false">
	</div>

</div>