<div class="page h-entry" hx-get="/{{.StreamID}}" hx-target="this" hx-swap="outerHTML" hx-trigger="sse:{{.StreamID}}, refreshPage from:window">

	<link rel="stylesheet" href="/.templates/collection/stylesheet">

	<article class="content">
		{{- .Widgets "LEFT" -}}
		<div class="content-main">

			{{- .Widgets "TOP" -}}

			{{- template "content" . -}}

			{{- .Widgets "BOTTOM" -}}
		</div>
		{{- .Widgets "RIGHT" -}}
	</article>	
	
	{{- if .UserCan "edit" -}}
		<div style="position:absolute; top:4px; right:8px;">
			<a class="text-xs button" href="/{{.StreamID}}/edit">Edit &rarr;</a>
		</div>
	{{- end -}}

</div>