{{- $theme := .Theme .ThemeID -}}
{{- $startupStreamCount := $theme.StartupStreams.Length -}}

<h1>Add Default Content?</h1>

<div class="margin-vertical">
    This theme includes <b>{{ $startupStreamCount }} {{pluralize $startupStreamCount "default content page" "default content pages"}}</b>.
</div>

<form hx-post="/startup/content" hx-push-url="false">
    <div class="margin-top-lg">
        <button type="submit" class="primary">Create Pages</button>
        <button script="on click send closeModal">Cancel</button>
    </div>
</form>
