{{- $startupTasks := .StartupTasks -}}
{{- $themes := .Themes -}}
{{- $theme := .Theme .ThemeID -}}

<div class="width-480 margin-horizontal-auto">

	<div class="align-center margin-vertical-lg">
		<img src="/.themes/global/resources/emissary/Emissary-Icon-Black.svg" class="dark-mode-hide width-96">
		<img src="/.themes/global/resources/emissary/Emissary-Icon-White.svg" class="dark-mode-show width-96">
		<h1 class="margin-vertical-lg">Let's Set Up Your Emissary</h1>
	</div>

	<div class="width-480 margin-horizontal-auto margin-vertical-lg">

		{{- if gt 1 $themes.Length -}}
		<div class="checkbutton" hx-get="/startup/choose">
			<div class="align-left">
				<div>Selected Website Theme:</div>
				<div class="text-lg bold">{{$theme.Label}}</div>
			</div>
		</div>
		<hr>
		{{- end -}}

		{{- range $theme.StartupTasks -}}
			<div class="checkbutton" hx-get="{{.Href}}">
				<div class="text-lg flex-align-self-start margin-none margin-right-sm" style="width:1em;">
					{{- if $startupTasks.Contains .Value -}}
						<i class="bi bi-check-circle-fill text-green"></i>
					{{- else -}}
						<i class="bi bi-circle-fill text-light-gray"></i>
					{{- end -}}
				</div>
				<div>
					<div class="bold">{{.Label}}</div>
					<div class="text-sm text-gray">{{.Description}}</div>
				</div>
			</div>
		{{- end -}}

		<div class="margin-top-lg">
			<button hx-post="/startup/complete" class="primary"><i class="bi bi-check"></i> Finish This Checklist</button>
		</div>

	</div>
</div>

<div
	hx-get="/startup"
	hx-trigger="refreshPage"
	hx-target="main"
	hx-swap="innerHTML"
	hx-push-url="false">
</div>