{{- $themeID := .QueryParam "themeId" -}}
{{- $theme := .Theme $themeID -}}

<div class="align-center" style="width:50%; margin:24px auto;">
	<div class="margin-bottom">
		<img src="/.themes/global/resources/emissary/Emissary-Icon-1024.png" style="height:64px;">
	</div>
</div>
<hr>

<div class="container">
	<div>
		<img src="/.themes/{{$themeID}}/resources/startup/splash.png" class="width-100-percent">
	</div>
	<div>
		<h1 class="align-center">{{$theme.Label}}</h1>
		<h2 class="align-center">{{$theme.Description}}</h2>

		{{- if $theme.IsPlaceholder -}}
			<div class="align-center margin-bottom bold">
				This is a placeholder theme that is not yet ready to use.  Please try 
				another theme or check back later.
			</div>
			<div class="align-center">
				<button hx-get="/startup/welcome">&laquo; Choose a Different Theme</button>
			</div>
		{{- else -}}
			<div 
				class="margin-bottom" 
				style="width:clamp(400px, 95%, 800px); margin:24px auto;"
				hx-get="/.themes/{{$themeID}}/resources/startup/splash.html" 
				hx-trigger="load" 
				hx-target="this" 
				hx-push-url="false" 
				hx-swap="innerHTML">
			</div>
			<div class="align-center">
				<button hx-get="/startup/welcome">&laquo; Back</button>
				<button hx-post="/startup?themeId={{$themeID}}" class="primary">Continue with {{$theme.Label}}</button>
			</div>
	
		{{- end -}}

	</div>

</div>


<style>
	.container {
		box-sizing: border-box;
		width:100%;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:center;
		align-items:stretch;
		align-content:flex-start;
		gap:24px;
		container-type:inline-size;
	}
	
	.container > * {
		box-sizing: border-box;
		flex-grow:0;
		flex-shrink:0;
		width:100%;
	}
	
	@container (inline-size > 480px)  {
		.container > * {
			width:calc(50% - 24px);
		}
	}
</style>