{{- $startupTasks := .StartupTasks -}}
{{- $themes := .Themes -}}
{{- $theme := .Theme .ThemeID -}}

<div class="width-480 margin-horizontal-auto margin-top-xl">
<div class="align-center margin-bottom-lg">
	<div class="margin-bottom">
		<img src="/.themes/global/resources/emissary/Emissary-Icon-Black.svg" class="dark-mode-hide width-128">
		<img src="/.themes/global/resources/emissary/Emissary-Icon-White.svg" class="dark-mode-show width-128">
	</div>
	<h1>Let's Start Your Emissary</h1>
	<div>Here's some simple steps to get you on your way.</div>
	<div>Don't worry, you can change these later.</div>
</div>

<div class="width-480 margin-horizontal-auto margin-top-xl margin-bottom-lg">

	{{- if gt 1 $themes.Length -}}
	<div class="checkbutton" hx-get="/startup/choose">
		<div class="align-left">
			<div>Selected Website Theme:</div>
			<div class="text-lg bold">{{$theme.Label}}</div>
		</div>
	</div>
	<hr>
	{{- end -}}

	{{- range $theme.StartupTasks -}}
	<div class="checkbutton" hx-get="{{.Href}}">
		<div class="text-lg padding-right-sm flex-align-self-start margin-none">
			{{- if $startupTasks.Contains .Value -}}
				<i class="bi bi-check-circle-fill text-green"></i>
			{{- else -}}
				<i class="bi bi-circle text-light-gray"></i>
			{{- end -}}
		</div>
		<div>
			<div class="bold">{{.Label}}</div>
			<div class="text-sm text-gray">{{.Description}}</div>
		</div>
	</div>
	{{- end -}}

	<hr>
	<span class="link" role="button">Skip For Now &rarr;</span>

</div>
</div>