<div class="align-center width-40% margin-horizontal-auto margin-top-xl margin-bottom-lg">
	<div class="margin-bottom">
		<img src="/.themes/global/resources/emissary/Emissary-Icon-Black.svg" class="dark-mode-hide width-128">
		<img src="/.themes/global/resources/emissary/Emissary-Icon-White.svg" class="dark-mode-show width-128">
	</div>
	<h1>Let's Start Up Your Emissary</h1>
	<div>Choose the theme for the kind of server you're making.</div>
	<div>Don't worry, you can always change your mind later.</div>
</div>

<div class="flex-row flex-wrap margin-horizontal-auto width-80% flex-align-center flex-justify-center">
	{{ range .Themes }}
		<div class="width-40% padding-sm flex-column">
			<div hx-get="/startup/theme?themeId={{.ThemeID}}" class="flex-grow card clickable">
				<img src="/.themes/{{.ThemeID}}/resources/startup/icon.png" class="rounded-top width-100%">
				<h2 class="padding bold">{{.Label}}</h2>
				<div class="padding">{{.Description}}</div>
			</div>
		</div>
	{{ end }}
</div>
<hr>

