<div class="align-center" style="width:95%;">
	<div class="align-center" style="width:50%; margin:24px auto;">
		<div class="space-below">
			<img src="/.themes/global/resources/emissary/Emissary-Icon-1024.png" style="height:128px;">
		</div>
		<h1>Let's Start Up Your Emissary</h1>
		<div>Choose the theme for the kind of server you're making.</div>
		<div>Don't worry, you can always change your mind later.</div>
	</div>
	<hr>
	<div class="x-grid">

		{{ range .Themes }}
			<div hx-get="/startup/theme?themeId={{.ThemeID}}" class="x-grid-item x-card clickable">
				<img src="/.themes/{{.ThemeID}}/resources/startup/icon.png" class="x-card-photo">
				<h2 class="x-card-text bold">{{.Label}}</h2>
				<div class="x-card-text">{{.Description}}</div>
			</div>
		{{ end }}

	</div>
	<hr>
	
</div>
