<!DOCTYPE html>
<html>
<head>
	<title>{{.DomainLabel}} | {{.PageTitle}}</title>
	<link rel="webmention" href="/.webmention"/>
	{{ template "includes-head" .}}
</head>

<body hx-target="main" hx-swap="innerHTML" hx-push-url="true" hx-ext="a11y">

	{{- $topID := .NavigationID -}}

	<nav hx-push-url="true">
		<div class="framed">
			<div class="left">
				{{- range .Navigation -}}
					<a href="/{{.Token}}" class="turboclick {{ if eq $topID .StreamID -}}selected{{- end -}}">{{.Label}}</a>
				{{- end -}}
			</div>
			<div class="right">
				{{- if .IsAuthenticated -}}
					{{- if eq $topID "outbox" -}}
						<a href="/@me" class="selected turboclick">{{icon "person-fill"}} Profile</a>
					{{- else -}}
						<a href="/@me" class="turboclick">{{icon "person"}} Profile</a>
					{{- end -}}

					{{- if eq $topID "inbox" -}}
						<a href="/@me/inbox" class="selected turboclick">{{icon "email-fill"}} Inbox</a>
					{{- else -}}
						<a href="/@me/inbox" class="turboclick">{{icon "email"}} Inbox</a>
					{{- end -}}

					{{- if .IsOwner -}}
						{{- if eq $topID "admin" -}}
							<a href="/admin/domain" class="selected turboclick">{{icon "settings-fill"}} Server</a>
						{{- else -}}
							<a href="/admin/domain" class="turboclick">{{icon "settings"}} Server</a>
						{{- end -}}
					{{- end -}}

					{{- else -}}
					<a href="/signin" class="turboclick">Sign In</a>
				{{- end -}}
			</div>
		</div>

	</nav>

	<main>
		{{- .GetContent -}}
	</main>
	
	<aside></aside>

</body>

{{ template "includes-foot" .}}

</html>
