{{- $apiKey := .Connections "stripe_apiKey" -}}

<h1>Stripe Configuration</h1>

{{- if eq $apiKey "" -}}
	<div class="info">
		<i class="info-marker fa-solid fa-info-circle fa-3x"></i>
		To connect to Stripe, sign in to your stripe account and generate an API key.  Then paste it here to get started.
	</div>
{{- end -}}

<form hx-post="/admin/connections/stripe">

	<div class="layout-vertical">
		<div class="layout-vertical-elements">
			<div class="layout-vertical-element">
				<label for="apiKey">API Key</label>
				<input id="apiKey" type="text" name="connections.stripe_apiKey" value="{{$apiKey}}">
			</div>
			<div class="layout-vertical-element">
				<label for="isActive">Enable?</label>
				<span id="isActive" script="install toggle" name="connections.stripe_isActive" value="{{.Connections `stripe_isActive`}}" true-text="Stripe Payments are enabled" false-text="Stripe Payments are disabled">
			</div>
		</div>
	</div>

	<button type="submit" class="primary">Save Changes</button>
	<button type="button" script="on click trigger closeModal">Cancel</button>
</form>

