<div class="space-after">

	{{ if .UserCan "EDIT"}}
		<span 
			hx-get="/{{.Token}}/transition/update" 
			hx-target="body" 
			hx-swap="beforeend" 
			class="button">Edit</span>
	{{ end }}

	<span id="toaster"></span>

</div>

<h1 class="space-after">{{.Label}}</h1>

<article class="space-after">
	<div>{{.Description}}</div>
</article>

<div class="space-after">
	{{ range .Children "view" }}
		{{.Render}}
	{{ end }}
</div>

<div class="space-after">
	{{ if .UserCan "comment" }}
		<span 
			hx-get="/{{.Token}}/comment" 
			hx-target="body" 
			hx-swap="beforeend" 
			class="button">Comment</span>
	{{ end }}

	{{ if .UserCan "moderated-comment" }}
		<span 
			hx-get="/{{.Token}}/moderated-comment" 
			hx-target="body" 
			hx-swap="beforeend"
			class="button">Comment</span>
	{{ end }}

</div>
