 @media(hover: hover) {

	/******************************************
	* Hover Show/Hide
	******************************************/

	.hover-hide,
    .hover-show:focus,
    .hover-trigger:hover .hover-show {display:initial}

    .hover-show,
    .hover-hide:focus,
	.hover-trigger:hover .hover-hide {display:none}

    .hover-invisible,
    .hover-visible:focus,
    .hover-trigger:hover .hover-visible {opacity:1}

    .hover-visible,
    .hover-invisible:focus,
    .hover-trigger:hover .hover-invisible {opacity:0}

    .hover-underline:hover {text-decoration:underline}
}

@media (prefers-reduced-motion:no-preference) {

	/******************************************
	* Hover Swell (only without prefers-reduced-motion)
	******************************************/

	.hover-swell{
		transition:transform 0.15s;
		transform:scale(1);
	}

	.hover-trigger:hover .hover-swell,
	.hover-swell:hover,
	.swell {
		transition:transform 0.15s;
		transform: scale(1.05);
	}
}

.hover-outline:hover,
.hover-trigger:hover .hover-outline {
	border:solid 1px var(--link-color);
}