/******************************************
 * Card Widget Classes
 ******************************************/

.card {
	display: block;
	border: solid 1px var(--gray30);
	background-color: var(--gray00);
	border-radius:4px;
	position:relative;
	text-overflow: ellipsis;
	margin:0px;
}

.card-dashed {
	border:dashed 1px var(--gray40);
}

.card .text {
	padding-top:var(--rhythm);
	padding-bottom:var(--rhythm);
}

.card.link:hover {
	border:solid 1px var(--link-color);
}

.card.selected {
	border: solid 2px var(--black);
	margin:-1px;
}