.alert-red {
    background-color: var(--red70);
    color: var(--white);
    padding: var(--rhythm) calc(var(--rhythm) * 2);
    margin-bottom: calc(var(--rhythm) * 2);
}

.alert-blue {
	border:solid 1px var(--blue20);
    background-color: var(--blue10);
    padding: var(--rhythm) calc(var(--rhythm) * 2);
    margin-bottom: calc(var(--rhythm) * 2);
}

.alert-green {
    background-color: var(--green80);
    color: var(--white);
    padding: var(--rhythm) calc(var(--rhythm) * 2);
    margin-bottom: calc(var(--rhythm) * 2);
}

.alert-gray {
    background-color: var(--gray50);
    color: var(--white);
    padding: var(--rhythm) calc(var(--rhythm) * 2);
    margin-bottom: calc(var(--rhythm) * 2);
}
