div.input {
	&:has(input:focus) {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			outline-color: #666;
			outline-style: dotted;
			outline-width: 1px;
		}
		outline: medium auto currentColor;
		outline: medium auto invert;
		outline: 5px auto -webkit-focus-ring-color;
	}

	& > input {
		border:none;
		outline:none;
		width:50%;

	}

	& > span.tag.gray {
		background-color:var(--gray30);
		color:black!important;

		&:hover {
			background-color:var(--gray40);
		}
	}
}

div.autocomplete {

	position:relative;

	& > div.options {
		position:absolute;
		width:100%;
		border:solid 1px var(--gray80);
		background-color:var(--gray10);
	}
}