/******************************************
 * Card Widget Classes
 ******************************************/

.card {
	display: block;
	border: solid 1px var(--gray40);
	background-color: var(--gray00);
	position:relative;
	text-overflow: ellipsis;
	margin:0px;
	/* transition: 0.3s; */
}

.card-dashed {
	border:dashed 1px var(--gray40);
}

/*
.card:hover {
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
} */

.card .text {
	padding-top:var(--rhythm);
	padding-bottom:var(--rhythm);
}


@media screen and (max-width:35.5em) {

	.card {
		border:none;
		margin-bottom: 40px!important;
	}
}