.alert-red {
    background-color: var(--red70);
    color: var(--white);
    padding: var(--rhythm) calc(var(--rhythm) * 2);
    margin-bottom: calc(var(--rhythm) * 2);
	border-radius:calc(var(--rhythm) * 0.75);
}

.alert-blue {
	border-color: var(--blue30);
    background-color: var(--blue20);
    padding: var(--rhythm) calc(var(--rhythm) * 2);
    margin-bottom: calc(var(--rhythm) * 2);
	border-radius:calc(var(--rhythm) * 0.75);
}

.alert-green {
    background-color: var(--green70);
    color: var(--white);
    padding: var(--rhythm) calc(var(--rhythm) * 2);
    margin-bottom: calc(var(--rhythm) * 2);
	border-radius:calc(var(--rhythm) * 0.75);
}

.alert-gray {
    background-color: var(--gray10);
    border: solid 1px var(--gray20);
    padding: var(--rhythm) calc(var(--rhythm) * 2);
    margin-bottom: calc(var(--rhythm) * 2);
	border-radius:calc(var(--rhythm) * 0.75);
}
