/******************************************
 * Card Widget Classes
 ******************************************/

.card {
	display: block;
	border: solid 1px var(--gray30);
	background-color: var(--gray00);
	border-radius:4px;
	position:relative;
	text-overflow: ellipsis;
	margin:0px;
	/* transition: 0.3s; */
}

.card-dashed {
	border:dashed 1px var(--gray40);
}

/*
.card:hover {
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
} */

.card .text {
	padding-top:var(--rhythm);
	padding-bottom:var(--rhythm);
}


@media screen and (max-width:35.5em) {

	.card {
		display:block;
		background-color:var(--gray05);
		border:none;
		border-top:solid 1px var(--gray10);
		border-bottom:solid 1px var(--gray10);
		border-radius:0px;
		width: calc(100% + 40px);
		margin-left: calc(-20px);
		margin-right: calc(-20px);
		margin-bottom: 40px!important;
	}
}