.rounded-sm {
	border-radius: calc(var(--rhythm) * 0.75);
}

.rounded-sm {
	border-radius: calc(var(--rhythm) * 1);
}

.rounded,
.rounded-md {
	border-radius: calc(var(--rhythm) * 2);
}

.rounded-lg {
	border-radius: calc(var(--rhythm) * 4);
}

.rounded-xl {
	border-radius: calc(var(--rhythm) * 6);
}