.rounded-sm {
	border-radius: calc(var(--rhythm) * 0.5);
}

.rounded-sm {
	border-radius: calc(var(--rhythm) * 0.75);
}

.rounded,
.rounded-md {
	border-radius: var(--rhythm);
}

.rounded-lg {
	border-radius: calc(var(--rhythm) * 1.5);
}

.rounded-xl {
	border-radius: calc(var(--rhythm) * 2);
}