/******************************************
 * Geometry
 * CSS styles that calculate various 
 * geometric shapes and sizes.
 ******************************************/

 /******************************************
 * Aspect Ratios
 ******************************************/

.aspect-square,
.aspect-1-1 {
	aspect-ratio:1;
    overflow-y:hidden;
}

.aspect-2-3 {
	aspect-ratio:2/3;
	overflow-y:hidden;
}

.aspect-4-3 {
	aspect-ratio:4/3;
    overflow-y:hidden;
}

.aspect-16-9 {
	aspect-ratio:16/9;
    overflow-y:hidden;
}

/******************************************
 * Squares
 ******************************************/

.square {
    aspect-ratio:1;
}

.square-24 {
    height:24px;
    width:24px;
}

.square-32 {
    height:32px;
    width:32px;
}

.square-48 {
    height:48px;
    width:48px;
}

.square-64 {
    height:64px;
    width:64px;
}

/******************************************
 * Circles
 ******************************************/

 .circle {
	border-radius:50%;
	aspect-ratio: 1;
    object-fit:cover;
	background-color:var(--gray30);
}

.circle-24 {
	height:24px;
	width:24px;
    object-fit:cover;
	border-radius:12px;
	background-color:var(--gray30);
}

.circle-32 {
    height:32px;
    width:32px;
    object-fit:cover;
    border-radius:16px;
	background-color:var(--gray30);
}

.circle-48 {
    height:48px;
    width:48px;
    object-fit:cover;
    border-radius:24px;
	background-color:var(--gray30);
}

.circle-64 {
    height:64px;
    width:64px;
    object-fit:cover;
    border-radius:32px;
	background-color:var(--gray30);
}

.circle-128 {
    height:128px;
    width:128px;
    object-fit:cover;
    border-radius:64px;
	background-color:var(--gray30);
}

/******************************************
 * Lines
 ******************************************/

 hr {
    border-top:1px solid var(--gray20);
    border-bottom:none;
    border-left:none;
    border-right:none;
    height:0px;
    margin-top:calc(var(--rhythm) * 3);
    margin-bottom:calc(var(--rhythm) * 3);
}

/* Small Screens */
@media screen and (min-width: 568px) {
.sm\:aspect-square, .sm\:aspect-1-1 {aspect-ratio:1; overflow-y:hidden;}
.sm\:aspect-2-3 {aspect-ratio:2/3; overflow-y:hidden;}
.sm\:aspect-4-3 {aspect-ratio:4/3; overflow-y:hidden;}
.sm\:aspect-16-9 {aspect-ratio:16/9; overflow-y:hidden;}
}

/* Medium Screens */
@media screen and (min-width: 768px) {
.md\:aspect-square, .md\:aspect-1-1 {aspect-ratio:1; overflow-y:hidden;}
.md\:aspect-2-3 {aspect-ratio:2/3; overflow-y:hidden;}
.md\:aspect-4-3 {aspect-ratio:4/3; overflow-y:hidden;}
.md\:aspect-16-9 {aspect-ratio:16/9; overflow-y:hidden;}
}

/* Large Screens */
@media screen and (min-width: 1024px) {
.lg\:aspect-square, .lg\:aspect-1-1 {aspect-ratio:1; overflow-y:hidden;}
.lg\:aspect-2-3 {aspect-ratio:2/3; overflow-y:hidden;}
.lg\:aspect-4-3 {aspect-ratio:4/3; overflow-y:hidden;}
.lg\:aspect-16-9 {aspect-ratio:16/9; overflow-y:hidden;}
}

