/******************************************
 * Margins
 ******************************************/

.margin-none {
    margin:0px !important;
}

.margin-auto {
    margin:auto !important;
}

.margin-xs {
    margin:calc(var(--rhythm) * 0.5) !important;
}

.margin-sm {
    margin:var(--rhythm) !important;
}

.margin,
.margin-md {
    margin:calc(var(--rhythm) * 2) !important;
}

.margin-lg {
    margin:calc(var(--rhythm) * 4) !important;
}

.margin-xl {
    margin:calc(var(--rhythm) * 6) !important;
}

.margin-vertical-none {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.margin-verticial-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.margin-vertical-xs {
    margin-top: calc(var(--rhythm) * 0.5) !important;
    margin-bottom: calc(var(--rhythm) * 0.5) !important;
}

.margin-vertical-sm {
    margin-top: var(--rhythm) !important;
    margin-bottom: var(--rhythm) !important;
}

.margin-vertical,
.margin-vertical-md {
    margin-top: calc(var(--rhythm) * 2) !important;
    margin-bottom: calc(var(--rhythm) * 2) !important;
}

.margin-vertical-lg {
    margin-top: calc(var(--rhythm) * 4) !important;
    margin-bottom: calc(var(--rhythm) * 4) !important;
}

.margin-vertical-xl {
    margin-top: calc(var(--rhythm) * 6) !important;
    margin-bottom: calc(var(--rhythm) * 6) !important;
}

.margin-horizontal-none {
    margin-left:0px !important;
    margin-right:0px !important;
}

.margin-horizontal-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.margin-horizontal-xs {
    margin-left: calc(var(--rhythm) * 0.5) !important;
    margin-right: calc(var(--rhythm) * 0.5) !important;
}

.margin-horizontal-sm {
    margin-left: var(--rhythm) !important;
    margin-right: var(--rhythm) !important;
}

.margin-horizontal,
.margin-horizontal-md {
    margin-left: calc(var(--rhythm) * 2) !important;
    margin-right: calc(var(--rhythm) * 2) !important;
}

.margin-horizontal-lg {
    margin-left: calc(var(--rhythm) * 4) !important;
    margin-right: calc(var(--rhythm) * 4) !important;
}

.margin-horizontal-xl {
    margin-left: calc(var(--rhythm) * 6) !important;
    margin-right: calc(var(--rhythm) * 6) !important;
}

.margin-top-none {
    margin-top: 0px !important;
}

.margin-top-auto {
    margin-top: auto !important;
}

.margin-top-xs {
    margin-top: calc(var(--rhythm) * 0.5) !important;
}

.margin-top-sm {
    margin-top: var(--rhythm) !important;
}

.margin-top,
.margin-top-md {
    margin-top: calc(var(--rhythm) * 2) !important;
}

.margin-top-lg {
    margin-top: calc(var(--rhythm) * 4) !important;
}

.margin-top-xl {
    margin-top: calc(var(--rhythm) * 6) !important;
}

.margin-bottom-none {
    margin-bottom:0px !important;
}

.margin-bottom-auto {
    margin-bottom:auto !important;
}

.margin-bottom-xs {
    margin-bottom: calc(var(--rhythm) * 0.5) !important;
}

.margin-bottom-sm {
    margin-bottom: var(--rhythm) !important;
}

.margin-bottom,
.margin-bottom-md {
    margin-bottom: calc(var(--rhythm) * 2) !important;
}

.margin-bottom-lg {
    margin-bottom: calc(var(--rhythm) * 4) !important;
}

.margin-bottom-xl {
    margin-bottom: calc(var(--rhythm) * 6) !important;
}

.margin-left-none {
    margin-left:0px !important;
}

.margin-left-auto {
    margin-left:auto !important;
}

.margin-left-xs {
    margin-left: calc(var(--rhythm) * 0.5) !important;
}

.margin-left-sm {
    margin-left: var(--rhythm) !important;
}

.margin-left,
.margin-left-md {
    margin-left: calc(var(--rhythm) * 2) !important;
}

.margin-left-lg {
    margin-left: calc(var(--rhythm) * 4) !important;
}

.margin-left-xl {
    margin-left: calc(var(--rhythm) * 6) !important;
}

.margin-right-none {
    margin-right:0px !important;
}

.margin-right-auto {
    margin-right:auto !important;
}

.margin-right-xs {
    margin-right: calc(var(--rhythm) * 0.5) !important;
}

.margin-right-sm {
    margin-right: var(--rhythm) !important;
}

.margin-right,
.margin-right-md {
    margin-right: calc(var(--rhythm) * 2) !important;
}

.margin-right-lg {
    margin-right: calc(var(--rhythm) * 4) !important;
}

.margin-right-xl {
    margin-right: calc(var(--rhythm) * 6) !important;
}


@container (min-width:640px) {

	.sm\:margin-none {
		margin:0px !important;
	}
	
	.sm\:margin-auto {
		margin:auto !important;
	}
	
	.sm\:margin-xs {
		margin:calc(var(--rhythm) * 0.5) !important;
	}
	
	.sm\:margin-sm {
		margin:var(--rhythm) !important;
	}
	
	.margin,
	.sm\:margin-md {
		margin:calc(var(--rhythm) * 2) !important;
	}
	
	.sm\:margin-lg {
		margin:calc(var(--rhythm) * 4) !important;
	}
	
	.sm\:margin-xl {
		margin:calc(var(--rhythm) * 6) !important;
	}
	
	.sm\:margin-vertical-none {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	
	.sm\:margin-verticial-auto {
		margin-top: auto !important;
		margin-bottom: auto !important;
	}
	
	.sm\:margin-vertical-xs {
		margin-top: calc(var(--rhythm) * 0.5) !important;
		margin-bottom: calc(var(--rhythm) * 0.5) !important;
	}
	
	.sm\:margin-vertical-sm {
		margin-top: var(--rhythm) !important;
		margin-bottom: var(--rhythm) !important;
	}
	
	.sm\:margin-vertical,
	.sm\:margin-vertical-md {
		margin-top: calc(var(--rhythm) * 2) !important;
		margin-bottom: calc(var(--rhythm) * 2) !important;
	}
	
	.sm\:margin-vertical-lg {
		margin-top: calc(var(--rhythm) * 4) !important;
		margin-bottom: calc(var(--rhythm) * 4) !important;
	}
	
	.sm\:margin-vertical-xl {
		margin-top: calc(var(--rhythm) * 6) !important;
		margin-bottom: calc(var(--rhythm) * 6) !important;
	}
	
	.sm\:margin-horizontal-none {
		margin-left:0px !important;
		margin-right:0px !important;
	}
	
	.sm\:margin-horizontal-auto {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
	.sm\:margin-horizontal-xs {
		margin-left: calc(var(--rhythm) * 0.5) !important;
		margin-right: calc(var(--rhythm) * 0.5) !important;
	}
	
	.sm\:margin-horizontal-sm {
		margin-left: var(--rhythm) !important;
		margin-right: var(--rhythm) !important;
	}
	
	.sm\:margin-horizontal,
	.sm\:margin-horizontal-md {
		margin-left: calc(var(--rhythm) * 2) !important;
		margin-right: calc(var(--rhythm) * 2) !important;
	}
	
	.sm\:margin-horizontal-lg {
		margin-left: calc(var(--rhythm) * 4) !important;
		margin-right: calc(var(--rhythm) * 4) !important;
	}
	
	.sm\:margin-horizontal-xl {
		margin-left: calc(var(--rhythm) * 6) !important;
		margin-right: calc(var(--rhythm) * 6) !important;
	}
	
	.sm\:margin-top-none {
		margin-top: 0px !important;
	}
	
	.sm\:margin-top-auto {
		margin-top: auto !important;
	}
	
	.sm\:margin-top-xs {
		margin-top: calc(var(--rhythm) * 0.5) !important;
	}
	
	.sm\:margin-top-sm {
		margin-top: var(--rhythm) !important;
	}
	
	.sm\:margin-top,
	.sm\:margin-top-md {
		margin-top: calc(var(--rhythm) * 2) !important;
	}
	
	.sm\:margin-top-lg {
		margin-top: calc(var(--rhythm) * 4) !important;
	}
	
	.sm\:margin-top-xl {
		margin-top: calc(var(--rhythm) * 6) !important;
	}
	
	.sm\:margin-bottom-none {
		margin-bottom:0px !important;
	}
	
	.sm\:margin-bottom-auto {
		margin-bottom:auto !important;
	}
	
	.sm\:margin-bottom-xs {
		margin-bottom: calc(var(--rhythm) * 0.5) !important;
	}
	
	.sm\:margin-bottom-sm {
		margin-bottom: var(--rhythm) !important;
	}
	
	.sm\:margin-bottom,
	.sm\:margin-bottom-md {
		margin-bottom: calc(var(--rhythm) * 2) !important;
	}
	
	.sm\:margin-bottom-lg {
		margin-bottom: calc(var(--rhythm) * 4) !important;
	}
	
	.sm\:margin-bottom-xl {
		margin-bottom: calc(var(--rhythm) * 6) !important;
	}
	
	.sm\:margin-left-none {
		margin-left:0px !important;
	}
	
	.sm\:margin-left-auto {
		margin-left:auto !important;
	}
	
	.sm\:margin-left-xs {
		margin-left: calc(var(--rhythm) * 0.5) !important;
	}
	
	.sm\:margin-left-sm {
		margin-left: var(--rhythm) !important;
	}
	
	.sm\:margin-left,
	.sm\:margin-left-md {
		margin-left: calc(var(--rhythm) * 2) !important;
	}
	
	.sm\:margin-left-lg {
		margin-left: calc(var(--rhythm) * 4) !important;
	}
	
	.sm\:margin-left-xl {
		margin-left: calc(var(--rhythm) * 6) !important;
	}
	
	.sm\:margin-right-none {
		margin-right:0px !important;
	}
	
	.sm\:margin-right-auto {
		margin-right:auto !important;
	}
	
	.sm\:margin-right-xs {
		margin-right: calc(var(--rhythm) * 0.5) !important;
	}
	
	.sm\:margin-right-sm {
		margin-right: var(--rhythm) !important;
	}
	
	.sm\:margin-right,
	.sm\:margin-right-md {
		margin-right: calc(var(--rhythm) * 2) !important;
	}
	
	.sm\:margin-right-lg {
		margin-right: calc(var(--rhythm) * 4) !important;
	}
	
	.sm\:margin-right-xl {
		margin-right: calc(var(--rhythm) * 6) !important;
	}
	
}

@container (min-width:768px) {

	.md\:margin-none {
		margin:0px !important;
	}
	
	.md\:margin-auto {
		margin:auto !important;
	}
	
	.md\:margin-xs {
		margin:calc(var(--rhythm) * 0.5) !important;
	}
	
	.md\:margin-sm {
		margin:var(--rhythm) !important;
	}
	
	.margin,
	.md\:margin-md {
		margin:calc(var(--rhythm) * 2) !important;
	}
	
	.md\:margin-lg {
		margin:calc(var(--rhythm) * 4) !important;
	}
	
	.md\:margin-xl {
		margin:calc(var(--rhythm) * 6) !important;
	}
	
	.md\:margin-vertical-none {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	
	.md\:margin-verticial-auto {
		margin-top: auto !important;
		margin-bottom: auto !important;
	}
	
	.md\:margin-vertical-xs {
		margin-top: calc(var(--rhythm) * 0.5) !important;
		margin-bottom: calc(var(--rhythm) * 0.5) !important;
	}
	
	.md\:margin-vertical-sm {
		margin-top: var(--rhythm) !important;
		margin-bottom: var(--rhythm) !important;
	}
	
	.md\:margin-vertical,
	.md\:margin-vertical-md {
		margin-top: calc(var(--rhythm) * 2) !important;
		margin-bottom: calc(var(--rhythm) * 2) !important;
	}
	
	.md\:margin-vertical-lg {
		margin-top: calc(var(--rhythm) * 4) !important;
		margin-bottom: calc(var(--rhythm) * 4) !important;
	}
	
	.md\:margin-vertical-xl {
		margin-top: calc(var(--rhythm) * 6) !important;
		margin-bottom: calc(var(--rhythm) * 6) !important;
	}
	
	.md\:margin-horizontal-none {
		margin-left:0px !important;
		margin-right:0px !important;
	}
	
	.md\:margin-horizontal-auto {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
	.md\:margin-horizontal-xs {
		margin-left: calc(var(--rhythm) * 0.5) !important;
		margin-right: calc(var(--rhythm) * 0.5) !important;
	}
	
	.md\:margin-horizontal-sm {
		margin-left: var(--rhythm) !important;
		margin-right: var(--rhythm) !important;
	}
	
	.md\:margin-horizontal,
	.md\:margin-horizontal-md {
		margin-left: calc(var(--rhythm) * 2) !important;
		margin-right: calc(var(--rhythm) * 2) !important;
	}
	
	.md\:margin-horizontal-lg {
		margin-left: calc(var(--rhythm) * 4) !important;
		margin-right: calc(var(--rhythm) * 4) !important;
	}
	
	.md\:margin-horizontal-xl {
		margin-left: calc(var(--rhythm) * 6) !important;
		margin-right: calc(var(--rhythm) * 6) !important;
	}
	
	.md\:margin-top-none {
		margin-top: 0px !important;
	}
	
	.md\:margin-top-auto {
		margin-top: auto !important;
	}
	
	.md\:margin-top-xs {
		margin-top: calc(var(--rhythm) * 0.5) !important;
	}
	
	.md\:margin-top-sm {
		margin-top: var(--rhythm) !important;
	}
	
	.md\:margin-top,
	.md\:margin-top-md {
		margin-top: calc(var(--rhythm) * 2) !important;
	}
	
	.md\:margin-top-lg {
		margin-top: calc(var(--rhythm) * 4) !important;
	}
	
	.md\:margin-top-xl {
		margin-top: calc(var(--rhythm) * 6) !important;
	}
	
	.md\:margin-bottom-none {
		margin-bottom:0px !important;
	}
	
	.md\:margin-bottom-auto {
		margin-bottom:auto !important;
	}
	
	.md\:margin-bottom-xs {
		margin-bottom: calc(var(--rhythm) * 0.5) !important;
	}
	
	.md\:margin-bottom-sm {
		margin-bottom: var(--rhythm) !important;
	}
	
	.md\:margin-bottom,
	.md\:margin-bottom-md {
		margin-bottom: calc(var(--rhythm) * 2) !important;
	}
	
	.md\:margin-bottom-lg {
		margin-bottom: calc(var(--rhythm) * 4) !important;
	}
	
	.md\:margin-bottom-xl {
		margin-bottom: calc(var(--rhythm) * 6) !important;
	}
	
	.md\:margin-left-none {
		margin-left:0px !important;
	}
	
	.md\:margin-left-auto {
		margin-left:auto !important;
	}
	
	.md\:margin-left-xs {
		margin-left: calc(var(--rhythm) * 0.5) !important;
	}
	
	.md\:margin-left-sm {
		margin-left: var(--rhythm) !important;
	}
	
	.md\:margin-left,
	.md\:margin-left-md {
		margin-left: calc(var(--rhythm) * 2) !important;
	}
	
	.md\:margin-left-lg {
		margin-left: calc(var(--rhythm) * 4) !important;
	}
	
	.md\:margin-left-xl {
		margin-left: calc(var(--rhythm) * 6) !important;
	}
	
	.md\:margin-right-none {
		margin-right:0px !important;
	}
	
	.md\:margin-right-auto {
		margin-right:auto !important;
	}
	
	.md\:margin-right-xs {
		margin-right: calc(var(--rhythm) * 0.5) !important;
	}
	
	.md\:margin-right-sm {
		margin-right: var(--rhythm) !important;
	}
	
	.md\:margin-right,
	.md\:margin-right-md {
		margin-right: calc(var(--rhythm) * 2) !important;
	}
	
	.md\:margin-right-lg {
		margin-right: calc(var(--rhythm) * 4) !important;
	}
	
	.md\:margin-right-xl {
		margin-right: calc(var(--rhythm) * 6) !important;
	}
	
}

@container (min-width:1024px) {


	.lg\:margin-none {
		margin:0px !important;
	}
	
	.lg\:margin-auto {
		margin:auto !important;
	}
	
	.lg\:margin-xs {
		margin:calc(var(--rhythm) * 0.5) !important;
	}
	
	.lg\:margin-sm {
		margin:var(--rhythm) !important;
	}
	
	.margin,
	.lg\:margin-md {
		margin:calc(var(--rhythm) * 2) !important;
	}
	
	.lg\:margin-lg {
		margin:calc(var(--rhythm) * 4) !important;
	}
	
	.lg\:margin-xl {
		margin:calc(var(--rhythm) * 6) !important;
	}
	
	.lg\:margin-vertical-none {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	
	.lg\:margin-verticial-auto {
		margin-top: auto !important;
		margin-bottom: auto !important;
	}
	
	.lg\:margin-vertical-xs {
		margin-top: calc(var(--rhythm) * 0.5) !important;
		margin-bottom: calc(var(--rhythm) * 0.5) !important;
	}
	
	.lg\:margin-vertical-sm {
		margin-top: var(--rhythm) !important;
		margin-bottom: var(--rhythm) !important;
	}
	
	.lg\:margin-vertical,
	.lg\:margin-vertical-md {
		margin-top: calc(var(--rhythm) * 2) !important;
		margin-bottom: calc(var(--rhythm) * 2) !important;
	}
	
	.lg\:margin-vertical-lg {
		margin-top: calc(var(--rhythm) * 4) !important;
		margin-bottom: calc(var(--rhythm) * 4) !important;
	}
	
	.lg\:margin-vertical-xl {
		margin-top: calc(var(--rhythm) * 6) !important;
		margin-bottom: calc(var(--rhythm) * 6) !important;
	}
	
	.lg\:margin-horizontal-none {
		margin-left:0px !important;
		margin-right:0px !important;
	}
	
	.lg\:margin-horizontal-auto {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
	.lg\:margin-horizontal-xs {
		margin-left: calc(var(--rhythm) * 0.5) !important;
		margin-right: calc(var(--rhythm) * 0.5) !important;
	}
	
	.lg\:margin-horizontal-sm {
		margin-left: var(--rhythm) !important;
		margin-right: var(--rhythm) !important;
	}
	
	.lg\:margin-horizontal,
	.lg\:margin-horizontal-md {
		margin-left: calc(var(--rhythm) * 2) !important;
		margin-right: calc(var(--rhythm) * 2) !important;
	}
	
	.lg\:margin-horizontal-lg {
		margin-left: calc(var(--rhythm) * 4) !important;
		margin-right: calc(var(--rhythm) * 4) !important;
	}
	
	.lg\:margin-horizontal-xl {
		margin-left: calc(var(--rhythm) * 6) !important;
		margin-right: calc(var(--rhythm) * 6) !important;
	}
	
	.lg\:margin-top-none {
		margin-top: 0px !important;
	}
	
	.lg\:margin-top-auto {
		margin-top: auto !important;
	}
	
	.lg\:margin-top-xs {
		margin-top: calc(var(--rhythm) * 0.5) !important;
	}
	
	.lg\:margin-top-sm {
		margin-top: var(--rhythm) !important;
	}
	
	.lg\:margin-top,
	.lg\:margin-top-md {
		margin-top: calc(var(--rhythm) * 2) !important;
	}
	
	.lg\:margin-top-lg {
		margin-top: calc(var(--rhythm) * 4) !important;
	}
	
	.lg\:margin-top-xl {
		margin-top: calc(var(--rhythm) * 6) !important;
	}
	
	.lg\:margin-bottom-none {
		margin-bottom:0px !important;
	}
	
	.lg\:margin-bottom-auto {
		margin-bottom:auto !important;
	}
	
	.lg\:margin-bottom-xs {
		margin-bottom: calc(var(--rhythm) * 0.5) !important;
	}
	
	.lg\:margin-bottom-sm {
		margin-bottom: var(--rhythm) !important;
	}
	
	.lg\:margin-bottom,
	.lg\:margin-bottom-md {
		margin-bottom: calc(var(--rhythm) * 2) !important;
	}
	
	.lg\:margin-bottom-lg {
		margin-bottom: calc(var(--rhythm) * 4) !important;
	}
	
	.lg\:margin-bottom-xl {
		margin-bottom: calc(var(--rhythm) * 6) !important;
	}
	
	.lg\:margin-left-none {
		margin-left:0px !important;
	}
	
	.lg\:margin-left-auto {
		margin-left:auto !important;
	}
	
	.lg\:margin-left-xs {
		margin-left: calc(var(--rhythm) * 0.5) !important;
	}
	
	.lg\:margin-left-sm {
		margin-left: var(--rhythm) !important;
	}
	
	.lg\:margin-left,
	.lg\:margin-left-md {
		margin-left: calc(var(--rhythm) * 2) !important;
	}
	
	.lg\:margin-left-lg {
		margin-left: calc(var(--rhythm) * 4) !important;
	}
	
	.lg\:margin-left-xl {
		margin-left: calc(var(--rhythm) * 6) !important;
	}
	
	.lg\:margin-right-none {
		margin-right:0px !important;
	}
	
	.lg\:margin-right-auto {
		margin-right:auto !important;
	}
	
	.lg\:margin-right-xs {
		margin-right: calc(var(--rhythm) * 0.5) !important;
	}
	
	.lg\:margin-right-sm {
		margin-right: var(--rhythm) !important;
	}
	
	.lg\:margin-right,
	.lg\:margin-right-md {
		margin-right: calc(var(--rhythm) * 2) !important;
	}
	
	.lg\:margin-right-lg {
		margin-right: calc(var(--rhythm) * 4) !important;
	}
	
	.lg\:margin-right-xl {
		margin-right: calc(var(--rhythm) * 6) !important;
	}
	
}