/******************************************
 * Margins
 ******************************************/

.margin-none {
    margin:0px !important;
}

.margin-auto {
    margin:auto !important;
}

.margin-xs {
    margin:calc(var(--rhythm) * 0.5) !important;
}

.margin-sm {
    margin:var(--rhythm) !important;
}

.margin,
.margin-md {
    margin:calc(var(--rhythm) * 2) !important;
}

.margin-lg {
    margin:calc(var(--rhythm) * 4) !important;
}

.margin-xl {
    margin:calc(var(--rhythm) * 6) !important;
}

.margin-vertical-none {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.margin-verticial-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.margin-vertical-xs {
    margin-top: calc(var(--rhythm) * 0.5) !important;
    margin-bottom: calc(var(--rhythm) * 0.5) !important;
}

.margin-vertical-sm {
    margin-top: var(--rhythm) !important;
    margin-bottom: var(--rhythm) !important;
}

.margin-vertical,
.margin-vertical-md {
    margin-top: calc(var(--rhythm) * 2) !important;
    margin-bottom: calc(var(--rhythm) * 2) !important;
}

.margin-vertical-lg {
    margin-top: calc(var(--rhythm) * 4) !important;
    margin-bottom: calc(var(--rhythm) * 4) !important;
}

.margin-vertical-xl {
    margin-top: calc(var(--rhythm) * 6) !important;
    margin-bottom: calc(var(--rhythm) * 6) !important;
}

.margin-horizontal-none {
    margin-left:0px !important;
    margin-right:0px !important;
}

.margin-horizontal-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.margin-horizontal-xs {
    margin-left: calc(var(--rhythm) * 0.5) !important;
    margin-right: calc(var(--rhythm) * 0.5) !important;
}

.margin-horizontal-sm {
    margin-left: var(--rhythm) !important;
    margin-right: var(--rhythm) !important;
}

.margin-horizontal,
.margin-horizontal-md {
    margin-left: calc(var(--rhythm) * 2) !important;
    margin-right: calc(var(--rhythm) * 2) !important;
}

.margin-horizontal-lg {
    margin-left: calc(var(--rhythm) * 4) !important;
    margin-right: calc(var(--rhythm) * 4) !important;
}

.margin-horizontal-xl {
    margin-left: calc(var(--rhythm) * 6) !important;
    margin-right: calc(var(--rhythm) * 6) !important;
}

.margin-top-none {
    margin-top: 0px !important;
}

.margin-top-auto {
    margin-top: auto !important;
}

.margin-top-xs {
    margin-top: calc(var(--rhythm) * 0.5) !important;
}

.margin-top-sm {
    margin-top: var(--rhythm) !important;
}

.margin-top,
.margin-top-md {
    margin-top: calc(var(--rhythm) * 2) !important;
}

.margin-top-lg {
    margin-top: calc(var(--rhythm) * 4) !important;
}

.margin-top-xl {
    margin-top: calc(var(--rhythm) * 6) !important;
}

.margin-bottom-none {
    margin-bottom:0px !important;
}

.margin-bottom-auto {
    margin-bottom:auto !important;
}

.margin-bottom-xs {
    margin-bottom: calc(var(--rhythm) * 0.5) !important;
}

.margin-bottom-sm {
    margin-bottom: var(--rhythm) !important;
}

.margin-bottom,
.margin-bottom-md {
    margin-bottom: calc(var(--rhythm) * 2) !important;
}

.margin-bottom-lg {
    margin-bottom: calc(var(--rhythm) * 4) !important;
}

.margin-bottom-xl {
    margin-bottom: calc(var(--rhythm) * 6) !important;
}

.margin-left-none {
    margin-left:0px !important;
}

.margin-left-auto {
    margin-left:auto !important;
}

.margin-left-xs {
    margin-left: calc(var(--rhythm) * 0.5) !important;
}

.margin-left-sm {
    margin-left: var(--rhythm) !important;
}

.margin-left,
.margin-left-md {
    margin-left: calc(var(--rhythm) * 2) !important;
}

.margin-left-lg {
    margin-left: calc(var(--rhythm) * 4) !important;
}

.margin-left-xl {
    margin-left: calc(var(--rhythm) * 6) !important;
}

.margin-right-none {
    margin-right:0px !important;
}

.margin-right-auto {
    margin-right:auto !important;
}

.margin-right-xs {
    margin-right: calc(var(--rhythm) * 0.5) !important;
}

.margin-right-sm {
    margin-right: var(--rhythm) !important;
}

.margin-right,
.margin-right-md {
    margin-right: calc(var(--rhythm) * 2) !important;
}

.margin-right-lg {
    margin-right: calc(var(--rhythm) * 4) !important;
}

.margin-right-xl {
    margin-right: calc(var(--rhythm) * 6) !important;
}
