/******************************************
 * Padding
 ******************************************/

.padding-none {padding:0px !important; }
.padding-xs {padding:calc(var(--rhythm) * 0.5) !important; }
.padding-sm {padding:var(--rhythm) !important; }
.padding, .padding-md {padding:calc(var(--rhythm) * 2) !important; }
.padding-lg {padding:calc(var(--rhythm) * 4) !important; }
.padding-xl {padding:calc(var(--rhythm) * 6) !important; }
.padding-vertical-none {padding-top:0px !important; padding-bottom:0px !important; }
.padding-vertical-xs {padding-top:calc(var(--rhythm) * 0.5) !important; padding-bottom:calc(var(--rhythm) * 0.5) !important; }
.padding-vertical-sm {padding-top:var(--rhythm) !important; padding-bottom:var(--rhythm) !important; }
.padding-vertical, .padding-vertical-md {padding-top:calc(var(--rhythm) * 2) !important; padding-bottom:calc(var(--rhythm) * 2) !important; }
.padding-vertical-lg {padding-top:calc(var(--rhythm) * 4) !important; padding-bottom:calc(var(--rhythm) * 4) !important; }
.padding-vertical-xl {padding-top:calc(var(--rhythm) * 6) !important; padding-bottom:calc(var(--rhythm) * 6) !important; }
.padding-horizontal-none {padding-left:0px !important; padding-right:0px !important; }
.padding-horizontal-xs {padding-left:calc(var(--rhythm) * 0.5) !important; padding-right:calc(var(--rhythm) * 0.5) !important; }
.padding-horizontal-sm {padding-left:var(--rhythm) !important; padding-right:var(--rhythm) !important; }
.padding-horizontal, .padding-horizontal-md {padding-left:calc(var(--rhythm) * 2) !important; padding-right:calc(var(--rhythm) * 2) !important; }
.padding-horizontal-lg {padding-left:calc(var(--rhythm) * 4) !important; padding-right:calc(var(--rhythm) * 4) !important; }
.padding-horizontal-xl {padding-left:calc(var(--rhythm) * 6) !important; padding-right:calc(var(--rhythm) * 6) !important; }
.padding-top-none {padding-top:0px !important; }
.padding-top-xs {padding-top:calc(var(--rhythm) * 0.5) !important; }
.padding-top-sm {padding-top:var(--rhythm) !important; }
.padding-top, .padding-top-md {padding-top:calc(var(--rhythm) * 2) !important; }
.padding-top-lg {padding-top:calc(var(--rhythm) * 4) !important; }
.padding-top-xl {padding-top:calc(var(--rhythm) * 6) !important; }
.padding-bottom-none {padding-bottom:0px !important; }
.padding-bottom-xs {padding-bottom:calc(var(--rhythm) * 0.5) !important; }
.padding-bottom-sm {padding-bottom:var(--rhythm) !important; }
.padding-bottom, .padding-bottom-md {padding-bottom:calc(var(--rhythm) * 2) !important; }
.padding-bottom-lg {padding-bottom:calc(var(--rhythm) * 4) !important; }
.padding-bottom-xl {padding-bottom:calc(var(--rhythm) * 6) !important; }
.padding-left-none {padding-left:0px !important; }
.padding-left-xs {padding-left:calc(var(--rhythm) * 0.5) !important; }
.padding-left-sm {padding-left:var(--rhythm) !important; }
.padding-left, .padding-left-md {padding-left:calc(var(--rhythm) * 2) !important; }
.padding-left-lg {padding-left:calc(var(--rhythm) * 4) !important; }
.padding-left-xl {padding-left:calc(var(--rhythm) * 6) !important; }
.padding-right-none {padding-right:0px !important; }
.padding-right-xs {padding-right:calc(var(--rhythm) * 0.5) !important; }
.padding-right-sm {padding-right:var(--rhythm) !important; }
.padding-right, .padding-right-md {padding-right:calc(var(--rhythm) * 2) !important; }
.padding-right-lg {padding-right:calc(var(--rhythm) * 4) !important; }
.padding-right-xl {padding-right:calc(var(--rhythm) * 6) !important; }


@container (min-width:640px) {

	.sm\:padding-none {padding:0px !important; }
	.sm\:padding-xs {padding:calc(var(--rhythm) * 0.5) !important; }
	.sm\:padding-sm {padding:var(--rhythm) !important; }
	.padding, .sm\:padding-md {padding:calc(var(--rhythm) * 2) !important; }
	.sm\:padding-lg {padding:calc(var(--rhythm) * 4) !important; }
	.sm\:padding-xl {padding:calc(var(--rhythm) * 6) !important; }
	.sm\:padding-vertical-none {padding-top:0px !important; padding-bottom:0px !important; }
	.sm\:padding-vertical-xs {padding-top:calc(var(--rhythm) * 0.5) !important; padding-bottom:calc(var(--rhythm) * 0.5) !important; }
	.sm\:padding-vertical-sm {padding-top:var(--rhythm) !important; padding-bottom:var(--rhythm) !important; }
	.sm\:padding-vertical, .sm\:padding-vertical-md {padding-top:calc(var(--rhythm) * 2) !important; padding-bottom:calc(var(--rhythm) * 2) !important; }
	.sm\:padding-vertical-lg {padding-top:calc(var(--rhythm) * 4) !important; padding-bottom:calc(var(--rhythm) * 4) !important; }
	.sm\:padding-vertical-xl {padding-top:calc(var(--rhythm) * 6) !important; padding-bottom:calc(var(--rhythm) * 6) !important; }
	.sm\:padding-horizontal-none {padding-left:0px !important; padding-right:0px !important; }
	.sm\:padding-horizontal-xs {padding-left:calc(var(--rhythm) * 0.5) !important; padding-right:calc(var(--rhythm) * 0.5) !important; }
	.sm\:padding-horizontal-sm {padding-left:var(--rhythm) !important; padding-right:var(--rhythm) !important; }
	.sm\:padding-horizontal, .sm\:padding-horizontal-md {padding-left:calc(var(--rhythm) * 2) !important; padding-right:calc(var(--rhythm) * 2) !important; }
	.sm\:padding-horizontal-lg {padding-left:calc(var(--rhythm) * 4) !important; padding-right:calc(var(--rhythm) * 4) !important; }
	.sm\:padding-horizontal-xl {padding-left:calc(var(--rhythm) * 6) !important; padding-right:calc(var(--rhythm) * 6) !important; }
	.sm\:padding-top-none {padding-top:0px !important; }
	.sm\:padding-top-xs {padding-top:calc(var(--rhythm) * 0.5) !important; }
	.sm\:padding-top-sm {padding-top:var(--rhythm) !important; }
	.sm\:padding-top, .sm\:padding-top-md {padding-top:calc(var(--rhythm) * 2) !important; }
	.sm\:padding-top-lg {padding-top:calc(var(--rhythm) * 4) !important; }
	.sm\:padding-top-xl {padding-top:calc(var(--rhythm) * 6) !important; }
	.sm\:padding-bottom-none {padding-bottom:0px !important; }
	.sm\:padding-bottom-xs {padding-bottom:calc(var(--rhythm) * 0.5) !important; }
	.sm\:padding-bottom-sm {padding-bottom:var(--rhythm) !important; }
	.sm\:padding-bottom, .sm\:padding-bottom-md {padding-bottom:calc(var(--rhythm) * 2) !important; }
	.sm\:padding-bottom-lg {padding-bottom:calc(var(--rhythm) * 4) !important; }
	.sm\:padding-bottom-xl {padding-bottom:calc(var(--rhythm) * 6) !important; }
	.sm\:padding-left-none {padding-left:0px !important; }
	.sm\:padding-left-xs {padding-left:calc(var(--rhythm) * 0.5) !important; }
	.sm\:padding-left-sm {padding-left:var(--rhythm) !important; }
	.sm\:padding-left, .sm\:padding-left-md {padding-left:calc(var(--rhythm) * 2) !important; }
	.sm\:padding-left-lg {padding-left:calc(var(--rhythm) * 4) !important; }
	.sm\:padding-left-xl {padding-left:calc(var(--rhythm) * 6) !important; }
	.sm\:padding-right-none {padding-right:0px !important; }
	.sm\:padding-right-xs {padding-right:calc(var(--rhythm) * 0.5) !important; }
	.sm\:padding-right-sm {padding-right:var(--rhythm) !important; }
	.sm\:padding-right, .sm\:padding-right-md {padding-right:calc(var(--rhythm) * 2) !important; }
	.sm\:padding-right-lg {padding-right:calc(var(--rhythm) * 4) !important; }
	.sm\:padding-right-xl {padding-right:calc(var(--rhythm) * 6) !important; }
}

@container (min-width:768px) {

	.md\:padding-none {padding:0px !important; }
	.md\:padding-xs {padding:calc(var(--rhythm) * 0.5) !important; }
	.md\:padding-sm {padding:var(--rhythm) !important; }
	.padding, .md\:padding-md {padding:calc(var(--rhythm) * 2) !important; }
	.md\:padding-lg {padding:calc(var(--rhythm) * 4) !important; }
	.md\:padding-xl {padding:calc(var(--rhythm) * 6) !important; }
	.md\:padding-vertical-none {padding-top:0px !important; padding-bottom:0px !important; }
	.md\:padding-vertical-xs {padding-top:calc(var(--rhythm) * 0.5) !important; padding-bottom:calc(var(--rhythm) * 0.5) !important; }
	.md\:padding-vertical-sm {padding-top:var(--rhythm) !important; padding-bottom:var(--rhythm) !important; }
	.md\:padding-vertical, .md\:padding-vertical-md {padding-top:calc(var(--rhythm) * 2) !important; padding-bottom:calc(var(--rhythm) * 2) !important; }
	.md\:padding-vertical-lg {padding-top:calc(var(--rhythm) * 4) !important; padding-bottom:calc(var(--rhythm) * 4) !important; }
	.md\:padding-vertical-xl {padding-top:calc(var(--rhythm) * 6) !important; padding-bottom:calc(var(--rhythm) * 6) !important; }
	.md\:padding-horizontal-none {padding-left:0px !important; padding-right:0px !important; }
	.md\:padding-horizontal-xs {padding-left:calc(var(--rhythm) * 0.5) !important; padding-right:calc(var(--rhythm) * 0.5) !important; }
	.md\:padding-horizontal-sm {padding-left:var(--rhythm) !important; padding-right:var(--rhythm) !important; }
	.md\:padding-horizontal, .md\:padding-horizontal-md {padding-left:calc(var(--rhythm) * 2) !important; padding-right:calc(var(--rhythm) * 2) !important; }
	.md\:padding-horizontal-lg {padding-left:calc(var(--rhythm) * 4) !important; padding-right:calc(var(--rhythm) * 4) !important; }
	.md\:padding-horizontal-xl {padding-left:calc(var(--rhythm) * 6) !important; padding-right:calc(var(--rhythm) * 6) !important; }
	.md\:padding-top-none {padding-top:0px !important; }
	.md\:padding-top-xs {padding-top:calc(var(--rhythm) * 0.5) !important; }
	.md\:padding-top-sm {padding-top:var(--rhythm) !important; }
	.md\:padding-top, .md\:padding-top-md {padding-top:calc(var(--rhythm) * 2) !important; }
	.md\:padding-top-lg {padding-top:calc(var(--rhythm) * 4) !important; }
	.md\:padding-top-xl {padding-top:calc(var(--rhythm) * 6) !important; }
	.md\:padding-bottom-none {padding-bottom:0px !important; }
	.md\:padding-bottom-xs {padding-bottom:calc(var(--rhythm) * 0.5) !important; }
	.md\:padding-bottom-sm {padding-bottom:var(--rhythm) !important; }
	.md\:padding-bottom, .md\:padding-bottom-md {padding-bottom:calc(var(--rhythm) * 2) !important; }
	.md\:padding-bottom-lg {padding-bottom:calc(var(--rhythm) * 4) !important; }
	.md\:padding-bottom-xl {padding-bottom:calc(var(--rhythm) * 6) !important; }
	.md\:padding-left-none {padding-left:0px !important; }
	.md\:padding-left-xs {padding-left:calc(var(--rhythm) * 0.5) !important; }
	.md\:padding-left-sm {padding-left:var(--rhythm) !important; }
	.md\:padding-left, .md\:padding-left-md {padding-left:calc(var(--rhythm) * 2) !important; }
	.md\:padding-left-lg {padding-left:calc(var(--rhythm) * 4) !important; }
	.md\:padding-left-xl {padding-left:calc(var(--rhythm) * 6) !important; }
	.md\:padding-right-none {padding-right:0px !important; }
	.md\:padding-right-xs {padding-right:calc(var(--rhythm) * 0.5) !important; }
	.md\:padding-right-sm {padding-right:var(--rhythm) !important; }
	.md\:padding-right, .md\:padding-right-md {padding-right:calc(var(--rhythm) * 2) !important; }
	.md\:padding-right-lg {padding-right:calc(var(--rhythm) * 4) !important; }
	.md\:padding-right-xl {padding-right:calc(var(--rhythm) * 6) !important; }
}

@container (min-width:1024px) {

	.lg\:padding-none {padding:0px !important; }
	.lg\:padding-xs {padding:calc(var(--rhythm) * 0.5) !important; }
	.lg\:padding-sm {padding:var(--rhythm) !important; }
	.lg\:padding, .lg\:padding-md {padding:calc(var(--rhythm) * 2) !important; }
	.lg\:padding-lg {padding:calc(var(--rhythm) * 4) !important; }
	.lg\:padding-xl {padding:calc(var(--rhythm) * 6) !important; }
	.lg\:padding-vertical-none {padding-top:0px !important; padding-bottom:0px !important; }
	.lg\:padding-vertical-xs {padding-top:calc(var(--rhythm) * 0.5) !important; padding-bottom:calc(var(--rhythm) * 0.5) !important; }
	.lg\:padding-vertical-sm {padding-top:var(--rhythm) !important; padding-bottom:var(--rhythm) !important; }
	.lg\:padding-vertical, .lg\:padding-vertical-md {padding-top:calc(var(--rhythm) * 2) !important; padding-bottom:calc(var(--rhythm) * 2) !important; }
	.lg\:padding-vertical-lg {padding-top:calc(var(--rhythm) * 4) !important; padding-bottom:calc(var(--rhythm) * 4) !important; }
	.lg\:padding-vertical-xl {padding-top:calc(var(--rhythm) * 6) !important; padding-bottom:calc(var(--rhythm) * 6) !important; }
	.lg\:padding-horizontal-none {padding-left:0px !important; padding-right:0px !important; }
	.lg\:padding-horizontal-xs {padding-left:calc(var(--rhythm) * 0.5) !important; padding-right:calc(var(--rhythm) * 0.5) !important; }
	.lg\:padding-horizontal-sm {padding-left:var(--rhythm) !important; padding-right:var(--rhythm) !important; }
	.lg\:padding-horizontal, .lg\:padding-horizontal-md {padding-left:calc(var(--rhythm) * 2) !important; padding-right:calc(var(--rhythm) * 2) !important; }
	.lg\:padding-horizontal-lg {padding-left:calc(var(--rhythm) * 4) !important; padding-right:calc(var(--rhythm) * 4) !important; }
	.lg\:padding-horizontal-xl {padding-left:calc(var(--rhythm) * 6) !important; padding-right:calc(var(--rhythm) * 6) !important; }
	.lg\:padding-top-none {padding-top:0px !important; }
	.lg\:padding-top-xs {padding-top:calc(var(--rhythm) * 0.5) !important; }
	.lg\:padding-top-sm {padding-top:var(--rhythm) !important; }
	.lg\:padding-top, .lg\:padding-top-md {padding-top:calc(var(--rhythm) * 2) !important; }
	.lg\:padding-top-lg {padding-top:calc(var(--rhythm) * 4) !important; }
	.lg\:padding-top-xl {padding-top:calc(var(--rhythm) * 6) !important; }
	.lg\:padding-bottom-none {padding-bottom:0px !important; }
	.lg\:padding-bottom-xs {padding-bottom:calc(var(--rhythm) * 0.5) !important; }
	.lg\:padding-bottom-sm {padding-bottom:var(--rhythm) !important; }
	.lg\:padding-bottom, .lg\:padding-bottom-md {padding-bottom:calc(var(--rhythm) * 2) !important; }
	.lg\:padding-bottom-lg {padding-bottom:calc(var(--rhythm) * 4) !important; }
	.lg\:padding-bottom-xl {padding-bottom:calc(var(--rhythm) * 6) !important; }
	.lg\:padding-left-none {padding-left:0px !important; }
	.lg\:padding-left-xs {padding-left:calc(var(--rhythm) * 0.5) !important; }
	.lg\:padding-left-sm {padding-left:var(--rhythm) !important; }
	.lg\:padding-left, .lg\:padding-left-md {padding-left:calc(var(--rhythm) * 2) !important; }
	.lg\:padding-left-lg {padding-left:calc(var(--rhythm) * 4) !important; }
	.lg\:padding-left-xl {padding-left:calc(var(--rhythm) * 6) !important; }
	.lg\:padding-right-none {padding-right:0px !important; }
	.lg\:padding-right-xs {padding-right:calc(var(--rhythm) * 0.5) !important; }
	.lg\:padding-right-sm {padding-right:var(--rhythm) !important; }
	.lg\:padding-right, .lg\:padding-right-md {padding-right:calc(var(--rhythm) * 2) !important; }
	.lg\:padding-right-lg {padding-right:calc(var(--rhythm) * 4) !important; }
	.lg\:padding-right-xl {padding-right:calc(var(--rhythm) * 6) !important; }	
}

