 /******************************************
 * Positioning
 ******************************************/

.pos-absolute {
	-webkit-position:absolute;
	position:absolute;
}

.pos-fixed {
	-webkit-position:fixed;
	position:fixed;
}

.pos-relative {
	-webkit-position:relative;
	position:relative;
}

.pos-sticky {
	-webkit-positiion:sticky;
	position:sticky;
}

.pos-absolute-top {
	-webkit-position:absolute;
	position:absolute;
	top:var(--rhythm);
	left:var(--rhythm);
	right: var(--rhythm);
}

.pos-absolute-top-0 {
	-webkit-position:absolute;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
}

.pos-absolute-top-left {
	-webkit-position:absolute;
	position:absolute;
	top:var(--rhythm);
	left:var(--rhythm);
}

.pos-absolute-top-left-0 {
	-webkit-position:absolute;
	position:absolute;
	top:0px;
	left:0px;
}

.pos-absolute-top-right {
	-webkit-position:absolute;
	position:absolute;
	top:var(--rhythm);
	right:var(--rhythm);
}

.pos-absolute-top-right-0 {
	-webkit-position:absolute;
	position:absolute;
	top:0px;
	right:0px;
}

.pos-absolute-bottom {
	-webkit-position:absolute;
	position:absolute;
	bottom:var(--rhythm);
	left:var(--rhythm);
	right: var(--rhythm);
}

.pos-absolute-bottom-0 {
	-webkit-position:absolute;
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
}

.pos-absolute-bottom-left {
	-webkit-position:absolute;
	position:absolute;
	bottom:var(--rhythm);
	left:var(--rhythm);
}

.pos-absolute-bottom-left-0 {
	-webkit-position:absolute;
	position:absolute;
	bottom:0px;
	left:0px;
}

.pos-absolute-bottom-right {
	-webkit-position:absolute;
	position:absolute;
	bottom:var(--rhythm);
	right:var(--rhythm);
}

.pos-absolute-bottom-right-0 {
	-webkit-position:absolute;
	position:absolute;
	bottom:0px;
	right:0px;
}

.pos-absolute-four-corners {
	-webkit-position:absolute;
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
}


@container (min-width:640px) {

	.sm\:pos-absolute {
		-webkit-position:absolute;
		position:absolute;
	}
	
	.sm\:pos-fixed {
		-webkit-position:fixed;
		position:fixed;
	}
	
	.sm\:pos-relative {
		-webkit-position:relative;
		position:relative;
	}
	
	.sm\:pos-sticky {
		-webkit-positiion:sticky;
		position:sticky;
	}
	
	.sm\:pos-absolute-top {
		-webkit-position:absolute;
		position:absolute;
		top:var(--rhythm);
		left:var(--rhythm);
		right: var(--rhythm);
		bottom:unset;
	}
	
	.sm\:pos-absolute-top-0 {
		-webkit-position:absolute;
		position:absolute;
		top:0px;
		left:0px;
		right:0px;
		bottom:unset;
	}
	
	.sm\:pos-absolute-top-left {
		-webkit-position:absolute;
		position:absolute;
		top:var(--rhythm);
		left:var(--rhythm);
		bottom:unset;
		right:unset;
	}
	
	.sm\:pos-absolute-top-left-0 {
		-webkit-position:absolute;
		position:absolute;
		top:0px;
		left:0px;
		bottom:unset;
		right:unset;
	}
	
	.sm\:pos-absolute-top-right {
		-webkit-position:absolute;
		position:absolute;
		top:var(--rhythm);
		right:var(--rhythm);
		bottom:unset;
		left:unset;
	}
	
	.sm\:pos-absolute-top-right-0 {
		-webkit-position:absolute;
		position:absolute;
		top:0px;
		right:0px;
		bottom:unset;
		left:unset;
	}
	
	.sm\:pos-absolute-bottom {
		-webkit-position:absolute;
		position:absolute;
		top:unset;
		bottom:var(--rhythm);
		left:var(--rhythm);
		right: var(--rhythm);
	}
	
	.sm\:pos-absolute-bottom-0 {
		-webkit-position:absolute;
		position:absolute;
		top:unset;
		bottom:0px;
		left:0px;
		right:0px;
	}
	
	.sm\:pos-absolute-bottom-left {
		-webkit-position:absolute;
		position:absolute;
		bottom:var(--rhythm);
		left:var(--rhythm);
		top:unset;
		right:unset;
	}
	
	.sm\:pos-absolute-bottom-left-0 {
		-webkit-position:absolute;
		position:absolute;
		bottom:0px;
		left:0px;
		top:unset;
		right:unset;
	}
	
	.sm\:pos-absolute-bottom-right {
		-webkit-position:absolute;
		position:absolute;
		bottom:var(--rhythm);
		right:var(--rhythm);
		top:unset;
		left:unset;
	}
	
	.sm\:pos-absolute-bottom-right-0 {
		-webkit-position:absolute;
		position:absolute;
		bottom:0px;
		right:0px;
		top:unset;
		left:unset;
	}
	
	.sm\:pos-absolute-four-corners {
		-webkit-position:absolute;
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
	}		
}


@container (min-width:768px) {
	
	.md\:pos-absolute {
		-webkit-position:absolute;
		position:absolute;
	}
	
	.md\:pos-fixed {
		-webkit-position:fixed;
		position:fixed;
	}
	
	.md\:pos-relative {
		-webkit-position:relative;
		position:relative;
	}
	
	.md\:pos-sticky {
		-webkit-positiion:sticky;
		position:sticky;
	}
	
	.md\:pos-absolute-top {
		-webkit-position:absolute;
		position:absolute;
		top:var(--rhythm);
		left:var(--rhythm);
		right: var(--rhythm);
		bottom:unset;
	}
	
	.md\:pos-absolute-top-0 {
		-webkit-position:absolute;
		position:absolute;
		top:0px;
		left:0px;
		right:0px;
		bottom:unset;
	}
	
	.md\:pos-absolute-top-left {
		-webkit-position:absolute;
		position:absolute;
		top:var(--rhythm);
		left:var(--rhythm);
		bottom:unset;
		right:unset;
	}
	
	.md\:pos-absolute-top-left-0 {
		-webkit-position:absolute;
		position:absolute;
		top:0px;
		left:0px;
		bottom:unset;
		right:unset;
	}
	
	.md\:pos-absolute-top-right {
		-webkit-position:absolute;
		position:absolute;
		top:var(--rhythm);
		right:var(--rhythm);
		bottom:unset;
		left:unset;
	}
	
	.md\:pos-absolute-top-right-0 {
		-webkit-position:absolute;
		position:absolute;
		top:0px;
		right:0px;
		bottom:unset;
		left:unset;
	}
	
	.md\:pos-absolute-bottom {
		-webkit-position:absolute;
		position:absolute;
		bottom:var(--rhythm);
		left:var(--rhythm);
		right: var(--rhythm);
		top:unset;
	}
	
	.md\:pos-absolute-bottom-0 {
		-webkit-position:absolute;
		position:absolute;
		bottom:0px;
		left:0px;
		right:0px;
		top:unset;
	}
	
	.md\:pos-absolute-bottom-left {
		-webkit-position:absolute;
		position:absolute;
		bottom:var(--rhythm);
		left:var(--rhythm);
		top:unset;
		right:unset;
	}
	
	.md\:pos-absolute-bottom-left-0 {
		-webkit-position:absolute;
		position:absolute;
		bottom:0px;
		left:0px;
		top:unset;
		right:unset;
	}
	
	.md\:pos-absolute-bottom-right {
		-webkit-position:absolute;
		position:absolute;
		bottom:var(--rhythm);
		right:var(--rhythm);
		top:unset;
		left:unset;
	}
	
	.md\:pos-absolute-bottom-right-0 {
		-webkit-position:absolute;
		position:absolute;
		bottom:0px;
		right:0px;
		top:unset;
		left:unset;
	}
	
	.md\:pos-absolute-four-corners {
		-webkit-position:absolute;
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
	}
}


@container (min-width:1024px) {

	.lg\:pos-absolute {
		-webkit-position:absolute;
		position:absolute;
	}
	
	.lg\:pos-fixed {
		-webkit-position:fixed;
		position:fixed;
	}
	
	.lg\:pos-relative {
		-webkit-position:relative;
		position:relative;
	}
	
	.lg\:pos-sticky {
		-webkit-positiion:sticky;
		position:sticky;
	}
	
	.lg\:pos-absolute-top {
		-webkit-position:absolute;
		position:absolute;
		top:var(--rhythm);
		left:var(--rhythm);
		right: var(--rhythm);
		bottom:unset;
	}
	
	.lg\:pos-absolute-top-0 {
		-webkit-position:absolute;
		position:absolute;
		top:0px;
		left:0px;
		right:0px;
		bottom:unset;
	}
	
	.lg\:pos-absolute-top-left {
		-webkit-position:absolute;
		position:absolute;
		top:var(--rhythm);
		left:var(--rhythm);
		bottom:unset;
		right:unset;
	}
	
	.lg\:pos-absolute-top-left-0 {
		-webkit-position:absolute;
		position:absolute;
		top:0px;
		left:0px;
		bottom:unset;
		right:unset;
	}
	
	.lg\:pos-absolute-top-right {
		-webkit-position:absolute;
		position:absolute;
		top:var(--rhythm);
		right:var(--rhythm);
		bottom:unset;
		left:unset;
	}
	
	.lg\:pos-absolute-top-right-0 {
		-webkit-position:absolute;
		position:absolute;
		top:0px;
		right:0px;
		bottom:unset;
		left:unset;
	}
	
	.lg\:pos-absolute-bottom {
		-webkit-position:absolute;
		position:absolute;
		bottom:var(--rhythm);
		left:var(--rhythm);
		right: var(--rhythm);
		top:unset;
	}
	
	.lg\:pos-absolute-bottom-0 {
		-webkit-position:absolute;
		position:absolute;
		bottom:0px;
		left:0px;
		right:0px;
		top:unset;
	}
	
	.lg\:pos-absolute-bottom-left {
		-webkit-position:absolute;
		position:absolute;
		bottom:var(--rhythm);
		left:var(--rhythm);
		top:unset;
		right:unset;
	}
	
	.lg\:pos-absolute-bottom-left-0 {
		-webkit-position:absolute;
		position:absolute;
		bottom:0px;
		left:0px;
		top:unset;
		right:unset;
	}
	
	.lg\:pos-absolute-bottom-right {
		-webkit-position:absolute;
		position:absolute;
		bottom:var(--rhythm);
		right:var(--rhythm);
		top:unset;
		left:unset;
	}
	
	.lg\:pos-absolute-bottom-right-0 {
		-webkit-position:absolute;
		position:absolute;
		bottom:0px;
		right:0px;
		top:unset;
		left:unset;
	}
	
	.lg\:pos-absolute-four-corners {
		-webkit-position:absolute;
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
	}	
}
