/******************************************
 * Text Alignment
 ******************************************/

 .align-left {
    text-align:left;
}

.align-center {
    text-align:center;
}

.align-right {
    text-align:right;
}

.valign-top {
    vertical-align:top;
}

.valign-middle {
    vertical-align:middle;
}

.valign-bottom {
    vertical-align:bottom
}

.float-right {
    float:right;
}

.float-left {
    float:left;
}

.float-clear {
    float:unset;
}


/******************************************
 * Display Styles
 ******************************************/

 .block {
    display:block;
    width:100%;
}

.inline-block {
	display:inline-block;
}

.inline {
	display:inline;
}