/* All Screens */

.flex-row {
	display:flex;
	flex-direction:row;
	align-items:stretch;
	gap:var(--rhythm);
}

.flex-column {display:flex; flex-direction:column;}
.flex-align-start {align-items:flex-start}
.flex-align-end {align-items:flex-end}
.flex-align-center {align-items:center}
.flex-align-stretch {align-items:stretch}
.flex-align-content-start {align-content:flex-start}
.flex-align-content-end {align-content:flex-end}
.flex-align-content-center {align-content:center}
.flex-align-content-stretch {align-content:stretch}
.flex-align-space-between {align-content:space-between}
.flex-align-space-around {align-content:space-around}
.flex-align-self-start {align-self:flex-start}
.flex-align-self-end {align-self:flex-end}
.flex-align-self-center {align-self:center}
.flex-align-self-stretch {align-self:stretch}
.flex-justify-start {justify-content: flex-start safe}
.flex-justify-end {justify-content: flex-end safe}
.flex-justify-center {justify-content: center safe}
.flex-justify-between {justify-content: space-between safe}
.flex-justify-around {justify-content: space-around safe}
.flex-justify-evenly {justify-content: space-evenly safe}
.flex-shrink-0 {flex-shrink: 0}
.flex-shrink, .flex-shrink-1 {flex-shrink: 1}
.flex-shrink-2 {flex-shrink: 2}
.flex-grow-0 {flex-grow:0}
.flex-grow, .flex-grow-1 {flex-grow: 1}
.flex-grow-2 {flex-grow:2}
.flex-wrap {flex-wrap:wrap}
.flex-wrap-reverse {flex-wrap:wrap-reverse}

/* Small Screens */
@media screen and (min-width: 568px) {

	.flex-row-sm {
		display:flex; 
		flex-direction:row; 
		align-items:stretch; 
		gap:var(--rhythm);
	}

	.flex-column-sm {display:flex; flex-direction:column}
	.flex-align-start-sm {align-items:flex-start}
	.flex-align-end-sm {align-items:flex-end}
	.flex-align-center-sm {align-items:center}
	.flex-align-stretch-sm {align-items:stretch}
	.flex-align-content-start-sm {align-content:flex-start}
	.flex-align-content-end-sm {align-content:flex-end}
	.flex-align-content-center-sm {align-content:center}
	.flex-align-content-stretch-sm {align-content:stretch}
	.flex-align-space-between-sm {align-content:space-between}
	.flex-align-space-around-sm {align-content:space-around}
	.flex-align-self-start-sm {align-self:flex-start}
	.flex-align-self-end-sm {align-self:flex-end}
	.flex-align-self-center-sm {align-self:center}
	.flex-align-self-stretch-sm {align-self:stretch}
	.flex-justify-start-sm {justify-content: flex-start safe}
	.flex-justify-end-sm {justify-content: flex-end safe}
	.flex-justify-center-sm {justify-content: center safe}
	.flex-justify-between-sm {justify-content: space-between safe}
	.flex-justify-around-sm {justify-content: space-around safe}
	.flex-justify-evenly-sm {justify-content: space-evenly safe}
	.flex-shrink-0-sm {flex-shrink: 0}
	.flex-shrink-sm, .flex-shrink-1-sm {flex-shrink: 1}
	.flex-shrink-2-sm {flex-shrink: 2}
	.flex-grow-0-sm {flex-grow:0}
	.flex-grow-sm, .flex-grow-1-sm {flex-grow: 1}
	.flex-grow-2-sm {flex-grow:2}
	.flex-wrap-sm {flex-wrap:wrap}
	.flex-wrap-reverse-sm {flex-wrap:wrap-reverse}
}

/* Medium Screens */
@media screen and (min-width: 768px) {

	.flex-row-md {
		display:flex; 
		flex-direction:row; 
		align-items:stretch; 
		gap:var(--rhythm);
	}

	.flex-column-md {display:flex; flex-direction:column}
	.flex-align-start-md {align-items:flex-start}
	.flex-align-end-md {align-items:flex-end}
	.flex-align-center-md {align-items:center}
	.flex-align-stretch-md {align-items:stretch}
	.flex-align-content-start-md {align-content:flex-start}
	.flex-align-content-end-md {align-content:flex-end}
	.flex-align-content-center-md {align-content:center}
	.flex-align-content-stretch-md {align-content:stretch}
	.flex-align-space-between-md {align-content:space-between}
	.flex-align-space-around-md {align-content:space-around}
	.flex-align-self-start-md {align-self:flex-start}
	.flex-align-self-end-md {align-self:flex-end}
	.flex-align-self-center-md {align-self:center}
	.flex-align-self-stretch-md {align-self:stretch}
	.flex-justify-start-md {justify-content: flex-start safe}
	.flex-justify-end-md {justify-content: flex-end safe}
	.flex-justify-center-md {justify-content: center safe}
	.flex-justify-between-md {justify-content: space-between safe}
	.flex-justify-around-md {justify-content: space-around safe}
	.flex-justify-evenly-md {justify-content: space-evenly safe}
	.flex-shrink-0-md {flex-shrink: 0}
	.flex-shrink-md, .flex-shrink-1-md {flex-shrink: 1}
	.flex-shrink-2-md {flex-shrink: 2}
	.flex-grow-0-md {flex-grow:0}
	.flex-grow-md, .flex-grow-1-md {flex-grow: 1}
	.flex-grow-2-md {flex-grow:2}
	.flex-wrap-md {flex-wrap:wrap}
	.flex-wrap-reverse-md {flex-wrap:wrap-reverse}
}

/* Large Screens */
@media screen and (min-width: 1024px) {

	.flex-row-lg {
		display:flex; 
		flex-direction:row; 
		align-items:stretch; 
		gap:var(--rhythm);
	}

	.flex-column-lg {display:flex; flex-direction:column}
	.flex-align-start-lg {align-items:flex-start}
	.flex-align-end-lg {align-items:flex-end}
	.flex-align-center-lg {align-items:center}
	.flex-align-stretch-lg {align-items:stretch}
	.flex-align-content-start-lg {align-content:flex-start}
	.flex-align-content-end-lg {align-content:flex-end}
	.flex-align-content-center-lg {align-content:center}
	.flex-align-content-stretch-lg {align-content:stretch}
	.flex-align-space-between-lg {align-content:space-between}
	.flex-align-space-around-lg {align-content:space-around}
	.flex-align-self-start-lg {align-self:flex-start}
	.flex-align-self-end-lg {align-self:flex-end}
	.flex-align-self-center-lg {align-self:center}
	.flex-align-self-stretch-lg {align-self:stretch}
	.flex-justify-start-lg {justify-content: flex-start safe}
	.flex-justify-end-lg {justify-content: flex-end safe}
	.flex-justify-center-lg {justify-content: center safe}
	.flex-justify-between-lg {justify-content: space-between safe}
	.flex-justify-around-lg {justify-content: space-around safe}
	.flex-justify-evenly-lg {justify-content: space-evenly safe}
	.flex-shrink-0-lg {flex-shrink: 0}
	.flex-shrink-lg, .flex-shrink-1-lg {flex-shrink: 1}
	.flex-shrink-2-lg {flex-shrink: 2}
	.flex-grow-0-lg {flex-grow:0}
	.flex-grow-lg, .flex-grow-1-lg {flex-grow: 1}
	.flex-grow-2-lg {flex-grow:2}
	.flex-wrap-lg {flex-wrap:wrap}
	.flex-wrap-reverse-lg {flex-wrap:wrap-reverse}
}