.popUp-content {
	position: absolute;
	z-index: 1000;
	overflow:hidden;

	opacity:0;
	transform: scaleY(0);
	transition: all 0.125s ease-in-out;
}

.popUp.hovered > .popUp-content,
.popUp.pinned > .popUp-content {
	transform: scaleY(1);
	opacity:1;
}