.menu {
	color: var(--black);
	background-color: var(--gray15);
	min-width: 160px;

	font-size:calc(var(--rhythm) * 2);
    line-height:calc(var(--rhythm) * 3);
	text-align: left;
	margin: 0px;
	white-space: normal;
}

.menu > a,
.menu > [role=link],
.menu > [role=button] {
	padding: 4px 8px;
	border-top: solid 1px var(--gray20);
}

.menu > a:first-child,
.menu > [role=link]:first-child,
.menu > [role=button]:first-child {
	border-top: none;
}

.menu > a:hover,
.menu > [role=link]:hover,
.menu > [role=button]:hover {
	background-color: var(--button-primary-background-hover);
	color: var(--button-primary-color-hover);
}

.popUp-content:has(.menu) {
	padding: 0px;
}