.menu {
	color: var(--black);
	min-width: 160px;

	font-size:calc(var(--rhythm) * 2);
    line-height:calc(var(--rhythm) * 3);
	text-align: left;
	margin: 0px;
	white-space: normal;
}

.menu > [role=menuitem] {
	padding: 4px 8px;
	border-top: solid 1px var(--gray20);
	cursor: pointer;
}

.menu > [role=menuitem]:first-child {
	border-top: none;
}

.menu:not(:has([aria-selected=true])) > [role=menuitem]:hover,
.menu > [role=menuitem][aria-selected=true] {
	background-color: var(--button-primary-background-hover);
	color: var(--button-primary-color-hover);
}

.popUp-content:has(.menu) {
	padding: 0px;
}