
/******************************************
* Modal Dialog
******************************************/

#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top: 0px;
	left: 0px;
	right:0px;
	bottom:0px;
	z-index: 1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: safe center;

	/* Opacity updated by animations */
	opacity: 0;
}

#modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: black;
	opacity: 0.6;
	overflow-x: clip;
	overflow-y: clip;
}

#modal-window {
	/* Sizing for visible dialog */
	width: 600px;
	max-width: 96vh;
	max-height:96vh;

	/* Scrolling behavior */
	display:flow-root;
	overflow-y:auto;

	/* Display properties for visible dialog */
	position:relative;
	border: solid 1px var(--gray40);
	border-radius: 8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color: var(--white);
	padding: 24px;
	line-height: 150%;
	transform:scale(0.8);
}

/* Enhanced Modals with Fixed Header/Footer */

#modal-window:has(#modal-body) {
	display:flex;
	flex-direction:column;
	overflow:clip;
	padding: 0px;
}

#modal-header {
	padding:24px;
}

#modal-body {
	overflow-y:scroll;
	flex-grow:1;
	padding:12px 24px;
}

#modal-footer {
	padding: 24px;
	padding-bottom:12px;
	margin:0px;
	border-top:solid 1px var(--gray20);
	background-color: var(--gray05);
}

/* Additional Sizes */

#modal-window.large {
	width: 800px;
}

#modal-window.huge {
	width:96%;
	height:96%;
}


/* Animations */

#modal.ready {
	opacity: 1;
	transition:opacity;
	transition-duration:150ms;
	transition-timing-function: ease-in-out;
}

#modal.ready #modal-window {
	transform:scale(1);
	transition:transform;
	transition-duration:150ms;
	transition-timing-function: ease-in-out;
}

#modal.closing {
	animation-name:fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;

	/* Hide after animation */
	opacity:0;
}

#modal.closing #modal-content {
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

/* Alternate colors for dark mode */

@media (prefers-color-scheme: dark) {
	#modal-content {
		background-color:var(--gray20);
		border-color:var(--gray30);
		color: white;
	}
	
	#modal-underlay {
		background-color:black;
		opacity: 0.9;
	}
}
