.show {
	display:inherit;
}

.hide {
	display:none;
}

.framed {
	position: relative;
}

/* Responsive Breakpoints *************
	xs < 568px
	sm < 768px
	md < 1024px
	lg < 1280px
	xl > 1280px
*/

/** EXTRA SMALL Screens (phone/vertical) ******/
@media screen and (max-width:568px) {

	:root{
		--rhythm: 10px;
	}

	.framed, .page {
		width:100%;
		margin:0px;		
	}

	.page {
		border: none;
		padding: 10px;
		font-size: 20px;
		font-weight:400;
	}

	.show-xs {
		display:inherit;
	}

	.hide-xs {
		display:none;
	}
}

/** SMALL Screens (phone/vertical******/
@media screen and (min-width:568px) {

	.framed, .page {
		width:100%;
	}

	.hide-xs,
	.show-sm {
		display:inherit;
	}

	.hide-sm,
	.hide-md {
		display:none;
	}

}

/** MEDIUM Screens (tablet/vertical) ******/
@media screen and (min-width:768px) {

	.framed, .page {
		width:95%;
	}

	.hide-sm,
	.show-md {
		display:inherit;
	}

	.hide-md,
	.hide-lg {
		display:none;
	}
}

/** LARGE Screens (tablet/landscape) ******/
@media screen and (min-width:1024px) {

	.framed, .page {
		width:90%;
	}

	.hide-md,
	.show-lg {
		display:inherit;
	}

	.hide-lg,
	.hide-xl {
		display:none;
	}
}

/** EXTRA LARGE Screens (laptop/desktop) ******/
@media screen and (min-width:1280px) {

	.framed, .page {
		width:85%;
		max-width:76em;
	}

	.hide-lg,
	.show-xl {
		display:inherit;
	}

	.hide-xl {
		display:none;
	}
}