.show {
	display:inherit;
}

.hide {
	display:none;
}

.framed {
	position: relative;
}

.columns-6,
.columns-5,
.columns-4,
.columns-3,
.columns-2,
.columns-1 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;
	align-content: flex-start;
	justify-content: space-between;
	gap: var(--gap);
}

.columns-6 > *,
.columns-5 > *,
.columns-4 > *,
.columns-3 > *,
.columns-2 > *,
.columns-1 > * {
	display:block;
	vertical-align:top;
	flex-grow:0;
	flex-shrink:0;
	flex-basis: calc(100% / var(--cols) - var(--gap));
}

.columns-6 > .col-2x,
.columns-5 > .col-2x,
.columns-4 > .col-2x,
.columns-3 > .col-2x,
.columns-2 > .col-2x,
.columns-1 > .col-2x {
	flex-basis: clamp( 0px, calc((200% / var(--cols)) - var(--gap)), 100%);
}

/* Responsive Breakpoints *************
	xs < 568px
	sm < 768px
	md < 1024px
	lg < 1280px
	xl > 1280px
*/

/** EXTRA SMALL Screens (phone/vertical) ******/
@media screen and (max-width:568px) {

	:root{
		--rhythm: 10px;
	}

	.framed, .page {
		width:100%;
		margin:0px;		
	}

	.page {
		border: none;
		padding: 10px;
		font-size: 20px;
		font-weight:400;
	}

	.show-xs {
		display:inherit;
	}

	.hide-xs {
		display:none;
	}

	.columns-6 {
		--cols: 1;
		--gap: 4px;
	}

	.reponsive-5 {
		--cols: 1;
		--gap: 4px;
	}

	.columns-4 {
		--cols: 1;
		--gap: 4px;
	}

	.columns-3 {
		--cols: 1;
		--gap: 4px;
	}

	.columns-2 {
		--cols: 1;
		--gap: 4px;
	}

	.columns-1 {
		--cols: 1;
		--gap: 4px;
	}
}

/** SMALL Screens (phone/horizontal) ******/
@media screen and (min-width:568px) {

	.framed, .page {
		width:100%;
	}

	.hide-xs,
	.show-sm {
		display:inherit;
	}

	.hide-sm,
	.hide-md {
		display:none;
	}	


	.columns-6 {
		--cols: 3;
		--gap: 8px;
	}

	.reponsive-5 {
		--cols: 2;
		--gap: 8px;
	}

	.columns-4 {
		--cols: 2;
		--gap: 8px;
	}

	.columns-3 {
		--cols: 1;
		--gap: 8px;
	}

	.columns-2 {
		--cols: 1;
		--gap: 8px;
	}

	.columns-1 {
		--cols: 1;
		--gap: 8px;
	}
}

/** MEDIUM Screens (tablet/vertical) ******/
@media screen and (min-width:768px) {

	.framed, .page {
		width:95%;
	}

	.hide-sm,
	.show-md {
		display:inherit;
	}

	.hide-md,
	.hide-lg {
		display:none;
	}

	.columns-6 {
		--cols: 4;
		--gap: 12px;
	}

	.reponsive-5 {
		--cols:3;
		--gap: 12px;
	}

	.columns-4 {
		--cols: 2;
		--gap: 12px;
	}

	.columns-3 {
		--cols: 2;
		--gap: 12px;
	}

	.columns-2 {
		--cols: 1;
		--gap: 12px;
	}

	.columns-1 {
		--cols: 1;
		--gap: 12px;
	}

}

/** LARGE Screens (tablet/horizontal) ******/
@media screen and (min-width:1024px) {

	.framed, .page {
		width:90%;
	}

	.hide-md,
	.show-lg {
		display:inherit;
	}

	.hide-lg,
	.hide-xl {
		display:none;
	}

	.columns-6 {
		--cols: 5;
		--gap: 16px;
	}

	.reponsive-5 {
		--cols: 4;
		--gap: 16px;
	}

	.columns-4 {
		--cols: 4;
		--gap: 16px;
	}

	.columns-3 {
		--cols: 3;
		--gap: 16px;
	}

	.columns-2 {
		--cols: 2;
		--gap: 16px;
	}

	.columns-1 {
		--cols: 1;
		--gap: 16px;
	}

}

/** EXTRA LARGE Screens (laptop/desktop) ******/
@media screen and (min-width:1280px) {

	.framed, .page {
		width:85%;
		max-width:76em;
	}

	.hide-lg,
	.show-xl {
		display:inherit;
	}

	.hide-xl {
		display:none;
	}

	.columns-6 {
		--cols: 6;
		--gap: 24px;
	}

	.reponsive-5 {
		--cols: 5;
		--gap: 24px;
	}

	.columns-4 {
		--cols: 4;
		--gap: 24px;
	}

	.columns-3 {
		--cols: 3;
		--gap: 24px;
	}

	.columns-2 {
		--cols: 2;
		--gap: 24px;
	}

	.columns-1 {
		--cols: 1;
		--gap: 24px;
	}

}