/******************************************
 * DEFAULT FONTS
 ******************************************/
:root {
    --rhythm:8px;
    --weight:400;
}

@media (prefers-color-scheme:dark) {
    :root {
        --weight:300;
    }
}
    
html {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:var(--weight);
    font-size:calc(var(--rhythm) * 2);
    line-height:calc(var(--rhythm) * 3);
}
 
/******************************************
 * Headings
 ******************************************/

h1 {
    font-weight:calc(var(--weight) + 100);
    font-size:calc(var(--rhythm) * 4);
    line-height:calc(var(--rhythm) * 4);
    margin-top:calc(var(--rhythm) * 3);
    margin-bottom:calc(var(--rhythm));
    color:var(--heading-color);
}


h2 {
    font-weight:calc(var(--weight) + 100);
    font-size:calc(var(--rhythm) * 3);
    line-height:calc(var(--rhythm) * 3);
    margin-top:calc(var(--rhythm) * 2);
    margin-bottom:calc(var(--rhythm));
    color:var(--heading-color);
}

h3 {
    font-weight:calc(var(--weight) + 300);
    font-size:calc(var(--rhythm) * 2);
    line-height:calc(var(--rhythm) * 2);
    margin-top:calc(var(--rhythm));
    margin-bottom:calc(var(--rhythm) * 0);
    color:var(--heading-color);
}

h1.space-above,
h2.space-above,
h3.space-above {
    margin-top:calc(var(--rhythm) * 3);
}


h1.space-below,
h2.space-below,
h3.space-below {
    margin-bottom:calc(var(--rhythm) * 3);
}

h1:first-child,
h2:first-child,
h3:first-child {
    margin-top:0px;
}

/******************************************
 * Text Sizes
 ******************************************/
 
.text-xxxl,
.text-3xl {
    font-weight:calc(var(--weight) + 100);
    font-size:calc(var(--rhythm) * 5);
    line-height:calc(var(--rhythm) * 5);
    margin-top:calc(var(--rhythm) * 3);
    margin-bottom:calc(var(--rhythm) * 1);
}

.text-xxl,
.text-2xl,
.text-xxl input,
input.text-xxl {
    font-weight:calc(var(--weight) + 100);
    font-size:calc(var(--rhythm) * 4);
    line-height:calc(var(--rhythm) * 4);
    margin-top:calc(var(--rhythm) * 3);
    margin-bottom:calc(var(--rhythm) * 1);
}

.text-xl,
.text-xl input,
input.text-xl {
    font-weight:calc(var(--weight) + 100);
    font-size:calc(var(--rhythm) * 3);
    line-height:calc(var(--rhythm) * 3);
    margin-top:calc(var(--rhythm) * 2);
    margin-bottom:calc(var(--rhythm));
}

.text-lg,
.text-lg input,
input.text-lg {
    font-weight:calc(var(--weight) + 300);
    font-size:calc(var(--rhythm) * 2);
    line-height:calc(var(--rhythm) * 2);
    margin-top:calc(var(--rhythm));
    margin-bottom:calc(var(--rhythm) * 0);
    color:var(--heading-color);
}

.text-md,
p,
.text-md input,
input.text-md {
    font-size:calc(var(--rhythm) * 2);
    line-height:calc(var(--rhythm) * 3);
    margin-bottom:calc(var(--rhythm) * 2);
}

.text-sm {
    font-size:calc(var(--rhythm) * 1.75);
    line-height:calc(var(--rhythm) * 2);
    margin-top:calc(var(--rhythm) * 0.5);
    margin-bottom:calc(var(--rhythm) * 0.5);
}

.text-xs {
    font-size:calc(var(--rhythm) * 1.5);
    line-height:calc(var(--rhythm) * 2);
    margin-top: calc(var(--rhythm) * 0.5);
    margin-bottom:calc(var(--rhythm) * 0.5);
}

/******************************************
 * Text Modifiers - Decoration
 ******************************************/


.text-plain {
    color:var(--text-color)!important;
    text-decoration:none;
}

.text-underline {
    text-decoration: underline;
}

.text-black {
    color:var(--black)!important;
    text-decoration:none;
}

.text-light-gray {
    color:var(--gray40);
    text-decoration:none;
}

.text-gray {
    color:var(--gray60);
    text-decoration:none;
}

.text-green {
    color:var(--green70)!important;
    text-decoration:none;
}

a:hover .text-green,
a.text-green:hover {
    color:var(--green80)!important;
}

.text-red {
    color:var(--red60)!important;
    text-decoration:none;
}

a:hover .text-red,
a.text-red:hover {
    color:var(--red50)!important;
}

hr {
    border-top:1px solid var(--gray20);
    border-bottom:none;
    border-left:none;
    border-right:none;
    height:0px;
    margin-top:calc(var(--rhythm) * 3);
    margin-bottom:calc(var(--rhythm) * 3);
}

/******************************************
 * Text Modifiers - Code
 ******************************************/

 .monospace, code {
    font-family:ui-monospace, "Menlo", "Monaco", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    background-color:var(--gray10);
    border:solid 1px var(--gray-20);
    padding:5px 10px;
    white-space:pre-wrap;
}

pre code,
code.block {
    display:block;
    tab-size:24px;
}

code.inline {
    display:inline;
}


/******************************************
 * Block - Flexbox
 ******************************************/

 .flex-row {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    gap:var(--rhythm);
}

.flex-column {
    display:flex;
    flex-direction:column;
}

.flex-align-start {
    align-items:flex-start;
}

.flex-align-end {
    align-items:flex-end;
}

.flex-align-center {
    align-items:center;
}

.flex-align-stretch {
    align-items:stretch;
}

.flex-justify-start {
    justify-content: flex-start safe;
}

.flex-justify-end {
    justify-content: flex-end safe;
}

.flex-justify-center {
    justify-content: center safe;
}

.flex-justify-between {
    justify-content: space-between safe;
}

.flex-justify-around {
    justify-content: space-around safe;
}

.flex-justify-evenly {
    justify-content: space-evenly safe;
}


.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-grow-0 {
    flex-grow:0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.width-100 {
    width: 100%;
}

/******************************************
 * Margin Spacing
 ******************************************/

.margin-none {
    margin:0px!important;
}

.margin-xs {
    margin:calc(var(--rhythm) * 0.5);
}

.margin-sm {
    margin:var(--rhythm);
}

.margin-md {
    margin:calc(var(--rhythm) * 2);
}

.margin-lg {
    margin:calc(var(--rhythm) * 3);
}

.margin-vertical-none {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.margin-vertical-xs {
    margin-top: calc(var(--rhythm) * 0.5);
    margin-bottom: calc(var(--rhythm) * 0.5);
}

.margin-vertical-sm {
    margin-top: var(--rhythm);
    margin-bottom: var(--rhythm);
}

.margin-vertical,
.margin-vertical-md {
    margin-top: calc(var(--rhythm) * 2);
    margin-bottom: calc(var(--rhythm) * 2);
}

.margin-vertical-lg {
    margin-top: calc(var(--rhythm) * 3);
    margin-bottom: calc(var(--rhythm) * 3);
}

.margin-horizontal-none {
    margin-left:0px!important;
    margin-right:0px!important;
}

.margin-horizontal-xs {
    margin-left: calc(var(--rhythm) * 0.5);
    margin-right: calc(var(--rhythm) * 0.5);
}

.margin-horizontal-sm {
    margin-left: var(--rhythm);
    margin-right: var(--rhythm);
}

.margin-horizontal,
.margin-horizontal-md {
    margin-left: calc(var(--rhythm) * 2);
    margin-right: calc(var(--rhythm) * 2);
}

.margin-horizontal-lg {
    margin-left: calc(var(--rhythm) * 3);
    margin-right: calc(var(--rhythm) * 3);
}

.margin-top-none {
    margin-top: 0px!important;
}

.margin-top-xs {
    margin-top: calc(var(--rhythm) * 0.5);
}

.margin-top-sm {
    margin-top: var(--rhythm);
}

.margin-top,
.margin-top-md {
    margin-top: calc(var(--rhythm) * 2);
}

.margin-top-lg {
    margin-top: calc(var(--rhythm) * 3);
}

.margin-bottom-none {
    margin-bottom:0px!important;
}

.margin-bottom-xs {
    margin-bottom: calc(var(--rhythm) * 0.5);
}

.margin-bottom-sm {
    margin-bottom: var(--rhythm);
}

.margin-bottom,
.margin-bottom-md {
    margin-bottom: calc(var(--rhythm) * 2);
}

.margin-bottom-lg {
    margin-bottom: calc(var(--rhythm) * 3);
}

.margin-left-none {
    margin-left:0px!important;
}

.margin-left-xs {
    margin-left: calc(var(--rhythm) * 0.5);
}

.margin-left-sm {
    margin-left: var(--rhythm);
}

.margin-left,
.margin-left-md {
    margin-left: calc(var(--rhythm) * 2);
}

.margin-left-lg {
    margin-left: calc(var(--rhythm) * 3);
}

.margin-right-none {
    margin-right:0px!important;
}

.margin-right-xs {
    margin-right: calc(var(--rhythm) * 0.5);
}

.margin-right-sm {
    margin-right: var(--rhythm);
}

.magin-right,
.margin-right-md {
    margin-right: calc(var(--rhythm) * 2);
}

.margin-right-lg {
    margin-right: calc(var(--rhythm) * 3);
}

/******************************************
 * Padding Spacing
 ******************************************/

.padding-xs {
    padding:calc(var(--rhythm) * 0.5);
}

.padding-sm {
    padding:var(--rhythm);
}

.padding-md {
    padding:calc(var(--rhythm) * 2);
}

.padding-lg {
    padding:calc(var(--rhythm) * 3);
}

/******************************************
 * Display Styles
 ******************************************/

.block {
    display:block;
    width:100%;
}

.inline-block {
	display:inline-block;
}

.inline {
	display:inline;
}

.align-left {
    text-align:left;
}

.align-center {
    text-align:center;
}

.align-right {
    text-align:right;
}

.float-right {
    float:right;
}

.float-left {
    float:left;
}

.float-clear {
    float:unset;
}

.nowrap {
    white-space: nowrap;
}

/******************************************
 * Geometry (Squares and Circles)
 ******************************************/

.square {
    aspect-ratio:1;
}

.square-24 {
    height:24px;
    width:24px;
}

.square-32 {
    height:32px;
    width:32px;
}

.square-48 {
    height:48px;
    width:48px;
}

.square-64 {
    height:64px;
    width:64px;
}

.circle-24 {
	height:24px;
	width:24px;
	border-radius:12px;
	background-color:var(--gray30);
}

.circle-32 {
    height:32px;
    width:32px;
    border-radius:16px;
	background-color:var(--gray30);
}

.circle-48 {
    height:48px;
    width:48px;
    border-radius:24px;
	background-color:var(--gray30);
}

.circle-64 {
    height:64px;
    width:64px;
    border-radius:32px;
	background-color:var(--gray30);
}


/******************************************
 * MISC WIDGETS
 ******************************************/

.info {
	display:block;
	border:solid 1px var(--blue20);
	border-radius:10px;
	background-color:var(--blue10);
	color:var(--gray90);
	padding:15px 15px;
	margin-bottom:40px;
}

.info > .info-marker {
	float:left;
	margin-right:15px;
	color:var(--blue60);
}

/******************************************
 * PLACEHOLDER
 ******************************************/

.placeholder-gray {
	background-color:var(--gray30);
}

/******************************************
 * Hover Show/Hide
 ******************************************/

@media(hover: hover) {
    .hover-reveal {
        opacity:0;
    }

    .hover-reveal:focus {
        opacity:1;
    }

    .hover-trigger:hover .hover-reveal {
        opacity:1;
    }
}
