<div class="page">

	<h1>Settings</h1>

	<div id="menu-bar" hx-push-url="true">
		{{- $token := .Token -}}
		{{- range .AdminSections -}}
			<a hx-get="/admin/{{.Value}}" class="{{if eq $token .Value}}selected{{end}}">{{.Label}}</a>
		{{- end -}}
	</div>

	<article>
		<h3>LOL.</h3> 
		This website doesn't track you or your guests.<br><br>
		It's not about spyware or survillance capitalism.
		It's about you, your friends and family, and the connections you share together. <br><br>
		So relax, go get outside, then share your adventures with the people who matter most.
	</article>

</div>