{{- $folders := .FoldersWithSelection}}
{{- $folder := $folders.Selected}}

{{- $inbox := .Inbox.Top12.Slice -}}
{{- $folderID := .QueryParam "folderId" -}}
{{- $internalID := .QueryParam "origin.internalId" -}}
{{- $rank := .QueryParam "rank" -}}

{{ if eq "" (.QueryParam "remote")}}

	{{- if gt $folder.ReadDate 0 -}}

	<div 
		hx-get="/@me/inbox-list-before?folderId={{$folderID}}&origin.internalId={{$internalID}}&rank=LT:{{$folder.ReadDate}}"
		hx-target="this"
		hx-swap="beforebegin"
		hx-push-url="false"
		role="button"
		class="space-below">
		<div class="text-sm text-gray" style="margin:0px;">
			&uarr; Older Posts &bull; click to view
		</div>
		<div style="border-top:solid 2px red;"></div>
		<div class="text-sm text-red" style="margin:0px;">
			&darr; New Posts &bull; {{ $folder.ReadDateSeconds | longDate }}
		</div>
	</div>

	{{- end -}}
	
{{- end -}}

{{- if gt (len  $inbox) 0 -}}

	{{- range $index, $message := $inbox -}}

		<div 
			id="item_{{.MessageID.Hex}}" 
			role="button"
			class="message"
			style="max-width:640px;"
			hx-get="/@me/message-{{$folder.Layout | lowerCase }}?messageId={{.MessageID.Hex}}&origin.internalId={{$internalID}}"
			hx-push-url="false">

			{{- if eq "SOCIAL" $folder.Layout -}}
				{{- template "inbox-list-social" $message -}}
			{{- else if eq "CHAT" $folder.Layout -}}
				{{- template "inbox-list-chat" $message -}}
			{{- else if eq "NEWSPAPER" $folder.Layout -}}
				{{- template "inbox-list-newspaper" $message -}}
			{{- else if eq "MAGAZINE" $folder.Layout -}}
				{{- template "inbox-list-magazine" $message -}}
			{{- else -}}
				{{- template "inbox-list-social" $message -}}
			{{- end -}}
			
		</div>

		{{- template "message-response" $message -}}

		<hr>

	{{- end -}}

	<!-- Target zone to load additional pages once we scroll down this far -->
	{{- $lastMessage := $inbox.Last -}}
	<div 
		hx-get="/@me/inbox-list?folderId={{$folderID}}&origin.internalId={{$internalID}}&rank=GT:{{$lastMessage.Rank}}&remote=true"
		hx-push-url="false" 
		hx-trigger="intersect once delay:100ms" 
		hx-target="this" 
		hx-swap="outerHTML">
		<hr>
		<div><span class="spin">{{icon "loading"}}</span> Loading...</div>
	</div>

	<!-- Target zone to update the folder read date once we scroll down this far -->
	{{- if eq "" $internalID -}}
		<div
			hx-post="/@me/pub/folder/readDate?folderId={{$folderID}}&origin.internalId={{$internalID}}readDate={{$lastMessage.Rank}}"
			hx-push-url="false"
			hx-trigger="intersect once">
		</div>
	{{- end -}}

{{- else if eq "" (.QueryParam "remote") -}}

	<h2 class="text-gray">There are no new messages in this inbox.</h2>

{{- end -}}
