{{- $author := .Message.Author -}}

<div script="install message(folderId:'{{.Message.FolderID.Hex}}', readDate:'{{.Message.Rank}}')">
	<div class="float-right text-sm" style="margin-top:var(--rhythm); line-height:calc(var(--rhythm) * 6);">
		<button script="on click send closeModal">Close</button>
	</div>

	<div class="ellipsis text-lg">
		<a href="{{$author.ProfileURL}}" class="flex-row">
			{{- if ne "" $author.ImageURL -}}
				<img src="{{$author.ImageURL}}" class="circle" style="height:1.5em;">
			{{- end -}}

			<span class="bold black">{{$author.Name}}</span>
			<span class="text-gray">
				&nbsp;
				{{ icon .Message.Origin.Icon }}
				{{ .Message.PublishDate | tinyDate }}
			</span>
		</a>
	</div>

	<div class="text-sm">

		<span class="button-group">
			<button id="previous" hx-get="/@me/message-social?rank=LT:{{.Message.Rank}}&folderId={{.Message.FolderID.Hex}}&origin.internalId={{.QueryParam `origin.internalId`}}">&laquo; Prev</button>
			<button id="next" hx-get="/@me/message-social?rank=GT:{{.Message.Rank}}&folderId={{.Message.FolderID.Hex}}&origin.internalId={{.QueryParam `origin.internalId`}}">Next &raquo;</button>
		</span>

		<span class="button-group">
			<button hx-get="/@me/following-edit?followingId={{.Message.Origin.InternalID.Hex}}">Edit Source</button>
			<button hx-get="/@me/message-delete?messageId={{.Message.MessageID.Hex}}">Delete</button>
			<button hx-get="/@me/block-new?messageId={{.Message.MessageID.Hex}}">Block</button>
		</span>

	</div>

	<hr/>

	<div class="content">

		{{- if ne "" .Message.Document.Label -}}
			<h3>{{.Message.Document.Label}}</h3>
		{{- end -}}

		{{- if ne "" .Message.Document.ImageURL -}}
			<div class="space-below">
				<img src="{{.Message.Document.ImageURL}}" style="max-width:100%">
			</div>
		{{- end -}}

		<div>{{.Message.Document.Summary}}</div>
		<div>{{.Message.ContentHTML | html}}</div>
	</div>
	<hr>
	-- REPLIES HERE --
	<hr>
	-- ADD A REPLY HERE --
	
</div>