{{- $outbox := .Outbox.Top12.ByPublishDate.Reverse.Slice -}}

{{- if ne 0 (len $outbox) -}}

	{{- $lastIndex := subtract (len $outbox) 1 -}}
	{{- $last := index $outbox $lastIndex -}}
	{{- $userCanEdit := .UserCan "profile-edit" -}}

	{{- range $outbox -}}
		{{- $author := .Author -}}
		<hr>
		<div class="hover-trigger">
			{{- if $userCanEdit -}}
				<div class="float-right hover-reveal text-sm">
					<button hx-get="/{{.StreamID}}/edit">Edit</button>
				</div>
			{{- end -}}
			<div hx-get="/{{.Token}}" hx-push-url="true" role="link" class="flex-row h-entry space-below">
				<div style="height:60px; width:60px;">
					<div class="circle aspect-square placeholder-gray" style="height:60px; width:60px;">
						{{- if ne $author.ImageURL "" -}}
							<img src="{{$author.ImageURL}}" class="circle" style="height:60px; width:60px;" onerror="this.style.display='none'">
						{{- end -}}
					</div>
				</div>
				<div style="flex-grow:1">
					<div style="max-width:600px;">
						<div class="p-author h-card text-sm gray50" style="margin:0px;">
							{{- if ne "" $author.Name -}}
								<span class="p-name">{{$author.Name}}</span>
								&middot;
							{{- end -}}
							<span class="p-published">{{.PublishDate | humanizeTime}}</span>
						</div>
						<div class="h-name bold black">{{.Document.Label}}</div>
						<div class="h-summary black">{{.Document.Summary | html }}</div>
						{{- if ne .Document.ImageURL ""}}
							<div style="margin-top:var(--rhythm);">
								<img src="{{.Document.ImageURL}}?width=600" style="border:solid 1px var(--gray40); border-radius:16px; max-width:100%; object-fit:contain;">
							</div>
						{{- end -}}
					</div>
				</div>
			</div>
		</div>
	{{- end -}}

	<div hx-get="{{.ProfileURL}}/outbox-list?publishDate=LT:{{$last.PublishDate}}" hx-push-url="false" hx-trigger="intersect once" hx-target="#loading" hx-swap="outerHTML"></div>
	<div id="loading">Just a sec...</div>

{{- end -}}
