<div class="framed page app" hx-get="{{.URL}}" hx-trigger="refreshPage from:window" hx-target="this" hx-swap="outerHTML">

	<title>{{.BlockCount}} Blocks | {{.DisplayName}}</title>

	{{ .View "profile-sidebar" }}

	<div class="app-content">

		{{- if .UserCan "profile-edit" -}}
			<div role="tablist" class="underlined space-below" hx-push-url="true">
				<span role="tab" hx-get="/@{{.UserID}}">{{icon "outbox"}} Posts</span>
				<span role="tab" hx-get="/@{{.UserID}}/following">{{icon "star"}} Following</span>
				<span role="tab" hx-get="/@{{.UserID}}/followers">{{icon "person"}} Followers</span>
				<span role="tab" aria-selected="true">{{icon "block-fill"}} Blocks</span>
			</div>
		{{- end -}}
			
		<button hx-get="/@me/add-block">Add Block</button>


		<div>
			{{.Blocks.Slice}}
		</div>
	</div>

</div>