.card-group {
    margin-right: -5px;
}

.card {
    box-sizing: border-box;
    border: solid 1px var(--gray20);
    background-color: var(--white);
    margin-right: 5px;
    margin-bottom:5px;
    position:relative;
}


@media screen and (min-width:64em) {
    .card-group {
        margin-right: -20px;
    }
    .card {
        margin: 0px 20px 20px 0px;
    }
}