div.container-COLUMNS {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-right: -20px;
}

div.container-COLUMNS > div.container-item {
    margin-right:20px;
}

div.container-COLUMNS-1 > div.container-item {

}

div.container-COLUMNS-2 > div.container-item {

}

div.container-COLUMNS-3 > div.container-item {

}

div.container-COLUMNS-4 > div.container-item {

}

div.container-COLUMNS-5 > div.container-item {

}

div.container-COLUMNS-6 > div.container-item {

}
