body {
	position:absolute;
	height:100%;
	width:100%;
	background-color: var(--gray10);
	color: var(--black);
	box-sizing: border-box;
}

#menu {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	width:250px;
    color: var(black);
	font-weight:300;
	background-color: var(--gray20);
	border-right: solid 1px var(--gray40);
	overflow-y: scroll;
	overflow-x: hidden;
	z-index:2;
	box-sizing: border-box;
}

#menu > a {
    color: var(--black);
    display:block;
	padding:5px 10px;
}


#menu > a:hover {
    background-color:var(--gray30);
    color: var(--black);
}

#menu-bar {
	position:absolute;
	top: 0px;
	right: 0px;
	width: auto;
	padding:10px 5px 5px 10px;
	box-sizing: border-box;
	text-align:right;
	background-color: var(--white);
}

#menu-bar button,
#menu-bar .button {
	font-size:10pt;
	padding: 5px 10px;
	margin-right:2px;
}

#breadcrumbs {
	margin-bottom:20px;
}

#main {
	padding:10px 20px 10px 270px;
	width:100%;
	max-width:100%;
	box-sizing: border-box;
}

.grid {
    display: flexbox;
    flex-direction: row;
}
