/****************************
 * Page-Layout classes
 ****************************/

* {
	 box-sizing: border-box;
}

body {
	position:absolute;
	height:100%;
	width:100%;
	background-color: var(--gray05);
	color: var(--black);

	display: flex;
	flex-direction:column-reverse;
	justify-content: flex-end;
}

header {
	position:sticky;
	top:0px;
	left: 0px;
	right: 0px;

    color: var(--gray30);
	font-weight:300;
	background-color: var(--gray90);
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
}

header .framed {
	display: flex;
}

header .framed div {
	display: flex;
	flex-grow:1;
	justify-content: flex-start;
}

header .framed div:last-child {
	justify-content: flex-end;
}

header a {
    color: var(--gray30);
    display:inline-block;
	padding:10px 20px;
	border-radius: 10px;
	margin:10px 0px;
}

header a:hover {
    color: var(--white);
    background-color:var(--gray80);
}

main {
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

.page {
    border: solid 1px var(--gray10);
    background-color: var(--white);
    padding: 20px;
    position:relative;
	line-height:175%;
	margin-bottom: 50px;
}

#menu-bar {
	position:absolute;
	top: 0px;
	right: 0px;
	width: auto;
	text-align:right;
}

.page #menu-bar {
	top: 10px;
	right: 10px;
}

#menu-bar button,
#menu-bar .button {
	font-size:10pt;
	padding: 5px 10px;
	margin-right:2px;
}

#breadcrumbs {
	margin-bottom:20px;
}
