body {
	position:absolute;
	height:100%;
	width:100%;
	background-color: white;
	box-sizing: border-box;
}

#menu {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	width:250px;
    color: rgb(60,60,60);
	background-color: #f2f4f8;
	border-right: solid 1px #dde1e6;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index:2;
	box-sizing: border-box;
}

#menu > a {
    color: black;
    display:block;
	padding:5px 10px;
}


#menu > a:hover {
    background-color:#dde1e6;
    color: black;
}

#menu-bar {
	position:sticky;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #f2f4f8;
	border-bottom: solid 1px #dde1e6;
	padding:5px;
	text-align:right;
	box-sizing: border-box;
}

#menu-bar button,
#menu-bar .button {
	font-size:10pt;
	padding: 5px 10px;
	margin-right:2px;
}

#main {
	padding:10px 20px 10px 270px;
	width:100%;
	max-width:100%;
	box-sizing: border-box;
}

.grid {
    display: flexbox;
    flex-direction: row;
}

.card {
    border: solid 1px #f8f8f8;
    padding:20px;
}