table.table {
    width:100%;
    border-bottom: solid 1px var(--gray20);
    border-spacing: 0px;
}

table.table th {
    font-weight:600;
    text-align:left;
}

table.table th,
table.table td {
    padding: 10px 20px;
    vertical-align: top;
}

table.table td {
    border-top: solid 1px var(--gray20);
    font-weight:300;
}

table.table tr:hover td {
    background-color:var(--gray20);
    cursor:pointer;
}