
h1 {
    font-size: 24pt;
    margin-top:30px;
    margin-bottom:10px;
    font-weight:600;
}

h2 {
    font-size: 20pt;
    margin-top:30px;
    margin-bottom:10px;
    font-weight:600;
}

h3 {
    font-size: 18pt;
    margin-top:30px;
    margin-bottom:10px;
    font-weight:500;
}

h1:first-child,
h2:first-child,
h3:first-child {
    margin-top: 0px;
}
