a, .link {
	color:#0043ce;
	text-decoration:none;
}

a:hover,
.link:hover,
tr.link:hover > td {
	cursor:pointer;
	color: #0f62fe;
	--background-color:#f4f4f4;
}

.clickable {
	cursor:pointer;
}

b, strong, .bold {
	font-weight:600;
}

.hidden {display:none}

.space-above,
.space-before {
	margin-top: 20px;
}

.space-below,
.space-after {
	margin-bottom: 20px;
}

.space-left {
	margin-left:20px;
}

.space-right {
	margin-right: 20px;
}

[stream].htmx-settling {
	background-color:yellow;
}