<div class="flex-row hover-trigger">
	<div class="width-60 align-center clickable" hx-get="/{{.ThreadID}}/reply">
		<div>{{.Avatar .AuthorImage 60}}</div>
	</div>
	<div class="clickable">
		<div class="flex-row">
			<div hx-get="/{{.ThreadID}}/reply">
				<span class="bold">{{.AuthorName}}</span> &middot;
				<span class="gray50" script="install PrettyDate(date:{{.CreateDate}})">&nbsp;</span>
				{{- if .IsReply -}}
					<span class="gray50">&nbsp;<i class="ti ti-arrow-big-left-lines"></i></span>
				{{- end -}}
			</div>
			<div class="align-right text-xs">
				<button hx-get="/{{.ThreadID}}/reply" class="hover-reveal">Reply</button>
				{{- if .UserCan "edit" -}}
					<button hx-get="/{{.Token}}/edit" class="hover-reveal">Edit</button>
				{{- end -}}
				{{- if .UserCan "delete" -}}
					<button hx-get="/{{.Token}}/delete" class="hover-reveal">Delete</button>
				{{- end -}}
			</div>
		</div>
		<div hx-get="/{{.ThreadID}}/reply">{{.DescriptionHTML}}</div>
	</div>
</div>