<span class="clickable gray40 float-right" data-script="on click trigger closeModal">{{icon "cancel"}}</span>

<h1>Replies</h1>

<div class="flex-row space-below">
	<div class="width-40 align-center">
		{{.Avatar .AuthorImage 40}}
	</div>
	<div>
		<div>{{.DescriptionHTML}}</div>
		<div class="text-sm gray40">
			<span>{{.AuthorName}}</span> &middot;
			<span script="install PrettyDate(date:{{.CreateDate}})">&nbsp;</span>
		</div>
	</div>
</div>

{{- $replies := .Replies.All.ByCreateDate.View -}}

{{- range $replies -}}
	<div class="flex-row space-below">
		<div class="width-40 align-center">
			{{.Avatar .AuthorImage 40}}
		</div>
		<div>
			<div>{{.DescriptionHTML}}</div>
			<div class="gray40 text-sm">
				<span>{{.AuthorName}}</span> &middot;
				<span script="install PrettyDate(date:{{.CreateDate}})">&nbsp;</span>
			</div>
		</div>
	</div>
{{- end -}}

<div class="flex-row space-above"  style="padding:20px; margin:-20px; background-color:var(--gray10);">
	<div class="width-40 align-center">
		{{.Avatar .UserImage 40}}
	</div>
	<form hx-post="/{{.Token}}/reply" hx-swap="none" hx-push-url="false" hx-trigger="autosubmit">
		<input type="hidden" name="description">
		<input type="hidden" name="inReplyTo" value="{{.StreamID}}">
		<div class="wysiwyg" script="install wysiwyg(name:'description')">
			<div class="wysiwyg-editor" contenteditable="true" tabIndex="0" script="install autosubmit"></div>
		</div>
		<div class="text-xs gray40">SHIFT+ENTER for new line. &mdash;  ENTER to send</div>
	</form>
</div>

<script type="text/hyperscript" src="/static/nebula/wysiwyg-autosubmit._hs"></script>
<script type="text/hyperscript" src="/static/nebula/wysiwyg._hs"></script>
