{{- $privileges := .Privileges.ByCreateDate.Reverse.Slice -}}
{{- $hasActivityPubActor := .HasActivityPubActor -}}

<div class="page app" script="on load take .selected from .nav-item for #nav-settings">

	{{- if .IsAuthenticated -}}
		<div id="app-sidebar" class="app-sidebar">
			<div class="bold text-xl margin-none margin-bottom">Settings</div>
	
			<a href="/@me/settings/following" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "star"}} Following</a>
			<a href="/@me/settings/followers" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "person"}} Followers</a>
			<a href="/@me/settings/circles" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "circle"}} Circles</a>
			<a href="/@me/settings/payments" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "credit-card-fill"}} Payments</a>
			<a href="/@me/settings/rules" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "rule"}} Rules</a>
			<a href="/@guest" class="turboclick menu-item ellipsis selected">{{icon "user-fill"}} Guest Profile</a>
			<hr>
			<a hx-post="/signout" class="button">Sign Out</a>
		</div>
	{{- end -}}

	<div class="app-content">
		<h1 class="text-xl bold margin-none">Guest Profile</h1>

		<div class="margin-top rounded card padding flex-row flex-align-start" style="width:min-content;">
			<div class="margin-horizontal">
				<span style="font-size:64px;">{{icon "person-circle"}}</span>
			</div>

			<div class="flex-column flex-align-stretch flex-grow table">
				<div hx-get="/@guest/edit" class="clickable flex-row flex-align-center">
					<div class="flex-grow text-lg bold margin-none margin-right-sm">{{.Name}}</div>
					<span class="button text-xs">change</span>
				</div>

				<div hx-get="/@guest/webfinger" class="clickable flex-row flex-align-center">
					<div class="flex-grow margin-right-sm ellipsis">
						{{icon "fediverse"}} 
						{{ if $hasActivityPubActor -}}
							{{.ActivityPubActor}}
						{{- else -}}
							<span class="text-green">Add Your Fediverse Handle</span>
						{{- end -}}
					</div>
					<span class="button text-xs">
						{{- if $hasActivityPubActor -}}
							change
						{{- else -}}
							connect
						{{- end -}}
					</span>					
				</div>

				<div hx-get="/@guest/email" class="clickable flex-row flex-align-center">
					<div class="flex-grow margin-right-sm ellipsis">
						{{icon "email"}} 
						{{ if .HasEmailAddress -}}
							{{.EmailAddress}}
						{{- else -}}
							<span class="text-green">Add Your Email Address</span>
						{{- end -}}
					</div>

					<span class="button text-xs">
						{{- if .HasEmailAddress -}}
							change
						{{- else -}}
							connect
						{{- end -}}							
					</span>
				</div>

				{{- if not .IsAuthenticated -}}
					<div>
						<button hx-post="/signout" class="button text-sm">Sign Out</button>
					</div>
				{{- end -}}

			</div>
		</div>

		{{- if $privileges.IsEmpty -}}
			<h1 class="text-xl bold margin-top-xl">No Purchases</h1>
			You haven't made any purchases on this server yet.
		{{- else -}}

			{{- $privilegedStreams := .PrivilegedStreams $privileges -}}
			<h1 class="text-xl bold margin-top-xl">My Purchases</h1>

			<table class="table">
				{{- range $index, $privilege := $privileges -}}
					<tr>
						<td class="padding-vertical width-33%">
							<div class="bold text-lg margin-none">{{ $privilege.Name }}</div>
							<div class="text-sm text-light-gray">{{ $privilege.PriceDescription }}</div>
							<div class="text-sm text-light-gray margin-bottom">{{ $privilege.CreateDate | shortDate }}</div>

							{{- if $privilege.IsRecurring -}}
								<span class="link" hx-get="/@guest/delete/{{$privilege.ID}}">Cancel Subscription</span>
							{{- else -}}
								<span class="link" hx-get="/@guest/delete/{{$privilege.ID}}">Refund Info</span>
							{{- end -}}
						</td>
						<td class="padding width-66%">

							{{- if $privilege.IsCircle -}}
								{{- if not $hasActivityPubActor -}}
									<div class="md:flex-row">

										<div class="margin-right margin-bottom">
											<div class="rounded square width-96"></div>
										</div>

										<div class="margin-bottom">
											<button class="primary padding-vertical-sm margin-bottom-sm" hx-get="/@guest/webfinger">Add Your Fediverse Handle &rarr;</button>
											<div class="text-sm text-light-gray">
												Get fast updates in your inbox when you connect this subscription to your Fediverse Handle.
											</div>
										</div>
									</div>
								{{- end -}}
							{{- end -}}

							{{- range $index, $compoundID := $privilege.CompoundIDs -}}
								{{- $streamIDs := index $privilegedStreams $compoundID -}}
								{{- range $index, $streamID := $streamIDs -}}
									<div hx-get="/{{$streamID.Hex}}/paid-content" hx-trigger="revealed" hx-target="this" hx-swap="innerHTML" hx-push-url="false"></div>
								{{- end -}}
							{{- end -}}
						</td>
					</tr>
				{{- end -}}
			</table>
			
		{{- end -}}

	</div>
	
	<div 
		hx-get="{{.URL}}" 
		hx-trigger="refreshPage from:window, focus from:window"
		hx-target="#main" 
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>
	
</div>