{{- $privileges := .Privileges.Slice -}}

<div class="page app" script="on load take .selected from .nav-item for #nav-settings">

	{{- if .IsAuthenticated -}}
		<div class="app-sidebar">
			<div class="bold text-xl margin-none margin-bottom">Settings</div>
	
			<a href="/@me/settings/following" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "star"}} Following</a>
			<a href="/@me/settings/followers" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "person"}} Followers</a>
			<a href="/@me/settings/circles" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "circle"}} Circles</a>
			<a href="/@me/settings/payments" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "credit-card-fill"}} Payments</a>
			<a href="/@me/settings/rules" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "rule"}} Rules</a>
			<a href="/@guest" class="turboclick menu-item ellipsis selected">{{icon "user-fill"}} Guest Profile</a>
			<hr>
			<a hx-post="/signout" class="button text-xs">Sign Out</a>
		</div>
	{{- end -}}

	<div class="app-content">
		<h1 class="margin-top">{{icon "person-circle"}} {{.Name}}</h1>

		<div class="margin-bottom text-gray">
			{{- if .HasWebfingerHandle -}}
				<div>{{icon "fediverse"}} {{ .WebfingerHandle -}}</div>
			{{- end -}}

			{{- if .HasEmailAddress -}}
				<div>{{icon "email"}} {{ .EmailAddress -}}</div>
			{{- end -}}
		</div>

		<div class="margin-bottom text-sm">
			{{- if not .HasWebfingerHandle -}}
				<button>Add Fediverse Handle</button>
			{{- end -}}

			{{- if not .HasEmailAddress -}}
				<button>Add Email Address</button>
			{{- end -}}
		</div>

		{{- if not .IsAuthenticated -}}
			<button hx-post="/signout" class="button text-sm">Sign Out</button>
		{{- end -}}
	</div>
	
</div>