{{- $siblings := .Siblings.Slice -}}
{{- $parentID := .ParentID -}}
{{- $streamID := .StreamID -}}

<div class="widget widget-ancestors-siblings" hx-target="main" hx-swap="innerHTML" hx-push-url="true">

	{{- if .HasParent }}
		{{- $parent := .Parent "view" -}}
		<div class="ellipsis"><a href="/{{$parent.StreamID}}" hx-get="/{{$parent.StreamID}}" class="turboclick">{{$parent.Label}}</a></div>
	{{- end -}}

	{{- range $index, $sibling := $siblings -}}
		{{- if eq $streamID $sibling.StreamID -}}
			<div class="ellipsis bold">{{.Label}}</div>
		{{- else -}}
			<div class="ellipsis"><a href="/{{$sibling.StreamID}}" hx-get="/{{$sibling.StreamID}}" class="turboclick">{{.Label}}</a></div>
		{{- end -}}
	{{- end -}}
</div>