<div style="max-width:900px;">

	{{- if .HasParent -}}
		{{- $parent := .Parent "view" -}}
		<div class="space-after">
			<a href="/{{$parent.Token}}" hx-get="/{{$parent.Token}}">&laquo; {{$parent.Label}}.</a>
		</div>
	{{- end -}}

	<h1 class="space-after" style="vertical-align:middle;">
		<a href="{{.OriginURL}}" target="_blank" rel="noreferrer">{{.Label}}</a>
	</h1>

	{{- if ne .Description "" -}}
	<article class="space-after">
		<div>{{.Description}}</div>
	</article>
	{{- end -}}

	<article class="space-after">
		<div>{{.Content}}</div>
	</article>

</div>

<style>
	img {max-width:100%;}
</style>