<div class="page" hx-get="/admin/connections/index" hx-trigger="refreshPage from:body">

	<h1>Settings</h1>

	<div id="menu-bar" hx-push-url="true">
		{{- $token := .Token -}}
		{{- range .AdminSections -}}
			<a hx-get="/admin/{{.Value}}" class="{{if eq $token .Value}}selected{{end}}">{{.Label}}</a>
		{{- end -}}
	</div>

	<div class="pure-g">

		{{- $renderer := . -}}
		{{- range .Providers -}}
			{{ $client := $renderer.Client .Value }}
			{{- if eq .Group "OAUTH" -}}
				<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
					<div class="card align-center">
						<div class="text-3xl">{{icon .Icon}}</div>
						<div class="space-below text-lg bold">{{.Label}}</div>
						<div class="space-below">
							{{- if $client.Active -}}
								<a class="button success" hx-get="/admin/connections/edit/provider={{.Value}}">{{icon "check"}} Enabled</a>
							{{- else -}}
								<a class="button" href="/oauth/{{.Value}}">Connect</a>
							{{- end -}}
						</div>
					</div>
				</div>
			{{- end -}}

			{{- if eq .Group "MANUAL" -}}
				<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
					<div class="card align-center">
						<div class="text-3xl">{{icon .Icon}}</div>
						<div class="space-below text-lg bold">{{.Label}}</div>
						<div class="space-below">
							{{- if $client.Active -}}
								<a class="button success" hx-get="/admin/connections/edit?provider={{.Value}}">{{icon "check"}} Enabled</a>
							{{- else -}}
								<a class="button" hx-get="/admin/connections/edit?provider={{.Value}}">Connect</a>
							{{- end -}}
						</div>
					</div>
				</div>
			{{- end -}}
		{{- end -}}

	</div>
</div>