{{- $identity := .Object -}}
{{- $privileges := .Privileges.Slice -}}
<div class="page" script="on load take .selected from .nav-item for #nav-settings">

	{{- if .IsAuthenticated -}}
		<div>
			<a href="/@me/settings">&larr; Back to My Settings</a>
		</div>
	{{- end -}}

	<h1 class="margin-top">{{$identity.Name}}</h1>

	{{- if ne "" $identity.WebfingerHandle -}}
		{{- if ne $identity.Name $identity.WebfingerHandle -}}
			<div>Fediverse: {{- $identity.WebfingerHandle -}}</div>
		{{- end -}}
	{{- end -}}

	{{- if ne "" $identity.EmailAddress -}}
		{{- if ne $identity.Name $identity.EmailAddress -}}
			<div>Email: {{- $identity.EmailAddress -}}</div>
		{{- end -}}
	{{- end -}}



	woot! woot!

	<pre>{{$identity |jsonIndent}}</pre>
	<pre>{{$privileges |jsonIndent}}</pre>

</div>