{{- $results := .Children.ByUpdateDate.Reverse.Top30.View -}}
{{- if not $results.IsEmpty -}}

	{{- $last := last $results -}}

	<tbody
		hx-get="/{{.Token}}/children?journal.updateDate=lt:{{$results.Last.UpdateDate}}" 
		hx-push-url="false"
		hx-trigger="revealed" 
		hx-target="#children" 
		hx-swap="beforeend">

		{{- range $results -}}
			<tr hx-get="/{{.Token}}" hx-target="#main" hx-swap="innerHTML" hx-push-url="true" role="link">
				<td>
					<div class="bold">{{.Label}}</div>
					<div class="text-sm">
						<span class="gray40">{{.DescriptionSummary}}</span>
						<span script="install PrettyDate(date:{{.UpdateDate}})">&nbsp;</span>
					</div>
					<div class="text-sm">
						
					</div>
				</td>
			</tr>
		{{- end -}}

	</tbody>

{{- end -}}	