{{- $results := reverse (.Children.ByCreateDate.Reverse.Top6.Action "list-item") -}}
{{- if not $results.IsEmpty -}}

	{{- $first := head $results -}}

	{{- if $results.IsLength 6 -}}
		<div class="align-center">
			<button class="text-sm"
			hx-get="/{{.Token}}/children-before?journal.createDate=lt:{{$first.CreateDate}}" 
			hx-push-url="false"
			hx-target="closest div" 
			hx-swap="outerHTML"
			data-script="on click measure me then set position to (result.y-70) then wait 100ms then window.scrollBy({'top':position, 'behavior':'smooth'})">Show Older Messages</button>
		</div>
	{{- end -}}

	{{- range $results -}}
		{{.Render}}
	{{- end -}}
	
{{- end -}}	