<!DOCTYPE html>
<html>
<head>
	<title>GH0ST</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.6/css/uikit.min.css">
	<link rel="stylesheet" href="/r/stylesheet.css">
</head>
<body hx-boost="true" hx-target="#stream" hx-push-url="true">
	<div>GLOBAL NAVIGATION HERE</div><hr>

	<div id="stream">
		<div hx-sse="connect:/{{.Token}}/views/{{.View}}/sse swap:{{.StreamID}}">
			<div id="stream-updates">
				{{.InnerHTML}}
			</div>
		</div>
	</div>

</body>
<script src="https://unpkg.com/htmx.org@0.1.2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.6/js/uikit.min.js"></script>
</html>
