/***************************
 * CONTENT EDITOR
 ***************************/

/* Omitted for now, until there's something to put in here...
.content-editor {}
*/

/***************************
 * LAYOUT
 ***************************/

div.nebula-layout {
	display:flex;
	flex-grow:1;
	box-sizing: border-box;
	position:relative;
	align-items:stretch;
	align-content: top;
	padding:10px;
}

div.nebula-layout[data-style=ROWS] {
	flex-direction:column;
}

div.nebula-layout[data-style=COLS] {
	flex-direction:row;
}

div.nebula-layout div.nebula-layout {
	padding:0px;
} 

/***************************
 * ITEMS
 ***************************/

div.nebula-layout > div.nebula-layout-item {
	position:relative;
	background-color:var(--gray05);
	padding: 10px;
	display: flex;
}

div.nebula-layout[data-style=COLS] > div.nebula-layout-item {
	padding-left: 10px;
}

div.nebula-layout[data-style=ROWS] > div.nebula-layout-item {
	padding-top: 10px;
}

div.nebula-layout[data-style=COLS] > div.nebula-layout-item:not(:first-of-type) {
	padding-left: 0px;
}

div.nebula-layout[data-style=ROWS] > div.nebula-layout-item:not(:first-of-type) {
	padding-top: 0px;
}

/** Special rules for Rows IN Columns **/
div.nebula-layout[data-style=COLS] > div.nebula-layout-item > div.nebula-layout[data-style=ROWS] > div.nebula-layout-item:first-of-type{
	padding-top: 0px;
}

div.nebula-layout[data-style=COLS] > div.nebula-layout-item > div.nebula-layout[data-style=ROWS] > div.nebula-layout-item:first-of-type > span.nebula-layout-insert[data-place=ABOVE] {
	display:none;
}

div.nebula-layout[data-style=COLS] > div.nebula-layout-item > div.nebula-layout[data-style=ROWS] > div.nebula-layout-item:last-of-type{
	padding-bottom: 0px;
}

div.nebula-layout[data-style=COLS] > div.nebula-layout-item > div.nebula-layout[data-style=ROWS] > div.nebula-layout-item:last-of-type > span.nebula-layout-insert[data-place=BELOW] {
	display:none;
}

/** Special rules for Columns IN Rows **/
div.nebula-layout[data-style=ROWS] > div.nebula-layout-item > div.nebula-layout[data-style=COLS] > div.nebula-layout-item:first-of-type {
	padding-left: 0px;
}

div.nebula-layout[data-style=ROWS] > div.nebula-layout-item > div.nebula-layout[data-style=COLS] > div.nebula-layout-item:first-of-type > span.nebula-layout-insert[data-place=LEFT] {
	display:none;
}

div.nebula-layout[data-style=ROWS] > div.nebula-layout-item > div.nebula-layout[data-style=COLS] > div.nebula-layout-item:last-of-type{
	padding-right: 0px;
}

div.nebula-layout[data-style=ROWS] > div.nebula-layout-item > div.nebula-layout[data-style=COLS] > div.nebula-layout-item:last-of-type > span.nebula-layout-insert[data-place=RIGHT] {
	display:none;
}



/***************************
 * INSERTION POINTS 
 ***************************/

.nebula-layout-insert {
	display:block;
	position:absolute;
	z-index:2;
	background-color: var(--gray15);
	cursor: copy;
}

.nebula-layout-insert:hover {
	background-color:cornflowerblue;
	z-index:4;
}

.nebula-layout-insert[data-place=ABOVE] {
	top:0px;
	height:10px;
	left:0px;
	right:0px;
}

.nebula-layout-insert[data-place=BELOW]{
	bottom:0px;
	height:10px;
	left:0px;
	right:0px;
}

.nebula-layout-insert[data-place=LEFT] {
	left:0px;
	top:0px;
	bottom:0px;
	width:10px;
}

.nebula-layout-insert[data-place=RIGHT] {
	right:0px;
	top:0px;
	bottom:0px;
	width:10px;
}


/***************************
 * WYSIWYG
 ***************************/

.wysiwyg {
	box-sizing: border-box;
	position:relative;
	display:block;
	width:100%;
	background: var(--white);
}

.wysiwyg-toolbar {
	position: absolute;
	top: -40px;
	width:100%;
	z-index:3;
	display:block;
	padding:5px 0px 10px 0px;
	white-space: nowrap;
	overflow-x: scroll;
}

.wysiwyg-toolbar-group {
	margin-right: 10px;
}

.wysiwyg-toolbar button {
	margin:0px -1px 0px 0px;
	padding:8px 10px;
	border: solid 1px var(--gray20);
	border-radius:0px;
}

.wysiwyg-toolbar button:hover {
	background-color:cornflowerblue;
	border-color:cornflowerblue;
	color:white;
}

.wysiwyg-toolbar button:first-of-type {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.wysiwyg-toolbar button:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.wysiwyg-editor {
	width:100%;
	min-height:2em;
	padding:10px;
	z-index:10;
	border: solid 1px var(--gray30);
}
.wysiwyg-editor:focus{
	border:solid 1px cornflowerblue;
	outline:none;
}

/***************************
 * OEMBED
 ***************************/

.oEmbed {
	display:flex;
	align-items: center;
	justify-content: center;;
	flex-direction: column;
	min-height:100%;
	flex-grow:1;
	color: var(--gray40);
	border: solid 1px var(--gray30);
	text-align:center;
}

.oEmbed:focus {
	border: solid 1px cornflowerblue;
}

/***************************
 * FORM INPUTS
 ***************************/

form {
	width:100%;
	margin: 0px;
	padding:0px;
}

div.nebula-layout textarea {
	min-height:2em;
	height:100%;
	resize: none;
	background-color:var(--white);
	border: solid 1px var(--gray30);
}

div.nebula-layout textarea:focus {
	border: solid 1px cornflowerblue;
}