.uploader {
    border: 1px solid var(--gray40);
    font-family: sans-serif;
    cursor: pointer;
    background-color: var(--gray05);
    text-align:center;
}

.uploader.highlight {
    border: green 1px outset;
}

.uploader input[type="file"] {
    opacity:0;
    position:absolute;
}