.uploader {
    border: 1px dashed var(--gray60);
    font-family: sans-serif;
    cursor: pointer;
    background-color: var(--white);
    text-align:center;
}

.uploader.highlight {
    border-color: purple;
}

.uploader input[type="file"] {
    display:none;
}