.uploader {
    border: 1px dashed var(--gray60);
    font-family: sans-serif;
    padding: 40px;
    cursor: pointer;
    background-color: var(--white);
    text-align:center;
}

#drop-area.highlight {
    border-color: purple;
}