<link rel="stylesheet" href="/static/editor/editor.css">
<link rel="stylesheet" href="/static/editor/uploader.css">

<script src="https://www.unpkg.com/sortablejs@1.14.0/Sortable.min.js"></script>

<script type="text/hyperscript" src="/static/editor/autosize.hs"></script>
<script type="text/hyperscript" src="/static/editor/autosave.hs"></script>
<script type="text/hyperscript" src="/static/editor/sortable.hs"></script>
<script type="text/hyperscript" src="/static/editor/hotkey.hs"></script>
<script type="text/hyperscript" src="/static/editor/uploader.hs"></script>
<script type="text/hyperscript" src="/static/editor/wysiwyg.hs"></script>

<div class="page">

	<div hx-get="/{{.Token}}/heading" hx-trigger="refreshPage">
		{{.View "heading"}}
	</div>

	<div id="menu-bar">
		<div class="left">
			<button hx-get="/{{.Token}}/promote-draft" class="button primary">Promote</button>
			<button hx-get="/{{.Token}}">Save Draft</button>
			<button hx-get="/{{.Token}}/discard-draft">Discard Draft</button>
		</div>

		<div class="right">
			{{- if .UserCan "sharing" -}}
				<a hx-get="/{{.Token}}/sharing">Sharing</a>
			{{- end -}}

			{{- if .UserCan "properties" -}}
				<a hx-get="/{{.Token}}/properties">Info</a>
			{{- end -}}

			{{- if .UserCan "delete" -}}
				<a hx-get="/{{.Token}}/delete">Delete</a>
			{{- end -}}
		</div>

	</div>

	<article class="content-editor">
		{{.ContentEditor}}
	</article>
	
</div>