<div hx-sse="connect:/{{.StreamID}}/sse">
<div class="page" hx-get="/{{.Token}}" hx-trigger="sse:{{.StreamID}}, refreshPage from:body">

	{{- if eq .StateID "published" -}}
		<span style="color: green; float:right;"><i class="fa-regular fa-check"></i> PUBLISHED</span>
	{{- end -}}

	{{- if eq .StateID "unpublished" -}}
		<span style="color: red; float:right;"><i class="fa-regular fa-eye-slash"></i> NOT PUBLISHED</span>
	{{- end -}}

	<h1 class="space-after">{{.Label}}</h1>

	<div class="space-after">
		<div>{{.Description}}</div>
	</div>

	{{- if .UserCan "edit" -}}
		<div id="menu-bar">
			<a href="/{{.Token}}/edit">Edit</a>

			{{- if .UserCan "sharing" -}}
				<a hx-get="/{{.Token}}/sharing">Sharing</a>
			{{- end -}}

			<div class="right">
			{{- if .UserCan "publish" -}}
				<a hx-get="/{{.Token}}/publish" hx-push-url="false" class="button">Publish</a>
			{{- end -}}

			{{- if .UserCan "unpublish" -}}
				<a hx-get="/{{.Token}}/unpublish" hx-push-url="false" class="button">Un-Publish</a>
			{{- end -}}
			</div>

		</div>
	{{- end -}}

	<article class="space-after">
		<div>{{.Content}}</div>
	</article>

</div>
</div>