{{- $results := .Children.ByUpdateDate.Reverse.Top12.View -}}
{{- if not $results.IsEmpty -}}

	{{- $last := last $results -}}

    {{- if $results.IsLength 12 -}}
        <div
            hx-get="/{{.Token}}/children?journal.updateDate=lt:{{$results.Last.UpdateDate}}" 
            hx-push-url="false"
            hx-trigger="revealed" 
            hx-target="#children" 
            hx-swap="beforeend"></div>
    {{- end -}}

    {{- range $results -}}
        <div class="flex-row">
            <div style="max-width:200px;">
                [ICON]
            </div>
            <div>
                <div>
                    <span class="author">{{.AuthorName}}</span> &middot;
                    <span script="install PrettyDate(date:{{.UpdateDate}})"></span>
                </div>
                <div>{{.Description}}</div>
                {{- if .UserCan "delete" -}}
                    <a hx-get="/{{.Token}}/delete" hx-push-url="false">delete</a>
                {{- end -}}    
            </div>
        </div>
    {{- end -}}
    
{{- end -}}	