{{ $prev := .NextSibling "journal.updateDate" "view"}}
{{ $next := .PrevSibling "journal.updateDate" "view"}}

{{- $canSetAnswer := and (.UserCan "set-answer") (eq nil (.Data "answerId")) -}}

<div hx-sse="connect:/{{.StreamID}}/sse">
<div class="page" hx-get="/{{.Token}}" hx-trigger="sse:{{.StreamID}}, refreshPage from:body">
	<div class="flex-row">
		
		<div>
			<div class="text-sm space-after" hx-push-url="true">
				{{- if $prev.IsEmpty -}}
					<button disabled="true">&lsaquo; Prev</button>
				{{- else -}}
					<button hx-get="/{{$prev.Token}}">&lsaquo; Prev</button>
				{{- end -}}

				<button hx-get="/{{.ParentID}}">All Topics</button>

				{{- if $next.IsEmpty -}}
					<button disabled="true">Next &rsaquo;</button>
				{{- else -}}
					<button hx-get="/{{$next.Token}}">Next &rsaquo;</button>
				{{- end -}}

			</div>

			<h1 class="space-above">{{.Label}}</h1>
		</div>

		{{- if .UserCan "edit" -}}
			<div class="text-sm align-right">
				<button hx-get="/{{.Token}}/edit">Edit</button>

				{{- if .UserCan "delete" -}}
					<button hx-get="/{{.Token}}/delete" class="button">Delete</button>
				{{- end -}}
			</div>
		{{- end -}}
	</div>

	<div class="flex-row space-below">
		<div class="width-60 align-center">
			{{.Avatar .AuthorImage 60}}
		</div>
		<div>
			<div>
				<span class="bold">{{.AuthorName}}</span> &middot; 
				<span class="gray50" script="install PrettyDate(date:{{.CreateDate}})">&nbsp;</span>
			</div>
			<div>{{.DescriptionHTML}}</div>
		</div>
	</div>

	<div id="comments" class="table">
		{{.View "children-before"}}
	</div>

	<div class="table" 
		hx-get="/{{.Token}}/children-after?journal.createDate=gt:{{.Now}}" 
		hx-trigger="new-comments from:window" 
		hx-push-url="false" 
		hx-target="this" 
		hx-swap="innerHTML"></div>

	<div style="height:40px;"></div>

	{{- if .UserCan "comment" -}}
		<div class="flex-row space-above" style="position:-webkit-skicky; position:sticky; bottom:0px; padding:20px; margin:-20px; background-color:var(--gray10);">
			<div class="width-60 align-center">
				{{.Avatar .UserImage 60}}
			</div>
			<form hx-post="/{{.Token}}/comment" hx-swap="none" hx-push-url="false" hx-trigger="autosubmit">
				<input type="hidden" name="description">
				<div class="wysiwyg" script="install wysiwyg(name:'description')">
					<div class="wysiwyg-editor" contenteditable="true" tabIndex="0" script="install autosubmit"></div>
				</div>
				<div class="text-xs gray40">SHIFT+ENTER for new line. &mdash;  ENTER to send</div>
			</form>
		</div>
	{{- end -}}

</div>
</div>

<link rel="stylesheet" href="/static/nebula/nebula.css">
<script type="text/hyperscript" src="/static/nebula/wysiwyg-autosubmit._hs"></script>
<script type="text/hyperscript" src="/static/nebula/wysiwyg._hs"></script>
