{{- $parent := .QueryParam "parent" -}}
{{- $name := .QueryParam "name" -}}
{{- $stateID := .QueryParam "stateId" -}}

<div class="page">
   	
	{{template "menubar" .}}


	<div class="margin-bottom">
		<button hx-post="/admin/index-all-streams" hx-swap="none" hx-push-url="false">
			<span class="htmx-request-show"><span class="spin">{{icon "loading"}}</span> Reindexing...</span>
			<span class="htmx-request-hide">Re-Index All Streams</span>
		</button>
	</div>
	<div class="margin-bottom">
		<button hx-post="/admin/index-all-users" hx-swap="none" hx-push-url="false">
			<span class="htmx-request-show"><span class="spin">{{icon "loading"}}</span> Reindexing...</span>
			<span class="htmx-request-hide">Re-Index All Users</span>
		</button>
	</div>
	<div class="margin-bottom">
		<button hx-post="/admin/reindex-activitystream-cache" hx-swap="none" hx-push-url="false">
			<span class="htmx-request-show"><span class="spin">{{icon "loading"}}</span> Reindexing...</span>
			<span class="htmx-request-hide">Re-Index ActivityStream Cache</span>
	</button>

	</div>

	<div 
		hx-get="/admin/tags/index" 
		hx-trigger="refreshPage from:window"
		hx-target="main"
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>
	
</div>
