/******************************************
 * Page
 ******************************************/

body {
	min-height:100vh;
}

main {
	min-height:100vh;
}

.fullscreen {
	width:100%;
}

.app {
	display:flex;
	flex-direction:row;
	align-items:stretch;
    background-color: var(--page-background);
    padding: 0px;
    position:relative;
	line-height:150%;
}

.app-sidebar {
	flex-grow: 0;
	flex-shrink:0;
	width:25%;
	min-width:160px;
	max-width:240px;
	box-sizing: border-box;
	background-color:var(--gray04);
	padding: 12px 8px;
	border-right:solid 1px var(--gray15);
	color:var(--gray80);
}

.app-sidebar .menu-item {
	display:block;
	padding: 1px 32px 1px 8px;
	border-radius:4px;
}

.app-sidebar .menu-item:hover {
	background-color: var(--gray15);
	color: var(--gray90);
}

.app-sidebar .selected {
	font-weight:bold;
	color: var(--black);
}

.app-content {
	flex-grow:1;
	flex-shrink:1;
	min-height:400px;
	padding:0px 12px 12px 24px;
}

.app.page .app-content {
	padding-top:12px;
}