{{- $webhooks := .Webhooks.All.ByLabel.Slice -}}

<div class="page" hx-get="/admin/webhooks/index" hx-trigger="refreshPage from:window">
   
    <script src="/.themes/global/resources/sortable-1.15.0/Sortable.min.js"></script>
	
	{{template "menubar" .}}

	<div class="info">
		Webhooks send notification events to external serverices every time a record is changed.
		Webhooks cannot be selected by Users.
	</div>

	{{- if not $webhooks.IsEmpty }}

		<table class="table">
			<tr role="link" hx-get="/admin/webhooks/add" class="link">
				<td>{{icon "add"}} Add a Webhook</td>
			</tr>
		{{- range $index, $webhook := $webhooks -}}
				<tr role="link" hx-get="/admin/webhooks/{{$webhook.WebhookID.Hex}}/edit" class="clickable">
					<td>{{icon "webhooks"}} {{$webhook.Label}}</td>
				</tr>
			{{- end -}}
		</table>
	
	{{- else -}}

		<div class="margin-top">
			Click here to add your first Webhook.
			<br>
			<br>
			<button hx-get="/admin/webhooks/add">{{icon "add"}} Add a Webhook</button>
		</div>

	{{- end -}}
	
</div>
