<div hx-get="{{.Token}}?view={{.ViewID}}" hx-trigger="stream:update" hx-swap="settle:1s" stream="{{.StreamID}}">

	<div class="tabs">
		<a href="/{{.Token}}?view=table" hx-get="/{{.Token}}?view=table" class="selected">Table</a>
		<a href="/{{.Token}}?view=icons" hx-get="/{{.Token}}?view=icons">Icons</a>
	</div>

	<div>
		<table style="width:100%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Children "list-item"}}
					<tr hx-get="/{{.Token}}" hx-trigger="click" class="link">
						<td>{{.Label}}</td>
						<td>{{.Description}}</td>
						<td>{{.PublishDate}}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>

</div>