<div>
	<div style="float:right;">
		{{if .UserCan "info"}}
			<span class="button" hx-get="/{{.Token}}/info" script="install AsModal()">Info</span>
		{{end }}
	</div>
	<h1>{{.Label}}</h1>
	<table>
		<tbody>
			{{ range .Children "view"}}
				<tr hx-get="/{{.Token}}" hx-push-url="true" class="link">
					<td>
						<div class="space-right space-below" style="background-color:#EEE; height:150px; width:200px; overflow:hidden; border:solid 1px #CCC;">
							{{if ne .ThumbnailImage ""}}
								<img src="{{.ThumbnailImage}}" style="width:200px;"/>
							{{end}}
						</div>
					</td>
					<td>
						<div class="bold">{{.Label}}
							{{ if eq .StateID "unread" }}
							<span hx-post="/{{.Token}}/mark-read"
							hx-trigger="revealed"
							hx-swap="outerHTML"
							hx-target="this"
							hx-push-url="false"></span>
							{{ end }}
						</div>
						<div class="light">{{.Description}}</div>
						<div class="small light space-below" script="install PrettyDate(date:{{.PublishDate}})"></div>
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
</div>