<div>
	<table>
		<tbody>
			{{ range .Children "view"}}
				<tr hx-get="/{{.Token}}" hx-push-url="true" class="link">
					<td>
						<div class="space-right space-below" style="background-color:#EEE; height:150px; width:200px; overflow:hidden; border:solid 1px #CCC;">
							{{if ne .ThumbnailImage ""}}
								<img src="{{.ThumbnailImage}}" style="width:200px;"/>
							{{end}}
						</div>
					</td>
					<td>
						<div class="bold">{{.Label}}</div>
						<div class="light space-below">{{.Description}}</div>
					</td>
					<td>{{.PublishDate}}</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
</div>