/******************************************
 * NOTIFICATIONS: Tab unread counts
 ******************************************/

.tab .tab-count {
	display: inline-block;
	min-width: 20px;
	padding: 2px 6px;
	border-radius: 10px;
	background-color: var(--gray20);
	color: var(--gray80);
	font-size: 11px;
	font-weight: 600;
	line-height: 16px;
	text-align: center;
	vertical-align: 1px;
}
