/******************************************
 * PAGE LAYOUT CLASSES
 ******************************************/

* {
	box-sizing: border-box;
}

html, body {
	/* https://tetralogical.com/blog/2023/06/08/focus-in-view/ */
	scroll-padding-top: 56px; 
	overscroll-behavior-y: none;
	max-width: 100%;
	overflow-x: hidden;
}


body {
	background-color: var(--body-background);
	color: var(--text-color);
	margin:0px;
	min-height:100vh;
	width:100%;
}


nav {
	display: flex;
	justify-content: center;

	position:fixed;
	bottom:0px;
	left: 0px;
	right: 0px;
	z-index:100;

    color: var(--gray80);
	font-weight:400;
	background-color: var(--white);
	border-top: solid 1px var(--gray15);
	overflow-y:hidden;
	overflow-x:auto;
	padding:8px 16px;
}

nav .framed {
	display: flex;
	justify-content: space-evenly;
}

nav a,
nav button {
	display:flex;
	flex-direction:column;
	align-items:center;

    color: var(--gray80);
	background-color: var(--white);
	padding:8px 16px;
	border-radius: var(--border-radius);
	margin:8px 0px;
	overflow-y:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

nav a > .icon {
	font-size:24px;
}

nav a > .label {
	font-size:10px;
	line-height:14px;
}

nav .spacer {
	display:none;
}

nav b {
	display:inline-block;
	color: var(--black);
	font-weight: 700;
	padding: 8px 0px;
	margin:10px 10px 10px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

nav a:hover,
nav a:focus,
nav button:hover,
nav button:focus {
    color: var(--gray90);
    background-color:var(--gray10);
}

nav a.selected,
nav a.selected:hover,
nav a.selected:focus,
nav button.selected,
nav button.selected:hover
nav button.selected:focus {
	background-color: var(--gray20);
	color: var(--black);
}

main {
	display: flex;
	flex-direction:row;
	justify-content: center;
	padding-bottom:128px;
	min-height:100vh;
	overscroll-behavior-y: none;
	container-type:inline-size;
}

@media screen and (min-width:640px) {

	nav {
		position:sticky;
		top:0px;
		bottom:unset;
		border-top:none;
		border-bottom: solid 1px var(--gray15);
	}

	nav .framed {
		display: flex;
		flex-grow:1;
		justify-content: center;
	}

	nav a {
		display:inline;
	}

	nav a > .icon {
		display:unset;
		font-size:unset;
	}
	
	nav a > .label {
		display:unset;
		font-size:unset;
		line-height:unset;
	}

	nav .spacer {
		display:unset;
		flex-grow:1;
	}

	main{
		padding-bottom:0px;
	}

}