/******************************************
 * Menu Bar
 ******************************************/

 #menu-bar {
	border-bottom: solid 1px var(--gray20);
	margin-top:-8px;
	margin-bottom: 32px;
	padding: 4px 0px 12px 0px;
	line-height: 100%;
	display:flex;
	flex-direction: row;
	flex-wrap:nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	overscroll-behavior:none;
}

#menu-bar div {
	white-space: nowrap;
	flex-grow: 1;
}

#menu-bar div.left {
	text-align: left;
}

#menu-bar div.center {
	text-align: center;
}

#menu-bar div.right {
	text-align: right;
}

#menu-bar a,
#menu-bar button {
	display: inline-block;
	padding: 8px 12px;
	border-radius: calc(var(--rhythm) /2);
	color: var(--gray90);
	background-color:inherit;
	margin:0px;
	font-size:14px;
}

#menu-bar button.primary {
	background-color: var(--button-primary-background);
	color: var(--button-primary-color);
}

#menu-bar button.primary:hover,
#menu-bar button.primary:focus {
	background-color: var(--button-primary-background-hover);
	color: var(--button-primary-color-hover);
}

#menu-bar a:hover,
#menu-bar a:focus,
#menu-bar button:hover,
#menu-bar button:focus {
	background-color: var(--gray10);
	color: var(--gray90);
}

#menu-bar a.selected,
#menu-bar a.selected:hover,
#menu-bar a.selected:focus,
#menu-bar button.selected,
#menu-bar button.selected:hover,
#menu-bar button.selected:hover {
	background-color: var(--gray20);
	color: var(--black);
}

#menu-bar a.text-red,
#menu-bar button.text-red {
	color: var(--red60);
}

/******************************************
 * Sub-Menu Bar
 ******************************************/

#menu-bar-sub {
	display:block;
	background:var(--gray05);
	border-bottom: solid 1px var(--gray20);
	padding:4px 8px;
	margin-top:-32px;
	margin-bottom:32px;
	text-align:center;
}

#menu-bar-sub a {
	color:var(--gray90);
	font-size:12px;
	border-radius:var(--rhythm);
	padding:4px 8px;
}

#menu-bar-sub a.selected {
	background-color:var(--gray20);
	color:var(--black);
}


/******************************************
 * Breadcrumbs
 ******************************************/

 #breadcrumbs {
	margin-bottom:20px;
}