/******************************************
 * Page
 ******************************************/

/* All Screens */
.page {
	container-type: inline-size;
    position:relative;
	line-height:150%;
	border: none;
	padding: calc(var(--rhythm) * 2);
	width:100%;
	margin:0px;
    background-color: var(--page-background);
}

.framed {
	position: relative;
	width:100%;
	margin:0px;
}

/******************************************
 * Fullscreen
 ******************************************/

.fullscreen {
	container-type:inline-size;
    position:relative;
	line-height:150%;
	border: none;
	padding: var(--rhythm);
	font-weight:400;
	width:100%;
	margin:0px;
}


@media screen and (min-width:640px) {
	
}

@media screen and (min-width:768px) {

}

/** LARGE Screens (tablet/horizontal) ******/
@media screen and (min-width:1024px) {

	.page {
		width:90%;
		max-width:1100px;
		margin-top:24px;
		margin-bottom: 64px;
		border: solid 1px var(--page-border);
		padding: calc(var(--rhythm) * 1.5);
	}

	.framed {
		width:90%;
		max-width:1100px;
	}
}