/******************************************
 * Page
 ******************************************/

/* All Screens */
.page {
    position:relative;
	line-height:150%;
	border: none;
	padding: var(--rhythm);
	font-weight:400;
	width:100%;
	margin:0px;
    background-color: var(--page-background);
}

.framed {
	position: relative;
	width:100%;
	margin:0px;
}

/** SMALL  Screens (tablet/vertical) ******/
@media screen and (min-width:568px) {
	
}

/** MEDIUM Screens (tablet/vertical) ******/
@media screen and (min-width:768px) {

	.page {
		width:90%;
		margin-top:24px;
		margin-bottom: 64px;
		border: solid 1px var(--page-border);
		padding: calc(var(--rhythm) * 1.5);
	}

	.framed {
		width:90%;
	}
}

/** LARGE Screens (tablet/horizontal) ******/
@media screen and (min-width:1024px) {
	.page {
		padding: calc(var(--rhythm) * 2);
		width:84%;
	}

	.framed {
		width:84%;
	}
}

/** EXTRA LARGE Screens (laptop/desktop) ******/
@media screen and (min-width:1280px) {
	.page {
		width:80%;
		max-width:1200px;
	}

	.framed {
		width:80%;
		max-width:1200px;
	}
}