/******************************************
 * Page
 ******************************************/

.page {
    background-color: var(--page-background);
    padding: 16px 24px;
    position:relative;
	line-height:150%;
	margin-top:24px;
	margin-bottom: 64px;
	border: solid 1px var(--page-border);
}

/******************************************
 * Menu Bar
 ******************************************/

 #menu-bar {
	border-bottom: solid 1px var(--gray20);
	margin-top:-8px;
	margin-bottom: 32px;
	padding: 4px 0px 12px 0px;
	line-height: 100%;
	display:flex;
	flex-direction: row;
	flex-wrap:nowrap;
	overflow-x: auto;
}

#menu-bar div {
	white-space: nowrap;
	flex-grow: 1;
}

#menu-bar div.left {
	text-align: left;
}

#menu-bar div.center {
	text-align: center;
}

#menu-bar div.right {
	text-align: right;
}

#menu-bar a,
#menu-bar button {
	display: inline-block;
	padding: 8px 12px;
	border-radius: 4px;
	color: var(--gray90);
	background-color:inherit;
	margin:0px;
	font-size:14px;
}

#menu-bar a:hover,
#menu-bar a:focus,
#menu-bar button:hover,
#menu-bar button:focus {
	background-color: var(--gray10);
	color: var(--gray90);
}

#menu-bar a.selected,
#menu-bar a.selected:hover,
#menu-bar a.selected:focus,
#menu-bar button.selected,
#menu-bar button.selected:hover,
#menu-bar button.selected:hover {
	background-color: var(--gray20);
	color: var(--black);
}

/******************************************
 * Breadcrumbs
 ******************************************/

 #breadcrumbs {
	margin-bottom:20px;
}