<div class="page" hx-get="/admin/connections/index" hx-trigger="refreshPage from:window">

	<script src="/.themes/global/resources/sortable-1.15.0/Sortable.min.js"></script>

	<div id="menu-bar" hx-push-url="true">
		{{- $token := .Token -}}
		{{- range .AdminSections -}}
			<a hx-get="/admin/{{.Value}}/index" class="turboclick {{if eq $token .Value}}selected{{end}}">{{.Label}}</a>
		{{- end -}}
	</div>

	<div class="columns-4">

		{{- $builder := . -}}
		{{- $connections := $builder.AllConnections -}}

		{{- range .Providers -}}
			{{ $connection := index $connections .Value }}
				<div class="card align-center" script="install blockselect()">
					<div class="text-3xl">{{icon .Icon}}</div>
					<div class="margin-bottom text-lg bold">{{.Label}}</div>
					<div class="margin-bottom">
						{{- if $connection.Active -}}
							<a class="button success" hx-get="/admin/connections/edit?providerId={{.Value}}">{{icon "check"}} Enabled</a>
						{{- else if eq .Group "OAUTH" -}}
							<a class="button" href="/oauth/clients/{{.Value}}">Connect</a>
						{{- else if eq .Group "MANUAL" -}}
							<a class="button" hx-get="/admin/connections/edit?providerId={{.Value}}">Connect</a>
						{{- end -}}
					</div>
				</div>
		{{- end -}}

	</div>
	
</div>