<!DOCTYPE html>
<html>
<head>
	<title>Password Reset</title>
	{{template "includes-head" .}}
</head>
<body>

	<div class="framed">
		<h1>Password Reset</h1>
		<p>Enter your new password below.</p>
		<form hx-post="/signin/reset" hx-target="body">
			<input type="hidden" name="email" value="{{.QueryParam}}">
			<input type="hidden" name="token" value="{{.Token}}">
			<input type="password" name="password" placeholder="New Password">
			<input type="password" name="password2" placeholder="Confirm Password">
			<button type="submit">Reset Password</button>
		</form>
	</div>
	
	{{template "includes-foot" .}}
</body>
</html>
