<!DOCTYPE html>
<html>
<head>
	<title>Password Reset</title>
	{{template "includes-head" .}}
</head>
<body>

	<main>
		<div class="framed">
			<h1>Password Reset</h1>
			<p>Enter your email address and we will send a password reset email right away.</p>
			<form hx-post="/signin/reset" hx-target="body">
				<div class="layout-horizontal">
					<div class="layout-horizontal-elements">
						<div class="layout-horizontal-element" style="flex-grow:1">
							<input type="text" name="username" value="" autocomplete="off" placeholder="your@email-address.com">
						</div>
						<div class="layout-horizontal-element">
							<button class="htmx-request-hide primary" type="submit">Reset Password</button>
							<button class="htmx-request-show primary" disabled>
								<span class="spin">{{icon "loading"}}</span>
								Resetting Password
							</button>
							<button type="button">Cancel</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>
	
	{{template "includes-foot" .}}
</body>
</html>
