.e-content table {
	border-collapse: collapse;
	border: solid 1px var(--gray40);
}

.e-content thead {
	border: solid 1px var(--gray40);
	background-color:var(--gray30);
}

.e-content thead th {
	padding: 8px 16px;
	text-align:left;
	font-weight:500;
	color:var(--black);
}

.e-content table td {
	padding:8px 16px;
	border-bottom: solid 1px var(--gray40);
	text-align:left;
}

.e-content tbody tr:nth-child(even) {
	background-color: var(--gray10);
}