div.container[data-style="COLS"] {
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
}

div.container[data-style="COLS"] > div.container-item {
    flex-grow:1;
    min-width:5em;
}

div.container[data-style="COLS"][data-size=1] > div.container-item {
}

div.container[data-style="COLS"][data-size=2] > div.container-item {
    
}

div.container[data-style="COLS"][data-size=3] > div.container-item {
    
}

div.container[data-style="COLS"][data-size=4] > div.container-item {
    
}

div.container[data-style="COLS"][data-size=5] > div.container-item {
    
}

div.container[data-style="COLS"][data-size=6] > div.container-item {
    
}
