/****************************
 * Page-Layout classes
 ****************************/

* {
	 box-sizing: border-box;
}

body {
	background-color: var(--gray05);
	color: var(--black);

	display: flex;
	flex-direction:column-reverse;
	justify-content: flex-end;
}

header {
	position:fixed;
	top:0px;
	left: 0px;
	right: 0px;
	z-index:100;

    color: var(--gray80);
	font-weight:400;
	background-color: var(--white);
	border-bottom: solid 1px var(--gray20);
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
}

header .framed {
	display: flex;
}

header .framed div {
	display: flex;
	flex-grow:1;
	justify-content: flex-start;
}

header .framed div:last-child {
	justify-content: flex-end;
}

header a {
    color: var(--gray80);
    display:inline-block;
	padding:10px 20px;
	border-radius: var(--border-radius);
	margin:10px 0px;
	overflow-y:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

header a:hover {
    color: var(--gray90);
    background-color:var(--gray10);
}

header a.selected,
header a.selected:hover {
	background-color: var(--gray20);
	color: var(--black);
}

main {
	display: flex;
	justify-content: center;
	padding-top: 90px;
}

.page {
    border: solid 1px var(--gray20);
    background-color: var(--white);
    padding: 20px;
    position:relative;
	line-height:175%;
	margin-bottom: 50px;
}

#menu-bar {
	border-top: solid 1px var(--gray20);
	border-bottom: solid 1px var(--gray20);
	margin-bottom: 30px;
	padding: 5px 0px;
	line-height: 100%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#menu-bar div {
	white-space: nowrap;
	flex-grow: 1;
}

#menu-bar div.left {
	text-align: left;
}

#menu-bar div.center {
	text-align: center;
}

#menu-bar div.right {
	text-align: right;
}

#menu-bar a {
	display: inline-block;
	padding: 10px 20px;
	border-radius: var(--border-radius);
	color: var(--gray80);
}

#menu-bar a:hover {
	background-color: var(--gray10);
	color: var(--gray90);
}

#menu-bar a.selected,
#menu-bar a.selected:hover {
	background-color: var(--gray20);
	color: var(--black);
}

#breadcrumbs {
	margin-bottom:20px;
}

/* Alternate colors for dark mode */
@media (prefers-color-scheme: dark) {

	body {
		color:var(--gray80);
		
	}
}