* {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
/****************************
 * Headings
 ****************************/

h1 {
    font-size: 24pt;
    margin-top:0px;
    margin-bottom:20px;
    font-weight:500;
}


h2 {
    font-size: 20pt;
    margin-top:0px;
    margin-bottom:20px;
    font-weight:500;
}

h3 {
    font-size: 18pt;
    margin-top:0px;
    margin-bottom:20px;
    font-weight:500;
}

h1.space-below,
h2.space-below,
h3.space-below {
    margin-bottom:40px;
}


/****************************
 * Block Spacing
 ****************************/

.space-above,
.space-before {
    margin-top: 20px;
}

.space-below,
.space-after {
    margin-bottom: 20px;
}

.space-left {
    margin-left:20px;
}

.space-right {
    margin-right: 20px;
}

.padding-5 {
    padding: 5px;
}

.pading-10 {
    padding: 10px;
}

.pading-20 {
    padding: 10px;
}

/****************************
 * Text Sizing
 ****************************/

.text-xl {
	font-size: 18pt;
}

.text-lg {
	font-size: 14pt;
}

.text-sm {
	font-size: 10pt;
}

.text-xs {
	font-size:8pt;
}

/****************************
 * Element-Level classes
 ****************************/

b, strong, .bold {
	font-weight:600;
}

a, .link {
	color:var(--blue70);
	text-decoration:none;
}

a:hover,
.link:hover,
tr.link:hover > td {
	cursor:pointer;
	color: var(--blue60);
}

.clickable {
	cursor:pointer;
}

