<script type="text/hyperscript" src="/.themes/global/hyperscript"></script>

<!--script src="https://unpkg.com/htmx.org@2.0.4" rel="preload"></script-->
<!--script src="https://unpkg.com/idiomorph@0.3.0/dist/idiomorph-ext.min.js" rel="preload"></script-->
<!--script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js" rel="preload"></script-->
<!--script type="text/javascript" src="/.themes/global/resources/htmx/ext/sse.js" defer></script-->

<script type="text/javascript" src="/.themes/global/resources/htmx/htmx.min.js" rel="preload"></script>
<script type="text/javascript" src="/.themes/global/resources/hyperscript/_hyperscript.min.js" rel="preload"></script>

<script type="text/javascript" src="/.themes/global/javascript"></script>