<!DOCTYPE html>
<html>
<head>
	<title>{{.DomainLabel}} - {{.PageTitle}}</title>
	<link rel="webmention" href="/.webmention"/>
	{{ template "includes-head" .}}
</head>

<body hx-target="main" hx-swap="innerHTML show:window:top" hx-push-url="true" hx-ext="a11y">

	<nav  hx-push-url="true">
		<div class="framed">
			<a href="#main" class="hide-visual">Skip navigation</a>
			{{- range .Navigation -}}
				<a href="/{{.Token}}" hx-boost="true" id="nav-{{.StreamID}}" class="nav-item turboclick">
					{{- $icon := .Icon -}}
					{{- if ne "" $icon -}}
						<span class="icon selected-hide">{{icon $icon}}</span>
						<span class="icon selected-show">{{icon (join $icon "-fill")}}</span>
					{{- end }}
					<span class="label">{{.Label}}</span>
				</a>
			{{- end -}}
			<span class="spacer"></span>
			{{- if .IsAuthenticated -}}
				<a href="/@me" hx-boost="true" id="nav-outbox" class="nav-item turboclick">
					<span class="icon selected-hide">{{icon "user"}}</span>
					<span class="icon selected-show">{{icon "user-fill"}}</span>
				</a>

				<a href="/@me/inbox" hx-boost="true" id="nav-inbox" class="nav-item turboclick">
					<span class="icon selected-hide">{{icon "inbox"}}</span>
					<span class="icon selected-show">{{icon "inbox-fill"}}</span>
				</a>

				<a href="/@me/settings" hx-boost="true" id="nav-settings" class="nav-item turboclick">
					<span class="icon selected-hide">{{icon "settings"}}</span>
					<span class="icon selected-show">{{icon "settings-fill"}}</span>
				</a>

				{{- if .IsOwner -}}
					<a href="/admin/domain" hx-boost="true" id="nav-admin" class="nav-item turboclick">
						<span class="icon selected-hide">{{icon "server"}}</span>
						<span class="icon selected-show">{{icon "server-fill"}}</span>
					</a>
				{{- end -}}
			{{- else if .IsIdentity -}}
				<a href="/@guest" hx-boost="true" id="nav-settings" class="nav-item turboclick">
					<span class="icon selected-hide">{{icon "user"}}</span>
					<span class="icon selected-show">{{icon "user-fill"}}</span>
				</a>
			{{- else -}}
				<a href="/signin" id="nav-signin" class="nav-item turboclick">
					<span class="icon">{{icon "user"}}</span>
					<span class="label">Sign In</span>
				</a>
			{{- end -}}
		</div>

	</nav>

	<main id="main">
		{{- .GetContent -}}
	</main>
	
	<aside></aside>

</body>

{{ template "includes-foot" .}}

</html>
