.folder {
	position:relative;
}

.folder-handle {
	position:absolute;
	right:2px;
	top:2px;
	cursor: grab;
}

.folder-whisper {
	background-color: var(--gray50);
	color:var(--gray50);
	cursor: grabbing;
}

