.menu-option {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	margin-bottom:8px;
	cursor: pointer;
	border: solid 1px var(--gray40);
	border-radius:4px;
	color:var(--gray70);
}

.menu-option:hover {
	background-color: var(--blue20);
	border-color:var(--blue50);
	color:var(--gray90);
}

.menu-option.selected {
	background-color: var(--blue50);
	border-color:var(--blue60);
	color:var(--white);
}
