<div class="widget flex-row space-below">
	
	<div class="h-card flex-row">
		{{- if ne "" .Document.Author.ImageURL -}}
			<img src="{{.Document.Author.ImageURL}}" class="circle u-photo turboclick" style="height:2em; width:2em;">
		{{- end -}}

		{{- if ne "" .Document.Author.ProfileURL -}}
			<a href="{{.Document.Author.ProfileURL}}" class="p-name u-url turboclick">{{.Document.Author.Name}}</a>
		{{- else -}}
			<span class="p-name">{{.Document.Author.Name}}</span>
		{{- end -}}
	</div>
	
	&middot; Published
	<time class="dt-published" datetime="{{.PublishDateRFC3339}}">{{.PublishDateUnix.Format "Jan 2, 2006"}}</time>
</div>