/***************************
 * CONTENT EDITOR
 ***************************/

/* Omitted for now, until there's something to put in here...
#content-editor {}
*/

/***************************
 * LAYOUT
 ***************************/

#content-editor .nebula-layout {
	display:flex;
	flex-grow:1;
	box-sizing: border-box;
	position:relative;
	align-items:stretch;
	align-content: top;
	margin-top:10px;
	background-color:var(--gray15);
}

#content-editor div.nebula-layout[data-style=ROWS] {
	flex-direction:column;
}

#content-editor div.nebula-layout[data-style=COLS] {
	flex-direction:row;
}

/***************************
 * LAYOUT CONTROLS
 ***************************/

#content-editor .nebula-layout-item > .nebula-layout-controls {
	display:none;
}

#content-editor .nebula-layout-item:hover > .nebula-layout-controls {
	display:flex;
	flex-direction:row;
	position: absolute;
	top: -29px;
	left: 0px;
	overflow-x:hidden;
	z-index: 2;
	border: solid 1px var(--gray40);
	background-color: var(--gray05);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: var(--gray40);
}

#content-editor .nebula-layout-controls > div:hover {
	color: cornflowerblue;
}

#content-editor .nebula-layout-sortable-handle {
	cursor: grab;
	padding: 2px 10px;
}

#content-editor .nebula-layout-sortable-handle:active {
	cursor: grabbing;
}

#content-editor .nebula-layout-delete {
	cursor: pointer;
	padding: 2px 10px;
}

/***************************
 * SORTABLE
 ***************************/

 #content-editor .nebula-layout-sortable-whisper {
	opacity:0.3;
	background-color:black;
	border: solid 1x purple;
}

/***************************
 * ITEMS
 ***************************/

 #content-editor div.nebula-layout-item {
	position:relative;
	background-color:var(--gray05);
	margin-bottom: 10px;
	display: flex;
}

/***************************
 * INSERTION POINTS 
 ***************************/

#content-editor .nebula-layout-insert {
	display:block;
	position:absolute;
	z-index:2;
	background-color: var(--gray15);
	cursor: copy;
}

#content-editor .nebula-layout-insert:hover {
	background-color:cornflowerblue;
	z-index:4;
}

#content-editor .nebula-layout-insert[data-place=BEFORE] {
	top:-10px;
	height:10px;
	left:0px;
	right:0px;
}

#content-editor .nebula-layout-insert[data-place=AFTER]{
	bottom:-10px;
	height:10px;
	left:0px;
	right:0px;
}


/***************************
 * WYSIWYG
 ***************************/

#content-editor .wysiwyg {
	box-sizing: border-box;
	position:relative;
	display:block;
	width:100%;
	background: var(--white);
}

#content-editor .wysiwyg-toolbar {
	position: absolute;
	top: -50px;
	width:100%;
	z-index:3;
	display:block;
	padding:5px 0px 10px 0px;
	white-space: nowrap;
	overflow-x: auto;
	border: solid 1px cornflowerblue;
	background-color:var(--gray10);
}

#content-editor .wysiwyg-toolbar-group {
	margin-left: 10px;
}

#content-editor .wysiwyg-toolbar button {
	margin:0px -1px 0px 0px;
	padding:8px 10px;
	border: solid 1px var(--gray20);
	border-radius:0px;
	background-color:var(--white);
}

#content-editor .wysiwyg-toolbar button:hover {
	background-color:cornflowerblue;
	border-color:cornflowerblue;
	color:white;
}

#content-editor .wysiwyg-toolbar button:first-of-type {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#content-editor .wysiwyg-toolbar button:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

#content-editor .wysiwyg-editor {
	width:100%;
	min-height:5em;
	padding:10px;
	z-index:10;
	border: solid 1px var(--gray30);
}

#content-editor .wysiwyg-editor:focus{
	border:solid 1px cornflowerblue;
	outline:none;
}

/***************************
 * OEMBED
 ***************************/

.oEmbed {
	display:flex;
	align-items: center;
	justify-content: center;;
	flex-direction: column;
	min-height:100%;
	flex-grow:1;
	color: var(--gray40);
	border: solid 1px var(--gray30);
	text-align:center;
}

.oEmbed:focus {
	border: solid 1px cornflowerblue;
}

/***************************
 * UPLOADER
 ***************************/

 .uploader {
	margin:-5px;
	padding: 5px;
    -border: 1px dashed var(--gray40);
    -font-family: sans-serif;
    cursor: pointer;
    -background-color: var(--gray05);
    -text-align:center;
}

.uploader.highlight {
    border: green 2px dashed;
	padding:3px;
}

.uploader input[type="file"] {
    opacity:0;
    position:absolute;
}

/***************************
 * FORM INPUTS
 ***************************/

form {
	width:100%;
	margin: 0px;
	padding:0px;
}

div.nebula-layout textarea {
	min-height:5em;
	height:100%;
	resize: none;
	background-color:var(--white);
	border: solid 1px var(--gray30);
}

div.nebula-layout textarea:focus {
	border: solid 1px cornflowerblue;
}

