<h2>{{ .Label }}</h2>
{{.Description}}

<div class="uk-grid uk-grid-match uk-child-width-1-2@s uk-child-width-1-4@m uk-child-width-1-5@l uk-child-width-1-6@xl uk-margin-top uk-margin-bottom">
{{ range .SubFolders}} 
	<div hx-get="/folders/{{.Token}}" hx-target="#main" hx-trigger="click">
		<div class="uk-card uk-card-default uk-card-hover uk-card-small uk-card-body link">
			<h3 class="uk-card-title">{{.Label}}</h3>
			{{.Description}}
		</div>
	</div>
{{ end}}
</div>

<h3 class="uk-margin-top uk-margin-bottom">Streams</h3>
<table class="uk-table uk-table-divider uk-table-striped uk-table-justify uk-table-responsive">
	{{ range .Streams "none"}}
	<tr hx-trigger="mousedown" hx-get="/{{.Token}}" class="link">
		<td>{{.Label}}</td>
		<td>{{.Description}}</td>
	</tr>
	{{ end }}
</table>

<h3>New Stream</h3>
{{ range .SubTemplates}}
	<div hx-get="/folders/{{$.Token}}/new/{{.TemplateID}}" hx-trigger="click" hx-push-url="true" class="link">
		<div class="uk-text-bold">{{.Label}}</div>
		<div class="uk-text-meta">{{.Description}}</div>
	</div>
{{ end}}