<!DOCTYPE html>
<html>
<head>
	<title>GH0ST</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.6/css/uikit.min.css">
	<link rel="stylesheet" href="/r/stylesheet.css">
</head>
<body hx-boost="true" hx-target="#stream" hx-push-url="true">
	<div id="menu">

		<ul class="uk-nav uk-margin-bottom">
			<li class="uk-nav-header">
				Section
				<span id="badge-1" class="uk-align-right uk-badge" style="background-color:#999">10</span>
			</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
		</ul>

		<ul class="uk-nav uk-margin-bottom">
			<li class="uk-nav-header">
				Section
				<span class="uk-align-right uk-badge" style="background-color:#999">10</span>
			</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
		</ul>

		<ul class="uk-nav uk-margin-bottom">
			<li class="uk-nav-header">
				Section
				<span class="uk-align-right uk-badge" style="background-color:#999">10</span>
			</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
		</ul>

	</div>
	<div id="main">