.framed {
	position: relative;
}

/** Extra Small Screens ******/
@media screen and (max-width:568px) {

	:root{
		--rhythm: 10px;
	}

	.framed {
		width:100%;
		margin:0px;		
	}

	.page {
		border: none;
		padding: 10px;
		font-size: 20px;
		font-weight:400;
	}
}

@media screen and (min-width:568px) {

	.framed {
		width:100%;
	}
}

@media screen and (min-width:768px) {

	.framed {
		width:90%;
	}

}

@media screen and (min-width:1024px) {

	.framed {
		width:85%;
	}
}

@media screen and (min-width:1280px) {

	.framed {
		width:80%;
		max-width:76em;
	}
}