<!-- https://github.com/gregjacobs/Autolinker.js -->
<script src="/static/autolinker.min.js"></script>

<!-- https://github.com/abhas9/vanilla-caret-js -->
<script src="/static/vanillaCaret.min.js" id="vanillaCaretScript"></script>

<script src="/static/nebula/uploader._hs" type="text/hyperscript"></script>

<script type="text/hyperscript">
	init
		set $autolinkerOptions to {
			newWindow: false,
			sanitizeHtml: true,
			stripPrefix: false,
			stripTrailingSlash: false
		}

	def previewUploads()
		set #file-preview.innerHTML to ""
		repeat for file in #file-upload.files
			append '<div><img src="' + URL.createObjectURL(file) + '"></div>' to #file-preview.innerHTML
		end
	end

</script>

<form id="outbox-message" hx-post="/@me/outbox-add?templateId=outbox-message" hx-trigger="submit, enterKey" hx-encoding="multipart/form-data"
	data-script="
		on htmx:configRequest(parameters)
			set parameters['document.summary'] to Autolinker.link(#summaryHTML.innerText, $autolinkerOptions)">

	{{if not .IsNew}}
		<h1>Edit Post</h1>
	{{end}}

	<div style="margin-bottom:10px;">
		<div id="summaryHTML"
			class="input"
			contenteditable="true"
			data-script="
				init
					me.focus()
					wait for load from #vanilaCaretScript then
					make a VanillaCaret from me called :caret

				on keydown[key=='Enter']
					if event.target is not me then exit end
					halt the event
					send enterKey to #outbox-message

				on keypress debounced at 500ms 
					set oldPosition to :caret.getPos() then
					set my innerHTML to Autolinker.link(my innerText, $autolinkerOptions) then
					call :caret.setPos(oldPosition)"
		>{{.Summary}}</div>
	</div>

	<div id="file-preview"></div>
	<input 
		script="on change call previewUploads()" 
		id="file-upload" 
		type="file" 
		accept="image"
		name="file" 
		class="hide">

	<div>
		{{- if .IsNew -}}
			<button type="submit" class="primary htmx-request-hide text-sm">New Post</button>
			<button type="button" class="primary htmx-request-show text-sm" disabled>Posting...</button>
			<span class="text-lg">
				&nbsp;
				<label for="file-upload" class="link" role="button">{{icon "image"}}</label>
				&nbsp;
				<label class="link" role="button" script="on click alert('Video Uploads Not Yet Available')">{{icon "video"}}</label>
			</span>
		{{- else -}}
			<span hx-get="/{{.StreamID}}/delete" class="clickable float-right text-red">Delete</span>
			<button type="submit" class="primary htmx-request-hide">Edit Post</button>
			<button type="button" class="primary htmx-request-show" disabled>Saving Changed...</button>
			<button type="button" script="on click trigger closeModal">Cancel</button>
		{{- end -}}
	</div>
</form>

<style>
	#file-preview {
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
	}

	#file-preview > div {
		display:block;
		width:20%;
		aspect-ratio: 1;
		padding:0px 10px 10px 0px;
	}

	#file-preview > div > img {
		padding:2px 2px 10px 2px;
		border:solid 1px var(--gray20);
		border-radius:5px;
		width: 100%;
		height:100%;
		object-fit: cover;
		border-radius:5px;
	}

</style>