/******************************************
 * Page
 ******************************************/

 .app {
	display:flex;
	flex-direction:row;
	align-items:stretch;
    background-color: var(--page-background);
    padding: 0px;
    position:relative;
	line-height:150%;
	border: solid 1px var(--page-border);
}

.app-sidebar {
	flex-grow: 0;
	min-width:200px;
	max-width: 300px;
	box-sizing: border-box;
	background-color:var(--gray04);
	padding: 12px 8px;
	border-right:solid 1px var(--gray15);
	color:var(--gray80);
}

.app-sidebar [role=button],
.app-sidebar [role=link] {
	display:block;
	padding: 1px 32px 1px 8px;
	border-radius:4px;
}

.app-sidebar [role=button]:hover,
.app-sidebar [role=link]:hover {
	background-color: var(--gray15);
	color: var(--gray90);
}

.app-sidebar .selected {
	font-weight:bold;
	color: var(--black);
}

.app-content {
	flex-grow:1;
	flex-shrink:1;
	min-height:400px;
	padding:12px 12px 12px 24px;
}
