<div hx-get="/{{.Token}}" hx-trigger="refreshPage from:window">
	<div class="page">

		<h1 class="space-after">{{.Label}}</h1>

		<div class="space-after">
			<div>{{.Description}}</div>
		</div>

		<div id="menu-bar">

			{{- if .UserCan "add-topic" -}}
				<a href="/{{.Token}}/add-topic" hx-push-url="true">Add a Topic</a>
			{{- end -}}

			{{- if .UserCan "edit" -}}
				<button hx-get="/{{.Token}}/edit" role="link">Edit</button>
			{{- end -}}

			{{- if .UserCan "sharing" -}}
				<button hx-get="/{{.Token}}/sharing">Sharing</button>
			{{- end -}}

			{{- if .UserCan "delete" -}}
				<button hx-get="/{{.Token}}/delete">Delete Forum</button>
			{{- end -}}

		</div>

		<table id="children" class="table">
			{{.View "children"}}
		</table>

	</div>

</div>

<link rel="stylesheet" href="/static/nebula/nebula.css">
<script type="text/hyperscript" src="/static/nebula/wysiwyg-autosubmit._hs"></script>
<script type="text/hyperscript" src="/static/nebula/wysiwyg._hs"></script>
