<!DOCTYPE html>
<html>
<head>
	<script src="https://unpkg.com/hyperscript.org"></script>
    <script type="text/hyperscript">
        behavior fail
            init
                repeat forever
                    set value to 1
                    if value == 0
                        set my innerHTML to "never"
                        exit
                    end

                    set my innerHTML to "Success!"
                    exit
                end
            end
        end
    </script>
</head>
<body>
    <div _="install fail()">failure :(</div>
</body>
</html>