<!DOCTYPE html>
<html>
<body>

    <script type="text/hyperscript">
        behavior WeirdBehavior

            on load
                set my innerHTML to "Success!"
                wait 1s
                -- exit
            end
        end

    </script>

	<script src="https://unpkg.com/hyperscript.org"></script>

    <div class=date _="install WeirdBehavior">Broken?</div>
    <div class=date _="install WeirdBehavior">Broken?</div>
    <div class=date _="install WeirdBehavior">Broken?</div>
    <div class=date _="install WeirdBehavior">Broken?</div>
    <div class=date _="install WeirdBehavior">Broken?</div>
    <div class=date _="install WeirdBehavior">Broken?</div>

</body>
</html>