{{- $groups := .Groups.Top60.ByLabel.Slice -}}
{{- if not $groups.IsEmpty -}}
    <tbody hx-get="/admin/groups/list?label=gt:{{$groups.Last.Label}}" hx-trigger="revealed" hx-target="#groups" hx-swap="beforeend" hx-push-url="false">
    {{- range $groups -}}
        <tr class="clickable">
            <td role="link" hx-get="/admin/groups/{{.GroupID.Hex}}/edit" class="width-100%">
				<div class="ellipsis">
					{{ icon .IconWithDefault }}
					{{.Label}}
					<span class="text-gray margin-left">{{.Description}}</span>
				</div>
            </td>
        </tr>
    {{- end -}}
    </tbody>
{{- end -}}