<div class="align-center margin-vertical-xl">

	<div class="text-light-gray" style="font-size:96px;">
		<i class="bi bi-people"></i>
	</div>
	<div class="text-2xl margin-none">
		Groups
	</div>
	<div class="margin-vertical max-width-512 margin-horizontal-auto">
		Groups help you organize users on this server, and determine access privileges for site-wide pages and many external plugins.
		<br>
		<br>
		<span class="primary button turboclick" hx-get="/admin/groups/add">+ Add a Group</span>
	</div>
</div>