{{- $breadcrumbs := .Breadcrumbs -}}
{{- $selected := .Action -}}

<div id="menu-bar" class="margin-bottom">
	<a href="/admin/navigation" class="turboclick text-gray margin-none padding-horizontal-xs">Navigation &rarr;</a>
	{{- range $index, $stream := $breadcrumbs -}}
		<a href="/{{$stream.ID}}/edit" class="turboclick text-gray margin-none padding-horizontal-xs">{{$stream.Name}} &rarr;</a>
	{{- end -}}
	<button hx-on:click="saveAndView()" class="turboclick bold margin-none padding-horizontal-xs">{{.Name}}</button>
</div>

<div id="menu-bar">
	<div class="left">
		<a href="/{{.Token}}" class="link">&larr; View</a>
		<a href="/{{.StreamID}}/edit" class="button{{if eq $selected `edit`}} bold{{end}}">Items</a>

		{{- if .UserCan "widgets" -}}
			<a href="/{{.StreamID}}/widgets" class="button{{if eq $selected `widgets`}} bold{{end}}">Layout</a>
		{{- end -}}

		{{- if .UserCan "properties" -}}
			<button hx-get="/{{.StreamID}}/properties">Info</button>
		{{- end -}}

		{{- if .UserCan "sharing" -}}
			<button hx-get="/{{.StreamID}}/sharing">Sharing</button>
		{{- end -}}
	</div>

	<div class="right">
		{{- if .UserCan "delete" -}}
			<button hx-get="/{{.StreamID}}/delete" class="text-red">Delete</button>
		{{- end -}}
	</div>
</div>
