<div class="page h-item" hx-push-url="true">

	<!-- Alternate links for service discovery -->
	<link rel="alternate" type="application/rss+xml" href="/{{.StreamID}}/rss"/>
	<link rel="alternate" type="application/atom+xml" href="/{{.StreamID}}/atom"/>
	<link rel="alternate" type="application/feed+json" href="/{{.StreamID}}/json"/>
	<link rel="hub" href="/{{.StreamID}}/websub"/>

	{{- if .UserCan "edit" -}}
		<div id="menu-bar">
			<div class="left">
				{{- if .UserCan "new" -}}
					<button hx-get="/{{.Token}}/new">Add Item</button>
				{{- end -}}

				<button hx-get="/{{.Token}}/edit">Edit Folder</button>

				{{- if .UserCan "sharing" -}}
					<button hx-get="/{{.Token}}/sharing">Sharing</button>
				{{- end -}}
			</div>

			<div class="right">
				{{- if .UserCan "delete" -}}
					<button hx-get="/{{.Token}}/delete" class="text-red">Delete</button>
				{{- end -}}
			</div>
		</div>
	{{- end -}}

	<h1 class="p-name">{{.Label}}</h1>
	{{- if ne "" .Summary -}}
		<div class="margin-bottom b-summary">{{.Summary}}</div>
	{{- end -}}

	{{- if eq (.Data "format") "TABLE" -}}
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Summary</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody script="install sortContainer">
				{{- range .Children.ByRank.Slice -}}
					<tr class="draggable h-entry" hx-get="/{{.Token}}" href="/{{.Token}}" role="link">
						<input type="hidden" name="keys" value="{{.StreamID}}"/>
						<td>{{icon "file"}} <span class="h-name">{{.Label}}</span></td>
						<td class="h-summary">{{.Summary}}</td>
						<td class="dt-published" datetime="{{.PublishDate | isoDate}}"></td>
					</tr>
				{{- end -}}
			</tbody>
		</table>
	{{- end -}}

	{{- if eq (.Data "format") "CARDS" -}}

		<div class="pure-g" script="install sortContainer">

			{{- range .Children.ByRank.Slice -}}
				<article class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-5 h-entry">
					<div class="draggable clickable card" hx-get="/{{.Token}}" href="/{{.Token}}">
						<input type="hidden" name="keys" value="{{.StreamID}}"/>
						{{- if ne .ImageURL "" -}}
							<picture loading="lazy" style="aspect-ratio: 4 / 3;">
								<source type="image/webp" srcset="/{{.StreamID}}/attachments/{{.ImageURL}}.webp?width=400&height=300"/>
								<img class="u-photo" src="/{{.StreamID}}/attachments/{{.ImageURL}}.jpg?width=400&height=300"/>
							</picture>
						{{- end -}}
						<h3 role="link p-name">{{.Label}}</h3>
						<p class="p-summary">{{.Summary}}</p>
					</div>
				</article>
			{{- end -}}

		</div>

	{{- end -}}

	{{- if eq (.Data "format") "COLUMNS" -}}

		<div class="pure-g card-group" script="install sortContainer">

			{{- range .Children.ByRank.Slice -}}
				<article class="draggable pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3 pure-u-xl-1-4 h-entry" hx-get="/{{.Token}}" href="/{{.Token}}">
					<input type="hidden" name="keys" value="{{.StreamID}}"/>
					<div class="card" role="link">
						{{- if ne .ImageURL "" -}}
						<picture loading="lazy" style="aspect-ratio: 4 / 3;">
							<source type="image/webp" srcset="/{{.StreamID}}/attachments/{{.ImageURL}}.webp?width=400&height=300"/>
							<img class="u-photo" src="/{{.StreamID}}/attachments/{{.ImageURL}}.jpg?width=400&height=300"/>
						</picture>
						{{- end -}}
						<div class="text text-lg align-center p-name">{{.Label}}</div>
					</div>
				</article>
			{{- end -}}
		</div>
	{{- end -}}

</div>

{{- if .UserCan "sort" -}}
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

	<form
		hx-post="/{{.StreamID}}/sort" 
		hx-push-url="false" 
		hx-swap="none"
		hx-trigger="end from:document"
		hx-include="[name=keys]">
	</form>

{{- end -}}