<div class="page h-item">

	<link rel="stylesheet" href="/.templates/article-base/stylesheet"/>

	<!-- Alternate links for service discovery -->
	<link rel="alternate" type="application/rss+xml" href="/{{.StreamID}}/rss"/>
	<link rel="alternate" type="application/atom+xml" href="/{{.StreamID}}/atom"/>
	<link rel="alternate" type="application/feed+json" href="/{{.StreamID}}/json"/>

	<article class="content margin-bottom">
		{{- .Widgets "LEFT" -}}
		<div class="content-main">
			{{- .Widgets "TOP" -}}

			<!-- Begin Custom Content -->
			{{- if eq (.Data "format") "CARDS" -}}
				{{- template "view-cards" . -}}

			{{- else if eq (.Data "format") "COLUMNS" -}}
				{{- template "view-columns" . -}}

			{{- else -}}
				{{- template "view-table" . -}}
			{{- end -}}
			<!-- End Custom Content -->
			
			<div class="e-content layout-{{.Data `width`}}">{{- .ContentHTML -}}</div>
			{{- .Widgets "BOTTOM" -}}
		</div>
		{{- .Widgets "RIGHT" -}}
	</article>

	{{- if .UserCan "edit" -}}
		<div class="pos-absolute-top-right text-sm">
			<button hx-get="/{{.StreamID}}/edit">Edit &rarr;</button>
		</div>
	{{- end -}}

	<div
		hx-get="/{{.StreamID}}" 
		hx-trigger="refreshPage from:window" 
		hx-target="main" 
		hx-swap="innerHTML" 
		hx-push-url="true">
	</div>

</div>