<div class="page">

	<script src="/.themes/global/resources/sortable-1.15.0/Sortable.min.js"></script>
	
	{{template "menubar" .}}

	<div class="info">
		Syndication targets allow users to cross-post their content to other websites.
		Based on the templates in use, users can select which targets they want to syndicate to.
	</div>

	<div>
		{{- .View "table" -}}
	</div>

	<div 
		hx-get="/admin/syndication/index" 
		hx-trigger="refreshPage from:window"
		hx-target="#main" 
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>
	
</div>