<div class="page" hx-get="/admin/users/index" hx-trigger="refreshPage from:window">
   
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
	<script src="/static/nebula/autosize._hs" type="text/hyperscript"></script>
	
	<h1>Settings</h1>

	<div id="menu-bar" hx-push-url="true">
		{{- $token := .Token -}}
		{{- range .AdminSections -}}
			<a hx-get="/admin/{{.Value}}" class="{{if eq $token .Value}}selected{{end}}">{{.Label}}</a>
		{{- end -}}
	</div>

	<div class="space-below">
		<h3>Allow New Signups?</h3>
 
		<span role="link" hx-get="/admin/domain/signup">
			{{- if .SignupForm.Active -}}
				<div class="toggle-container" value="true">
					<span class="toggle"><span class="marker"></span></span>
					<label>YES.  New people CAN make new accounts.</label>
				</div>
			{{- else -}}
			<div class="toggle-container" value="false">
				<span class="toggle"><span class="marker"></span></span>
				<label>NO. New people CAN NOT make new accounts.</label>
			</div>
			{{- end -}}
		</span>

	</div>

	<br>
	<h3>Current User Accounts</h3>
	<table id="users" class="table">
		<tr role="link" hx-get="/admin/users/add"><td class="link" colspan="2">
			{{icon "add-circle"}}&nbsp;Invite a Person
		</td></tr>

		{{- .View "list" -}}
	</table>
</div>
