{{- $users := .Users.Top12.ByDisplayName.Slice -}}
{{- if not $users.IsEmpty }}

    {{$groupID := .QueryParam "groupId"}}
    {{$search := .QueryParam "search"}}

    <tbody hx-trigger="revealed" hx-get="/admin/users/list?groupId={{$groupID}}&amp;search={{$search}}&amp;displayName=gt:{{ $users.Last.DisplayName }}" hx-target="#users" hx-swap="beforeend" hx-push-url="false">
        {{- range $index, $user := $users -}}
            <tr class="clickable">
                <td role="link" hx-get="/admin/users/{{$user.UserID.Hex}}/edit" class="flex-row width-100%">
                    {{- $iconURL := $user.IconURL -}}
                    {{- if ne "" $iconURL -}}
                        <img src="{{$iconURL}}" class="circle-32">
                    {{- else -}}
                        <span class="circle-32"></span>
                    {{- end }} 
                    <span class="ellipsis">{{highlight $user.DisplayName $search}}</span>
                </td>
                <td nowrap class="text-xs width-128 text-align-right">
					<div class="hide md:show">
						<a href="/@{{$user.Username}}" class="button" tabIndex="0">View Profile</a>
						<form action="/.masquerade?userId={{.UserID.Hex}}" method="post" class="inline-block">
							<button type="submit">{{icon "user-secret"}} Sign In &rarr;</button>
						</form>
					</div>
                </td>
            </tr>
        {{- end -}}
    </tbody>

{{- end -}}
