<div hx-get="/admin/users/{{.UserID}}/view" hx-trigger="refreshPage from:window" hx-push-url="false">
    <div class="space-below">
        <a hx-get="/admin/users">{{icon "chevron-left"}} All People</a>
    </div>
    <h1>{{.DisplayName}}</h1>
    {{.ImageURL}}

    <h2>Groups</h2>
    {{- range .AssignedGroups -}}
        <div>{{.Label}}</div>
    {{- end -}}

    <button hx-get="/admin/users/{{.UserID}}/edit">Edit</button>
    <button hx-get="/admin/users/{{.UserID}}/delete" class="warning">Delete</button>

</div>