{{- $actor := .AttributedTo.Load -}}

<hr>
<div class="space-below">
	<div class="flex-row">
		<div style="width:32px; height:32px; margin-right:8px;">
			{{- if $actor.Icon.NotNil -}}
				<a href="{{$actor.ID}}"><img class="circle-32" src="{{$actor.Icon.URL}}"></a>
			{{- end -}}
		</div>
		<div>

			<div>
				{{- if $actor.NotNil -}}
					<a href="{{$actor.ID}}">
						<span class="bold link">{{$actor.Name}}</span>
						<span class="text-gray">&middot; {{ .Published | epochDate | tinyDate}}</span>
					</a> &nbsp;
				{{- end -}}
				<a href="{{.ID}}"><span class="text-sm">View Original &rarr;</span></a>
			</div>

			{{- if ne "" .Name -}}
				<h1 class="space-above">{{.Name}}</h1>
			{{- end -}}

			{{- if .Image.NotNil -}}
				<div class="space-above space-below"><img src="{{.Image.URL}}" style="width:100%;"></div>
			{{- end -}}
		
			<div>{{.Content | html}}</div>
		</div>
	</div>
</div>
