{{- $actor := .AttributedTo.Load -}}

<div class="space-below">
	<div class="clickable flex-row" role="link" script="on click go to url '{{.ID}}'">
		<div>
			<img class="circle-32" src="{{$actor.Icon.URL}}">
		</div>
		<div>
			<div>
				<span class="bold link">{{$actor.Name}}</span>
				<span class="text-gray">&middot; {{ .Published | epochDate | tinyDate}}</span>
			</div>

			{{- if .Image.NotNil -}}
				<div><img src="{{.Image.URL}}" style="width:100%;"></div>
			{{- end -}}
		
			<div>{{.Content | html}}</div>
			<div class="text-sm" style="margin-top:8px;">{{- template "responses" . -}}</div>
		</div>
	</div>
</div>
<hr>