{{- $actor := .AttributedTo.Load -}}

<div class="clickable margin-bottom" role="link" script="on click go to url '{{.ID}}'">

	<div class="flex-row">
		<div>
			<img class="circle-32" src="{{$actor.Icon.URL}}">
		</div>
		<div>
			<div>
				<span class="bold link">{{$actor.Name}}</span>
				<span class="text-gray">&middot; {{ .Published | epochDate | tinyDate}}</span>
			</div>

			{{- if .Image.NotNil -}}
				<div><img src="{{.Image.URL}}" style="width:100%;"></div>
			{{- end -}}
		
			<div>{{.Content | html}}</div>
		</div>
	</div>

</div>
<hr>
