{{- $stream := .ActivityStream .Permalink -}}
{{- $statistics := $stream.Statistics -}}

<div id="responses" hx-target="this" hx-swap="outerHTML" hx-push-url="false" class="margin-top">

	<hr class="margin-bottom-sm"/>

	<div>
		<span hx-get="{{.BasePath}}/responses-replies" role="button" class="margin-right-xs clickable bold">
			{{- $statistics.Replies }} {{pluralize $statistics.Replies "Reply" "Replies" -}}
		</span>
		&middot;
		<span hx-get="{{.BasePath}}/responses-likes" role="button" class="margin-horizontal-xs clickable">
			{{- $statistics.Likes }} {{pluralize $statistics.Likes "Like" "Likes" -}}
		</span>
		&middot;
		<span hx-get="{{.BasePath}}/responses-announces" role="button" class="margin-horizontal-xs clickable">
			{{- $statistics.Announces }} {{pluralize $statistics.Announces "Share" "Shares" -}}
		</span>
	</div>

	<hr class="margin-top-sm"/>

	<div id="replies" class="margin-vertical">
		{{.View "replies"}}
	</div>

	{{- if .UserCan "embedded-reply" -}}
		<div class="flex-row">
			<div>
				{{- $userImage := .UserImage -}}
				{{- if eq $userImage "" -}}
					<div class="circle-48"></div>
				{{- else -}}
					<img class="circle-48" src="{{$userImage}}">
				{{- end -}}
			</div>
			<div class="flex-grow-1">
				{{.View "embedded-reply"}}
			</div>
		</div>
	{{- end -}}
</div>