{{- $stream := .ActivityStream .Permalink -}}
{{- $statistics := $stream.Statistics -}}

{{- $publishedDate := .QueryParam "published" -}}
{{- $pageSize := 1000 -}}
{{- $likes := .LikesBefore $publishedDate $pageSize -}}

<div id="responses" hx-target="this" hx-swap="outerHTML" hx-push-url="false" class="margin-top">

	<hr class="margin-bottom-sm"/>

	<div>
		<span hx-get="{{.BasePath}}/responses-replies?uri={{.Permalink}}" role="button" class="margin-right-xs clickable">
			{{- $statistics.Replies }} {{pluralize $statistics.Replies "Reply" "Replies" -}}
		</span>
		&middot;
		<span hx-get="{{.BasePath}}/responses-likes?uri={{.Permalink}}" role="button" class="margin-horizontal-xs clickable bold">
			{{- $statistics.Likes }} {{pluralize $statistics.Likes "Like" "Likes" -}}
		</span>
		&middot;
		<span hx-get="{{.BasePath}}/responses-announces?uri={{.Permalink}}" role="button" class="margin-horizontal-xs clickable">
			{{- $statistics.Announces }} {{pluralize $statistics.Announces "Share" "Shares" -}}
		</span>
	</div>

	<hr class="margin-top-sm"/>

	<div class="margin-top">
		{{- range $index, $like := $likes -}}
			<div>
				{{$like.Actor.Name}} | 
				{{$like.Actor.URL}} |
				{{$like.Actor.Image.Href}} |
			</div>
		{{- end -}}
	</div>

</div>