<!--
	This template expects a "Responses" renderer.  It will not work with any other renderer.
-->

<div 
	hx-get="{{.InternalURL}}/responses" 
	hx-trigger="refreshResponses[detail.value=='{{.ObjectID}}'] from:window" 
	hx-target="this" 
	hx-push-url="false"
	class="text-gray space-below">

	{{- if not .UserID.IsZero -}}
		{{- $countByContent := .CountByContent -}}
		{{- $userResponse := .UserResponse -}}
		{{- $internalURL := .InternalURL -}}

		{{- range $content, $count := $countByContent -}}
			{{ if eq $content $userResponse -}}
			<span hx-post="{{$internalURL}}/set-response" hx-vals='{"type":", "content":"}' hx-swap="none" hx-push-url="false"
				role="button" class="response-button selected turboclick" style="margin-right:8px;" tabIndex="0">{{$content}} {{$count}}</span>
			{{- else -}}
			<span hx-post="{{$internalURL}}/set-response" hx-vals='{"type":"LIKE", "content":"{{$content}}"}' hx-swap="none"
				hx-push-url="false" role="button" class="response-button turboclick" style="margin-right:8px;" tabIndex="0">{{$content}} {{$count}}</span>
			{{- end -}}
		{{- end -}}

		<span role="button" hx-get="{{.InternalURL}}/response-icons" script="install tooltipContainer" style="padding:8px 0px;" tabIndex="0">
			{{- if eq $userResponse "" -}}
				{{- icon "add-emoji" -}}
			{{- else -}}
				{{- icon "settings" -}}
			{{- end -}}
		</span>

	{{- end -}}

	<!-- // TODO: Should restore "mentions" to this widget when possible -->
</div>