{{- $object := .UnwrapActivity -}}
{{- $actor := $object.AttributedTo.Load -}}

<hr>
<div class="margin-bottom">
	<div class="flex-row">
		<div style="width:32px; height:32px; margin-right:8px;">
			{{- if $actor.Icon.NotNil -}}
				<a href="{{$actor.ID}}"><img class="circle-32" src="{{$actor.Icon.Href}}"></a>
			{{- end -}}
		</div>
		<div>

			<div>
				{{- if $actor.NotNil -}}
					<a href="{{$actor.ID}}">
						<span class="bold link">{{$actor.Name}}</span>
						<span class="text-gray">&middot; {{ $object.Published | epochDate | tinyDate}}</span>
					</a> &nbsp;
				{{- end -}}
				<a href="{{$object.ID}}"><span class="text-sm">View Original &rarr;</span></a>
			</div>

			{{- if ne "" $object.Name -}}
				<h1 class="margin-top">{{$object.Name}}</h1>
			{{- end -}}

			{{- if $object.Image.NotNil -}}
				<div class="margin-top margin-bottom"><img src="{{$object.Image.Href}}" class="width-100-percent"></div>
			{{- end -}}
		
			<div>{{$object.Content | html}}</div>
		</div>
	</div>
</div>
