<script type="text/hyperscript">
	def saveDraft(promote)
		send save to #markdownForm
		wait for htmx:afterOnLoad from #markdownForm
		if promote then
			fetch /{{.StreamID}}/promote-draft with method:"POST"
		end

		set window.location to "/{{.StreamID}}"
	end
</script>

<div class="page">

	<div id="menu-bar">
		<div class="left">
			<button script="on click saveDraft(true)" class="button primary">Promote</button>
			<button script="on click saveDraft(false)">Save Draft</button>
			<button hx-get="/{{.StreamID}}/discard-draft">Discard Draft</button>
		</div>

		<div class="right">
			{{- if .UserCan "properties" -}}
				<a hx-get="/{{.StreamID}}/properties">Info</a>
			{{- end -}}

			{{- if .UserCan "features" -}}
				<a hx-get="/{{.StreamID}}/features">Features</a>
			{{- end -}}

			{{- if .UserCan "sharing" -}}
				<a hx-get="/{{.StreamID}}/sharing">Sharing</a>
			{{- end -}}

			{{- if .UserCan "delete" -}}
				<a hx-get="/{{.StreamID}}/delete" class="text-red">Delete</a>
			{{- end -}}
		</div>

	</div>

	<div hx-get="/{{.StreamID}}/heading" hx-trigger="refreshPage from:window">
		{{.View "heading"}}
	</div>

	<article>
		<form id="markdownForm" hx-post="/{{.StreamID}}/edit" hx-trigger="save" hx-swap="none">
			<textarea name="content" style="width:100%; min-height:600px;">{{.ContentRaw}}</textarea>
		</form>
	</article>
	
</div>
