<script type="text/hyperscript">
	def saveDraft(promote)
		log "saveDraft"
		send save to #markdownForm
		log "sent"
		wait for htmx:afterOnLoad from #markdownForm
		log "waited"
		if promote then
			log "promote"
			fetch /{{.Token}}/promote-draft with method:"POST"
		end

		log "done"
		set window.location to "/{{.Token}}"
	end
</script>

<div class="page">

	<div hx-get="/{{.Token}}/heading" hx-trigger="refreshPage">
		{{.View "heading"}}
	</div>

	<div id="menu-bar">
		<div class="left">
			<button script="on click saveDraft(true)" class="button primary">Promote</button>
			<button script="on click saveDraft(false)">Save Draft</button>
			<button hx-get="/{{.Token}}/discard-draft">Discard Draft</button>
		</div>

		<div class="right">
			{{- if .UserCan "properties" -}}
				<a hx-get="/{{.Token}}/properties">Info</a>
			{{- end -}}

			{{- if .UserCan "features" -}}
				<a hx-get="/{{.Token}}/features">Features</a>
			{{- end -}}

			{{- if .UserCan "sharing" -}}
				<a hx-get="/{{.Token}}/sharing">Sharing</a>
			{{- end -}}

			{{- if .UserCan "delete" -}}
				<a hx-get="/{{.Token}}/delete" class="text-red">Delete</a>
			{{- end -}}
		</div>

	</div>

	<article>
		<form id="markdownForm" hx-post="/{{.Token}}/edit" hx-trigger="save" hx-swap="none">
			<textarea name="content" style="width:100%; min-height:600px;">{{.ContentRaw}}</textarea>
		</form>
	</article>
	
</div>
