<div hx-sse="connect:/{{.StreamID}}/sse">
<div class="page h-entry" hx-get="/{{.StreamID}}" hx-trigger="sse:{{.StreamID}}, refreshPage from:body">

	{{- if .UserCan "edit" -}}
		<div id="menu-bar">
			<a href="/{{.StreamID}}/edit">Edit Content</a>

			{{- if .UserCan "sharing" -}}
				<a hx-get="/{{.StreamID}}/sharing">Sharing</a>
			{{- end -}}

			<div class="right">
				{{- if .UserCan "publish" -}}
					<a hx-get="/{{.StreamID}}/publish" hx-push-url="false" class="button">Publish</a>
				{{- end -}}

				{{- if .UserCan "unpublish" -}}
					<a hx-get="/{{.StreamID}}/unpublish" hx-push-url="false" class="button">Un-Publish</a>
				{{- end -}}
			</div>

		</div>
	{{- end -}}

	<h1 class="p-name">{{.Label}}</h1>
	<div class="p-summary">{{.Summary}}</div>

	<article class="content space-after e-content">
		{{- .ContentHTML -}}
	</article>

	<article>
		{{- .Features -}}
	</article>
</div>
</div>