<div class="page">
      
	{{template "menubar" .}}

	<!-- Header -->
	<!--
	<div class="md:flex-row">
		<div class="card padding-sm padding-horizontal margin-bottom md:width-33%">
			<div class="text-sm text-gray margin-bottom">Trigger</div>
			<div class="text-sm">
				<button>All</button>
				<button>Servers</button>
				<button>Actors</button>
				<button>Tags</button>
			</div>
		</div>

		<div class="card padding-sm padding-horizontal margin-bottom md:width-33%">
			<div class="text-sm text-gray margin-bottom">Behavior</div>
			<div class="text-sm">
				<button>All</button>
				<button>Label</button>
				<button>Mute</button>
				<button>Block</button>
			</div>
		</div>
		<div class="clickable card flex-center padding margin-bottom md:width-33%" hx-get="/admin/rules/add">
			<div class="text-lg bold">
				<button class="primary"><span aria-hidden>{{icon "add"}}</span> Add a Rule</button>
			</div>
		</div>
	</div>
	-->

	<div class="md:flex-row">
		<div class="card padding-sm padding-horizontal margin-bottom md:width-66%">
		</div>
		<div class="clickable card flex-center padding margin-bottom md:width-33%" hx-get="/admin/rules/add">
			<div class="text-lg bold">
				<button class="primary"><span aria-hidden>{{icon "add"}}</span> Add a Rule</button>
			</div>
		</div>
	</div>

	<!-- Contents -->
	<div class="card padding">
		<div class="table">
			{{.View "list"}}
		</div>
	</div>

	<div 
		hx-get="/admin/rules/index" 
		hx-trigger="refreshPage from:window"
		hx-target="main"
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>

</div>