<div class="page" hx-get="/admin/rules/index" hx-trigger="refreshPage from:window">
      
    <div id="menu-bar" hx-push-url="true">
        {{- $token := .Token -}}
        {{- range .AdminSections -}}
            <a hx-get="/admin/{{.Value}}" class="turboclick {{if eq $token .Value}}selected{{end}}">{{.Label}}</a>
        {{- end -}}
    </div>

    <div class="table">
        <div role="button" hx-get="/admin/rules/add" class="link">
            {{icon "add"}} &nbsp;<span>Add a Rule</span>
        </div>
        {{.View "list"}}
    </div>
</div>
