{{- $circles := .Circles.ByName.Slice -}}

<div class="page app flex-row" script="on load take .selected from .nav-item for #nav-settings">
	<title>{{$circles.Length}} Circles | {{.DisplayName}}</title>

	<div id="app-sidebar" class="app-sidebar" hx-swap="innerHTML show:window:top">

		<div class="pos-sticky" style="top:96px;">
	
			<div class="bold text-xl margin-none margin-bottom">Settings</div>

			<a href="/@me/settings/following" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "star"}} Following</a>
			<a href="/@me/settings/followers" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "person"}} Followers</a>
			<a href="/@me/settings/circles" hx-boost="true" class="turboclick menu-item ellipsis selected">{{icon "circle-fill"}} Circles</a>
			<a href="/@me/settings/payments" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "credit-card"}} Payments</a>
			<a href="/@me/settings/rules" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "rule"}} Rules</a>
			<a href="/@guest" class="turboclick menu-item ellipsis">{{icon "user"}} Guest Profile</a>
			<hr>
			<a hx-post="/signout" class="button">Sign Out</a>
		</div>
	
	</div>
	
	<div class="app-content">

		<div class="flex-row flex-align-center margin-bottom-lg">
			<h1 class="text-xl bold margin-none flex-grow">Circles</h1>
			<a href="https://emissary.dev/circles" target="_blank">{{icon "help"}} Help with Circles</a>
		</div>

		<table class="table">
			<tr hx-get="/@me/settings/circle-add" role="button"><td class="link" colspan="5">
				<span class="margin-right-xs">{{icon "add"}}</span>
				Add a Circle
			</td></tr>
			
			{{- range $index, $circle := $circles -}}
				<tr role="button">
					<td hx-get="/@me/settings/circle-members?circleId={{$circle.ID}}">
						<span class="margin-right-xs xtext-light-gray">{{icon $circle.Icon}}</span>
						{{$circle.Name}}
					</td>
					<td hx-get="/@me/settings/circle-members?circleId={{$circle.ID}}" nowrap>
						<span class="text-light-gray">{{icon "person-fill"}}</span> 
						{{$circle.MemberCount}}
					</td>
					<td hx-get="/@me/settings/circle-products?circleId={{$circle.ID}}" nowrap>
						{{- if $circle.HasProducts -}}
							<span class="text-light-gray">{{icon "box-fill"}}</span> 
							{{$circle.ProductCount -}}
						{{- end -}}
					</td>
					</td>
					<td class="align-right" nowrap>
						<button hx-get="/@me/settings/circle-edit?circleId={{$circle.ID}}" role="button" class="text-xs">Edit Circle</button>
					</td>
				</tr>
			{{- end}}
			
		</table>

	</div>

	<div hx-get="{{.URL}}" hx-trigger="refreshPage from:window" hx-push-url="false"></div>

</div>