{{- $privilege := .Object -}}
{{- $identity := .Identity $privilege.IdentityID -}}

<div class="flex-row flex-align-center">
	{{- if ne "" $identity.IconURL -}}
		<img src="{{$identity.IconURL}}" class="circle width-64"></img>
	{{- else -}}
		<span style="font-size:64px;">{{icon $identity.Icon}}</span>
	{{- end -}}

	<h3 class="flex-grow margin-none">{{$identity.Name}}</h3>
</div>

<div class="flex-row">
	<div class="width-64 flex-shrink-0"></div>
	<div>	
		{{- if ne "" $identity.EmailAddress -}}
			{{- if ne $identity.Name $identity.EmailAddress -}}
				<div class="text-gray">{{icon "email"}} {{$identity.EmailAddress}}</div>
			{{- end -}}
		{{- end -}}
		{{- if $identity.HasActivityPubActor -}}
			{{- if ne $identity.Name $identity.ActivityPubActor -}}
				<div class="text-gray">{{icon "globe"}} <a href="{{$identity.ActivityPubActor}}" target="_blank">{{$identity.ActivityPubActor}} &rarr;</a></div>
			{{- end -}}
		{{- end -}}

		<div class="margin-top-lg">
			{{- if $privilege.IsPurchase -}}
				<div class="text-gray">Date: {{$privilege.CreateDate | shortDate}}</div>
				<div class="text-gray">Product: {{$privilege.Name}}</div>
				<div class="text-gray">Product Number: {{$privilege.RemoteProductID}}</div>
				<div class="text-gray">Price: {{$privilege.PriceDescription}}</div>
				<div class="text-gray">Receipt: {{$privilege.RemotePurchaseID}}</div>
			{{- else -}}
				<div class="text-lg">
					Added by You on <b>{{$privilege.CreateDate | shortDate}}</b>
				</div>
			{{- end -}}
			</div>
	</div>
</div>

<div class="margin-top-xl">
	{{- if not $privilege.IsPurchase -}}
		<span hx-get="/@me/settings/circle-member-delete?privilegeId={{$privilege.ID}}" class="text-red clickable float-right">Remove from Circle</span>
	{{- end -}}
	<button script="on click trigger closeModal">Close Window</button>
</div>