<div class="flex-row flex-align-center margin-bottom">
	<h1 class="margin-none flex-grow">{{icon "email"}} Mailchimp</h1>
	<a href="https://emissary.dev/connections" target="_blank">{{icon "help"}} Help</a>
</div>

<div class="alert-blue margin-bottom">
	<a href="https://admin.mailchimp.com/account/api/" target="_blank">Sign in to your Mailchimp account {{icon "new-window"}}</a>
	to create the API key below. Your data center is the few characters at the start of that web address, such as
	<code>us6</code> in <code>us6.admin.mailchimp.com</code>.
</div>
