{{- $isDesktop := .IsDesktop -}}
{{- $mailchimp := .UserConnection "MAILCHIMP" -}}

<div class="app" script="init send SelectNav(id:'settings')">
	<title>Connections</title>

	{{- if $isDesktop -}}
		<div id="app-sidebar" class="expanded">
			{{- template "menu" "connections" -}}
		</div>
	{{- end -}}

	<div class="app-content padding">

		{{- if $isDesktop -}}
			<div class="flex-row flex-align-center margin-bottom">
				<h1 class="text-xl bold margin-none flex-grow">Connections</h1>
				<a href="https://emissary.dev/user-connections" target="_blank">{{icon "help"}} Help with Connections</a>
			</div>
		{{- else -}}
			<div class="flex-row flex-align-center text-xl margin-none margin-bottom">
				<a href="/@me/settings/mobile" hx-boost="true">{{icon "back"}}</a>
				<h1 class="bold flex-grow">Connections</h1>
				<a href="https://emissary.dev/user-connections" target="_blank">{{icon "help"}}</a>
			</div>
		{{- end -}}

		<div class="table">
			<div role="button" class="flex-row turboclick">
				<div hx-get="/@me/settings/connections-edit-mailchimp?type=MAILCHIMP" class="flex-row flex-grow">
					<div>{{- icon $mailchimp.Icon -}}</div>
					<div class="flex-grow">{{$mailchimp.Label}}</div>
					<div class="nowrap">
						{{- if $mailchimp.NeedsReconnect -}}
							<span class="text-red">{{icon "alert"}} Reconnect</span>
						{{- else if $mailchimp.IsActive.IsTrue -}}
							<span class="text-green">{{icon "check-circle-fill"}} Active</span>
						{{- else if $mailchimp.IsNew -}}
							<span class="text-gray">Not Connected</span>
						{{- else -}}
							<span class="text-gray">Paused</span>
						{{- end -}}
					</div>
				</div>
			</div>
		</div>

	</div>

	<div
		hx-get="{{.RelativeURL}}"
		hx-trigger="refreshPage from:window"
		hx-target="main"
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>

</div>
