{{- $isDesktop := .IsDesktop -}}
{{- $oauthUserTokens := .OAuthUserTokensForExports -}}

<div class="app" script="init send SelectNav(id:'settings')">
	<title>Import/Export | {{.DisplayName}}</title>

	{{- if $isDesktop -}}
		<div id="app-sidebar" class="expanded">
			{{- template "menu" "general" -}}
		</div>
	{{- end -}}
	
	<div class="app-content padding">

		<div id="menu-bar">
			<div class="left">
				{{ if not $isDesktop }}
					<a href="/@me/settings/mobile" class="turboclick" hx-boost="true">{{icon "back"}}</a>
				{{ end }}
				<a href="/@me/settings/general" class="turboclick" hx-boost="true">General</a>
				<a href="/@me/settings/images" class="turboclick" hx-boost="true">Images</a>
				<a href="/@me/settings/links" class="turboclick" hx-boost="true">Links</a>
				<a href="/@me/settings/import" class="turboclick" hx-boost="true">Import</a>
				<a href="/@me/settings/export" class="turboclick selected" hx-boost="true">Export</a>
			</div>
			<div class="right">
				<a href="https://emissary.dev/migration" target="_blank" class="link">
					{{icon "help"}}
					{{ if $isDesktop }} Help with Exports {{ end }}
				</a>
			</div>
		</div>

		<div class="flex-row flex-align-center margin-bottom">
			<div class="width-32">
				<img src="{{.IconURL}}" class="circle width-100%">
			</div>
			<div class="flex-grow">
				<div class="text-xs text-gray">You're signed in to <b>{{.Hostname}}</b> as:</div>
				<div class="text-sm bold">
					<a href="/@me">@{{.Username}}@{{.Hostname}}</a>
				</div>
			</div>
		</div>

		{{- if $oauthUserTokens.IsEmpty -}}

			<div class="card padding max-width-640 transition-main-card">
				<div class="text-lg bold"><i class="bi bi-database-up"></i> Export to Other Servers</div>

				<div>
					You can export all of your profile data to other Fediverse
					servers that support the W3C standard "Live Online Account Portability".
					<br>
					<br>
					<b>To begin:</b> you'll need to sign into the account you want to 
					migrate to and begin an import from there.
					Once you start the import on your new server, you'll be able to monitor
					and manage your export progress from here.
				</div>

				<div class="margin-top">
					<i>Note: online account migration is new, and very few servers support
					this action right now.</i>
					<a href="https://emissary.dev/migration" target="_blank" class="nowrap">Learn More {{icon "link-outbound"}}</a>
				</div>
			</div>

		{{- else -}}

			{{- $scope := . -}}
			{{- range $index, $oauthUserToken := $oauthUserTokens -}}

				{{- $actorID := $oauthUserToken.data.GetString "actor" -}}
				{{- $actor := $scope.ActivityStream $actorID -}}
				{{- $startDate := $oauthUserToken.data.startDate -}}

				<div class="card padding max-width-640 margin-bottom transition-main-card" role="link">
				
					<div class="flex-row margin-bottom-lg">
						<div class="flex-grow">
							<div class="text-lg bold margin-top-none margin-bottom-lg">
								<i class="bi bi-database-up"></i> 
								Exporting to: {{$oauthUserToken.name}}
							</div>

							<div class="flex-row">
								<div class="width-64">
									<img src="{{$actor.Icon.Href}}" class="circle width-100%">
								</div>
								<div>
									<div class="bold">{{$actor.Name}}</div>
									<div class="text-sm">
										<a href="{{$actor.ID}}" class="text-nocolor text-gray" target="_blank">{{$actor.UsernameOrID}} {{icon "link-outbound"}}</a>
									</div>
									<div class="text-sm text-gray">export date: {{$startDate | shortDate}}</div>
								</div>
							</div>
						</div>
						<div>
							<img src="{{$oauthUserToken.iconUrl}}" class="width-128">
						</div>
					</div>

					<hr class="margin-vertical-lg">

					<div>
						<div class="text-lg bold">Last Step: Close and Move Account</div>
						<div class="margin-bottom">
							If you have double-checked your new profile and are ready to move your profile to your new server,
							use this button to close this account and notify your followers.
						</div>
						<button hx-get="/@me/settings/export-finish?oauthUserTokenId={{$oauthUserToken.oauthUserTokenId.Hex}}" class="primary">Move Permanently</button>
					</div>

					<hr class="margin-vertical-lg">
					<div>
						<div class="text-lg bold">Or: Revoke Access</div>
						<div class="margin-bottom">
							You can revoke the access you've granted to <b>{{domainOnly $actorID}}</b>
							if you no longer want to migrate to that server. This will not erase the data
							that has already been exported, but it will prevent {{domainOnly $actorID}}
							from accessing any more data.
						</div>

						<button hx-get="/@me/settings/oauth-token-delete?oauthUserTokenId={{$oauthUserToken.oauthUserTokenId.Hex}}" class="text-red">Disconnect Client</button>
					</div>
				</div>

				<!--pre>{{$oauthUserToken | jsonIndent}}</pre-->
	
			{{- end -}}

		{{- end -}}

	</div>

	<div 
		hx-get="{{.URL}}" 
		hx-trigger="refreshPage from:window" 
		hx-target="main"
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>

</div>