{{- $folderID := .QueryParam "folderId" -}}
{{- $followingID := .QueryParam "followingId" -}}
{{- $following := .FollowingByFolder $folderID -}}

<div>

	<h1>{{ icon "filter" }} Filter By Source</h1>

	<div class="margin-vertical">

		{{- if eq 0 (len $following) -}}

			This folder is empty and has no sources.
			<span role="button" class="link" hx-get="/@me/settings/following-search">Follow a Person or Website</span> to continue.

		{{- else -}}

			{{$selected := eq "" $followingID}}
			<div role="button" class="menu-option flex-row {{ if $selected }}selected{{ end }}" hx-get="/@me/inbox?folderId={{$folderID}}" hx-target="main" hx-swap="innerHTML" script="on click send closeModal">
				<span class="circle width-32 margin-right-sm inline-block"></span>
				<span>All Sources</span>
			</div>

			{{- range $following -}}
				{{- $selected := eq $followingID .FollowingID.Hex -}}

				<div role="button" class="menu-option flex-row {{ if $selected }}selected{{ end }}">
					<div class="flex-row flex-grow-1" hx-get="/@me/inbox?folderId={{$folderID}}&origin.followingId={{.FollowingID.Hex}}" hx-target="main" hx-swap="innerHTML" script="on click send closeModal">
						<div class="width-32">
							{{- if eq "" .IconURL -}}
								<span class="circle width-32 margin-right-sm inline-block"></span>
							{{- else -}}
								<img src="{{.IconURL}}" class="circle width-32 margin-right-sm">
							{{- end -}}
						</div>
						<div class="flex-grow-1">
							<div class="margin-vertical-none ellipsis-block">{{.Label}}</div>
							<div class="margin-vertical-none text-xs text-gray">{{.URL}}</div>
						</div>
					</div>
					<button class="text-xs nowrap" hx-get="/@me/settings/following-edit?followingId={{.FollowingID.Hex}}">Edit Source</button>
				</div>
			{{- end -}}
	
		{{- end -}}
	
	</div>

	<button type="button" script="on click send closeModal">Close Window</button>

</div>