{{- $search := .QueryParam "search" -}}
{{- $isFirstPage := eq "" (.QueryParam "name") -}}
{{- $followers := .Followers.Top12.By "actor.name" -}}
{{- $followers := $followers.Slice -}}

{{- range $followers -}}
	{{- $actor := .Actor -}}
	<div class="flex-row" role="button">
		<div hx-get="/@me/settings/follower?followerId={{.FollowerID.Hex}}&amp;url={{$actor.ProfileURL}}" class="margin-right-sm">
			{{- if eq "EMAIL" .Method -}}
				<div class="circle width-48 text-lg margin-none flex-center text-white">{{icon "email"}}</div>
			{{- else if eq "" $actor.IconURL -}}
				<div class="circle width-48"></div>
			{{- else -}}
				<img src="{{$actor.IconURL}}" class="circle width-48">
			{{- end -}}
		</div>
		<div hx-get="/@me/settings/follower?followerId={{.FollowerID.Hex}}&amp;url={{$actor.ProfileURL}}" class="width-100%">
			<div class="bold">{{$actor.Name}}</div>
			<div class="text-light-gray">{{$actor.UsernameOrID}}</div>
		</div>
	</div>
{{ end }}

{{- if $followers.IsEmpty -}}
	{{- if $isFirstPage -}}
		{{- if eq "" $search -}}
			<div class="text-lg bold">
				You do not have any followers.
			</div>
		{{- else -}}
			<div class="text-lg bold">
				No followers match your search.
			</div>
		{{- end -}}

	{{- end -}}

{{- else if $followers.IsLength 12 -}}
	{{- $last := $followers.Last -}}
	<div hx-get="/@me/settings/followers-list?search={{$search}}&name=GT:{{$last.Actor.Name}}" hx-target="this" hx-trigger="revealed" hx-swap="outerHTML" hx-push-url="false"></div>
{{- end -}}
