{{- $followerID := .QueryParam "followerId" -}}

<div class="flex-row">
    <div class="circle width-64 text-xl margin-none flex-center">{{icon "email"}}</div>
    <div>
        <h1 class="margin-none">{{- .Label -}}</h1>
        <div class="margin-top text-gray">{{- .Actor.EmailAddress -}}</div>
        <div class="text-gray">Follower since {{ .CreateDate | shortDate }}</div>
    </div>

</div>

<div class="flex-row margin-top-xl width-100%">
    <button script="on click trigger closeModal">Close Window</button>
    <div class="flex-grow-1 align-right">
        <button class="text-red" hx-get="/@me/settings/follower-delete?followerId={{$followerID}}">Remove Follower</button>
    </div>
</div>
