{{- $url := .QueryParam "url" -}}
{{- $followerID := .QueryParam "followerId" -}}
{{- $activityStream := .ActivityStream $url -}}
{{- $following := .AmFollowing $url -}}
{{- $outbox := $activityStream.Outbox | collection 4 -}}

<div hx-get="/@me/settings/follower?url={{$url}}" hx-trigger="refreshSection from:window" hx-swap="outerHTML" hx-push-url="false">

	{{- if ne "" $activityStream.Image.Href -}}
		<div style="position:absolute; top:0px; left:0px; right:0px; height:160px; background-image:url('{{$activityStream.Image.Href}}'); background-size:cover;"></div>
		<div style="height:160px;"></div>
	{{- end -}}

	<div class="flex-row">
		{{- if ne "" $activityStream.Icon.Href -}}
			<img src="{{$activityStream.Icon.Href}}" class="circle width-64">
		{{- else -}}
			<div class="circle width-64"></div>
		{{- end -}}
		<div>
			<h1 class="margin-none">{{- $activityStream.Name -}}</h1>
			<div class="text-gray"><a href="{{$activityStream.ID}}" target="_blank">{{- $activityStream.UsernameOrID -}}</a></div>
		</div>
	</div>

	<div class="flex-row margin-vertical">
		<div class="width-64"></div>
		<div>
			<div class="margin-bottom text-gray">{{- $activityStream.Summary | html -}}</div>

			{{- if $following.NotZero -}}
				<button hx-get="/@me/settings/following-delete?followingId={{$following.FollowingID.Hex}}" class="text-xs" hx-push-url="false">&check; Following</button>
			{{- else -}}
				<button hx-get="/@me/settings/following-edit?url={{$activityStream.ID}}" class="text-xs" hx-push-url="false">&plus; Follow</button>
			{{- end -}}
			<a href="{{$activityStream.ID}}" class="button text-xs" target="_blank">View Profile &rarr;</a>
		</div>
	</div>

	{{- if eq 0 (len $outbox ) -}}
		<div>This Person Does Not Have Any Posts.</div>

	{{- else -}}

		{{- range $outbox -}}
            {{- $object := .Load -}}
			<hr>
			<div role="link" script="on click go to url '{{.ID}}' in new window">
				{{- if ne "" $object.Name -}}
					<div><span class="bold">{{$object.Name | textOnly}}</span> &middot; {{$object.Published.Format "Jan 2, 2006"}}</div>
					<div>{{$object.Content | textOnly | summary}}</div>

				{{- else if ne "" .Summary -}}
					<div class="bold">{{$object.Published.Format "Jan 2, 2006"}}</div>
					<div>{{$object.Summary | textOnly | summary}}</div>

				{{- else -}}
					<div class="bold">{{$object.Published.Format "Jan 2, 2006"}}</div>
					<div>{{$object.Content | textOnly | summary}}</div>

				{{- end -}}

			</div>
		{{- end -}}

	{{- end -}}

    <hr>
    <div class="flex-row">
        <button script="on click trigger closeModal">Close Window</button>

		<div class="flex-grow-1 align-right">
			<button hx-get="/@me/settings/follower-delete?followerId={{$followerID}}" class="text-red">Remove Follower</button>
		</div>
	</div>
    
</div>