{{- $search := .QueryParam "search" -}}
{{- $folderID := .QueryParam "folderId" -}}
<h2 class="margin-bottom-lg">{{icon "person-add"}} Follow Someone</h2>

<div script="install Menu(input:#following-search-input)" id="following-search">

	<div role="input" class="flex-row pos-relative">
		
		<input 
			id="following-search-input"
			type="text" 
			name="search" 
			class="flex-grow-1" 
			tabIndex="0"
			value="{{attr $search}}"
			placeholder="@someone@somewhere.social"
			style="border:none; padding:0;" 
			
			script="on load call my focus() if my value is not empty then send initial"
			hx-get="/@me/settings/following-search-results"
			hx-trigger="initial, keyup changed throttle:50ms queue:last"
			hx-target="#following-search-results"
			hx-swap="innerHTML"
			hx-push-url="false"
			hx-vals='{"folderId":"{{$folderID}}"}'
			hx-indicator="#following-search">

		<div class="htmx-request-show pos-absolute-top-right text-light-gray">
			<span class="spin">{{icon "loading"}}</span>
		</div>

	</div>

	<div id="following-search-results">
		<div class="margin-vertical">
			Follow <b>People</b> by entering their name, @username, or URL.<br>
			<!-- Follow <b>Hashtags</b> by entering the #hashtag.<br-->
			Follow <b>Websites</b> (using RSS) by entering a URL.<br>
		</div>
	</div>
</div>