<div class="page app flex-row" script="on load take .selected from .nav-item for #nav-settings">
	<title>{{.FollowingCount}} Following | {{.DisplayName}}</title>
	<link rel="stylesheet" href="/.templates/user-settings/stylesheet">

	<div id="app-sidebar" class="app-sidebar" hx-swap="innerHTML show:window:top">

		<div class="pos-sticky" style="top:96px;">
	
			<div class="bold text-lg margin-none">My Settings</div>
			<div class="text-xs"><a href="/@me/inbox">&larr; Back to Inbox</a></div>
			<hr class="margin-vertical-lg">
	
			<div role="link" hx-get="/@me/settings/following" class="turboclick menu-item ellipsis selected">{{icon "star-fill"}} Following</div>
			<div role="link" hx-get="/@me/settings/followers" class="turboclick menu-item ellipsis">{{icon "person"}} Followers</div>
			<div role="link" hx-get="/@me/settings/products" class="turboclick menu-item ellipsis">{{icon "card"}} Products</div>
			<div role="link" hx-get="/@me/settings/purchases" class="turboclick menu-item ellipsis">{{icon "person-card"}} Purchases</div>
			<div role="link" hx-get="/@me/settings/rules" class="turboclick menu-item ellipsis">{{icon "rule"}} Rules</div>
		</div>
	
	</div>
	
	<div class="app-content">

		<div>
			<input
				type="text" 
				name="search" 
				placeholder="Search Following"
				hx-get="/@me/settings/following-list"
				hx-trigger="keyup queue:last delay:100ms"
				hx-target="#following-list"
				hx-swap="innerHTML"
				hx-push-url="false">
		</div>

		<div class="table margin-top">
			<div class="link flex-row" role="button" hx-get="/@me/settings/following-search" hx-push-url="false">
				<div class="flex-grow-1">
					{{icon "add"}}
					Follow a Person or Website
				</div>
			</div>
		</div>

		<div id="following-list" class="table">
			{{- .View "following-list" -}}
		</div>
				
	</div>

	<div hx-get="{{.URL}}" hx-trigger="refreshPage from:window" hx-push-url="false"></div>

</div>