{{- $isDesktop := .IsDesktop -}}

<div class="app" script="init send SelectNav(id:'settings')">
	<title>{{.FollowerCount}} {{pluralize .FollowerCount "Follower" "Followers"}} | {{.DisplayName}}</title>

	{{- if $isDesktop -}}
		<div id="app-sidebar" class="expanded">
			{{- template "menu" "followers" -}}
		</div>
	{{- end -}}
	
	<div class="app-content padding">

		{{- if $isDesktop -}}
			<div class="flex-row flex-align-center margin-bottom-lg">			
				<h1 class="text-xl bold margin-none flex-grow">Followers</h1>
				<a href="https://emissary.dev/followers" target="_blank">
					{{icon "help"}} Help with Followers
				</a>
			</div>
		{{- else -}}
			<div class="flex-row flex-align-center text-xl margin-none margin-bottom-lg">			
				<a href="/@me/settings/mobile">{{icon "back"}}</a>
				<div class="bold flex-grow">
					Followers
				</div>
				<a href="https://emissary.dev/followers" target="_blank">{{icon "help"}}</a>
			</div>
		{{- end -}}

		<div>
			<input
				type="text" 
				name="search" 
				placeholder="Search Followers"
				hx-get="/@me/settings/followers-list"
				hx-trigger="keyup queue:last delay:100ms"
				hx-target="#followers-list"
				hx-swap="innerHTML"
				hx-push-url="false">
		</div>

		<div id="followers-list" class="table margin-top">
			{{.View "followers-list"}}
		</div>

	</div>

	<div 
		hx-get="{{.URL}}" 
		hx-trigger="refreshPage from:window" 
		hx-target="main" 
		hx-swap="innerHTML" 
		hx-push-url="false">
	</div>

</div>