{{- $isDesktop := .IsDesktop -}}

<div class="app" script="init send SelectNav(id:'settings')">
	<title>{{.FollowingCount}} Following | {{.DisplayName}}</title>

	{{- if $isDesktop -}}
	<div id="app-sidebar" class="expanded">
		{{- template "menu" "social" -}}
	</div>
	{{- end -}}
	
	<div class="app-content padding">

		<div id="menu-bar">
			<div class="left">
				{{ if not $isDesktop }}
					<a href="/@me/settings/mobile" hx-boost="true">{{icon "back"}}</a>
				{{ end }}
				<a href="/@me/settings/following" class="selected" hx-boost="true">Following</a>
				<a href="/@me/settings/followers" hx-boost="true">Followers</a>
				<a href="/@me/settings/circles" hx-boost="true">Circles</a>
				<a href="/@me/settings/rules" hx-boost="true">Rules</a>
			</div>
			<div class="right">
				<a href="https://emissary.dev/following" target="_blank" class="link">
					{{icon "help"}}
					{{ if $isDesktop }} Help with Following {{ end }}
				</a>
			</div>
		</div>

		<div>
			<input
				type="text" 
				name="search" 
				placeholder="Search Following"
				hx-get="/@me/settings/following-list"
				hx-trigger="keyup queue:last delay:100ms"
				hx-target="#following-list"
				hx-swap="innerHTML"
				hx-push-url="false">
		</div>

		<div class="table margin-top" style="border-bottom:none;">
			<div class="link flex-row" role="button" hx-get="/@me/settings/following-search" hx-push-url="false">
				<div class="flex-grow-1">
					{{icon "add"}}
					Follow a Person or Website
				</div>
			</div>
		</div>

		<div id="following-list" class="table">
			{{- .View "following-list" -}}
		</div>
				
	</div>

	<div 
		hx-get="{{.URL}}" 
		hx-trigger="refreshPage from:window" 
		hx-target="main"
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>

</div>