{{- $isDesktop := .IsDesktop -}}

<div class="app" script="init send SelectNav(id:'settings')">
	<title>Social | Followers ({{.FollowerCount}})</title>

	{{- if $isDesktop -}}
		<div id="app-sidebar" class="expanded">
			{{- template "menu" "social" -}}
		</div>
	{{- end -}}
	
	<div class="app-content padding">

		<div id="menu-bar">
			<div class="left">
				{{ if not $isDesktop }}
					<a href="/@me/settings/mobile" hx-boost="true">{{icon "back"}}</a>
				{{ end }}
				<a href="/@me/settings/following" hx-boost="true">Following</a>
				<a href="/@me/settings/followers" class="selected" hx-boost="true">Followers</a>
				<a href="/@me/settings/circles" hx-boost="true">Circles</a>
				<a href="/@me/settings/rules" hx-boost="true">Rules</a>
			</div>
			<div class="right">
				<a href="https://emissary.dev/followers" target="_blank" class="link">
					{{icon "help"}}
					{{ if $isDesktop }} Help with Followers {{ end }}
				</a>
			</div>
		</div>

		<div>
			<input
				type="text" 
				name="search" 
				placeholder="Search Followers"
				hx-get="/@me/settings/followers-list"
				hx-trigger="keyup queue:last delay:100ms"
				hx-target="#followers-list"
				hx-swap="innerHTML"
				hx-push-url="false">
		</div>

		<div id="followers-list" class="table margin-top">
			{{.View "followers-list"}}
		</div>

	</div>

	<div 
		hx-get="{{.URL}}" 
		hx-trigger="refreshPage from:window" 
		hx-target="main" 
		hx-swap="innerHTML" 
		hx-push-url="false">
	</div>

</div>