{{- $search := .QueryParam "search" -}}
{{- $url := .QueryParam "url" -}}
{{- $folderID := .QueryParam "folderId" -}}
{{- $stream := .ActivityStreamActor $url -}}
{{- $following := .AmFollowing $url -}}

{{- if ne "" $search -}}
<div class="margin-bottom">
	<span role="link" class="link" hx-get="/@me/settings/following-search?search={{$search}}&folderId={{$folderID}}" hx-target="#modal">
		&larr; Back to Search
	</span>
</div>
{{- end -}}

<div class="flex-row flex-align-start margin-bottom-lg">
	<div class="margin-top-sm">
		{{- if $stream.Icon.NotNil -}}
			<img src="{{$stream.Icon.Href}}" class="circle width-64">
		{{- else -}}
			<div class="circle width-64"></div>
		{{- end -}}
	</div>

	<div>
		<div class="text-xl bold margin-top-sm margin-bottom-none">{{$stream.Name}}</div>
		<div class="margin-bottom">
			<a href="{{$stream.ID}}" target="_blank" class="clickable text-plain text-gray" role="link">{{$stream.UsernameOrID}}</a>
		</div>
		<div class="margin-bottom">{{$stream.Summary}}</div>

		{{- if not $following.IsNew -}}
			{{- if eq "ACTIVITYPUB" $following.Method -}}
				<div class="text-green bold">{{icon "check-badge-fill"}} Following via ActivityPub</div>
			{{- else if eq "POLL" $following.Method -}}
				<div class="text-green bold">{{icon "rss-fill"}} Following via RSS/Atom</div>
			{{- else -}}
				<div class="text-green bold">{{icon "check-circle-fill"}} Following via {{$following.Method}}</div>
			{{- end -}}
		{{- end -}}		
	</div>
</div>

<hr>
{{- .View "following-add-form" -}}
