{{- $search := .QueryParam "search" -}}
{{- $folderID := .QueryParam "folderId" -}}
<h2 class="margin-bottom-lg">{{icon "add"}} Add a Source</h2>

<div class="text-gray margin-vertical">
	Follow a <b>Person</b> or <b>Website</b>
	by entering their name, @username or URL in the box below
</div>

<div script="install Menu(input:#following-search-input)" id="following-search">

	<div role="input" class="flex-row pos-relative">
		
		<input 
			id="following-search-input"
			type="text" 
			name="search" 
			class="flex-grow-1" 
			tabIndex="0"
			value="{{attr $search}}"
			style="border:none; padding:0;" 
			
			script="on load call my focus() if my value is not empty then send initial"
			hx-get="/@me/settings/following-search-results"
			hx-trigger="initial, keyup changed throttle:50ms queue:last"
			hx-target="#following-search-results"
			hx-swap="innerHTML"
			hx-push-url="false"
			hx-vals='{"folderId":"{{$folderID}}"}'
			hx-indicator="#following-search">

		<div class="htmx-request-show pos-absolute-top-right text-light-gray">
			<span class="spin">{{icon "loading"}}</span>
		</div>

	</div>


	<div id="following-search-results"></div>
</div>