{{- if ne "" .Name -}}

	<div class="text-lg bold margin-top-none margin-bottom-lg">
		<i class="bi bi-database-down"></i>
		<!--i class="bi bi-cloud-download"></i-->
		Importing From {{domainOnly .URL}}
	</div>
	{{- $iconURL := .Icon.Href -}}
	<div class="margin-bottom-lg flex-row">
		<div>
			{{- if ne "" $iconURL -}}
				<img src="{{$iconURL}}" alt="" class="width-64 circle">
			{{- else -}}
				<div class="width-64 circle flex-center">{{icon "person"}}</div>
			{{- end -}}
		</div>
		<div>
			<div class="bold">{{.Name}}</div>
			<div class="text-sm">
				<a href="{{.ID}}" class="text-nocolor text-gray" target="_blank">{{.UsernameOrID}} {{icon "link-outbound"}}</a>
			</div>
		</div>
	</div>

{{- end -}}