<a href="/@me/settings/general" hx-boost="true" class="turboclick menu-item ellipsis {{if eq . `general`}}selected{{end}}" style="view-transition-name:nav-general;">{{icon "settings"}} Profile</a>
<a href="/@me/settings/visibility" hx-boost="true" class="turboclick menu-item ellipsis {{if eq . `security`}}selected{{end}}" style="view-transition-name:nav-security;">{{icon "shield"}} Security</a>
<a href="/@me/settings/following" hx-boost="true" class="turboclick menu-item ellipsis {{if eq . `social`}}selected{{end}}" style="view-transition-name:nav-following;">{{icon "people"}} Social</a>
<a href="/@me/settings/payments" hx-boost="true" class="turboclick menu-item ellipsis {{if eq . `payments`}}selected{{end}}" style="view-transition-name:nav-payments;">{{icon "credit-card"}} Payments</a>
<a href="/@guest" class="turboclick menu-item ellipsis {{if eq . `guest`}}selected{{end}}" style="view-transition-name:nav-guest;">{{icon "user"}} Guest Profile</a>
<br>
<a hx-post="/signout" class="menu-item ellipsis">{{icon "logout"}} Sign Out</a>

