{{- $isDesktop := .IsDesktop -}}

<div class="app" script="init send SelectNav(id:'settings')">
	<title>Social | Notifications</title>

	{{- if $isDesktop -}}
		<div id="app-sidebar" class="expanded">
			{{- template "menu" "social" -}}
		</div>
	{{- end -}}

	<div class="app-content padding">

		<div id="menu-bar">
			<div class="left">
				{{ if not $isDesktop }}
					<a href="/@me/settings/mobile" hx-boost="true">{{icon "back"}}</a>
				{{ end }}
				<a href="/@me/settings/following" hx-boost="true">Following</a>
				<a href="/@me/settings/followers" hx-boost="true">Followers</a>
				<a href="/@me/settings/circles" hx-boost="true">Circles</a>
				<a href="/@me/settings/rules" hx-boost="true">Rules</a>
				<a href="/@me/settings/notifications" class="selected" hx-boost="true">Notifications</a>
			</div>
			<div class="right">
				<a href="https://emissary.dev/notifications" target="_blank" class="link">
					{{icon "help"}}
					{{ if $isDesktop }} Help with Notifications {{ end }}
				</a>
			</div>
		</div>

		<div class="card padding max-width-640 transition-main-card">

			<div class="text-lg bold margin-bottom">Server-Side Options</div>
			<div class="margin-bottom">Choose the message types that will trigger a notifications. This decision is saved on your server, and applies to all real-time alerts and "unread" indicators in your inbox.</div>

			{{- .View "notifications-form" -}}

		</div>
	</div>
</div>
