{{- $isDesktop := .IsDesktop -}}
{{- $tokens := .OAuthUserTokens -}}

<div class="app" script="init send SelectNav(id:'settings')">
	<title>Security | Connected Clients</title>

	{{- if $isDesktop -}}
		<div id="app-sidebar" class="expanded">
			{{- template "menu" "security" -}}
		</div>
	{{- end -}}
	
	<div class="app-content padding">

		<div id="menu-bar">
			<div class="left">
				{{ if not $isDesktop }}
					<a href="/@me/settings/mobile" hx-boost="true">{{icon "back"}}</a>
				{{ end }}
				<a href="/@me/settings/visibility" hx-boost="true">Visibility</a>
				<a href="/@me/settings/password" hx-boost="true">Change Password</a>
				<a href="/@me/settings/oauth" class="selected" hx-boost="true">Connected Clients</a>
				<a href="/@me/settings/keyPackages" hx-boost="true">Public Keys</a>
			</div>
			<div class="right">
				<a href="https://emissary.dev/user-profile" target="_blank" class="link">
					{{icon "help"}}
					{{ if $isDesktop }} Help with My Profile {{ end }}
				</a>
			</div>
		</div>

		<div class="card padding max-width-640 transition-main-card">
			{{- if $tokens.IsEmpty -}}

				<div class="text-lg margin-bottom">
					There are <b>no clients</b> connected to your profile
				</div>

				<div>
					Client applications use <a href="https://en.wikipedia.org/wiki/OAuth" target="_blank">OAuth {{icon "link-outbound"}}</a> to access the data in your profile
					that you allow.  When you connect a client (like mobile apps, and some other websites) it will appear
					here. You'll be able to revoke clients' access at any time.
				</div>

			{{- else -}}
				<div class="margin-bottom">
					{{- if $tokens.IsLength 1 -}}
						There is <b>1 client</b> connected to your profile
					{{- else -}}
						There are <b>{{$tokens.Length}} clients</b> connected to your profile
					{{- end -}}
				</div>
				
				<table class="table">
					{{- range $index, $token := $tokens -}}
						<tr>
							<td class="width-48"><img src="{{$token.iconUrl}}" class="circle width-48"></td>
							<td class="width-50%">
								{{$token.name}}<br>
								{{$token.website}}
							</td>
							<td class="width-50%">Created: {{$token.createDate | shortDate }}</td>
							<td><button hx-get="/@me/settings/oauth-token-delete?oauthUserTokenId={{$token.oauthUserTokenId.Hex}}" class="text-xs text-red">Disconnect</button>
						</tr>
					{{- end -}}
				</table>
				
			{{- end -}}
		</div>
	</div>

	<!-- Reload page on "refreshPage" -->
	<div 
		hx-get="/@me/settings/oauth" 
		hx-trigger="refreshPage from:window" 
		hx-target="main"
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>

</div>