<div class="page app flex-row">

	<link rel="stylesheet" href="/.templates/user-inbox/stylesheet">

	<div id="app-sidebar" class="app-sidebar">

		<div class="pos-sticky" style="top:96px;">
	
			<div class="bold text-lg margin-none">My Settings</div>
			<div class="text-xs"><a href="/@me/inbox">&larr; Back to Inbox</a></div>
			<hr class="margin-vertical-lg">
	
			<div role="link" hx-get="/@me/settings/following" class="turboclick menu-item ellipsis">{{icon "star"}} Following</div>
			<div role="link" hx-get="/@me/settings/followers" class="turboclick menu-item ellipsis">{{icon "person"}} Followers</div>
			<div role="link" hx-get="/@me/settings/products" class="turboclick menu-item ellipsis">{{icon "card"}} Products</div>
			<div role="link" hx-get="/@me/settings/purchases" class="turboclick menu-item ellipsis selected">{{icon "person-card-fill"}} Purchases</div>
			<div role="link" hx-get="/@me/settings/rules" class="turboclick menu-item ellipsis">{{icon "rule"}} Rules</div>
		</div>
	
	</div>
	
	<div class="app-content">

		<div>
			<input
				type="text" 
				name="search" 
				placeholder="Search Purchases"
				hx-get="/@me/settings/subscrbers-list"
				hx-trigger="keyup queue:last delay:100ms"
				hx-target="#rules-list"
				hx-swap="innerHTML"
				hx-push-url="false">
		</div>

		<div id="purchases-list" class="table margin-top">
			{{.View "purchases-list"}}
		</div>
	
	</div>

	<div hx-get="{{.URL}}" hx-trigger="refreshPage from:window" hx-push-url="false"></div>

</div>