{{- $merchantAccounts := .MerchantAccounts.Slice -}}
{{- $remoteProducts := .RemoteProducts -}}

{{- if $remoteProducts.IsEmpty -}}

	<div class="margin-bottom">
		<h1 class="text-xl bold margin-none flex-grow">Products</h1>
	</div>

	<div class="card padding md:width-80% lg:width-60%">
		The next step is to set up products on your merchant account.
		<br><br>
		Sign in to 
		{{ range $index, $merchantAccount := $merchantAccounts }}
			{{ if gt $index 0 }} or {{ end }}
			<a href="{{$merchantAccount.ProductURL}}" target="_blank" class="nowrap">{{$merchantAccount.Name}} {{icon "new-window"}}</a>
		{{ end }}
		to create one or more products, then return here to link them to your posts.
		<br><br>
		If you've already set up products with your Merchant Account, then <span script="on click reload() the window's location" class="link">refresh this page</a> to view them.
	</div>

{{- else -}}

	{{- $group := groupie -}}

	<h1 class="text-xl bold margin-none flex-grow">Products</h1>

	<div class="text-gray md:width-80% lg:width-60% margin-bottom">
		Now that your merchant account is connected, you can link these products to your custom 
		<a href="/@me/settings/circles" class="nowrap">Circles</a> or to other items in
		<a href="/@me" class="nowrap">Your Profile</a>.
	</div>

	<div class="table">
		<div>
			{{- range $index, $merchantAccount := $merchantAccounts -}}
				<a href="{{$merchantAccount.ProductURL}}" target="_blank">
					&plus; Add Another Product on {{$merchantAccount.Name}}
				</a>
				&nbsp;
			{{- end -}}
		</div>
		{{- range $index, $remoteProduct := $remoteProducts -}}
			<div class="flex-row flex-align-center">
				<div class="flex-grow">{{icon $remoteProduct.Icon}} {{$remoteProduct.Name}}</div>						
				<div class="margin-right-lg text-gray">{{$remoteProduct.Price}}</div>
				<div>
					<a href="{{$remoteProduct.AdminHref}}" target="_blank" class="button text-sm">Edit &rarr;</a>
				</div>
			</div>
		{{- end -}}
	</div>
{{- end -}}
