{{- $remoteProducts := .RemoteProducts -}}

{{- if $remoteProducts.IsEmpty -}}

	{{- $merchantAccounts := .MerchantAccounts.Slice -}}

	<div class="margin-bottom">
		<h1 class="text-xl bold margin-none flex-grow">Products</h1>
	</div>

	<div class="card padding md:width-80% lg:width-60%">
		The next step is to set up products on your merchant account.
		<br><br>
		Sign in to 
		{{ range $index, $merchantAccount := $merchantAccounts }}
			{{ if gt $index 0 }} or {{ end }}
			<span class="nowrap bold">{{$merchantAccount.Name}}</span>
		{{ end }}
		to create one or more products, then return here to link them to your posts.
	</div>

{{- else -}}

	{{- $group := groupie -}}

	<div class="margin-bottom">
		<h1 class="text-xl bold margin-none flex-grow">Products</h1>
	</div>

	<div class="table">
		{{- range $index, $remoteProduct := $remoteProducts -}}
			<div class="flex-row flex-align-center">
				<div class="flex-grow">{{icon $remoteProduct.Icon}} {{$remoteProduct.Name}}</div>						
				<div class="margin-right-lg text-gray">{{$remoteProduct.Description}}</div>
				<div>
					<a href="{{$remoteProduct.AdminHref}}" target="_blank" class="button text-sm">Edit &rarr;</a>
				</div>
			</div>
		{{- end -}}
	</div>
{{- end -}}
