<div class="page app flex-row">
	<title>{{.RuleCount}} Rules | {{.DisplayName}}</title>
	<link rel="stylesheet" href="/.templates/user-settings/stylesheet">

	<div id="app-sidebar" class="app-sidebar">

		<div class="pos-sticky" style="top:96px;">
	
			<div class="bold text-lg margin-none">My Settings</div>
			<div class="text-xs"><a href="/@me/inbox">&larr; Back to Inbox</a></div>
			<hr class="margin-vertical-lg">
	
			<div role="link" hx-get="/@me/settings/following" class="turboclick menu-item ellipsis">{{icon "star"}} Following</div>
			<div role="link" hx-get="/@me/settings/followers" class="turboclick menu-item ellipsis">{{icon "person"}} Followers</div>
			<div role="link" hx-get="/@me/settings/products" class="turboclick menu-item ellipsis">{{icon "card"}} Products</div>
			<div role="link" hx-get="/@me/settings/purchases" class="turboclick menu-item ellipsis">{{icon "person-card"}} Purchases</div>
			<div role="link" hx-get="/@me/settings/rules" class="turboclick menu-item ellipsis selected">{{icon "rule-fill"}} Rules</div>
		</div>
	
	</div>
	
	<div class="app-content">

		<div>
			<input
				type="text" 
				name="search" 
				placeholder="Search Rules"
				hx-get="/@me/settings/rules-list"
				hx-trigger="keyup queue:last delay:100ms"
				hx-target="#rules-list"
				hx-swap="innerHTML"
				hx-push-url="false">
		</div>

		<div class="table margin-top">
			<div hx-get="/@me/settings/rule-add" role="button" class="link">
				{{icon "add"}} Add an Inbox Rule
			</div>
		</div>

		<div id="rules-list" class="table">
			{{.View "rules-list"}}
		</div>
	
	</div>

	<div hx-get="{{.URL}}" hx-trigger="refreshPage from:window" hx-push-url="false"></div>

</div>