<div class="page app flex-row" script="on load take .selected from .nav-item for #nav-settings">
	<title>{{.RuleCount}} Rules | {{.DisplayName}}</title>
	<link rel="stylesheet" href="/.templates/user-settings/stylesheet">

	<div id="app-sidebar" class="app-sidebar">

		<div class="pos-sticky" style="top:96px;">
	
			<div class="bold text-xl margin-none margin-bottom">Settings</div>
	
			<a href="/@me/settings/following" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "star"}} Following</a>
			<a href="/@me/settings/followers" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "person"}} Followers</a>
			<a href="/@me/settings/circles" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "circle"}} Circles</a>
			<a href="/@me/settings/purchases" hx-boost="true" class="turboclick menu-item ellipsis">{{icon "person-card"}} Purchases</a>
			<a href="/@me/settings/rules" hx-boost="true" class="turboclick menu-item ellipsis selected">{{icon "rule-fill"}} Rules</a>
		</div>
	
	</div>
	
	<div class="app-content">

		<div>
			<input
				type="text" 
				name="search" 
				placeholder="Search Rules"
				hx-get="/@me/settings/rules-list"
				hx-trigger="keyup queue:last delay:100ms"
				hx-target="#rules-list"
				hx-swap="innerHTML"
				hx-push-url="false">
		</div>

		<div class="table margin-top">
			<div hx-get="/@me/settings/rule-add" role="button" class="link">
				{{icon "add"}} Add an Inbox Rule
			</div>
		</div>

		<div id="rules-list" class="table">
			{{.View "rules-list"}}
		</div>
	
	</div>

	<div hx-get="{{.URL}}" hx-trigger="refreshPage from:window" hx-push-url="false"></div>

</div>