{{- $isDesktop := .IsDesktop -}}

<div class="app" script="init send SelectNav(id:'settings')">
	<title>Social | Rules ({{.RuleCount}})</title>
	<link rel="stylesheet" href="/.templates/user-settings/stylesheet">

	{{- if $isDesktop -}}
		<div id="app-sidebar" class="expanded">
			{{- template "menu" "social" -}}
		</div>
	{{- end -}}
	
	<div class="app-content padding">

		<div id="menu-bar">
			<div class="left">
				{{ if not $isDesktop }}
					<a href="/@me/settings/mobile" hx-boost="true">{{icon "back"}}</a>
				{{ end }}
				<a href="/@me/settings/following" hx-boost="true">Following</a>
				<a href="/@me/settings/followers" hx-boost="true">Followers</a>
				<a href="/@me/settings/circles" hx-boost="true">Circles</a>
				<a href="/@me/settings/rules" class="selected" hx-boost="true">Rules</a>
			</div>
			<div class="right">
				<a href="https://emissary.dev/rules" target="_blank" class="link">
					{{icon "help"}}
					{{ if $isDesktop }} Help with Rules {{ end }}
				</a>
			</div>
		</div>

		<div class="alert-gray margin-bottom">
			Rules let you limit the messages you receive from others. 
			Filter messages based on the sender, the server it originates from, 
			or the message content, then choose to 
			<b>block</b> or <b>label</b> messages that match that rule.
		</div>

		<div>
			<input
				type="text" 
				name="search" 
				placeholder="Search Rules"
				hx-get="/@me/settings/rules-list"
				hx-trigger="keyup queue:last delay:100ms"
				hx-target="#rules-list"
				hx-swap="innerHTML"
				hx-push-url="false">
		</div>

		<div class="table margin-top" style="border-bottom:none;">
			<div hx-get="/@me/settings/rule-add" role="button" class="link">
				{{icon "add"}} Add an Inbox Rule
			</div>
		</div>

		<div id="rules-list" class="table">
			{{.View "rules-list"}}
		</div>
	
	</div>

	<div 
		hx-get="{{.URL}}" 
		hx-trigger="refreshPage from:window" 
		hx-target="main"
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>

</div>