{{- $ruleID := .QueryParam "ruleId" -}}
{{- $rule := .RuleByToken $ruleID -}}

<h2>{{icon "cloud"}} Sitewide Rule</h2>

<div class="info margin-bottom">
	This sitewide rule was created by the domain admin.  It cannot be changed.
</div>

<table class="table margin-bottom-lg">
	<tr>
		<td>Rule</td>
		<td>
			<div class="text-sm text-gray">{{$rule.Type}}</div>
			<div>{{$rule.Trigger}}</div>
		</td>
	</tr>
	<tr>
		<td>Action</td>
		<td>{{$rule.Action}}</td>
	</tr>
</table>

<div>
	<button script="on click send closeModal">Close Window</button>
</div>
