{{- $object := .Object -}}
{{- $origin := $object.Origin -}}
{{- $done := false -}}

{{- if eq `ADMIN` $origin -}}
	{{.View "rule-edit-admin" -}}
	{{- $done := true -}}

{{- else if eq `REMOTE` $origin -}}
	{{- if ne "true" (.QueryParam "edit") -}}
		{{.View "rule-edit-remote" -}}
		{{- $done := true -}}
	{{- end -}}
{{- end -}}

{{- if not $done -}}
	{{- $type := $object.Type -}}

	{{- if eq "ACTOR" $type -}}
		{{- .View "rule-edit-actor" -}}
	{{- else if eq "DOMAIN" $type -}}
		{{- .View "rule-edit-domain" -}}
	{{- else -}}
		{{- .View "rule-edit-content" -}}
	{{- end -}}
{{- end -}}