{{- $search := .QueryParam "search" -}}
{{- $rules := .Rules.Top12.By "trigger" -}}
{{- $rules := $rules.Slice -}}

{{- range $rules -}}
	<div role="button" class="flex-row width-100% turboclick origin-{{.Origin}}" hx-get="/@me/inbox/rule-edit?ruleId={{.RuleID.Hex}}">

		<div class="width-2-6 flex-row" nowrap>
			<div class="text-xl margin-none flex-align-start">
			{{- if eq "ACTOR" .Type -}}
					{{- icon "person"}}
				{{- else if eq "DOMAIN" .Type -}}
					{{- icon "server"}}
				{{- else -}}
					{{- icon "hash"}}
				{{- end -}}
			</div>
			<div class="ellipsis">
				<div class="bold">
					{{.Trigger}}
				</div>
				<div class="text-gray text-sm">
				{{- if eq "ACTOR" .Type -}}
					Person Rule
				{{- else if eq "DOMAIN" .Type -}}
					Server Rule
				{{- else -}}
					Keyword Rule
				{{- end -}}
				</div>
			</div>
		</div>
		<div class="width-3-6 nowrap">
			<div class="bold">
				{{- if eq "BLOCK" .Action -}}
					{{icon "block"}} Block
				{{- else if eq "MUTE" .Action -}}
					{{icon "mute"}} Mute
				{{- else -}}
					{{icon "tag"}} &quot;{{.Label}}&quot;
				{{- end -}}
			</div>
			<div class="text-gray text-sm">{{.Summary}}</div>
		</div>
		<div class="width-1-6 align-right nowrap">
			{{- if .OriginRemote -}}
				{{icon "cloud"}} Imported
			{{- else if .IsPublic -}}
				{{icon "visible-fill"}} Published
			{{- else -}}
				{{icon "invisible"}} Private
			{{- end -}}
		</div>
	</div>
{{- end -}}

{{- if eq 12 $rules.Length -}}
	{{- $last := $rules.Last -}}
	<div hx-get="/@me/inbox/rules-list?search={{$search}}&trigger=GT:{{$last.Trigger}}" hx-target="this" hx-trigger="revealed" hx-swap="outerHTML" hx-push-url="false"></div>
{{- end -}}