{{- $isDesktop := .IsDesktop -}}

<div class="app" script="init send SelectNav(id:'settings')">
	<title>Security | Visibility</title>

	{{- if $isDesktop -}}
		<div id="app-sidebar" class="expanded">
			{{- template "menu" "security" -}}
		</div>
	{{- end -}}
	
	<div class="app-content padding">

		<div id="menu-bar">
			<div class="left">
				{{ if not $isDesktop }}
					<a href="/@me/settings/mobile" hx-boost="true">{{icon "back"}}</a>
				{{ end }}
				<a href="/@me/settings/visibility" class="selected" hx-boost="true">Visibility</a>
				<a href="/@me/settings/password" hx-boost="true">Change Password</a>
				<a href="/@me/settings/oauth" hx-boost="true">Connected Clients</a>
				<a href="/@me/settings/keyPackages" hx-boost="true">Public Keys</a>
			</div>
			<div class="right">
				<a href="https://emissary.dev/user-profile" target="_blank" class="link">
					{{icon "help"}}
					{{ if $isDesktop }} Help with My Profile {{ end }}
				</a>
			</div>
		</div>

		<div class="card padding max-width-640 transition-main-card">

			<div
				style="max-width:600px;"
				hx-get="/@me/settings/visibility-form"
				hx-trigger="load"
				hx-target="this"
				hx-swap="innerHTML"
				hx-push-url="false">
			</div>
		</div>
	</div>
</div>