{{ $mentions := .Mentions}}

{{- if gt (len $mentions) 0 -}}
	<div class="widget mentions margin-top">
		<div class="text-lg bold margin-bottom">Mentions</div>
		{{- range .Mentions -}}
			<a class="flex-row text-nocolor" href="{{.Origin.URL}}" target="_blank" rel="noopener noreferrer nofollow">
				<div class="width-24">
					{{- if ne "" .Author.IconURL -}}
						<img src="{{.Author.IconURL}}" alt="" class="circle width-24">
					{{- else if ne "" .Origin.IconURL -}}
						<img src="{{.Origin.IconURL}}" alt="" class="circle width-24">
					{{- end -}}
				</div>
				<div class="ellipsis">
					{{- if ne "" .Author.Name -}}
						{{.Author.Name}}
					{{- else -}}
						{{.Origin.Label}}
					{{- end -}}
				</div>
			</a>
		{{- end -}}
	</div>
{{- end -}}