<div>
	<h1>Inbox</h1>

	{{range .Children.View}}
		<div hx-get="/{{.Token}}" hx-push-url="true">
			{{if ne .ThumbnailImage ""}}
				<img src="{{.ThumbnailImage}}" style="width:200px;"/>
			{{end}}

			<div class="bold">{{.Label}}
				{{ if eq .StateID "unread" }}
				<span hx-post="/{{.Token}}/mark-read"
				hx-trigger="revealed"
				hx-swap="outerHTML"
				hx-target="this"
				hx-push-url="false"></span>
				{{ end }}
			</div>
			<div class="light">{{.Description}}</div>
			<div class="small light space-below" script="install PrettyDate(date:{{.PublishDate}})">[{{.PublishDate}}]</div>
	
		</div>
		<hr>
	{{end}}

</div>