<div class="flex-row" style="align-items:center;">
	<img src="{{.IconURL}}" class="circle-64">
	<div>
		<h1 style="margin-bottom:0px">Follow {{.DisplayName}}</h1>
		<div class="text-gray">@{{.Username}}@{{.Hostname}}</div>
	</div>
</div>

<hr>

<button hx-get="/@{{.UserID}}/follow-activitypub" class="flex-row width-100-percent">
	<div class="text-3xl margin-none">{{icon "activitypub"}}</div>
	<div class="flex-grow">
		<div class="text-lg margin-none">My Fediverse Account</div>
		<div class="text-sm text-gray">Updates in your ActivityPub inbox (better)</div>
	</div>
	<div class="text-lg">{{icon "chevron-right"}}</div>
</button>

<button hx-get="/@{{.UserID}}/follow-email" class="text-lg flex-row width-100-percent">
	<div class="text-3xl margin-none">{{icon "email"}}</div>
	<div class="flex-grow">
		<div class="text-lg margin-none">My Email Account</div>
		<div class="text-sm text-gray">Updates in your email inbox</div>
	</div>
	<div class="text-lg">{{icon "chevron-right"}}</div>
</button>

<hr>

<button script="on click trigger closeModal">Close Window</button>
