<div class="flex-row" style="align-items:center;">
	<img src="{{.IconURL}}" class="circle-64">
	<div>
		<h1 style="margin-bottom:0px">Follow {{.DisplayName}}</h1>
		<div class="text-gray">@{{.Username}}@{{.Hostname}}</div>
	</div>
</div>

<hr>

<button hx-get="/@{{.UserID}}/follow-activitypub" class="text-lg flex-row width-100-percent">
	<span>{{icon "activitypub"}}</span>
	<span class="flex-grow">On the Fediverse (via ActivityPub)</span>
	<span>{{icon "chevron-right"}}</span>
</button>

<button hx-get="/@{{.UserID}}/follow-email" class="text-lg flex-row width-100-percent">
	<span>{{icon "email"}}</span>
	<span class="flex-grow">With My Email Account</span>
	<span>{{icon "chevron-right"}}</span>
</button>

<hr>

<button script="on click trigger closeModal">Close Window</button>
