{{- $outboxBuilder := . -}}
{{- $outbox := .Outbox.Top12.ByPublishDate.Reverse.Slice -}}

{{- if ne 0 (len $outbox) -}}
	{{- $last := $outbox.Last -}}
	{{- $isMyself := .IsMyself -}}

	{{- range $index, $stream := $outbox -}}
		{{- $document := $outboxBuilder.ActivityStream $stream.URL -}}
		<hr>
		<div class="hover-trigger flex-row">
			<div script="on click go to url '/{{$stream.ID}}'" role="link" class="flex-grow-1 flex-row h-entry margin-bottom turboclick">
				<div class="flex-shrink-0" style="width:80px;">
					<img src="{{$stream.AttributedTo.ImageURL}}" class="circle-64" loading="lazy">
				</div>
				<div class="flex-grow-1" style="max-width:600px;">
					{{- if ne "" $stream.Label -}}
						<div class="h-name bold black">{{$stream.Label}}</div>
					{{- end -}}
					<div class="h-summary black">{{$stream.ContentHTML | html }}</div>
					{{- if ne $stream.ImageURL ""}}
						<div style="margin-top:var(--rhythm);">
							<img src="{{$stream.ImageURL}}" loading="lazy" style="border:solid 1px var(--gray40); border-radius:16px; max-width:100%; object-fit:contain;">
						</div>
					{{- end -}}
					<div class="text-sm text-light-gray p-published">{{$stream.PublishDate | humanizeTime}}</div>
				</div>
			</div>
			{{- if $outboxBuilder.UserCan "edit" -}}
				<div class="text-sm">
					<button hx-get="/{{$stream.ID}}/edit">Edit</button>
				</div>
			{{- end -}}
		</div>
	{{- end -}}

	<div hx-get="{{$outboxBuilder.ProfileURL}}/outbox-list?publishDate=LT:{{$last.PublishDate}}" hx-push-url="false" hx-trigger="intersect once" hx-target="this" hx-swap="outerHTML">
		Loading recent posts...
	</div>

{{- end -}}