<!-- Page content -->
<div class="framed page app h-card" hx-get="/@{{.UserID}}" hx-trigger="refreshPage from:window" hx-target="this" hx-swap="outerHTML" script="on load take .selected from .nav-item for #nav-outbox">

	<title>{{.DisplayName}}</title>

	<!-- Metadata -->
	<link rel="icon" href="{{.IconURL}}"/>

	<!-- ActivityPub links -->
	<link rel="http://webfinger.net/rel/profile-page" href="{{.ProfileURL}}"/>
	<link rel="http://ostatus.org/schema/1.0/subscribe" href="{{.Host}}/.ostatus/tunnel?uri={uri}">
	<link rel="self" type="application/activity+json" href="{{.ActivityPubURL}}"/>

	<!-- RSS and WebSub Links -->
	<link rel="hub" href="{{.Host}}/@{{.UserID}}/websub"/>
	<link rel="alternate" type="application/rss+xml" href="{{.Host}}/@{{.UserID}}/feed?format=rss"/>
	<link rel="alternate" type="application/atom+xml" href="{{.Host}}/@{{.UserID}}/feed?format=atom"/>
	<link rel="alternate" type="application/feed+json" href="{{.Host}}/@{{.UserID}}/feed?format=json"/>

	{{ .View "sidebar" }}

	<div class="app-content">

		<div role="tablist" class="underlined">
			<span role="tab" aria-selected="true">Posts</span>
			<a role="tab" hx-get="/@{{.UserID}}/replied" class="turboclick">Replies</a>
			<a role="tab" hx-get="/@{{.UserID}}/liked" class="turboclick">Likes</a>
		</div>

		{{if .IsMyself -}}
			<div class="flex-row margin-bottom">
				<div class="flex-shrink-0" style="width:80px;">
					{{- if eq "" .IconURL -}}
						<div class="circle width-64"></div>
					{{- else -}}
						<img src="{{.ActivityPubIconURL}}" class="circle width-64">
					{{- end -}}
				</div>
				<div style="flex-grow:1">
					<div style="max-width:600px;">
						{{- .View "outbox-add" -}}
					</div>
				</div>
			</div>
		{{- end -}}

		<div class="h-feed">
			{{ .View "outbox-list"}}
		</div>
	</div>
</div>
