<div class="app-sidebar">
	
	<link rel="stylesheet" href="/.templates/user-outbox/stylesheet">
	<link rel="canonical" class="u-url" href="{{.ProfileURL}}"></link>

	<div class="space-below" style="position:relative;">
		{{- if .UserCan "photo" -}}
			<button type="button" hx-get="/@me/profile-photo" class="text-xs vertical-space-none pos-absolute" style="top:0px; right:0px;">Edit</button>
		{{- end -}}
	
		<div style="width:90%; max-width:200px; margin:0px auto;">
			{{- if ne "" .ActivityPubAvatarURL -}}
				<img class="circle aspect-square u-photo" src="{{.ActivityPubAvatarURL}}" loading="lazy" style="height:100%; width:100%;">
			{{- else -}}
				<div class="circle placeholder-gray" style="width:90%; max-width:200px; margin:0px auto;"></div>
			{{- end -}}
		</div>
	</div>

	<div class="space-below">
		<button hx-get="/@me/edit" class="text-xs float-right">Edit</button>
		
		<h1 class="p-name" style="margin:0px;">{{.DisplayName}}</h1>
		<h2 class="gray50" style="margin:0px;">{{.Username}}</h2>
		{{- if not .Myself -}}
			<div class="space-above">
				<button type="button" class="primary width-100" hx-get="/@{{.UserID}}/follow">{{icon "add-circle"}} Follow {{.DisplayName}}</button>
			</div>
		{{- end -}}

		<div class="space-above">
			<span class="p-note">{{.StatusMessage}}</span>
		</div>
		{{- if ne "" .Location -}}
			<div class="space-above p-adr"><span class="p-label">{{icon "location"}} {{.Location}}</a></div>
		{{- end -}}

	</div>

	<div class="space-above align-left">

		{{- $links := .Links -}}

		{{- if eq 0 (len $links) -}}

			{{- if .UserCan "edit" -}}
				<hr>
			<button type="button" hx-get="/@me/profile-links">Add Links</button>
			{{- end -}}

		{{- else -}}

			{{- if .UserCan "edit"  -}}
				<hr>
				<div class="float-right">
					{{- if .UserCan "links" -}}
						<button type="button" hx-get="/@me/profile-links" class="text-xs vertical-space-none">Edit</button>
					{{- end -}}
				</div>
			{{- end -}}

			{{- range $links -}}
				<div><a rel="me" class="text-plain u-url" href="{{.ProfileURL}}" target="_blank">{{icon "globe"}} {{.Name}}</a></div>
			{{- end -}}
		{{- end -}}

	</div>

	{{- if .UserCan "edit" -}}
		<hr>
		<div>
			<button hx-post="/signout" hx-target="body">Sign Out</button>
		</div>
	{{- end -}}

</div>
