<div id="modal" script="install modal()">
	<div class="modal-underlay" script="on click trigger closeModal"></div>
	<div class="modal-content">
		<form hx-post="/{{.Token}}/new">
			<h2>+ Add Stream</h2>

			<table class="space-below">
				{{- range $index, $template := .CanCreate -}}
					<tr hx-get="/{{.Label}}/new" script="install AsModal">
						<td>{{$template.Label}}</td>
					</tr>
				{{- end -}}
			</table>
			<div>
				<input type="submit" class="btn primary" value="Add Stream"/>
				<button class="btn" script="on click trigger closeModal">Cancel</button>
			</div>
		</form>
	</div>
</div>