<div class="uk-margin-bottom">
	<a href="/{{.Token}}?view=table" hx-get="/{{.Token}}?view=table" hx-trigger="mousedown[button==0]">Table</a> |
	<a href="/{{.Token}}?view=icons" hx-get="/{{.Token}}?view=icons" hx-trigger="mousedown[button==0]">Icons</a> |
	<a href="/{{.Token}}?view=previews" hx-get="/{{.Token}}?view=previews" hx-trigger="mousedown[button==0]">Preview</a>
</div>

<div class="uk-overflow-auto">
	<table class="uk-table uk-table-divider uk-table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr hx-trigger="click" hx-get="" class="link">
				<td colspan="3">+ Add</td>
			</tr>
			{{ range .Children }}
			<tr hx-get="/{{.Token}}" hx-trigger="click" class="link">
				<td>{{.Label}}</td>
				<td>{{.Description}}</td>
				<td>{{.PublishDate}}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</div>