<div hx-ext="sse" sse-connect="/{{.StreamID}}/sse">
<div hx-get="/{{.Token}}" hx-trigger="sse:message, refreshPage from:body">
<div class="page">

	<h1>{{.Label}}</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody hx-push-url="true">
			{{- if .UserCan "new" -}}
				<tr script="install AsModal()"
					hx-get="/{{.Token}}/new">
					<td colspan="3" class="link"><i class="fa-solid fa-circle-plus"></i> Add Stream</td>
				</tr>
			{{- end -}}
			{{- range .Children.ByLabel.View -}}
				<tr hx-get="/{{.Token}}" hx-trigger="click">
					<td><i class="fa-regular fa-file-lines"></i> {{.Label}}</td>
					<td>{{.Description}}</td>
					<td></td>
				</tr>
			{{- end -}}
		</tbody>
	</table>
	
</div>
</div>
</div>