<!-- // TODO: Inline these scripts into the template. Is it possible to remove external FontAwesome dependency, too? -->
<!-- Uses https://github.com/Ionaru/easy-markdown-editor -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

<article>
	<form id="markdownForm" hx-post="/{{.StreamID}}/editor" hx-trigger="save" hx-swap="none">
		<textarea id="markdownContent" name="content">{{.ContentRaw}}</textarea>
	</form>
</article>

<script type="text/javascript">

	var easyMDE = new EasyMDE({
		element:document.getElementById('markdownContent'),
		uploadImage:true,
		imageUploadEndpoint:"/{{.StreamID}}/upload-image",
		imagePathAbsolute:true,
	});

	easyMDE.codemirror.on("blur", function() {
		saveDraft(false);
	});
</script>

<script type="text/hyperscript">

	def saveDraft(promote)
		set #markdownContent.value to easyMDE.value()
		send save to #markdownForm
		wait for htmx:afterOnLoad from #markdownForm
		if promote then
			fetch /{{.StreamID}}/promote-draft with method:"POST"
			set window.location to "/{{.StreamID}}"
		end
	end
</script>

