<!-- // TODO: Inline these scripts into the template. -->
<!-- Uses https://github.com/Ionaru/easy-markdown-editor -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

<article>
	<form id="markdownForm" hx-post="/{{.StreamID}}/editor" hx-trigger="save" hx-swap="none" hx-push-url="false">
		<textarea id="markdownContent" name="content">{{.ContentRaw}}</textarea>
	</form>
</article>

<style>
	.EasyMDEContainer {

		.CodeMirror {
			color: var(--black);
			background-color: var(--gray10);
			caret-color: var(--black);

			.CodeMirror-cursor {
				border-left: 1px solid var(--black)!important;
			}
		}

		.editor-toolbar {
			button {
				&.active {
					color:var(--white);
					background-color:var(--gray50);
					border-color:var(--gray60);
				}
				&:hover {
					background-color: var(--gray20);
				}
			}
		}
	}
</style>


<script type="text/javascript">

	const darkModeMql = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)');

	var easyMDE = new EasyMDE({
		element:document.getElementById('markdownContent'),
		uploadImage:true,
		imageUploadEndpoint:"/{{.StreamID}}/upload-image",
		imagePathAbsolute:true,
	});

	easyMDE.codemirror.on("blur", function() {
		saveDraft(false);
	});
</script>

<script type="text/hyperscript">

	def saveDraft(promote)
		set #markdownContent.value to easyMDE.value()
		send save to #markdownForm
		wait for htmx:afterOnLoad from #markdownForm
		if promote then
			fetch /{{.StreamID}}/promote-draft with method:"POST"
			set window.location to "/{{.StreamID}}"
		end
	end
</script>

