<script type="text/javascript" src="/.templates/article-markdown/javascript"></script>

<script type="text/hyperscript">
	def saveDraft(promote)
		send save to #markdownForm
		wait for htmx:afterOnLoad from #markdownForm
		if promote then
			fetch /{{.StreamID}}/promote-draft with method:"POST"
		end

		set window.location to "/{{.StreamID}}"
	end
</script>

<div class="page">

	<div id="menu-bar">

		<div class="left">
			{{- if .UserCan "edit" -}}
				<a hx-get="/{{.StreamID}}/edit" hx-push-url="true">Content</a>
			{{- end -}}

			{{- if .UserCan "widgets" -}}
				<a hx-get="/{{.StreamID}}/widgets" hx-push-url="true" class="bold">Widgets</a>
			{{- end -}}

			{{- if .UserCan "properties" -}}
				<a hx-get="/{{.StreamID}}/properties">Info</a>
			{{- end -}}

			{{- if .UserCan "sharing" -}}
				<a hx-get="/{{.StreamID}}/sharing">Sharing</a>
			{{- end -}}
		</div>

		<div class="right">
			<button script="on click saveDraft(true)" class="button primary">Promote</button>
			<button script="on click saveDraft(false)">Save Draft</button>
			<button hx-get="/{{.StreamID}}/discard-draft">Discard Draft</button>

			{{- if .UserCan "delete" -}}
				<a hx-get="/{{.StreamID}}/delete" class="text-red">Delete</a>
			{{- end -}}
		</div>

	</div>

	<div hx-get="/{{.StreamID}}/heading" hx-trigger="refreshPage from:window">
		{{.View "heading"}}
	</div>

	<article>
		<form hx-post="/{{.StreamID}}/widgets" hx-trigger="change, save" hx-swap="none" id="markdownForm">
			{{.WidgetEditor}}
		</form>
	</article>
	
</div>
