{{- $url := .QueryParam "url" -}}
{{- $folderID := .QueryParam "folderId" -}}
{{- $block := .Object -}}
{{- $class := iif (eq "POST" .Method) "visible" "" -}}

<span script="install popUp(position:'center')" hx-target="this" hx-swap="outerHTML" hx-push-url="false" class="{{$class}}">
	<button class="popUp-button bold">{{icon "mute"}} Muted</button>
	<div class="popUp-content text-md width-320">
		<div class="text-sm text-gray margin-bottom">Posts from this sender will not be displayed, but they may still see your posts.</div>
		<hr>
		<div class="align-center text-red" hx-post="/@me/inbox/actor-button-unmute?blockId={{$block.ID}}&folderId={{$folderID}}&url={{$url}}" role="button">
			{{icon "cancel"}} Stop Muting
		</div>
	</div>
</span>