{{- $url := .QueryParam "url" -}}
{{- $folderID := .QueryParam "folderId" -}}
{{- $following := .Object -}}
{{- $class := iff (eq "POST" .Method) "visible" "" -}}

<span script="install popUp(position:'center')" hx-target="this" hx-swap="outerHTML" hx-push-url="false" class="{{$class}}">
	<button class="popUp-button bold">{{icon "check"}} Following</button>
	<div class="popUp-content text-md width-320">

		<div class="margin-bottom-lg">
			<div class="bold ellipsis">Following {{$following.Label}}</div>
			{{- if eq "ACTIVITYPUB" $following.Method -}}
				<div class="text-sm text-light-gray">{{icon "activitypub"}} ActivityPub. Real-time updates.</div>
			{{- else if eq "WEBSUB" $following.Method -}}
				<div class="text-sm text-light-gray">{{icon "websub"}} WebSub. Real-time updates.</div>
			{{- else if eq "POLL" $following.Method -}}
				<div class="text-sm text-light-gray">{{icon "rss"}} RSS/Atom. Daily Updates.</div>
			{{- end -}}
		</div>
		
		<div>
			<span class="bold margin-right-sm">Settings:</span>
		</div>

		<form hx-post="/@me/inbox/actor-button-follow-update?followingId={{$following.ID}}&url={{$url}}" hx-trigger="change">
			<div class="layout layout-vertical text-sm">
				<div class="layout-vertical-elements">
					<div class="layout-vertical-element">
						<select name="behavior" script="install select(value:'{{$following.Behavior}}')">
							<option value="POSTS+REPLIES+BLOCKS">Import: Posts, Replies, and Blocks</option>
							<option value="POSTS+REPLIES">Import: Posts and Replies</option>
							<option value="POSTS+BLOCKS">Import: Posts and Blocks</option>
							<option value="POSTS">Import: Posts Only</option>
							<option value="BLOCKS">Import: Blocks Only</option>
						</select>
					</div>
					<div class="layout-vertical-element">
						<span 
							script="install toggle" 
							name="collapseThreads" 
							value="{{$following.CollapseThreads}}" 
							true-text="Group messages into a single thread" 
							false-text="Show all messages separately">
						</span>
					</div>
					<div class="layout-vertical-element">
						<span 
							script="install toggle" 
							name="isPublic" 
							value="{{$following.IsPublic}}" 
							true-text="Allow others to see this connection" 
							false-text="Not visible to others">
						</span>
					</div>
				</div>
			</div>
		</form>

		<hr class="margin-vertical-sm">
		<div class="align-center text-red" hx-post="/@me/inbox/actor-button-unfollow?followingId={{$following.ID}}&folderId={{$folderID}}&url={{$url}}" role="button">
			{{icon "cancel"}} Stop Following
		</div>
	</div>
</span>