{{- $url := .QueryParam "url" -}}
{{- $following := .AmFollowing $url -}}

<span hx-get="/@me/inbox/actor-button?{{.QueryString}}" hx-trigger="refresh" hx-target="this" hx-swap="outerHTML" script="install refreshPeers(id:'{{$url}}')">
	{{- if not $following.IsNew -}}
		{{- $subRenderer := .SubRenderer $following -}}
		{{- template "actor-button-follow" $subRenderer -}}

	{{- else -}}
		{{- $block := .AmBlocking "ACTOR" $url -}}

		{{- if eq "MUTE" $block.Action -}}
			{{- $subRenderer := .SubRenderer $block -}}
			{{- template "actor-button-mute" $subRenderer -}}

		{{- else if eq "BLOCK" $block.Action -}}
			{{- $subRenderer := .SubRenderer $block -}}
			{{- template "actor-button-block" $subRenderer -}}

		{{- else -}}
			{{- template "actor-button-none" . -}}
		{{- end -}}
		
	{{- end -}}
</span>