{{- $url := .QueryParam "url" -}}
{{- $following := .Object -}}

<span script="install popUp(position:'default')" hx-target="this" hx-swap="outerHTML" hx-push-url="false">
	<button class="popUp-button bold">{{icon "check"}} Following</button>
	<div class="popUp-content text-md menu width-240">
		<div class="text-sm text-gray margin-bottom">Receiving real-time updates via ActivityPub</div>
		<hr>
			<pre>{{$following | json }}</pre>
		<hr>
		<div class="align-center text-red" hx-post="/@me/inbox/actor-button-unfollow?followingId={{$following.FollowingID.Hex}}&folderId={{$following.FolderID.Hex}}&url={{$url}}" role="button">
			{{icon "cancel"}} Stop Following
		</div>
	</div>
</span>