{{- $url := .QueryParam "url" -}}
{{- $messageID := .QueryParam "messageId" -}}
{{- $folderID := .QueryParam "folderId" -}}
{{- $followingID := .QueryParam "origin.followingId" -}}
{{- $publishedDate := .QueryParam "published" -}}

{{- $pageSize := 6 -}}
{{- $builder := . -}}

{{- $replies := .RepliesAfter $url $publishedDate $pageSize -}}

{{- range $index, $value := $replies -}}
	{{- template "browse-document" (array $builder $value "replies") -}}
{{- end -}}

{{- if eq $replies.Length $pageSize -}}
	<div 
		hx-get="{{.BasePath}}/browse-replies?published={{$replies.Last.Published | epochDate}}&url={{$url}}" 
		hx-target="this" 
		hx-trigger="intersect once"
		hx-swap="outerHTML" 
		hx-push-url="false">
		<span class="spin">{{icon "loading"}}</span>
		Loading More Replies
	</div>
{{- end -}}

