{{- $builder := . -}}
{{- $url := .QueryParam "url" -}}
{{- $messageID := .QueryParam "messageId" -}}
{{- $folderID := .QueryParam "folderId" -}}
{{- $followingID := .QueryParam "origin.followingId" -}}
{{- $publishedDate := .QueryParam "published" -}}
{{- $depth := int (.QueryParam "depth") -}}

{{- $pageSize := 6 -}}
{{- $builder := . -}}

{{- $replies := .RepliesAfter $url $publishedDate $pageSize -}}

{{- if $replies.NotEmpty -}}

	<div style="border-left: solid 2px var(--gray30); padding-left:10px;">
		{{- range $index, $value := $replies -}}
			{{- $documentID := $value.DocumentID -}}
			{{- $attributedTo := $value.Object.attributedTo -}}

			<div class="margin-bottom-sm {{ if eq $url $documentID}}selected{{end}}">

				<div 
					class="clickable padding-vertical padding-horizontal-sm margin-vertical pos-relative"
					style="background-color:var(--white);">

					<div
						hx-get="/@me/inbox/browse-tree?url={{$documentID}}" 
						hx-target="#modal-window"
						hx-push-url="false">

						<div class="flex-row flex-align-center">
							<img src="{{$attributedTo.icon.href}}" class="circle width-24">
							<div class="padding-horizontal-xs nowrap">
								<div>
									<b>{{ $attributedTo.name }}</b> &middot; 
									<span class="text-gray">{{ $value.Published | tinyDate }}</span>
								</div>
							</div>
						</div>

						<div script="install showMore(maxHeight:300)">
							{{$value.Object.content | html }}
						</div>
					</div>

					<div 
						hx-get="/@me/inbox/like-button?url={{$documentID}}" 
						hx-trigger="intersect once"
						hx-target="this" 
						hx-swap="innerHTML" 
						hx-push-url="false" 
						class="margin-top-lg text-xs">
					</div>

					<div class="pos-absolute-top-right text-xs" hx-target="#modal-window" hx-push-url="false" hx-swap="innerHTML transition:true">
						<button hx-get="/@me/inbox/browse-timeline?url={{$documentID}}" aria-label="View Timeline">{{icon "timeline"}}</button>
						<button hx-get="/@me/inbox/browse-tree?url={{$documentID}}" aria-label="View Map">{{icon "map"}}</button>
					</div>

				</div>			

				{{- if le $depth 3 -}}
					<div hx-get="/@me/inbox/browse-replies-tree?url={{$documentID}}&depth={{add $depth 1}}" hx-trigger="intersect once" hx-target="this" hx-swap="innerHTML"></div>
				{{- else if gt $value.Metadata.Replies 0  -}}
					<div hx-get="/@me/inbox/browse-replies-tree?url={{$documentID}}&depth={{add $depth 1}}" hx-target="this" hx-swap="innerHTML" class="clickable">
						{{icon "add-circle"}} 
						{{$value.Metadata.Replies}}
						{{ pluralize $value.Metadata.Replies "Reply" "Replies"}}
					</div>
				{{- end -}}

			</div>

		{{- end -}}
	</div>

	{{- if eq $replies.Length $pageSize -}}
		<div 
			hx-get="/@me/inbox/browse-replies-tree?published={{$replies.Last.Published | epochDate}}&url={{$url}}&depth={{$depth}}" 
			hx-target="this" 
			hx-trigger="intersect once"
			hx-swap="outerHTML" 
			hx-push-url="false">
			<span class="spin">{{icon "loading"}}</span>
			Loading More Replies
		</div>
	{{- end -}}

{{- end -}}