{{- $builder := index . 0 -}}
{{- $document := index . 1 -}}

{{- if ne "" $document.ID -}}

	<div id="id_{{$document.Metadata.HashedID}}" class="card padding margin-bottom pos-relative">

		<!-- REMOVED FOR PERFORMANCE REASONS...
		{{- $inReplyTo := $document.InReplyTo -}}
		{{- if $inReplyTo.NotNil -}}
			{{- $inReplyToAttributedTo := $inReplyTo.AttributedTo -}}
			<div class="flex-row margin-bottom-sm">
				<div role="link" class="italics text-sm text-gray" hx-get="/@me/inbox/browse-tree?&url={{$inReplyTo.ID}}">
					{{icon "reply-fill"}} Replying to {{$inReplyToAttributedTo.Name}}
				</div>
			</div>
		{{- end -}}
		-->
		
		{{- $attributedTo := $document.AttributedTo -}}
		{{- if $attributedTo.NotEmpty -}}

			<div class="margin-bottom-lg flex-row">
				<div hx-get="/@me/inbox/browse-actor?url={{$attributedTo.ID}}" class="flex-shrink-0 flex-row flex-align-center clickable">
					{{- if $attributedTo.Icon.NotNil -}}
						<img src="{{$attributedTo.Icon.Href}}" class="circle width-48">
					{{- end -}}
					<div class="flex-shrink">
						<div class="text-plain bold margin-vertical-none">{{$attributedTo.Name}}</div>
						<div class="text-sm text-light-gray margin-vertical-none">{{$attributedTo.UsernameOrID}}</div>
					</div>
				</div>
			</div>
		{{- end -}}
	
		{{- if ne "" $document.Name -}}
			<div class="text-lg bold margin-vertical padding-none">{{$document.Name}}</div>
		{{- end -}}

		<div class="content" script="install ShowMore(maxHeight:240)">

			<div>
				{{- if not (hasImage $document.Content) -}}
					{{- $image := $document.ImageOrIcon -}}
					{{- if $image.NotNil -}}
						<div class="margin-bottom">
							<a href="{{$document.URLOrID}}" target="_blank"><img src="{{$image.URL}}" class="width-100%" style="{{- if $image.HasDimensions}} aspect-ratio:{{$image.AspectRatio}};{{end}}"/></a>
						</div>
					{{- end -}}
				{{- end -}}

				{{- if $document.HasContent -}}
					<div class="ShowMore-content">{{- $document.Content | html -}}</div>
				{{- else if $document.HasSummary -}}
					<div class="ShowMore-content">{{- $document.Summary -}}</div>
				{{- end -}}

				<div class="ShowMore-button padding-vertical" hidden>
					<button class="text-xs">show more &rarr;</button>
				</div>
			</div>


		</div>

		<div 
			hx-get="/@me/inbox/like-button?url={{$document.ID}}" 
			hx-trigger="intersect once"
			hx-target="this" 
			hx-swap="innerHTML" 
			hx-push-url="false" 
			class="margin-top-lg text-xs">
		</div>

		<div class="pos-absolute-top-right text-xs" hx-target="#modal-window" hx-push-url="false" hx-swap="innerHTML transition:true">
			<span class="margin-right text-sm text-light-gray">{{ $document.Published | tinyDate }} ago</span>
			<button hx-get="/@me/inbox/browse-tree?url={{$document.ID}}" aria-label="Use Nested Layout">{{icon "list-nested"}}</button>
			<button hx-get="/@me/inbox/browse-timeline?url={{$document.ID}}" aria-label="Use Timeline Layout">{{icon "timeline"}}</button>
			<button hx-get="/@me/inbox/browse-index?url={{$document.ID}}" aria-label="Use Nested Layout">{{icon "list"}}</button>
			<a href="{{$document.ID}}" target="_blank" class="button" aria-label="Visit Original Website">{{icon "globe"}}</a>
		</div>
		
	</div>

{{- else -}}

	<div class="card padding margin-bottom pos-relative">
		<div class="pos-absolute-four-corners bg-stripes flex-center"></div>
		<div class="bold">Document Not Found</div>
		<div class="text-sm">This document may have been deleted or is no longer available.</div>
	</div>

{{- end -}}