{{- $url := .QueryParam "url" -}}
{{- $document := .ActivityStream $url -}}
{{- $timeline := .QueryByContext $document.Context -}}

{{- template "browse-header" (array $url "timeline") -}}

<div id="modal-body" class="turboclick padding-top" hx-target="#modal-window" hx-swap="innerHTML transition:true" hx-push-url="false">

	{{- range $document := $timeline -}}
		<div 
			hx-get="/@me/inbox/browse-focus?url={{$document.URL}}" 
			class="clickable card text-sm text-gray padding-xs margin-bottom-sm {{ if eq $url $document.URL}}selected{{end}}" 
			style="view-transition-name:{{$document.ID}}">

			<div class="flex-row flex-align-center">
				<img src="{{$document.AttributedTo.IconURL}}" class="circle width-32">
				<div class="padding-horizontal-xs nowrap">{{$document.Published | tinyDate }}</div>
				<div class="flex-grow ellipsis">
					{{$document.Content | summary | html }}
				</div>
			</div>
		</div>
	{{- end -}}

</div>
