{{- $url := .QueryParam "url" -}}
{{- $document := .ActivityStream $url -}}

{{- template "browse-header" (array $url "tree") -}}

<div id="modal-body" class="turboclick padding-top" hx-target="#modal-window" hx-swap="innerHTML" hx-push-url="false">

	{{- template "browse-parent" (array . $document "") -}}

	<div hx-get="/@me/inbox/browse-tree-replies?url={{$document.ID}}&replyCount={{$document.Metadata.Replies}}" hx-trigger="intersect once" hx-target="this" hx-swap="innerHTML" hx-push-url="false">
		<span class="spin">{{icon "loading"}}</span> Loading Replies
	</div>

</div>

<script type="text/hyperscript">
	init
	set selectedNode to #id_{{$document.Metadata.HashedID}} 
	take .selected from .card for the selectedNode then
	scrollIntoView() the selectedNode
</script>

