{{- $url := .QueryParam "url" -}}
{{- $messageID := .QueryParam "messageId" -}}
{{- $folderID := .QueryParam "folderId" -}}
{{- $followingID := .QueryParam "origin.followingId" -}}
{{- $publishedDate := .QueryParam "published" -}}

{{- $pageSize := 4 -}}
{{- $builder := . -}}

{{- $replies := .RepliesBefore $url $publishedDate $pageSize -}}

{{- if eq $replies.Length $pageSize -}}
	<div class="margin-bottom" role="button" hx-get="{{.BasePath}}/responses-replies-list?url={{$url}}&published={{$replies.First.Published | epochDate}}" hx-target="this" hx-swap="outerHTML" hx-push-url="false">
		<span class="button text-xs">Show Older Replies</span>
	</div>
{{- end -}}

{{- range $index, $stream := $replies -}}
	{{- $document := $stream.UnwrapActivity -}}
	{{- template "browse-document" (array $builder $document "replies") -}}
{{- end -}}
