{{- $url := .QueryParam "url" -}}
{{- $document := .ActivityStream $url -}}
{{- $trees := .QueryByContext_Tree $document.Context -}}

{{- template "browse-header" (array $url "map") -}}

<div id="modal-body" class="turboclick padding-top" hx-target="#modal-window" hx-swap="innerHTML transition:true" hx-push-url="false">

	{{- range $tree := $trees -}}
		<div 
			hx-get="/@me/inbox/browse-focus?url={{$tree.Item.ID}}" 
			class="clickable card text-sm padding-xs margin-bottom-sm {{ if eq $url $tree.Item.ID}}selected{{end}}" 
			style="margin-left:{{multiply 24 $tree.Depth}}px; view-transition-name:{{$tree.Item.Token}};">

			<div class="flex-row flex-align-center">
				<img src="{{$tree.Item.AttributedTo.IconURL}}" class="circle width-32" style="view-transition-name:{{$tree.Item.Token}}_icon;">
				<div class="flex-grow ellipsis" style="view-transition-name:{{$tree.Item.Token}}_summary">
					{{$tree.Item.Content | summary | html }}
				</div>
			</div>
		</div>
	{{- end -}}

</div>
