{{- $url := .QueryParam "url" -}}
{{- $replies := .ActivityStreamCollection $url -}}
{{- $replies = $replies.Reverse -}} 

{{- if $replies.NotEmpty -}}

	{{- range $index, $documentID := $replies -}}

		<div
			hx-get="/@me/inbox/browse-tree-reply?url={{$documentID}}"
			hx-trigger="intersect once"
			hx-target="this"
			hx-swap="outerHTML"
			hx-push-url="false"
			class="card padding margin-bottom">

			<div class="flex-row text-light-gray">
				<div class="flex-grow">
					<span class="spin">{{icon "loading"}}</span> Loading Reply
				</div>
				<div>
					<a href="{{$documentID}}" target="_blank">{{icon "globe"}}</a>
				</div>
			</div>
		</div>

	{{- end -}}

{{- end -}}