{{ $folderID := .QueryParam "folderId" -}}
{{- $followingID := .QueryParam "followingId" -}}
{{- $following := .FollowingByFolder $folderID -}}

<div>

	<h1>{{ icon "filter" }} Filter By Source</h1>

	<div class="space-below">

		{{$selected := eq "" $followingID}}
		<div role="button" class="menu-option {{ if $selected }}selected{{ end }}" hx-get="/@me/inbox?folderId={{$folderID}}" hx-target="main" hx-swap="innerHTML" script="on click send closeModal">
			<span class="circle-32 inline-block" style="margin-right:8px;"></span>
			All Sources
		</div>

		{{- range $following -}}
			{{- $selected := eq $followingID .FollowingID.Hex -}}

			<div role="button" class="menu-option {{ if $selected }}selected{{ end }}" hx-get="/@me/inbox?folderId={{$folderID}}&origin.followingId={{.FollowingID.Hex}}" hx-target="main" hx-swap="innerHTML" script="on click send closeModal">
				<img src="{{.ImageURL}}" class="circle-32" style="margin-right:8px;">
				{{.Label}}
			</div>
		{{- end -}}
	</div>

	<button type="button" script="on click send closeModal">Close Window</button>

</div>