{{- $folderID := .QueryParam "folderId" -}}
{{- $followingID := .QueryParam "followingId" -}}
{{- $following := .FollowingByFolder $folderID -}}

<div>

	<h1>{{ icon "filter" }} Filter By Source</h1>

	<div class="margin-vertical">

		{{$selected := eq "" $followingID}}
		<div role="button" class="menu-option flex-row {{ if $selected }}selected{{ end }}" hx-get="/@me/inbox?folderId={{$folderID}}" hx-target="main" hx-swap="innerHTML" script="on click send closeModal">
			<span class="circle-32 margin-right-sm inline-block"></span>
			<span>All Sources</span>
		</div>

		{{- range $following -}}
			{{- $selected := eq $followingID .FollowingID.Hex -}}

			<div role="button" class="menu-option flex-row {{ if $selected }}selected{{ end }}">
				<div class="flex-row flex-grow-1" hx-get="/@me/inbox?folderId={{$folderID}}&origin.followingId={{.FollowingID.Hex}}" hx-target="main" hx-swap="innerHTML" script="on click send closeModal">
					{{- if eq "" .ImageURL -}}
						<span class="circle-32 margin-right-sm inline-block"></span>
					{{- else -}}
						<img src="{{.ImageURL}}" class="circle-32 margin-right-sm">
					{{- end -}}
					<div class="flex-grow-1">
						<div class="margin-vertical-none">{{.Label}}</div>
						<div class="margin-vertical-none text-xs text-gray">{{.URL}}</div>
					</div>
				</div>
				<button class="text-xs nowrap" hx-get="/@me/inbox/following-edit?followingId={{.FollowingID.Hex}}">Edit Source</button>
			</div>
		{{- end -}}
	</div>

	<button type="button" script="on click send closeModal">Close Window</button>

</div>