{{- $canBlock := .UserCan "block" -}}
{{- $followers := .Followers.Slice -}}

{{- if eq 0 (len $followers) -}}

	No followers.

{{- else -}}

	<table class="table">

		{{ range $followers }}
			<tr role="button">
				<td hx-get="/@me/inbox/follower?followerId={{.FollowerID.Hex}}&amp;url={{.Actor.ProfileURL}}" style="width:32px;">
					{{- if eq "" .Actor.ImageURL -}}
						<div class="circle-24"></div>
					{{- else -}}
						<img src="{{.Actor.ImageURL}}" class="circle-24">
					{{- end -}}
				</td>
				<td hx-get="/@me/inbox/follower?followerId={{.FollowerID.Hex}}&amp;url={{.Actor.ProfileURL}}">
					{{ if ne "" .Actor.Name }}
						{{- .Actor.Name -}}
					{{- else if ne "" .Actor.ProfileURL -}}
						{{- .Actor.ProfileURL -}}
					{{- else -}}
						{{- .Actor.InboxURL -}}
					{{- end -}}
					&nbsp;
					{{- icon .MethodIcon -}}
				</td>
				<td class="align-right">
					{{- if $canBlock -}}
						<button class="text-red">Block</button>
					{{- end -}}
				</td>
			</tr>
		{{ end }}
	</table>

{{- end -}}