{{- $following := .Object -}}

<div class="flex-row flex-align-start margin-bottom-lg">
	<div class="margin-top-sm">
		{{- if ne "" $following.ImageURL -}}
			<img src="{{$following.ImageURL}}" class="circle-64">
		{{- else -}}
			<div class="circle-64"></div>
		{{- end -}}
	</div>

	<div>
		<div class="text-xl bold margin-top-sm margin-bottom-none">{{$following.Label}}</div>
		<div class="margin-vertical-none">
			<a href="{{$following.URL}}" target="_blank" tabIndex="0" class="text-plain">
				<span class="clickable text-light-gray">{{$following.URL}}</span> &nbsp;
				<span class="button text-sm">Go to Profile</span>
			</a>
		</div>
	</div>
</div>

<hr>

<div class="text-lg text-green bold margin-bottom">{{icon "check-badge-fill"}} You Are Following {{.Label}}</div>

{{- .View "following-edit-form" -}}