{{- $folders := .Folders -}}

<div class="fullscreen app" hx-get="{{.URL}}" hx-trigger="refreshPage from:window" hx-target="this" hx-swap="outerHTML" hx-push-url="true">
	<title>{{.FollowingCount}} Following | {{.DisplayName}}</title>
	<script src="/.templates/user-inbox/hyperscript" type="text/hyperscript"></script>
	<link rel="stylesheet" href="/.templates/base-social/stylesheet">
	<link rel="stylesheet" href="/.templates/user-inbox/stylesheet">

	{{- template "sidebar" $folders -}}

	<div class="app-content">

		<div role="tablist" class="underlined margin-top margin-bottom" hx-push-url="true">
			<span role="tab" class="turboclick" aria-selected="true">{{icon "star-fill"}} Following</span>
			<span role="tab" class="turboclick" hx-get="/@me/inbox/followers">{{icon "person"}} Followers</span>
			<span role="tab" class="turboclick" hx-get="/@me/inbox/blocks">{{icon "block"}} Blocks</span>
		</div>

		{{- template "following-list" . -}}
				
	</div>


</div>