{{- $folders := .Folders -}}

<div class="page app flex-row">
	<title>{{.FollowingCount}} Following | {{.DisplayName}}</title>
	<script src="/.templates/user-inbox/hyperscript" type="text/hyperscript"></script>
	<link rel="stylesheet" href="/.templates/user-inbox/stylesheet">

	{{- template "sidebar" $folders -}}

	<div class="app-content">

		<div role="tablist" class="underlined margin-top margin-bottom" hx-push-url="true">
			<a href="/@me/inbox/following" hx-boost="true" role="tab" aria-selected="true">{{icon "star-fill"}} Following</a>
			<a href="/@me/inbox/followers" hx-boost="true" role="tab">{{icon "person"}} Followers</a>
			<a href="/@me/inbox/subscribers" hx-boost="true" role="tab">{{icon "person-card"}} Subscribers</a>
			<a href="/@me/inbox/subscriptions" hx-boost="true" role="tab">{{icon "card"}} Subscriptions</a>
			<a href="/@me/inbox/rules" hx-boost="true" role="tab">{{icon "rule"}} Rules</a>
		</div>

		<div>
			<input
				type="text" 
				name="search" 
				placeholder="Search Following"
				hx-get="/@me/inbox/following-list"
				hx-trigger="keyup queue:last delay:100ms"
				hx-target="#following-list"
				hx-swap="innerHTML"
				hx-push-url="false">
		</div>

		<div class="table margin-top">
			<div class="link flex-row" role="button" hx-get="/@me/inbox/following-search" hx-push-url="false">
				<div class="flex-grow-1">
					{{icon "add"}}
					Follow a Person or Website
				</div>
			</div>
		</div>

		<div id="following-list" class="table">
			{{- .View "following-list" -}}
		</div>
				
	</div>

	<div hx-get="{{.URL}}" hx-trigger="refreshPage from:window" hx-push-url="false"></div>

</div>