{{- $author := .AttributedTo.First -}}

<div class="flex-row space-below" style="justify-content:space-between;" hx-push-url="true">

	<div style="width:160px; margin-right:16px;flex-grow:0; flex-shrink:0">
		<div style="width:160px; min-height:84px; border:solid 1px var(--gray20); background-color:var(--gray10);">
			{{- if ne "" .ImageURL -}}
				<img src="{{.ImageURL}}" loading="lazy" style="width:160px; max-height:160px; object-fit:cover;"/>
			{{- end -}}
		</div>
	</div>

	<div style="flex-grow:1; min-width:0px; position:relative; width:100%; max-width:100%;">
		<div class="bold black ellipsis">{{.Label}}</div>
		<div class="text-gray text-sm space-below flex-row">
			<span class="ellipsis">
				{{ icon .Origin.Icon }}
				{{ .Origin.Label }} &middot;
				{{ $author.Name }} 
				&nbsp;&middot;
			</span>
			<span class="nowrap">
				{{ .PublishDate | tinyDate }}
			</span>
		</div>
		<div class="text-gray text-sm ellipsis-block" style="max-height:6em;">{{.Summary | html}}</div>
	</div>
 
</div>
