{{- $author := .AttributedTo.First -}}

<div class="space-below">
	<h2 class="black ellipsis">{{.Label}}</h2>

	{{- if .HasImage -}}
		<div class="space-below" style="width:100%; max-width:800px;">
			<img src="{{.ImageURL}}" loading="lazy" style="width:100%; border:solid 1px var(--gray20);"/>
		</div>

		<div class="text-gray ellipsis-block" style="max-height:6em;">
			{{- .Summary | html -}}
		</div>
	{{- else -}}
		<div class="text-gray ellipsis-block">
			{{- .Summary | html -}}
		</div>
	{{- end -}}


	<div class="text-sm space-below flex-row">
		<span class="ellipsis">
			{{- icon .Origin.Icon }}
			{{ .Origin.Label }} &middot;
			{{ $author.Name -}}
			&nbsp;&middot;
		</span>
		<span class="nowrap">
			{{- .PublishDate | tinyDate -}}
		</span>
	</div>

</div>