{{- $folders := .FoldersWithSelection}}
{{- $folder := $folders.Selected}}

{{- $inbox := .Inbox.Top12.ByRank.Slice -}}
{{- $folderID := .QueryParam "folderId" -}}
{{- $internalID := .QueryParam "origin.followingId" -}}
{{- $rank := .QueryParam "rank" -}}

{{ if eq "" (.QueryParam "remote")}}

	{{- if gt $folder.ReadDate 0 -}}

	<div 
		hx-get="/@me/inbox/inbox-list-before?folderId={{$folderID}}&origin.followingId={{$internalID}}&rank=LT:{{$folder.ReadDate}}"
		hx-target="this"
		hx-trigger="click once"
		hx-swap="beforebegin"
		hx-push-url="false"
		role="button"
		class="turboclick space-below">
		<div class="text-sm text-gray" style="margin:0px;">
			&uarr; Older Posts &bull; click to view
		</div>
		<div style="border-top:solid 2px red;"></div>
		<div class="text-sm text-red" style="margin:0px;">
			&darr; New Posts &bull; {{ $folder.ReadDateSeconds | longDate }}
		</div>
	</div>

	{{- end -}}
	
{{- end -}}

{{- if gt (len  $inbox) 0 -}}

	{{- $inboxRenderer := . -}}
	{{- range $index, $message := $inbox -}}

		<div 
			id="item_{{.MessageID.Hex}}" 
			role="button"
			class="message"
			style="max-width:640px;"
			hx-get="/@me/messages/{{.MessageID.Hex}}?&origin.followingId={{$internalID}}"
			hx-trigger="click"
			hx-push-url="false"
			script="install listItem(folderId:'{{$folderID}}', rank:'{{.Rank}}')">

			{{- if eq "SOCIAL" $folder.Layout -}}
				{{- template "inbox-list-social" $message -}}
			{{- else if eq "CHAT" $folder.Layout -}}
				{{- template "inbox-list-chat" $message -}}
			{{- else if eq "NEWSPAPER" $folder.Layout -}}
				{{- template "inbox-list-newspaper" $message -}}
			{{- else if eq "MAGAZINE" $folder.Layout -}}
				{{- template "inbox-list-magazine" $message -}}
			{{- else -}}
				{{- template "inbox-list-social" $message -}}
			{{- end -}}
			
		</div>

		{{- $inboxRenderer.Responses $message -}}
		<hr>

	{{- end -}}

	<!-- Target zone to load additional pages once we scroll down this far -->
	{{- $lastMessage := $inbox.Last -}}
	<div 
		hx-get="/@me/inbox/inbox-list?folderId={{$folderID}}&origin.followingId={{$internalID}}&rank=GT:{{$lastMessage.Rank}}&remote=true"
		hx-push-url="false" 
		hx-trigger="intersect once" 
		hx-target="this" 
		hx-swap="outerHTML">
		<hr>
		<div><span class="spin">{{icon "loading"}}</span> Loading...</div>
	</div>

{{- else -}}

	{{if eq "" (.QueryParam "remote") -}}
		<h2 class="text-gray">This inbox is empty.  Try following a new person or website.</h2>
	{{- end -}}

	<div style="height:100vw"></div>
{{- end -}}
