{{- $author := .AttributedTo.First -}}
<div class="ellipsis flex-row">
	{{- if ne "" $author.ImageURL -}}
		<img src="{{$author.ImageURL}}" class="circle" style="height:1.5em;">
	{{- end -}}

	<span class="bold black">{{$author.Name}}</span>
	<span class="text-gray nowrap" style="flex-grow:1">
		{{ icon .Origin.Icon }}
		{{ .PublishDate | tinyDate }}
	</span>
</div>

<div class="space-above">
	{{- .ContentHTML -}}
</div>

{{- if ne .ImageURL "" -}}
	<div class="space-above" style="position:relative;">
		<img src="{{.ImageURL}}" loading="lazy" style="width:100%; border-radius:16px; border: solid 1px var(--gray40);"/>
	</div>
{{- end -}}

{{ template "responses" . }}
