{{- $inboxRenderer := index . 0 -}}
{{- $message := index . 1 -}}
{{- $stream := $inboxRenderer.ActivityStream $message.URL -}}

<div class="flex-row space-below" style="justify-content:space-between;" hx-push-url="true">

	<div style="width:160px; margin-right:16px; flex-grow:0; flex-shrink:0">
		<div style="width:160px; min-height:84px; border:solid 1px var(--gray20); background-color:var(--gray10);">
			{{- if ne "" $stream.Image.URL -}}
				<img src="{{$stream.Image.URL}}" loading="lazy" style="width:160px; max-height:160px; object-fit:cover;"/>
			{{- end -}}
		</div>
	</div>

	<div style="flex-grow:1; min-width:0px; position:relative; width:100%; max-width:100%;">
		<div class="bold black ellipsis text-lg" style="margin:0px;">{{$stream.Name}}</div>
		<div class="text-gray text-sm flex-row" style="margin:0px; margin-bottom:8px;">
			<span class="ellipsis">
				{{ icon $message.Origin.Icon }}
				{{ $message.Origin.Label }} &middot;
				{{ $stream.AttributedTo.Name }} 
				&nbsp;&middot;
			</span>
			<span class="nowrap">
				{{ $stream.Published | tinyDate }}
			</span>
		</div>
		<div class="text-gray text-sm ellipsis-block" style="margin:0px; max-height:6em;">
			{{- if $stream.HasSummary -}}
				{{- $stream.Summary | htmlMinimal -}}
			{{- else if $stream.HasContent -}}
				{{- $stream.Content | htmlMinimal -}}
			{{- end -}}
		</div>

		{{- template "statistics" $stream.Statistics -}}
	</div>
 
</div>
