{{- $inboxRenderer := index . 0 -}}
{{- $message := index . 1 -}}
{{- $stream := $inboxRenderer.ActivityStream $message.URL -}}

<div class="space-below">
	<h2 class="black ellipsis">{{$stream.Name}}</h2>

	{{- if $stream.HasImage -}}
		<div class="space-below" style="width:100%; max-width:800px;">
			<img src="{{$stream.Image.URL}}" loading="lazy" style="width:100%; border:solid 1px var(--gray20);"/>
		</div>
	{{- end -}}

	<div>
		{{- if $stream.HasSummary -}}
			{{- $stream.Summary | htmlMinimal -}}
		{{- else if $stream.HasContent -}}
			{{- $stream.Content | htmlMinimal -}}
		{{- end -}}
	</div>


	<div class="text-sm space-below flex-row">
		<span class="ellipsis">
			{{- icon $message.Origin.Icon }}
			{{ $message.Origin.Label }} &middot;
			{{ $stream.AttributedTo.Name -}}
			&nbsp;&middot;
		</span>
		<span class="nowrap">
			{{- $stream.Published | tinyDate -}}
		</span>
	</div>

</div>