{{- $inboxRenderer := index . 0 -}}
{{- $message := index . 1 -}}
{{- $stream := $inboxRenderer.ActivityStream $message.URL -}}

{{- if ne "DIRECT" $message.Origin.Type -}}
	<div class="flex-row" style="margin-bottom:8px;">
		<div style="width:64px;"></div>
		<div>
			{{- template "origin" $message.Origin -}}
		</div>
	</div>
{{- end -}}

<div class="flex-row">

	<div class="flex-grow-0 flex-shrink-0" style="width:64px">
		{{- if $stream.AttributedTo.Image.NotNil -}}
			<img src="{{$stream.AttributedTo.Image.URL}}" class="circle-64">
		{{- else -}}
			<div class="circle-64"></div>
		{{- end -}}
	</div>

	<div class="flex-grow-1">

		<div class="ellipsis">
			<span class="bold black">{{$stream.AttributedTo.Name}}</span>
			<span class="text-gray nowrap">
				{{ $stream.Published | tinyDate }}
			</span>
		</div>

		{{- if ne "" $stream.Name -}}
			<div class="bold text-black margin-top">{{$stream.Name}}</div>
		{{- end -}}

		<div>
			{{- if $stream.HasContent -}}
				{{- $stream.Content | htmlMinimal -}}
			{{- else if $stream.HasSummary -}}
				{{- $stream.Summary | htmlMinimal -}}
			{{- end -}}
		</div>

		{{- if ne $stream.Image.URL "" -}}
			<div class="margin-top" style="max-width:400px; max-height:400px; min-height:84px; border:solid 1px var(--gray20); background-color:var(--gray10); overflow:hidden;">
				<img src="{{$stream.Image.URL}}" loading="lazy" style="object-fit:cover;"/>
			</div>
		{{- end -}}

		{{- template "statistics" $stream.Statistics -}}

	</div>

</div>
