{{- $inbox := .Inbox.Top12.ByCreateDate.Reverse.Slice.Reverse -}}

{{- if gt (len  $inbox) 0 -}}

	{{- $firstMessage := $inbox.First -}}
	{{- $folders := .FoldersWithSelection}}
	{{- $folder := $folders.Selected}}
	{{- $folderID := $folder.FolderID.Hex -}}

	{{- $internalID := .QueryParam "origin.followingId" -}}
	{{- $layout := $folder.Layout | lowerCase -}}
	{{- $inboxRenderer := . -}}

	<div 
		hx-get="/@me/inbox/list-before?folderId={{$folderID}}&origin.followingId={{$internalID}}&readDate=LT:{{$firstMessage.ReadDate}}"
		hx-target="this"
		hx-swap="outerHTML"
		hx-push-url="false"
		role="button"
		class="turboclick space-below">
		<button class="text-xs">&uarr; Older than {{ $firstMessage.ReadDate | longDate}}</button>
		<div style="border-top:solid 2px var(--gray30);"></div>
	</div>

	{{- range $index, $message := $inbox -}}

		<div 
			id="item_{{.MessageID.Hex}}" 
			role="button"
			class="message" 
			style="max-width:640px;"
			hx-get="/@me/messages/{{.MessageID.Hex}}?origin.followingId={{$internalID}}"
			hx-push-url="false"
			tabIndex="0">

			{{- if eq "SOCIAL" $folder.Layout -}}
				{{- template "list-social" $message -}}
			{{- else if eq "CHAT" $folder.Layout -}}
				{{- template "list-chat" $message -}}
			{{- else if eq "NEWSPAPER" $folder.Layout -}}
				{{- template "list-newspaper" $message -}}
			{{- else if eq "MAGAZINE" $folder.Layout -}}
				{{- template "list-magazine" $message -}}
			{{- else -}}
				{{- template "list-social" $message -}}
			{{- end -}}
		</div>

		{{- $inboxRenderer.Responses $message -}}
		<hr>

	{{- end -}}

{{- end -}}



