{{- $inboxRenderer := index . 0 -}}
{{- $message := index . 1 -}}
{{- $stream := $inboxRenderer.ActivityStream $message.URL -}}

<div class="margin-bottom">
	<h2 class="black ellipsis">{{$stream.Name}}</h2>

	{{- if $stream.HasImage -}}
		<div class="margin-bottom" style="width:100%; max-width:800px;">
			<img src="{{$stream.Image.Href}}" loading="lazy" style="width:100%; border:solid 1px var(--gray20); {{if $stream.Image.HasDimensions}}aspect-ratio:{{$stream.Image.AspectRatio}}{{end}}"/>
		</div>
	{{- end -}}

	<div class="margin-bottom">
		{{- if $stream.HasSummary -}}
			{{- $stream.Summary | htmlMinimal -}}
		{{- else if $stream.HasContent -}}
			{{- $stream.Content | htmlMinimal -}}
		{{- end -}}
	</div>

	<div class="text-sm margin-bottom flex-row">
		<span class="ellipsis">
			{{- icon $message.Origin.Icon }}
			{{ $message.Origin.Label }}
			{{- if $stream.AttributedTo.NotNil -}}
				&middot;
				{{ $stream.AttributedTo.Name -}}
			{{- end -}}
		</span>
		<span class="nowrap">
			&middot; {{ $message.PublishDate | tinyDate -}}
		</span>
	</div>

</div>