{{- $inbox := .Inbox.Top12.ByCreateDate.Reverse.Slice.Reverse -}}

{{- if gt (len $inbox) 0 -}}

	{{- $firstMessage := $inbox.First -}}
	{{- $folders := .FoldersWithSelection}}
	{{- $folder := $folders.Selected}}
	{{- $folderID := $folder.FolderID.Hex -}}

	{{- $internalID := .QueryParam "origin.followingId" -}}
	{{- $layout := $folder.Layout | lowerCase -}}
	{{- $inboxBuilder := . -}}

	{{- if eq 12 (len $inbox) -}}
		<div 
			hx-get="/@me/inbox/list-before?folderId={{$folderID}}&origin.followingId={{$internalID}}&readDate=LT:{{$firstMessage.ReadDate}}"
			hx-target="this"
			hx-swap="outerHTML"
			hx-push-url="false"
			role="button"
			class="turboclick margin-bottom">
			<button class="text-xs">&uarr; Older than {{ $firstMessage.ReadDate | longDate}}</button>
			<div style="border-top:solid 3px var(--gray30);"></div>
		</div>
	{{- end -}}

	{{- range $index, $message := $inbox -}}

		<div 
			id="item_{{.MessageID.Hex}}" 
			role="button"
			class="message turboclick" 
			style="max-width:640px;"
			hx-get="/@me/inbox/message?messageId={{.MessageID.Hex}}&url={{$message.URL}}&folderId={{$folderID}}&origin.followingId={{$internalID}}"
			hx-push-url="false"
			tabIndex="0">

			{{- if eq "SOCIAL" $folder.Layout -}}
				{{- template "list-social" (array $inboxBuilder $message) -}}
			{{- else if eq "NEWSPAPER" $folder.Layout -}}
				{{- template "list-newspaper" (array $inboxBuilder $message) -}}
			{{- else if eq "MAGAZINE" $folder.Layout -}}
				{{- template "list-magazine" (array $inboxBuilder $message) -}}
			{{- else -}}
				{{- template "list-social" (array $inboxBuilder $message) -}}
			{{- end -}}
		</div>

		<hr>

	{{- end -}}

{{- end -}}