<div class="flex-row">

	<div style="width:64px; flex-grow:0; flex-shrink:0;">
		{{- if ne "" .AttributedTo.ImageURL -}}
			<img src="{{.AttributedTo.ImageURL}}" class="circle" style="width:64px;">
		{{- end -}}
	</div>

	<div style="flex-grow:1;">

		<div class="ellipsis">
			<span class="bold black">{{.AttributedTo.Name}}</span>
			<span class="text-gray nowrap">
				&nbsp;
				{{ icon .Origin.Icon }}
				{{ .PublishDate | tinyDate }}
			</span>

			{{- if ne "" .InReplyTo -}}
				<span class="bold text-gray">
					{{icon "reply"}} Replying to ...
				</span>
			{{- end -}}
		</div>

		<div>
			{{- .ContentOrSummary | html -}}
		</div>

		{{- if not .HasContentImage -}}
			{{- if ne .ImageURL "" -}}
				<div class="space-above" style="max-width:400px; max-height:400px; min-height:84px; border:solid 1px var(--gray20); background-color:var(--gray10); overflow:hidden;">
					<img src="{{.ImageURL}}" loading="lazy" style="object-fit:cover;"/>
				</div>
			{{- end -}}
		{{- end -}}

	</div>

</div>
