{{- $section := .Section -}}
{{- $selectedID := .SelectedID -}}
{{- $allFolders := and ($selectedID.IsZero) (eq "FOLDER" $section) -}}

<!-- Encrypted Messages
{{- if eq "CONVERSATIONS" $section -}}
	<a href="/@me/inbox/mls" class="turboclick menu-item ellipsis hover-trigger folder selected">
		<span>{{- icon "chat-fill" }}</span>
		<span>Conversations</span>
	</a>
{{- else -}}
	<a href="/@me/inbox/mls" class="turboclick menu-item ellipsis hover-trigger folder">
		<span>{{- icon "chat" }}</span>
		<span>Conversations</span>
	</a>
{{- end -}}
--->

<div class="margin-vertical"></div>

	<a href="/@me/inbox/inbox?folderId={{nilObjectID.Hex}}" class="turboclick menu-item ellipsis hover-trigger folder {{if $allFolders}}selected{{end}}">
		<span>
			{{- if $allFolders -}}
				{{- iconFilled "folder" -}}
			{{- else -}}
				{{- icon "folder" -}}
			{{- end }}
		</span>
		<span>All Folders</span>
	</a>

	<form class="sortable" hx-post="/@me/inbox/folder-sort" hx-push-url="false" hx-trigger="end">

	{{- range .Folders -}}
		{{- $folderID := .FolderID.Hex -}}
		<a href="/@me/inbox/inbox?folderId={{$folderID}}" class="turboclick menu-item ellipsis hover-trigger folder {{if eq $selectedID .FolderID}}selected{{end}}">
			<span>
				{{- if eq $selectedID .FolderID -}}
					{{- iconFilled .Icon -}}
				{{- else -}}
					{{- icon .Icon -}}
				{{- end }}
			</span>
			<span>{{.Label}}</span>
			<span class="folder-handle">
				<!--span id="folder-unread-{{$folderID}}"
				class="text-sm
					{{- if ne $selectedID .FolderID}} text-light-gray{{- end -}}
					{{- if eq .UnreadCount 0 }} hide{{- end -}}
				"
				>&#9679;</span-->
				<span class="hover-visible">
					{{icon "drag-handle"}}
				</span>
			</span>
			<input type="hidden" name="keys" value="{{$folderID}}">
		</a>
	{{- end -}}

</form>

<div class="margin-vertical"></div>

<div role="button" hx-get="/@me/inbox/folder-add" class="menu-item link turboclick" style="border:none;">
	<span style="view-transition-name:app-sidebar-add-folder-icon;">{{icon "add"}}</span>
	<span style="view-transition-name:app-sidebar-add-folder-label">Add a Folder</span>
</div>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<script>
	var sortables = document.querySelectorAll(".sortable");
	for (var node of sortables) {
		new Sortable(node, {
			animation: 150,
			handle: '.folder-handle',
			whisperClass: 'folder-whisper'
		});
	}
</script>
