<h1>{{icon "paypal"}} PayPal Merchant Account</h1>

<div class="rounded alert-blue">
	<p><a href="https://developer.paypal.com/developer/applications" target="_blank">Sign in to your <b>PayPal Developer Dashboard</b> {{icon "new-window"}}</a> to generate a 
		<span style="font-family:monospace">CLIENT_ID</span> and a <span style="font-family:monospace">CLIENT_SECRET</span>.
	</p>
	<p>
		<a href="https://emissary.dev/merchantAccounts#PayPal" target="_blank">The PayPal <b>setup instructions</b> {{icon "new-window"}}</a> give you more details and a walkthrough.
	</p>
</div>