{{- $message := .Message -}}

{{- $url := .QueryParam "url" -}}
{{- $folderID := .QueryParam "folderId" -}}
{{- $followingID := .QueryParam "origin.followingId" -}}

{{- $stream := .ActivityStream $url -}}
{{- $attributedTo := $stream.AttributedTo -}}
{{- $inReplyTo := $stream.InReplyTo -}}
{{- $inReplyToAttributedTo := $inReplyTo.AttributedTo -}}


<div id="modal-header">

	<div>
		<div class="flex-row text-xs">

			<div class="flex-grow-1">
				<span class="button-group" script="install message(messageId:'{{$message.ID}}')">
					<button id="previous" hx-get="/@me/inbox/message?messageId={{$message.ID}}&sibling=prev&followingId={{$followingID}}">&laquo; Prev</button>
					<button id="next" hx-get="/@me/inbox/message?messageId={{$message.ID}}&sibling=next&followingId={{$followingID}}">Next &raquo;</button>
				</span>

				<span class="button-group">
					<button script="on click go to url '{{$message.URL}}' in new window">Original Post</button>
					{{- if $attributedTo.NotNil -}}
						<button script="on click go to url '{{$attributedTo.ID}}' in new window">Profile</button>
					{{- else -}}
						<button disabled>Profile</button>
					{{- end -}}
					<button hx-get="/@me/inbox/following-edit?followingId={{$message.Origin.FollowingID.Hex}}">Edit Follow Settings</button>

					{{.View "message-mute-button"}}
				</span>
			</div>

			<div>
				<span class="button-group">	
					<button script="on click send closeModal">Close</button>
				</span>
			</div>
		
		</div>

	</div>

</div>

<div id="modal-body">

	{{- if $inReplyTo.NotNil -}}
		<div class="flex-row margin-bottom">
			<div role="link" class="italics text-sm link" hx-get="/@me/inbox/message?messageId={{$message.ID}}&folderID={{$folderID}}&origin.followingId={{$followingID}}&url={{$inReplyTo.ID}}">
				{{icon "reply-fill"}} Replying to {{$inReplyToAttributedTo.Name}}...
			</div>
		</div>
	{{- else -}}

		{{- if ne "DIRECT" $message.Origin.Type -}}
		
			<div class="margin-bottom text-sm text-gray italics">
				{{- if eq "LIKE" $message.Origin.Type -}}
					{{icon "inbox"}} 
					In your inbox because
				<a class="text-gray" href="/me/inbox/folderId={{$message.FolderID}}&origin.followingId={{$message.Origin.FollowingID.Hex}}">{{$message.Origin.Label}}</a> 
					{{icon "thumbs-up"}} LIKED this post.

				{{- else if eq	"DISLIKE" $message.Origin.Type -}}
					{{icon "inbox"}} 
					In your inbox because
					<a class="text-gray" href="/@me/inbox/folderId={{$message.FolderID}}&origin.followingId={{$message.Origin.FollowingID.Hex}}">{{$message.Origin.Label}}</a>
					{{icon "thumbs-down"}} DISLIKED this post.
		
				{{- else if eq "ANNOUNCE" $message.Origin.Type -}}
					{{icon "inbox"}} 
					In your inbox because
					<a class="text-gray" href="/@me/inbox/folderId={{$message.FolderID}}&origin.followingId={{$message.Origin.FollowingID.Hex}}">{{$message.Origin.Label}}</a>
					{{icon "rocket"}} BOOSTED this post.
		
				{{- else if eq "REPLY" $message.Origin.Type -}}
					{{icon "inbox"}} 
					In your inbox because
					<a class="text-gray" href="/@me/inbox/folderId={{$message.FolderID}}&origin.followingId={{$message.Origin.FollowingID.Hex}}">{{$message.Origin.Label}}</a>
					{{icon "reply"}} REPLIED to this post.

				{{- end -}}
			</div>

		{{- end -}}

	{{- end -}}

	{{- if $attributedTo.NotNil -}}

		<div class="flex-row margin-bottom">
			<a class="flex-grow-1 flex-row flex-align-center text-plain" href="{{$attributedTo.ID}}">
				{{- if $attributedTo.Icon.NotNil -}}
					<img src="{{$attributedTo.Icon.Href}}" class="circle-64">
				{{- end -}}
				<div>
					<div class="text-plain text-lg bold margin-vertical-none">{{$attributedTo.Name}}</div>
					<div class="text-light-gray margin-vertical-none">{{$attributedTo.UsernameOrID}}</div>
				</div>
			</a>

		</div>

	{{- end -}}

	<div class="flex-row">
		{{- if $attributedTo.Icon.NotNil -}}
			<div class="width-64 flex-shrink-0"></div>
		{{- end -}}
		<div class="flex-grow-1">
					
			{{- if ne "" $stream.Name -}}
				<h1 class="margin-top-sm margin-bottom-lg"><a href="{{$stream.URLOrID}}" target="_blank" class="text-black">{{$stream.Name}}</a></h1>
			{{- end -}}

			<div class="content">

				{{- $image := $stream.Image -}}
				{{- if $image.NotNil -}}
					<div class="margin-bottom">
						<a href="{{$stream.URLOrID}}" target="_blank"><img src="{{$image.URL}}" style="width:100%; border:solid 1px var(--gray20); {{- if $image.HasDimensions}} aspect-ratio:{{$image.AspectRatio}};{{end}}"/></a>
					</div>
				{{- end -}}

				{{- if $stream.HasContent -}}
					<div>{{- $stream.Content | html -}}</div>
				{{- else if $stream.HasSummary -}}
					<div>{{- $stream.Summary -}}</div>
				{{- end -}}

				<div class="text-sm text-light-gray">{{ $stream.Published | shortDate -}}</div>

			</div>

			<div class="margin-top-lg text-xs">
				{{.View "like-button"}}

				{{- if .NotMe $attributedTo.ID -}}
					{{.View "actor-button"}}
				{{- end -}}
			</div>

		</div>
		
	</div>

	<div class="margin-left-md">
		{{.View "responses-replies"}}
	</div>

</div>

<div id="modal-footer">
	{{.View "reply"}}
</div>