{{$message := .Message}}

<div script="install message(folderId:'{{$message.FolderID.Hex}}', readDate:'{{$message.Rank}}')">

	<div class="float-right text-sm" style="margin-top:var(--rhythm); line-height:calc(var(--rhythm) * 6);">
		<button script="on click send closeModal">Close</button>
	</div>
	<h1 class="ellipsis">{{$message.Label}}</h1>

	<div class="text-gray space-below ellipsis">
		<a href="{{$message.URL}}" target="_blank" class="text-gray">
			{{- icon $message.Origin.Icon }} {{ $message.URL}}
		</a>
		&middot; 
		{{ $message.PublishDate | tinyDate -}}
	</div>

	<div class="text-sm">

		<span class="button-group">
			<button id="previous" hx-get="/@me/inbox/message-chat?rank=LT:{{$message.Rank}}&folderId={{$message.FolderID.Hex}}&origin.followingId={{.QueryParam `origin.followingId`}}">&laquo; Prev</button>
			<button id="next" hx-get="/@me/inbox/message-chat?rank=GT:{{$message.Rank}}&folderId={{$message.FolderID.Hex}}&origin.followingId={{.QueryParam `origin.followingId`}}">Next &raquo;</button>
		</span>

		<span class="button-group">
			<button hx-get="/@me/inbox/following-edit?followingId={{$message.Origin.FollowingID.Hex}}">Edit Source</button>
			<button hx-get="/@me/inbox/message-delete?messageId={{$message.MessageID.Hex}}">Delete</button>
			<button hx-get="/@me/inbox/block-new?messageId={{$message.MessageID.Hex}}">Block</button>
		</span>

	</div>

	<hr/>

	<div class="content">

		{{- if ne "" $message.ImageURL -}}
			<div class="space-below">
				<img src="{{$message.ImageURL}}" style="max-width:100%">
			</div>
		{{- end -}}

		<div>{{$message.Summary | html}}</div>
		<div>{{$message.ContentHTML | html}}</div>
	</div>

</div>