{{- $messageID := .MessageID.Hex -}}

<div id="idMessage-{{$messageID}}-response" class="text-xs" hx-target="this" hx-push-url="false">
	<span class="button" 
		hx-get="/@me/message?messageId={{$messageID}}">{{icon "chat"}} {{.Responses.ReplyCount}}</span>

	{{- if eq .MyResponse `LIKE` -}}
		<span class="button selected"
			hx-post="/@me/message-response?messageId={{$messageID}}"
			hx-vars="{'objectId':'{{$messageID}}'}">{{icon "thumbs-up-fill"}} {{.Responses.LikeCount}}</span>
	{{- else -}}
		<span class="button"
			hx-post="/@me/message-response?messageId={{$messageID}}"
			hx-vars="{'objectId':'{{$messageID}}', 'type':'LIKE'}">{{icon "thumbs-up"}} {{.Responses.LikeCount}}</span>
	{{- end -}}

	{{- if eq .MyResponse `DISLIKE` -}}
		<span class="button selected"
			hx-post="/@me/message-response?messageId={{$messageID}}"
			hx-vars="{'objectId':'{{$messageID}}'}">{{icon "thumbs-down-fill"}} {{.Responses.DislikeCount}}</span>
	{{- else -}}
		<span class="button"
			hx-post="/@me/message-response?messageId={{$messageID}}"
			hx-vars="{'objectId':'{{$messageID}}', 'type':'DISLIKE'}">{{icon "thumbs-down"}} {{.Responses.DislikeCount}}</span>
	{{- end -}}
</div>
