{{- $message := .Message -}}

{{- $url := .QueryParam "url" -}}
{{- $folderID := .QueryParam "folderId" -}}
{{- $followingID := .QueryParam "origin.followingId" -}}

{{- $document := .ActivityStream $url -}}
{{- $attributedTo := $document.AttributedTo -}}
{{- $inReplyTo := $document.InReplyTo -}}
{{- $inReplyToAttributedTo := $inReplyTo.AttributedTo -}}

<div id="modal-header">

	<div>
		<div class="flex-row text-xs">

			<div class="flex-grow-1">
				<span class="button-group" script="install message(messageId:'{{$message.ID}}')">
					<button id="previous" hx-get="/@me/inbox/message?messageId={{$message.ID}}&sibling=prev&followingId={{$followingID}}&folderId={{$folderID}}" script="install hotkey" aria-key-shortcuts="ArrowLeft">&laquo; Prev</button>
					<button id="next" hx-get="/@me/inbox/message?messageId={{$message.ID}}&sibling=next&followingId={{$followingID}}&folderId={{$folderID}}" script="install hotkey" aria-key-shortcuts="ArrowLeft">Next &raquo;</button>
				</span>

				<span class="button-group">
					{{.View "message-mute-button"}}
				</span>

				<span class="button-group">
					<a href="{{$message.URL}}" target="_blank" class="button">{{icon "globe"}} Website</a>
					<a hx-get="/@me/inbox/message-code?messageId={{$message.ID}}&followingId={{$followingID}}" class="button">{{icon "braces"}} Code</a>
				</span>
			</div>

			<div>
				<span class="button-group">	
					<button script="on click send closeModal">Close</button>
				</span>
			</div>
		
		</div>

	</div>

</div>

<div id="modal-body">

	<div class="clickable card padding-vertical-sm padding-horizontal">

		<div class="margin-bottom">
			{{- if $inReplyTo.NotNil -}}
				<div role="link" class="italics text-sm link" hx-get="/@me/inbox/message?messageId={{$message.ID}}&folderID={{$folderID}}&origin.followingId={{$followingID}}&url={{$inReplyTo.ID}}">
					{{icon "reply-fill"}} Replying to {{$inReplyToAttributedTo.Name}}...
				</div>
			{{- else -}}
				{{- template "message-origin" $message -}}
			{{- end -}}
		</div>

		{{- if ne "" $document.Name -}}
			<h1 class="margin-top-sm margin-bottom-lg"><a href="{{$document.URLOrID}}" target="_blank" class="text-black">{{$document.Name}}</a></h1>
		{{- end -}}

		{{- if $attributedTo.NotEmpty -}}

			<div hx-get="/@me/inbox/browse?url={{$attributedTo.ID}}" class="flex-row flex-align-center margin-bottom clickable">
				{{- if $attributedTo.Icon.NotNil -}}
					<img src="{{$attributedTo.Icon.Href}}" class="circle width-48">
				{{- end -}}
				<div>
					<div class="text-plain text-lg bold margin-vertical-none">{{$attributedTo.Name}}</div>
					<div class="text-light-gray margin-vertical-none">{{$attributedTo.UsernameOrID}}</div>
				</div>
			</div>

		{{- end -}}

		<div class="flex-row">
					
			<div>

				<div class="content">

					{{- if not (hasImage $document.Content) -}}
						{{- $image := $document.ImageOrIcon -}}
						{{- if $image.NotNil -}}
							<div class="margin-bottom">
								<a href="{{$document.URLOrID}}" target="_blank"><img src="{{$image.URL}}" class="width-100%" style="{{- if $image.HasDimensions}} aspect-ratio:{{$image.AspectRatio}};{{end}}"/></a>
							</div>
						{{- end -}}
					{{- end -}}

					{{- if $document.HasContent -}}
						<div>{{- $document.Content | html -}}</div>
					{{- else if $document.HasSummary -}}
						<div>{{- $document.Summary -}}</div>
					{{- end -}}

					<div class="margin-bottom text-sm text-light-gray">{{ $document.Published | shortDate -}}</div>

					<div class="text-xs margin-top">
						{{.View "like-button"}}
					</div>
				</div>
			</div>
			
		</div>

	</div>

	<div hx-get="/@me/inbox/responses-replies?messageId={{$message.ID}}&url={{$url}}" hx-trigger="load" hx-target="this" hx-swap="outerHTML" hx-push-url="false">
		<span class="spin">{{icon "loading"}}</span> Loading Replies
	</div>

</div>
