<div class="page padding">
	<h1 class="text-xl bold margin-bottom-lg">My Inbox</h1>
	{{- template "menu" .FoldersWithSelection "FOLDER" -}}
</div>

<style>
	.page {

		min-height: 100dvh;

		.menu-item {
			display:block;
			position:relative;
			font-size: calc(var(--rhythm) * 2.5);
			padding: calc(var(--rhythm) * 2) 0;
			color: var(--gray80);
			border-bottom: solid 1px var(--gray20);

			&.link {
				color:var(--link-color);
			}

			&:last-child{
				border-bottom:none;
			}

			i {
				color: var(--link-color);
			}

			.folder-handle {
				position: absolute;
				right: 0px;
				top: 16px;
				cursor: grab;
			}

			.hover-visible {
				opacity:1!important;
			}
		}

		hr {
			display:none;
		}
	}
</style>