{{- $merchantAccountID := .QueryParam "merchantAccountId" -}}
{{- $merchantAccount := .MerchantAccount $merchantAccountID -}}

{{- if .Object.IsNew -}}
	<h1 id="modal-title">{{icon "add"}} Add a Product: {{$merchantAccount.Name}}</h1>
{{- else -}}
	<h1 id="modal-title">Edit Product</h1>

	<div class="margin-bottom">
		Using Merchant Account: 
		<a hx-get="/@me/inbox/merchantAccount-edit-{{$merchantAccount.Type | lowerCase}}?merchantAccountId={{$merchantAccount.ID}}"><b>{{icon $merchantAccount.Type}} {{$merchantAccount.Name}}</b></a>
	</div>
{{- end -}}
