{{- $uri := .QueryParam "uri" -}}
{{- $publishedDate := .QueryParam "published" -}}

{{- $pageSize := 4 -}}
{{- $renderer := . -}}

{{- $replies := .RepliesBefore $uri $publishedDate $pageSize -}}

{{- if eq $replies.Length $pageSize -}}
	<div class="margin-bottom" role="button" hx-get="{{.BasePath}}/replies?uri={{$uri}}&published={{$replies.First.Published | epochDate}}" hx-target="this" hx-swap="outerHTML" hx-push-url="false">
		<span class="button text-xs">Show Older Replies</span>
	</div>
{{- end -}}

{{- range $replies -}}

	{{- $object := .UnwrapActivity -}}
	{{- $actor := $object.AttributedTo.Load -}}

	<div class="margin-bottom-lg hover-trigger">
		<div class="flex-row">
			<div>
				{{- if $actor.Icon.IsNil -}}
					<div class="circle-48"></div>
				{{- else -}}
					<a href="{{$actor.ID}}"><img class="circle-48" src="{{$actor.Icon.URL}}"></a>
				{{- end -}}
			</div>
			<div class="flex-grow-1">
				<div>
					{{- if $actor.NotNil -}}
						<a href="{{$actor.ID}}" class="margin-right-sm">
							<span class="bold">{{$actor.Name}}</span>
							<span class="text-light-gray">@{{$actor.PreferredUsername}}</span>
						</a>
					{{- end -}}
				</div>

				{{- if ne "" $object.Name -}}
					<div class="bold margin-top">{{$object.Name}}</div>
				{{- end -}}

				{{- if $object.Image.NotNil -}}
					<div class="margin-vertical"><img src="{{$object.Image.URL}}" class="width-100"></div>
				{{- end -}}
			
				<div>{{$object.Content | html}}</div>
				<div class="text-sm text-light-gray">{{ $object.Published | epochDate | tinyDate}} ago</div>
			</div>

			{{- if $actor.NotNil -}}
				{{- if $renderer.NotMe $object.Actor.ID -}}
					<div class="align-right text-xs"
						hx-get="{{$renderer.BasePath}}/follow-button?url={{$object.Actor.ID}}"
						hx-swap="innerHTML"
						hx-target="this"
						hx-push-url="false"
						hx-trigger="load">
					</div>
				{{- end -}}
			{{- end -}}

		</div>
	</div>

{{- end -}}