{{- $url := .QueryParam "url" -}}
{{- $publishedDate := .QueryParam "published" -}}

{{- $stream := .ActivityStream $url -}}
{{- $statistics := $stream.Statistics -}}

{{- $pageSize := 128 -}}
{{- $announces := .AnnouncesBefore $url $publishedDate $pageSize -}}

<div id="responses" hx-target="this" hx-swap="outerHTML" hx-push-url="false" class="margin-top">

	<hr class="margin-bottom-sm"/>

	<div class="pills" role="tablist">
		<span role="tab" hx-get="/@me/inbox/responses-replies?url={{$url}}">
			Replies 
			<span class="pill">{{- $statistics.Replies }}</span>
		</span>

		<span role="tab" aria-selected="true" hx-get="/@me/inbox/responses-announces?url={{$url}}">
			Shares
			<span class="pill pill-blue">{{- $statistics.Announces }}</span>
		</span>

		<span role="tab" hx-get="/@me/inbox/responses-likes?url={{$url}}">
			Likes
			<span class="pill">{{- $statistics.Likes }}</span>
		</span>
	</div>

	{{- template "responses-list" (array $announces "Shared by") -}}

</div>