{{- $query := index . 0 -}}
{{- $label := index . 1 -}}

{{- if lt $query.Length 6 -}}

	<div class="margin-top">

		{{- range $index, $like := $query -}}
			{{- $icon := $like.Actor.Icon -}}
			<div hx-get="/@me/inbox/following-add?url={{$like.Actor.ID}}" class="flex-row clickable" role="link">

				<div class="margin-right">
					{{- if $icon.NotNil -}}
						<img src="{{$icon.Href}}" class="circle-48">
					{{- else -}}
						<div class="circle-48"></div>
					{{- end -}}
				</div>

				<div>
					<div class="bold">{{$label}} {{$like.Actor.Name}}</div>
					{{- if not $like.Published.IsZero -}}
						<div class="text-gray">on {{$like.Published | shortDate}}</div>
					{{- end -}}
				</div>

			</div>
		{{- end -}}
	
	</div>

{{- else -}}

	<div class="margin-top flex-row flex-wrap">

		{{- $size := iif (lt $query.Length 18) "32" "48" -}}			
		{{- range $index, $like := $query -}}
			{{- $icon := $like.Actor.Icon -}}
			<div hx-get="/@me/inbox/following-add?url={{$like.Actor.ID}}" class="clickable tooltip-container" role="link">

				<div class="tooltip align-left">
					<div class="bold margin-vertical-xs">{{$label}} {{$like.Actor.Name}}</div>
					{{- if not $like.Published.IsZero -}}
						<div class="text-gray margin-vertical-xs">on {{$like.Published | shortDate}}</div>
					{{- end -}}
				</div>

				<div class="margin-right">
					{{- if $icon.NotNil -}}
						<img src="{{$icon.Href}}" class="circle-{{$size}}">
					{{- else -}}
						<div class="circle-{{$size}}"></div>
					{{- end -}}
				</div>
			</div>

		{{- end -}}

	</div>

{{- end -}}
