{{- $document := . -}}
{{- $url := $document.ID -}}
{{- $metadata := $document.Metadata -}}

<hr class="margin-bottom-sm"/>

<div role="tablist" class="pills">
	<span role="tab" aria-selected="true" hx-get="/@me/inbox/responses-replies?url={{$url}}">
		Replies <span class="pill pill-blue">{{- $metadata.Replies }}</span>
	</span>
	<span role="tab" hx-get="/@me/inbox/responses-announces?url={{$url}}">
		Shares <span class="pill">{{- $metadata.Announces }}</span>
	</span>
	<span role="tab" hx-get="/@me/inbox/responses-likes?url={{$url}}">
		Likes <span class="pill">{{- $metadata.Likes }}</span>
	</span>
</div>

<hr class="margin-top-none"/>
