{{- $url := .QueryParam "url" -}}
{{- $publishedDate := .QueryParam "published" -}}

{{- $document := .ActivityStream $url -}}
{{- $metadata := $document.Metadata -}}

{{- $pageSize := 128 -}}
{{- $likes := .LikesBefore $url $publishedDate $pageSize -}}

<div id="responses" hx-target="this" hx-swap="outerHTML" hx-push-url="false" class="margin-top">

	<hr class="margin-bottom-sm"/>

	<div role="tablist" class="pills">
		<span role="tab" hx-get="/@me/inbox/responses-replies?url={{$url}}">
			Replies 
			<span class="pill">{{- $metadata.Replies }}</span>
		</span>
		
		<span role="tab" hx-get="/@me/inbox/responses-announces?url={{$url}}">
			Shares 
			<span class="pill">{{- $metadata.Announces }}</span>
		</span>

		<span role="tab" aria-selected="true" hx-get="/@me/inbox/responses-likes?url={{$url}}">
			Likes 
			<span class="pill pill-blue">{{- $metadata.Likes }}</span>
		</span>

	</div>

	{{- template "responses-list" (array $likes "Liked by") -}}

</div>