{{- $selectedID := .SelectedID -}}
<div id="app-sidebar" class="collapsed" hx-target="main" hx-push-url="true">

	<div 
		hx-get="/@me/inbox/sidebar?folderId={{$selectedID.Hex}}" 
		hx-target="#app-sidebar" 
		hx-swap="outerHTML transition:true" 
		hx-push-url="false" 
		class="clickable align-center margin-bottom" >
		<i class="bi bi-arrow-bar-right" style="view-transition-name:app-sidebar-slider;"></i>
	</div>

	<!-- Hiding DM controls for now -->
	<!--div class="margin-bottom-lg">
		{{- if eq $selectedID nilObjectID -}}
			<div role="link" hx-get="/@me/inbox/conversations?sidebar=collapse" hx-trigger="click" hx-push-url="true" class="turboclick menu-item ellipsis hover-trigger folder selected">
				<span style="view-transition-name:app-sidebar-dm-icon;">{{- icon "chat-fill" }}</span>
				<span style="view-transition-name:app-sidebar-dm-label"></span>
			</div>
		{{- else -}}
			<div role="link" hx-get="/@me/inbox/conversations?sidebar=collapse" hx-trigger="click" hx-push-url="true" class="turboclick menu-item ellipsis hover-trigger folder">
				<span style="view-transition-name:app-sidebar-dm-icon;">{{- icon "chat" }}</span>
				<span style="view-transition-name:app-sidebar-dm-label"></span>
			</div>
		{{- end -}}

		<div role="link" hx-get="/@me/inbox/alerts?sidebar=collapse" hx-trigger="click" hx-push-url="true" class="turboclick menu-item ellipsis hover-trigger folder">
			<span style="view-transition-name:app-sidebar-bell-icon;">{{- icon "bell" }}</span>
			<span style="view-transition-name:app-sidebar-bell-label"></span>
		</div>
	</div-->

	{{- range .Folders -}}
		{{- $folderID := .FolderID.Hex -}}
		<div role="link" hx-get="/@me/inbox/inbox?folderId={{$folderID}}&sidebar=collapse" hx-trigger="click" hx-push-url="true" class="turboclick menu-item ellipsis hover-trigger folder {{if eq $selectedID .FolderID}}selected{{end}}">
			<span style="view-transition-name:folder-{{$folderID}}-icon;">
				{{- if eq $selectedID .FolderID -}}
					{{- iconFilled .Icon -}}
				{{- else -}}
					{{- icon .Icon -}}
				{{- end }}
			</span>
			<span style="view-transition-name:folder-{{$folderID}}-label;"></span>
		</div>
	{{- end -}}

	<hr>
	<div role="button" hx-get="/@me/inbox/folder-add" class="menu-item link turboclick">
		<span style="view-transition-name:app-sidebar-add-folder-icon;">{{- icon "add" -}}</span>
		<span style="view-transition-name:app-sidebar-add-folder-label;"></span>
	</div>
	
	<!--div 
		hx-get="/@me/inbox/sidebar?folderId={{$selectedID.Hex}}" 
		hx-swap="outerHTML" 
		hx-trigger="refreshSidebar from:window, every 600s" 
		hx-push-url="false" 
		hx-target="#app-sidebar">
	</div-->

</div>
