{{- if .NotEmpty -}}

	<div class="flex-row">

		{{- if gt .Replies 0 -}}
			<div class="margin-top margin-right-sm text-sm text-light-gray">
				{{.Replies}} {{pluralize .Replies "Reply" "Replies"}}
			</div>
		{{- end -}}

		{{- if gt .Likes 0 -}}
			<div class="margin-top margin-right-sm text-sm text-light-gray">
				{{.Likes}} {{pluralize .Likes "Like" "Likes"}}
			</div>
		{{- end -}}

		{{- if gt .Announces 0 -}}
			<div class="margin-top margin-right-sm text-sm text-light-gray">
				{{.Announces}} {{pluralize .Announces "Share" "Shares"}}
			</div>
		{{- end -}}

	</div>

{{- end -}}