<div script="install DropToUpload(url:'/{{.Token}}/attachments', success:'/{{.Token}}')">

	<h1>Product Photos</h1>

	<form hx-post="/{{.StreamID}}/attachments-list" hx-encoding="multipart/form-data" hx-trigger="change" hx-swap="none" class="space-below">
		Drag files here to upload, or click to <label for="manual-upload" class="link" tabIndex="0">choose a file</label> from your device.
		<input type="file" id="manual-upload" name="file" style="position:absolute; top:0px; left:0px; height:0.1px; width:0.1px; overflow:hidden; opacity:0;"/>
	</form>

	<div hx-get="/{{.StreamID}}/attachments-list" hx-trigger="load, attachments-updated from:window" hx-target="this" hx-swap="innerHTML" hx-push-url="false"></div>

	<div class="space-above">
		<button script="on click send closeModal">Close Window</button>
	</div>

</div>

<!-- CODE FOR SORTING ATTACHMENTS -->

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>