<link rel="stylesheet" href="/static/nebula/nebula.css">

<script src="https://www.unpkg.com/sortablejs@1.14.0/Sortable.min.js"></script>

<script type="text/hyperscript" src="/static/nebula/autosize._hs"></script>
<script type="text/hyperscript" src="/static/nebula/autosave._hs"></script>
<script type="text/hyperscript" src="/static/nebula/sortable._hs"></script>
<script type="text/hyperscript" src="/static/nebula/hotkey._hs"></script>
<script type="text/hyperscript" src="/static/nebula/uploader._hs"></script>
<script type="text/hyperscript" src="/static/nebula/wysiwyg._hs"></script>

<div class="page">

	{{- if ne "" .Label -}}
		<h1 class="align-center">{{.Label}}</h1>
	{{- end -}}

	<div id="menu-bar">
		<div class="left">
			<a href="/{{.StreamID}}">&larr; Public View</a>

			{{- if .UserCan "properties" -}}
				<a hx-get="/{{.StreamID}}/properties">Page Properties</a>
			{{- end -}}

			{{- if .UserCan "product" -}}
				<a hx-get="/{{.StreamID}}/product">Product Info</a>
			{{- end -}}

			{{- if .UserCan "attachments" -}}
				<a hx-get="/{{.StreamID}}/attachments">Attachments</a>
			{{- end -}}

		</div>

		<div class="right">
			{{- if .UserCan "delete" -}}
				<a hx-get="/{{.Token}}/delete" class="text-red">Delete</a>
			{{- end -}}
		</div>
	</div>

	<label>Rich Text Description</label>
	<div class="content-editor">
		{{.ContentEditor}}
		<div class="text-sm gray50">This content is updated live on the website.</div>
	</div>

</div>