<div hx-sse="connect:/{{.StreamID}}/sse">
	<div class="page" hx-get="/{{.StreamID}}" hx-trigger="sse:{{.StreamID}}, refreshPage from:body">
	
		{{- if ne "" .Label -}}
			<h1 class="align-center">{{.Label}}</h1>
		{{- end -}}
		
		{{- if .UserCan "edit" -}}
			<div id="menu-bar">
				<a href="/{{.StreamID}}/edit">Edit Product</a>
			</div>
		{{- end -}}

		<article class="space-below">
			{{- $attachments := .Attachments -}}
			{{$streamID := .StreamID}}

			{{- if eq 1 (len $attachments) -}}
				{{- range .Attachments -}}
					<picture style="aspect-ratio:{{.Width}}/{{.Height}};">
						<source type="image/webp" media="(max-width:768px)" srcset="/{{$streamID}}/attachments/{{.Filename}}.webp?width=700" />
						<source type="image/webp" media="(max-width:1024px)" srcset="/{{$streamID}}/attachments/{{.Filename}}.webp?width=900" />
						<source type="image/webp" srcset="/{{$streamID}}/attachments/{{.Filename}}.webp?width=1200" />
						<img src="/{{$streamID}}/attachments/{{.Filename}}.jpg?width=1200" />
					</picture>
				{{- end -}}

			{{- else -}}
				<div class="slideshow">
					{{- range .Attachments -}}
						<picture script="on click scrollIntoView() me">
							<source type="image/webp" media="(max-width:768px)" srcset="/{{$streamID}}/attachments/{{.Filename}}.webp?width=700&height=525" />
							<source type="image/webp" media="(max-width:1024px)" srcset="/{{$streamID}}/attachments/{{.Filename}}.webp?width=900&height=675" />
							<source type="image/webp" srcset="/{{$streamID}}/attachments/{{.Filename}}.webp?width=1200&height=900" />
							<img src="/{{$streamID}}/attachments/{{.Filename}}.jpg?width=1200&height=900" />
						</picture>
					{{- end -}}
				</div>
			{{- end -}}

		</article>
			
		{{- if .UserCan "checkout" -}}
			<article id="idCheckout" class="space-below align-center">
				<button class="primary text-lg htmx-request-hide" hx-post="/{{.StreamID}}/checkout" hx-push-url="false" script="on click add .htmx-request to #idCheckout">{{.Data "buttonLabel"}}: {{.Data "decimalAmount" | dollarFormat}}</button>
				<button class="primary text-lg htmx-request-show" disabled="true"><i class="fa-solid fa-spinner fa-spin-pulse"></i>&nbsp;{{.Data "buttonLabel"}}: {{.Data "decimalAmount" | dollarFormat}}</button>
			</article>
		
		{{- else -}}
	
			{{- if eq "sold-out" .StateID -}}
				<article class="space-below align-center">
					<button type="button" class="primary" disabled="true">{{.Data "buttonLabel"}}: {{.Data "decimalAmount" | dollarFormat}}</button>
					<span class="red">SOLD OUT</span>
				</article>
			{{- end -}}
	
		{{- end -}}

		{{- if ne "" .Description -}}
			<article class="space-after">{{.Description}}</article>
		{{- end -}}

		<article class="space-after">{{- .Content -}}</article>

	</div>
</div>