<div hx-sse="connect:/{{.StreamID}}/sse">
	<div class="page" hx-get="/{{.StreamID}}" hx-trigger="sse:{{.StreamID}}, refreshPage from:body">
	
		{{- if ne "" .Label -}}
			<h1 class="align-center">{{.Label}}</h1>
		{{- end -}}
		
		{{- if .UserCan "edit" -}}
			<div id="menu-bar">
				<a href="/{{.StreamID}}/edit">Edit Product</a>
			</div>
		{{- end -}}

		<section class="space-below">
			{{$streamID := .StreamID}}
			<div class="slideshow">
				{{- range .Attachments -}}
					<div><img src="/{{$streamID}}/attachments/{{.Filename}}?width=1000"></div>
				{{- end -}}
			</div>
		</section>
			
		{{- if .UserCan "checkout" -}}
			<section class="space-below align-center">
				<button class="primary text-lg htmx-request-hide" hx-post="/{{.StreamID}}/checkout" hx-push-url="false" script="on click add .htmx-request to #idCheckout">{{.Data "buttonLabel"}} ({{.Data "decimalAmount"}})</button>
				<button class="primary text-lg htmx-request-show" disabled="true"><i class="fa-solid fa-spinner fa-spin-pulse"></i>&nbsp;{{.Data "buttonLabel"}} ({{.Data "decimalAmount"}})</button>
			</section>
		
		{{- else -}}
	
			{{- if eq "sold-out" .StateID -}}
				<section class="space-below align-center">
					<button type="button" class="primary" disabled="true">{{.Data "buttonLabel"}} ({{.Data "decimalAmount"}})</button>
					<span class="red">SOLD OUT</span>
				</section>
			{{- end -}}
	
		{{- end -}}

		<section>
			{{- if ne "" .Description -}}
				<article class="space-after">{{.Description}}</article>
			{{- end -}}
	
			<article class="space-after">{{- .Content -}}</article>
		</section>

	</div>
</div>