<nav>
	<div class="framed">
		<a hx-get="/" {{if eq "index" . }}class="selected"{{ end }}>Emissary Setup</a>
		<a hx-get="/domains" {{if eq "domains" . }}class="selected"{{ end }}>Domains</a>
		<a hx-get="/server" {{if eq "server" . }}class="selected"{{ end }}>Server Settings</a>
		<a href="https://emissary.dev/setup-console" target="_blank">Help</a>
		<!--a hx-get="/oauth" {{if eq "oauth" . }}class="selected"{{ end }}>Connectors</a-->
		<!--a hx-get="/" {{if eq "index" . }}class="selected"{{ end }}>Configuration</a-->
	</div>
</nav>

<aside></aside>

<div hx-get="/{{.}}" hx-target="body" hx-trigger="refreshPage from:window"></div>