{{template "_header.html" "index"}}
{{template "_navigation.html" "index"}}

<main>
	<div class="framed page">

		<div style="width:clamp(400px, 50%, 800px); margin:40px auto;">

			<div class="align-center margin-bottom-lg">
				<img src="/.themes/global/resources/emissary/Emissary-Icon-Black.svg" class="dark-mode-hide width-128">
				<img src="/.themes/global/resources/emissary/Emissary-Icon-White.svg" class="dark-mode-show width-128">
				<h1 class="margin-top">Welcome To Emissary</h1>
			</div>
	
			<div class="margin-bottom">
				This is the Emissary setup console! It helps administrators
				configure the domains that Emissary will serve, 
				along with other file locations and settings.
			</div>

			<div class="margin-bottom">
				<a href="https://emissary.dev" target="_blank">Visit the Emissary documentation for more help</a>.
			</div>

			<div class="margin-bottom">
				<b class="text-red">IMPORTANT: This app is not password protected</b>, so it should only be run
				from a private, trusted machine, and NOT from a publicly available server.  Once
				you have configured your Emissary instance, you can turn off the console.  It does
				not need to be running for Emissary to work.
			</div>

		</div>
	</div>
</main>

{{template "_footer.html" "index"}}
