{{template "_header.html" "index"}}
{{template "_navigation.html" "oauth"}}

<main>
	<div class="framed page">
		<h1>OAuth Providers</h1>
		<p>Register this server as an OAuth consumer of external services.</p>

		<!-- List existing domains -->
		<table class="table">
			{{- range .AllProviders -}}
				<tr hx-get="/oauth/{{.Value}}" role="button">
					<td nowrap>{{icon .Icon}} &nbsp;</td>
					<td class="bold" nowrap>{{.Label}}</td>
					<td class="width-100%">{{.Description}}</td>
					<td class="text-green" nowrap>{{.Group}}</td>
				</tr>
			{{- end -}}
		</table>
	</div>
</main>

{{template "_footer.html" "index"}}