{{template "_navigation.html" "server"}}

<main>
	<div class="framed page">
		<h1>Server Settings</h1>

		<p>Manage locations of critical system files. For help, visit the <a href="https://emissary.dev/packages" target="_blank">developer documentation</a>.</p>

		<form hx-post="/server">

			<div role="tablist" hx-target="#tab-panel" hx-swap="innerHTML" hx-push-url="false">
				<span role="tab" script="on click take .selected" hx-get="/server/general" hx-trigger="load, click" class="selected">General</span>
				<span role="tab" script="on click take .selected" hx-get="/server/templates">Packages</span>
				<span role="tab" script="on click take .selected" hx-get="/server/emails">Emails</span>
				<span role="tab" script="on click take .selected" hx-get="/server/attachments">Attachments</span>
				<span role="tab" script="on click take .selected" hx-get="/server/certificates">Certificates</span>
			</div>

			<div id="tab-panel" role="tabpanel" hx-trigger="load"></div>

		</form>
	</div>
</main>
