{{template "_navigation.html" "server"}}

<main>
	<div class="framed page">
		<h1>Server Settings</h1>

		<p>Manage locations of critical system files. For help, visit the <a href="https://emissary.dev/packages" target="_blank">developer documentation</a>.</p>

		<form hx-post="/server">

			<div class="tabs" data-script="install TabContainer">

				<div role="tablist">
					<button type="button" role="tab" id="tab-templates" class="tab-label" aria-controls="panel-templates" aria-selected="true">Packages</button>
					<button type="button" role="tab" id="tab-emails" class="tab-label" aria-controls="panel-emails">Emails</button>
					<button type="button" role="tab" id="tab-attachments" class="tab-label" aria-controls="panel-attachments">Attachments</button>
					<button type="button" role="tab" id="tab-certificates" class="tab-label" aria-controls="panel-certificates">Certificates</button>
					<button type="button" role="tab" id="tab-general" class="tab-label" aria-controls="panel-general" aria-selected="true">General</button>
				</div>

				<div role="tabpanel" id="panel-general" aria-labelledby="tab-general" hidden="true">
					<div hx-get="/server/general" hx-trigger="load" hx-target="this" hx-push-url="false"></div>
				</div>

				<div role="tabpanel" id="panel-templates" aria-labelledby="tab-templates" hidden="true">
					<p>Packages define all of the Themes, Templates, and Widgets that users can include on their sites.</p>
					<div hx-get="/server/templates" hx-trigger="load" hx-target="this" hx-push-url="false"></div>
				</div>

				<div role="tabpanel" id="panel-emails" aria-labelledby="tab-emails" hidden="true">
					<p>Email Templates contain all of the emails that are sent by websites.</p>
					<div hx-get="/server/emails" hx-trigger="load" hx-target="this" hx-push-url="false"></div>
				</div>

				<div role="tabpanel" id="panel-attachments" aria-labelledby="tab-attachments" hidden="true">
					<p>Choose the readable/writeable directories where users uploaded files will be stored.</p>
					<div hx-get="/server/attachments" hx-trigger="load" hx-target="this" hx-push-url="false"></div>
				</div>

			</div>

		</form>
	</div>
</main>
