<!DOCTYPE html>
<html>
<head>
	<title>HTML5 Server Side Event Example in Go</title>
	<script src="https://unpkg.com/htmx.org@0.0.6"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

</head>

<body hx-sse="connect /event-updates">
	<h1>OMG it works?</h1>
	<div hx-trigger="sse:message" hx-get="/events"></div>


	<div hx-ext="client-side-templates">

		<script id="codeSwap" type="nunjucks">
			<h2>Outside List</h2>
			{{ title }} <br>{{body}}
		</script>

		<ul id="list"></ul>

		<!-- hx-trigger="load, click" makes sure that api gets called on page load AND on click  !-->
		<button
		   type="button"
		   hx-trigger="load, click"
		   hx-get="https://jsonplaceholder.typicode.com/posts/1" 
		   nunjucks-template="codeSwap"
		   hx-target="#list"
		   hx-swap="innerHTML"
		>Reload</button>
	  
	</div>
		
	</body>
  
</html>

