{{- $groups := .Groups.Top60.ByLabel.View -}}
{{- if notEmpty $groups -}}
    {{- $last := last $groups -}}
    <tbody hx-get="/admin/groups/list?label=gt:{{$last.Label}}" hx-trigger="revealed" hx-target="#groups" hx-swap="beforeend">
    {{- range $groups -}}
        <tr>
            <td hx-get="/admin/groups/{{.GroupID}}/edit">
                <i class="fa-solid fa-user-group"></i> {{.Label}}</td>
            <td align="right">
                <span hx-get="/admin/groups/{{.GroupID}}/delete"><i class="fa-regular fa-trash-can"></i></span>
            </td>
        </tr>
    {{- end -}}
    </tbody>
{{- end -}}