
<link rel="stylesheet" href="/static/nebula/nebula.css">

<div class="page">

	<div hx-get="/{{.Token}}/heading" hx-trigger="refreshPage">
		{{.View "heading"}}
	</div>

	<div id="menu-bar">
		<div class="left">
			<button script="on click saveDraft(true)" class="button primary">Promote</button>
			<button script="on click saveDraft(false)">Save Draft</button>
			<button hx-get="/{{.Token}}/discard-draft">Discard Draft</button>
		</div>

		<div class="right">
			{{- if .UserCan "properties" -}}
				<a hx-get="/{{.Token}}/properties">Info</a>
			{{- end -}}

			{{- if .UserCan "features" -}}
				<a hx-get="/{{.Token}}/features">Features</a>
			{{- end -}}

			{{- if .UserCan "sharing" -}}
				<a hx-get="/{{.Token}}/sharing">Sharing</a>
			{{- end -}}

			{{- if .UserCan "delete" -}}
				<a hx-get="/{{.Token}}/delete" class="text-red">Delete</a>
			{{- end -}}
		</div>

	</div>

	<article id="content-editor" data-content="{{.ContentRaw}}"></article>

	<div class="text-sm gray50">This draft is automatically saved to the server, but will not be visible publicly until you click the "Promote" button.</div>
	
</div>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/attaches@latest"></script>

<script>
	
	var editor = new EditorJS({
		holder: "content-editor",
		data: JSON.parse(document.getElementById("content-editor").getAttribute("data-content")),
		tools: {
			paragraph: {
				class: Paragraph,
				inlineToolbar: true,
			},
			header: {
				class: Header,
				inlineToolbar: ['link'],
				config: {
					placeholder: 'Header',
					levels: [1, 2, 3],
					defaultLevel: 2,
				},
			},
			list: {
				class: List,
				inlineToolbar: true,
				config: {
					placeholder: 'List',
				},
			},
			linkTool: {
				class: LinkTool,
				config: {
				// endpoint: 'http://localhost:8008/fetchUrl', // Your backend endpoint for url data fetching,
				}
			},
			embed: {
				class: Embed,
				config: {
				}
			},
			image: {
				class: ImageTool,
				config: {
					endpoints: {
						byFile: '/{{.Token}}/upload-image', // Your backend file uploader endpoint
						byUrl: '/{{.Token}}/upload-image', // Your endpoint that provides uploading by Url
					}
				}
			},
			attaches: {
				class: AttachesTool,
				config: {
					endpoint: 'http://localhost:8008/uploadFile'
				}
			}
		},
	})

	async function saveDraft(promote) {
		// Get the content from the editor
		content = await editor.save()

		// POST the content to the server
		await fetch("{{.URL}}", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(content),
		})

		// Maybe Promote the draft
		if (promote) {
			await fetch("/{{.Token}}/promote-draft", {
				method: "POST"
			})
		}

		// Redirect to the top of the page.
		window.location = "/{{.StreamID}}"
	}
</script>