<div id="menu-bar">

	<button hx-get="/{{.Token}}/view">View</button>

	{{- if .UserCan "properties" -}}
		<button script="install AsModal()" hx-get="/{{.Token}}/properties">Info</button>
	{{- end -}}

	{{- if .UserCan "delete" -}}
		<button hx-confirm="Are you sure you want to DELETE this Photo Album?" hx-post="/{{.Token}}/delete">Delete</button>
	{{- end -}}

</div>

<h1 class="space-after">{{.Label}}</h1>

<article class="space-after">
	<div>{{.Description}}</div>
</article>

<article>
	{{- range $index, $photo := .Children "view" -}}
		<div class="card">
			<img src="{{$photo.URL}}"/>
		</div>
	{{- end -}}
</article>