<div hx-get="/admin/users/index" hx-trigger="refreshPage from:body">
    <h1>Settings</h1>

    <div id="menu-bar">
        {{- $token := .Token -}}
        {{- range .AdminSections -}}
            <a href="/admin/{{.Value}}" class="{{if eq $token .Value}}selected{{end}}">{{.Label}}</a>
        {{- end -}}
    </div>

    <table id="users" class="table">

        <tr><td hx-get="/admin/users/add" class="link">
            <i class="fa-solid fa-plus-circle"></i> Add a Person
        </td></tr>

        {{- .View "list" -}}
    </div>
</div>