{{- $users := .Users.Top12.ByDisplayName.View -}}
{{- if not $users.IsEmpty }}

    <tbody hx-trigger="revealed" hx-get="/admin/users/list?groupId=&amp;displayName=gt:{{ $users.Last.DisplayName }}" hx-target="#users" hx-swap="beforeend">
    {{- range $index, $user := $users -}}
            <tr hx-get="/admin/users/{{$user.UserID}}/view" hx-push-url="true" class="padded card clickable">
                <td><i class="fa-solid fa-user"></i> {{$user.DisplayName}}</td>
                <td align="right">
                    <span hx-get="/admin/users/{{$user.UserID}}/delete"><i class="fa-regular fa-trash-can"></i></span>
                </td>
            </tr>
        </div>
    {{- end -}}
    </tbody>

{{- end -}}
