{{- $users := .Users.Top12.ByDisplayName.View -}}
{{- if not $users.IsEmpty }}

    {{- range $index, $user := $users -}}
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-5">
            <div class="padded card clickable" hx-get="/admin/users/{{$user.UserID}}/view" script="install AsModal">
                <div class="card-photo">
                    <img src="{{$user.AvatarURL}}">
                </div>
                <div>{{$user.DisplayName}}</div>
            </div>
        </div>
    {{- end -}}

    <div hx-trigger="revealed" hx-get="/admin/users/list?displayName=gt:{{ $users.Last.DisplayName }}" hx-target="#users" hx-swap="beforeend"></div>
{{- end -}}
