<script type="text/hyperscript" src="/.widgets/scrollspy/hyperscript"></script>

<style>
	#scrollspy {
		position:sticky;
		top:100px;
	}

	#scrollspy .scrollspy-item {
		display:block;
		white-space: nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		line-height:180%;
		color:var(--gray80);
		border-left:solid 2px transparent;
	}

	#scrollspy .level-1 {
		font-size: 12px;
		padding-left:0px;
		font-weight:bold;
	}

	#scrollspy .level-2 {
		font-size: 12px;
		padding-left:6px;
	}

	#scrollspy .level-3 {
		font-size: 12px;
		padding-left:12px;
	}

	#scrollspy .level-4 {
		font-size: 12px;
		padding-left:18px;
	}

	#scrollspy .scrollspy-item.selected {
		font-weight:600;
		color:var(--black);
		border-left: solid 2px var(--gray80);
	}

</style>

<div id="scrollspy"></div>