{{- if .InReplyTo.NotNil -}}
	{{template "parent" .InReplyTo}}
{{- end -}}

{{- $actor := .AttributedTo.Load -}}

<div class="text-gray space-below">

	<div class="space-below">
		<a href="{{.ID}}" class="text-plain">
			<img src="{{$actor.Icon.URL}}" class="circle-24 inline-block" style="margin-right:8px;">
			<div class="inline-block">
				<div class="bold link vertical-space-none">{{$actor.Name}}</div>
				<div>{{ .Published | humanizeTime }}</div>
			</div>
		</a>
	</div>

	{{- if .Image.NotNil -}}
		<div><img src="{{.Image.URL}}" style="width:100%;"></div>
	{{- end -}}

	<div class="space-below">{{.Content | html}}</div>

	<div class="space-below">
		<span class="space-right">{{icon "mention"}} 0</span>
		<span class="space-right">{{icon "thumbs-up"}} 0</span>
		<span class="space-right">{{icon "thumbs-down"}} 0</span>
	</div>

</div>

<hr/>