{{- $publishedDate := .QueryParam "published" -}}
{{- $pageSize := 12 -}}

{{- $builder := . -}}
{{- $replies := .RepliesBefore $publishedDate $pageSize -}}

{{- if eq $replies.Length $pageSize -}}
	<div class="margin-bottom" role="button" hx-get="{{.BasePath}}/replies?published={{$replies.First.Published | epochDate}}" hx-target="this" hx-swap="outerHTML" hx-push-url="false">
		<span class="button text-xs">Show Older Replies</span>
	</div>
{{- end -}}

{{- range $replies -}}

	{{- $metadata := .Metadata -}}
	{{- $object := .UnwrapActivity -}}
	{{- $actor := $object.AttributedTo.Load -}}

	<div role="link" class="flex-row margin-bottom-lg hover-trigger">

		<div class="flex-row flex-grow-1 clickable" script="on click go to url '{{$object.ID}}'">
			<div class="flex-shrink-0 margin-right">
				{{- if $actor.Icon.IsNil -}}
					<div class="circle width-48"></div>
				{{- else -}}
					<img class="circle width-48" src="{{$actor.Icon.Href}}">
				{{- end -}}
			</div>

			<div class="flex-grow-1">

				<div class="margin-bottom-xs">
					{{- if $actor.NotNil -}}
						<span class="bold margin-right-xs">{{$actor.Name}}</span>
						<span class="flex-grow-1 text-light-gray">{{ $object.Published | tinyDate}} ago</span>
					{{- end -}}
				</div>

				{{- if ne "" $object.Name -}}
					<div class="bold">{{$object.Name}}</div>
				{{- end -}}

				{{- if $object.Image.NotNil -}}
					<div class="margin-vertical"><img src="{{$object.Image.Href}}" class="width-100%"></div>
				{{- end -}}
			
				<div class="margin-bottom">{{$object.Content | html}}</div>
				<div class="text-sm">
					<span class="text-light-gray">
						{{- if gt $metadata.Replies 0 -}}
							<span class="margin-right-sm">
								{{$metadata.Replies}} {{pluralize $metadata.Replies "Reply" "Replies"}}
							</span>
						{{- end -}}

						{{- if gt $metadata.Likes 0 -}}
							<span class="margin-right-sm">
								{{$metadata.Likes}} {{pluralize $metadata.Likes "Like" "Likes"}}
							</span>
						{{- end -}}

						{{- if gt $metadata.Announces 0 -}}
							<span class="margin-right-sm">
								{{$metadata.Announces}} {{pluralize $metadata.Announces "Boost" "Boosts"}}
							</span>
						{{- end -}}
					</span>

					{{ template "tags" $object }}
				</div>
			</div>
		</div>

		{{- if $builder.IsAuthenticated -}}
			{{- if $builder.NotMe $object.Actor.ID -}}
				<div class="text-xs margin-left-md nowrap">
					<span
						hx-get="/@me/inbox/actor-button?url={{$object.Actor.ID}}"
						hx-swap="innerHTML"
						hx-target="this"
						hx-push-url="false"
						hx-trigger="load"></span>
				</div>
			{{- end -}}
		{{- end -}}

	</div>

{{- end -}}