{{- $document := .ActivityStream .Permalink -}}
{{- $metadata := $document.Metadata -}}

{{- $publishedDate := .QueryParam "published" -}}
{{- $pageSize := 1000 -}}
{{- $likes := .LikesBefore $publishedDate $pageSize -}}

<div id="responses" class="margin-top" hx-target="this" hx-swap="outerHTML" hx-push-url="false">

	<hr class="margin-bottom-sm"/>

	<div>
		<span hx-get="{{.BasePath}}/responses-replies?url={{.Permalink}}" role="button" class="margin-right-xs clickable">
			{{- $metadata.Replies }} {{pluralize $metadata.Replies "Reply" "Replies" -}}
		</span>
		&middot;
		<span hx-get="{{.BasePath}}/responses-likes?url={{.Permalink}}" role="button" class="margin-horizontal-xs clickable bold">
			{{- $metadata.Likes }} {{pluralize $metadata.Likes "Like" "Likes" -}}
		</span>
		&middot;
		<span hx-get="{{.BasePath}}/responses-announces?url={{.Permalink}}" role="button" class="margin-horizontal-xs clickable">
			{{- $metadata.Announces }} {{pluralize $metadata.Announces "Share" "Shares" -}}
		</span>
	</div>

	<hr class="margin-top-sm"/>

	{{- if lt $likes.Length 6 -}}

		<div class="margin-top">

			{{- range $index, $like := $likes -}}
				{{- $icon := $like.Actor.Icon -}}
				<div script="on click go to url '{{$like.Actor.ID}}' in new window" class="flex-row clickable" role="link">

					<div class="margin-right">
						{{- if $icon.NotNil -}}
							<img src="{{$icon.Href}}" class="circle width-48">
						{{- else -}}
							<div class="circle width-48"></div>
						{{- end -}}
					</div>

					<div>
						<div class="bold">Liked by {{$like.Actor.Name}}</div>
						<div class="text-gray">on {{$like.Published | shortDate}}</div>
					</div>

				</div>
			{{- end -}}
		
		</div>

	{{- else -}}

		<div class="margin-top flex-row flex-wrap">
			{{- $size := iif (lt $likes.Length 18) "32" "48" -}}	
			
			{{- range $index, $like := $likes -}}
				{{- $icon := $like.Actor.Icon -}}
				<div script="on click go to url '{{$like.Actor.ID}}' in new window" class="clickable tooltip-container" role="link">

					<div class="tooltip align-left">
						<div class="bold margin-vertical-xs">Liked by {{$like.Actor.Name}}</div>
						<div class="text-gray margin-vertical-xs">on {{$like.Published | shortDate}}</div>
					</div>

					<div class="margin-right">
						{{- if $icon.NotNil -}}
							<img src="{{$icon.Href}}" class="circle-{{$size}}">
						{{- else -}}
							<div class="circle-{{$size}}"></div>
						{{- end -}}
					</div>
				</div>

			{{- end -}}

		</div>

	{{- end -}}

</div>