{{- $root := . -}}
{{- $publishedDate := .QueryParam "published" -}}
{{- $pageSize := 1000 -}}
{{- $likeLinks := .LikeLinksAfter $publishedDate $pageSize -}}

<div id="responses" class="margin-top" hx-target="this" hx-swap="outerHTML" hx-push-url="false">

	<hr class="margin-bottom-sm"/>

	<div>
		<span hx-get="{{.BasePath}}/responses-replies?url={{.Permalink}}" role="button" class="margin-right-xs clickable">
			{{- .ReplyCount }} {{pluralize .ReplyCount "Reply" "Replies" -}}
		</span>
		&middot;
		<span hx-get="{{.BasePath}}/responses-likes?url={{.Permalink}}" role="button" class="margin-horizontal-xs clickable bold">
			{{- .LikeCount }} {{pluralize .LikeCount "Like" "Likes" -}}
		</span>
		&middot;
		<span hx-get="{{.BasePath}}/responses-announces?url={{.Permalink}}" role="button" class="margin-horizontal-xs clickable">
			{{- .ShareCount }} {{pluralize .ShareCount "Share" "Shares" -}}
		</span>
	</div>

	<hr class="margin-top-sm"/>

	<div class="margin-top">

		{{- range $index, $link := $likeLinks -}}
			{{- $like := $root.ActivityStream $link.URI -}}
			{{- $icon := $like.Actor.Icon -}}
			<a href="{{$like.Actor.ID}}" target="_blank" rel="noopener noreferrer nofollow" class="flex-row margin-bottom-sm text-nocolor">

				{{- if $icon.NotNil -}}
					<img src="{{$icon.Href}}" alt="" class="circle width-24">
				{{- else -}}
					<div class="circle width-24"></div>
				{{- end -}}

				<span>
					<span class="bold">{{$like.Actor.Name}}</span>
					&middot;
					<span class="text-gray">{{$like.Published | shortDate}}</span>
				</span>

			</a>
		{{- end -}}

	</div>

</div>