{{- $document := .ActivityStream .Permalink -}}
{{- $metadata := $document.Metadata -}}

<div id="responses" class="margin-top" hx-target="this" hx-swap="outerHTML" hx-push-url="false">

	<hr class="margin-bottom-sm"/>

	<div>
		<span hx-get="{{.BasePath}}/responses-replies?url={{.Permalink}}" role="button" class="margin-right-xs clickable bold">
			{{- $metadata.Replies }} {{pluralize $metadata.Replies "Reply" "Replies" -}}
		</span>
		&middot;
		<span hx-get="{{.BasePath}}/responses-likes?url={{.Permalink}}" role="button" class="margin-horizontal-xs clickable">
			{{- $metadata.Likes }} {{pluralize $metadata.Likes "Like" "Likes" -}}
		</span>
		&middot;
		<span hx-get="{{.BasePath}}/responses-announces?url={{.Permalink}}" role="button" class="margin-horizontal-xs clickable">
			{{- $metadata.Announces }} {{pluralize $metadata.Announces "Share" "Shares" -}}
		</span>
	</div>

	<hr class="margin-top-sm"/>

	<div id="replies" class="margin-vertical">
		{{.View "replies"}}
	</div>

	{{- if .UserCan "reply" -}}
		<div class="flex-row">
			<div class="flex-shrink-0">
				{{- $userImage := .UserImage -}}
				{{- if eq $userImage "" -}}
					<div class="circle width-48"></div>
				{{- else -}}
					<img class="circle width-48" src="{{$userImage}}">
				{{- end -}}
			</div>
			<div class="flex-grow-1">
				{{.View "reply"}}
			</div>
		</div>
	{{- end -}}
</div>