{{- $root := . -}}
{{- $publishedDate := .QueryParam "published" -}}
{{- $pageSize := 1000 -}}
{{- $shareLinks := .ShareLinksAfter $publishedDate $pageSize -}}

<div id="responses" class="margin-top" hx-target="this" hx-swap="outerHTML" hx-push-url="false">

	<hr class="margin-bottom-sm"/>

	<div>
		<span hx-get="{{.BasePath}}/responses-replies?url={{.Permalink}}" role="button" class="margin-right-xs clickable">
			{{- .ReplyCount }} {{pluralize .ReplyCount "Reply" "Replies" -}}
		</span>
		&middot;
		<span hx-get="{{.BasePath}}/responses-likes?url={{.Permalink}}" role="button" class="margin-horizontal-xs clickable">
			{{- .LikeCount }} {{pluralize .LikeCount "Like" "Likes" -}}
		</span>
		&middot;
		<span hx-get="{{.BasePath}}/responses-announces?url={{.Permalink}}" role="button" class="margin-horizontal-xs clickable bold">
			{{- .ShareCount }} {{pluralize .ShareCount "Share" "Shares" -}}
		</span>
	</div>

	<hr class="margin-top-sm"/>

	{{- if lt $shareLinks.Length 6 -}}

		<div class="margin-top">

			{{- range $index, $link := $shareLinks -}}
				{{- $announce := $root.ActivityStream $link.URI -}}
				{{- $icon := $announce.Actor.Icon -}}
				<a href="{{$announce.Actor.ID}}" target="_blank" rel="noopener noreferrer nofollow" class="flex-row margin-bottom text-nocolor">

					{{- if $icon.NotNil -}}
						<img src="{{$icon.Href}}" alt="" class="circle width-24">
					{{- else -}}
						<div class="circle width-24"></div>
					{{- end -}}

					<span>
						<span class="bold">{{$announce.Actor.Name}}</span>
						&middot;
						<span class="text-gray">{{$announce.Published | shortDate}}</span>
					</span>

				</a>
			{{- end -}}
		</div>

	{{- else -}}

		<div class="margin-top flex-row flex-wrap">

			{{- $size := iif (lt $shareLinks.Length 18) "32" "48" -}}

			{{- range $index, $link := $shareLinks -}}
				{{- $announce := $root.ActivityStream $link.URI -}}
				{{- $icon := $announce.Actor.Icon -}}
				<a href="{{$announce.Actor.ID}}" target="_blank" rel="noopener noreferrer nofollow" class="clickable tooltip-container text-nocolor">

					<div class="tooltip align-left">
						<div class="bold margin-vertical-xs">Shared by {{$announce.Actor.Name}}</div>
						<div class="text-gray margin-vertical-xs">on {{$announce.Published | shortDate}}</div>
					</div>

					<div class="margin-right">
						{{- if $icon.NotNil -}}
							<img src="{{$icon.Href}}" alt="" class="circle width-{{$size}}">
						{{- else -}}
							<div class="circle width-{{$size}}"></div>
						{{- end -}}
					</div>
				</a>
			{{- end -}}

		</div>

	{{- end -}}

</div>
