{{- $activity := .ActivityStream "URL" -}}
<link rel="alternate" type="application/activity+json" href="/{{.StreamID}}"/>
<link rel="stylesheet" href="/.templates/base-social/stylesheet">

<div class="page h-entry">

	<div class="float-right">
		<button hx-get="/{{.StreamID}}/edit" hx-push-url="false" class="text-sm">Edit</button>
	</div>

	<div style="max-width:720px;"> 

		{{- if .IsReply -}}
			{{- $inReplyTo := .InReplyTo.Load -}}
			<div class="text-gray text-sm turboclick" role="button" hx-get="/{{.StreamID}}/parent" hx-push-url="false" hx-target="this" hx-swap="outerHTML">{{icon "reply"}} Replying to 
				<span class="bold">{{$inReplyTo.AttributedTo.Name}}</span>
				<span class="link text-xs">[show previous]</span>
				<a href="{{.InReplyTo.ID}}" class="u-in-reply-to"></a>
			</div>
		{{- end -}}

		<div class="p-author text-lg space-below">
			<a href="{{.Author.ProfileURL}}" class="text-plain inline-block flex-row turboclick">
				<img src="{{.Author.ImageURL}}" class="circle-64 inline-block" style="margin-right:8px;">
				<div class="inline-block">
					<div class="p-author bold link vertical-space-none">{{.Author.Name}}</div>
					<div class="dt-published vertical-space-none text-gray" datetime="{{.PublishDate | isoDate}}">{{ .PublishDate | humanizeTime }}</div>
				</div>
			</a>
		</div>

		<div style="margin-left:72px;">
			<div class="space-below">
				<h2 class="p-summary">{{.ContentHTML}}</h2>
			</div>

			{{- if ne .ImageURL "" -}}
				<div class="space-below">
					<img src="{{.ImageURL}}?width=600" class="u-photo" style="max-width:100%;">
				</div>
			{{- end -}}

			{{- .Responses -}}

			<hr>

			<div hx-get="/{{.StreamID}}/replies-before" hx-trigger="load" hx-target="this" hx-swap="outerHTML" hx-push-url="false">
				Loading Replies...
			</div>

			<div hx-get="/{{.StreamID}}/replies-after?published={{now | epochDate}}" hx-trigger="refreshReplies" hx-push-url="false" hx-swap="innerHTML" hx-target="this">
				{{- if .UserCan "add-reply" -}}
					{{.View "add-reply"}}
				{{- end -}}
			</div>

		</div>

	</div>

</div>