{{- $stream := .ActivityStream .Permalink -}}
{{- $statistics := $stream.Statistics -}}
{{- $inReplyTo := .InReplyTo -}}

<div class="page h-entry" hx-get="/{{.StreamID}}" hx-trigger="refreshPage from:window" hx-target="this" hx-swap="outerHTML" hx-push-url="false">

	<link rel="alternate" type="application/activity+json" href="/{{.StreamID}}"/>

	{{- if $inReplyTo.NotNil -}}
		{{- $attributedTo := $inReplyTo.AttributedTo -}}
		<div>
			<a href="{{$inReplyTo.ID}}" class="u-in-reply-to text-plain" tabIndex="0">
				<span class="text-sm bold">
					{{icon "reply"}} Replying to {{$attributedTo.Name}} &nbsp;
				</span>
				<span class="link text-xs">View Original</span>
			</a>
		</div>
		<hr>
	{{- end -}}

	<div class="flex-row width-100%">

		<div class="flex-grow-1 margin-top-sm">
		
			<a href="{{.Author.ProfileURL}}" class="text-plain inline-block turboclick" tabIndex="0">
				<div class="flex-row">
					<div class="margin-right">
						{{- if eq .Author.IconURL "" -}}
							<div class="circle-64"></div>
						{{- else -}}
							<img src="{{.Author.IconURL}}" class="circle-64">
						{{- end -}}
					</div>

					<div>
						<div class="p-author text-xl bold margin-vertical-none">{{.Author.Name}}</div>
						<div class="text-light-gray">
							<span class="p-username">{{$stream.AttributedTo.UsernameOrID}}</span> &middot;
							<span class="dt-published" datetime="{{.PublishDate | isoDate}}">{{ .PublishDate | humanizeTime }}</span>
						</div>
					</div>
				</div>
			</a>

			<div class="flex-row margin-vertical-sm text-sm">
				<div class="flex-shrink-0 width-64 margin-right"></div>
				<div>
					{{- if .UserCan "like-button" -}}
						{{.View "like-button"}}
					{{- else -}}
						<button hx-get="/{{.StreamID}}/intent?intent=like&object={{.Permalink}}"><span aria-hidden="true" class="margin-left-xs">{{icon "thumbs-up"}}</span> Like</button>
						<button hx-get="/{{.StreamID}}/intent?intent=dislike&object={{.Permalink}}"><span aria-hidden="true" class="margin-left-xs">{{icon "thumbs-down"}}</span> Dislike</button>
						<button hx-get="/{{.StreamID}}/intent?intent=create&content={{.Label}} {{.Permalink}}"><span aria-hidden="true" class="margin-left-xs">{{icon "share"}}</span> Share</button>
						<button hx-get="/{{.StreamID}}/intent" aria-label="Manage Accounts">{{icon "more-horizontal"}}</button>
					{{- end -}}
				</div>
			</div>
		</div>

		{{- if .UserCan "edit" -}}
			<div>
				<button hx-get="/{{.StreamID}}/edit" class="text-xs">Edit Post</button>
			</div>
		{{- end -}}
		
	</div>


	{{- if ne .IconURL "" -}}
		<div class="margin-vertical">
			<img src="{{.IconURL}}?width=600" class="u-photo width-100%">
		</div>
	{{- end -}}

	<div class="text-lg margin-vertical-lg" style="width:clamp(400px, 90%, 800px)">
		{{.ContentHTML}}
	</div>

	{{- .View "responses-replies" -}}

</div>