{{- $hasChildren := notEmpty .Children.Top1.View -}}

<link rel="stylesheet" href="/static/editor/uploader.css" />
<script type="text/hyperscript" src="/static/editor/uploader.hs"></script>

<h1>{{.Label}}</h1>

<article class="space-after">
	<div>{{.Description}}</div>
</article>

<div id="menu-bar">
	{{- if $hasChildren -}}
	<a href="/{{.Token}}"><i class="fa-regular fa-arrow-left"></i> View Photos</a>
	{{- end -}}

	{{- if .UserCan "properties" -}}
		<a hx-get="/{{.Token}}/properties">Edit Info</a>
	{{- end -}}

	{{- if .UserCan "sharing" -}}
		<a hx-get="/{{.Token}}/sharing">Sharing</a>
	{{- end -}}

	{{- if .UserCan "delete" -}}
		<a hx-get="/{{.Token}}/delete">Delete Album</a>
	{{- end -}}
</div>

<article>

	<div class="uploader" _="install Uploader(url:'/{{.Token}}/attachments', success:'/{{.Token}}')">
	
		<div class="space-below gray40"><i class="fa-solid fa-arrow-up-from-bracket fa-8x"></i></div>
		<h2 class="space-below">Drag Files Here to Upload</h2>
		<label for="manual-upload" class="pure-button pure-button-primary">Or Click to Select from Your Device</label>
		<form hx-post="/{{.Token}}/attachments" hx-encoding="multipart/form-data" hx-trigger="change" hx-swap="none" style="opacity:0;">
			<input type="file" id="manual-upload" name="file"/>
		</form>

	</div>

</article>

