<link rel="stylesheet" href="/static/editor/uploader.css" />
<script type="text/hyperscript" src="/static/editor/uploader.hs"></script>

<div id="menu-bar">
	<button hx-get="/{{.Token}}">Cancel</button>
</div>

<h1><i class="fa-regular fa-plus"></i> New Post</h1>

<article>

	<div class="uploader" _="install Uploader(url:'/{{.StreamID}}/attachments')">
	
		<div class="space-below gray40"><i class="fa-solid fa-arrow-up-from-bracket fa-8x"></i></div>
		<h2 class="space-below">Drag Files Here to Upload</h2>
		<form hx-post="${url}" hx-encoding="multipart/form-data">
			<label for="manual-upload" class="pure-button pure-button-primary">Or Click to Select from Your Device</label>
			<input id="manual-upload" type="file" name="file" accept="${accept}" class="hidden"/>
		</form>

	</div>

</article>

