<div hx-ext="sse" sse-connect="/{{.StreamID}}/sse">
<div hx-get="/{{.Token}}" hx-trigger="sse:message">

	<h1>{{.Label}}</h1>

	<article class="space-after">
		<div>{{.Description}}</div>
	</article>

	{{ if .UserCan "edit" }}
		<div id="menu-bar">
			{{- if .UserCan "properties" -}}
				<a hx-get="/{{.Token}}/properties" script="install AsModal">Edit Album</a>
			{{- end -}}
			<a href="/{{.Token}}/edit">Upload Photos</a>
			{{- if .UserCan "delete" -}}
				<a hx-get="/{{.Token}}/delete" script="install AsModal">Delete</a>
			{{- end -}}
		</div>
	{{ end }}

	<div id="children" class="pure-g card-group" hx-push-url="true">
		{{- (.SetQueryParam "start" "") -}}
		{{- .View "children" -}}
	</div>

</div>
</div>