<div id="menu-bar">
	{{ if .UserCan "edit" }}
		<a href="/{{.Token}}/edit" class="button">Edit</a>
	{{ end }}
</div>

{{- if .HasParent -}}
	{{- $parent := .Parent "view" -}}
	<div id="breadcrumbs">
		<a href="/{{$parent.Token}}" hx-get="/{{$parent.Token}}">&laquo; {{$parent.Label}}.</a>
	</div>
{{- end -}}

{{- if ne "" (.Data "heading") -}}
	<h1 class="space-after">{{.Data "heading"}}</h1>
{{- end -}}

{{- if ne "" (.Data "introduction") -}}
<article class="space-after">
	<div>{{.Data "introduction"}}</div>
</article>
{{- end -}}

<div class="space-after pure-g">
	{{- $token := .Token -}}
	{{- range .Children "view" -}}
		<div class="pure-u-1 pure-u-md-1-3">
			<div hx-get="/{{.Token}}"  class="card" style="overflow:hidden; aspect-ratio:1;">
				<img src="/{{$token}}/attachments/{{.ThumbnailImage}}" style="height:100%; position:absolute; left:0px; object-fit:cover;">
			</div>
		</div>
	{{- end -}}
</div>