{{- $groups := .Groups.Top60.ByLabel.View -}}
{{- if not $groups.IsEmpty -}}
    <tbody hx-get="/admin/groups/list?label=gt:{{$groups.Last.Label}}" hx-trigger="revealed" hx-target="#groups" hx-swap="beforeend">
    {{- range $groups -}}
        <tr>
            <td hx-get="/admin/groups/{{.GroupID}}/edit" script="install AsModal">{{.Label}}</td>
            <td align="right">
                <span hx-get="/admin/groups/{{.GroupID}}/delete" script="install AsModal"><i class="fa-regular fa-trash-can"></i></span>
            </td>
        </tr>
    {{- end -}}
    </tbody>
{{- end -}}