<form id="editor" hx-post="/{{.Stream}}/content" hx-target="#editor" hx-swap="outerHTML" method="post">
	<input type="hidden" name="content" value="{{.Content}}">
	<input type="hidden" name="hash" value="{{.Hash}}">
	<textarea name="html" class="editor">{{.HTML}}</textarea>

    <script src="/static/ckeditor5/build/ckeditor.js"></script>

    <script>
    ClassicEditor.create( document.querySelector( '.editor' ), {
        
        toolbar: {
            items: [
                'heading',
                '|',
                'bold',
                'italic',
                'link',
                'bulletedList',
                'numberedList',
                '|',
                'outdent',
                'indent',
                '|',
                'imageUpload',
                'blockQuote',
                'insertTable',
                'mediaEmbed',
                'undo',
                'redo'
            ]
        },
        language: 'en',
        image: {
            toolbar: [
                'imageTextAlternative',
                'imageStyle:full',
                'imageStyle:side'
            ]
        },
        table: {
            contentToolbar: [
                'tableColumn',
                'tableRow',
                'mergeTableCells'
            ]
        },
        licenseKey: '',
    } )
    .then( editor => {
        window.editor = editor;
    } )
    .catch( error => {
        console.error( 'Oops, something went wrong!' );
        console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
        console.warn( 'Build id: 7tnd8anyafyl-nohdljl880ze' );
        console.error( error );
    } );
    </script>

    <script type="text/hyperscript">
        on htmx:beforeRequest from #editor
            set window.editor.readOnly to true
    </script>

</form>
