<div class="page">

	<h1>{{icon "email"}} You're Half-Way There</h1>

	<p>We've sent a subscription confirmation to your email address.</p>
	<p>To receive updates from <b>{{.DisplayName}}</b>:</p>
	<ol>
		<li>Please open your email application.</li>
		<li>Find the email from <b>{{.Hostname}}</b>.</li>
		<li>Click the "confirm subscription" link to continue.</li>
	</ol>

	<p class="margin-top"><b>Why Click Again?</b> We double-check so you don't get unwanted emails.</p>

	<p class="margin-top-lg">
		<a class="button primary" href="/@{{.UserID}}">Continue to <b>{{.DisplayName}}</b> {{icon "arrow-right"}}</a>
	</p>

</div>