<div class="page h-entry" hx-get="/{{.StreamID}}" hx-trigger="sse:{{.StreamID}}, refreshPage from:window"  hx-sse="connect:/{{.StreamID}}/sse">

	<link rel="stylesheet" href="/.templates/article/stylesheet"/>

	{{- if .UserCan "edit" -}}
		<div id="menu-bar">
			<a href="/{{.StreamID}}/edit">Edit Content</a>

			{{- if .UserCan "sharing" -}}
				<a hx-get="/{{.StreamID}}/sharing">Sharing</a>
			{{- end -}}

			<div class="right">
				{{- if .UserCan "publish" -}}
					<a hx-get="/{{.StreamID}}/publish" hx-push-url="false" class="button">Publish</a>
				{{- end -}}

				{{- if .UserCan "unpublish" -}}
					<a hx-get="/{{.StreamID}}/unpublish" hx-push-url="false" class="button">Un-Publish</a>
				{{- end -}}
			</div>
		</div>
	{{- end -}}

	<article class="content space-after">
		{{- .Widgets "LEFT" -}}
		<div class="content-main">
			{{- .Widgets "TOP" -}}
			<div class="e-content">{{- .ContentHTML -}}</div>
			{{- .Widgets "BOTTOM" -}}
		</div>
		{{- .Widgets "RIGHT" -}}
	</article>

</div>
