<div class="page" hx-ext="sse" sse-connect="/{{.StreamID}}/sse" hx-get="/{{.Token}}" hx-trigger="sse:message">

	{{- if ne .Label "" -}}
		<h1>{{.Label}}</h1>
	{{- end -}}

	{{- if ne .Summary "" -}}
		<div class="space-below">{{.Summary}}</div>
	{{- end -}}

	<div id="menu-bar">
		<div class="left">
			{{- if .HasParent -}}
				{{- $parent := .Parent "view" -}}
				<a hx-get="/{{$parent.Token}}" hx-push-url="true" class="link">&laquo; {{$parent.Label}}</a>
			{{- end -}}

			{{- if .UserCan "edit" -}}
				<a hx-get="/{{.Token}}/edit">Info</a>
			{{- end -}}
		</div>

		<div class="right">
			{{- if .UserCan "delete" -}}
				<a class="text-red" hx-get="/{{.Token}}/delete">Delete</a>
			{{- end -}}
		</div>
	</div>

	{{- $children := .Children.All.Slice -}}
	{{- if eq (len $children) 0 -}}
		<div class="card"><img src="/{{.StreamID}}/attachments/{{.Attachment.AttachmentID.Hex}}?width=1024" style="width:100%;"></div>
	{{- end -}}
	{{- if gt (len $children) 0 -}}

	<div class="card"><img src="/{{.StreamID}}/attachments/{{.Attachment.AttachmentID.Hex}}?width=1024" style="width:100%;"></div>
	{{- range $children -}}
	<div class="card padding-5 space-below">
		{{- .Render -}}
	</div>
	{{- end -}}

	{{- end -}}

</div>