<!DOCTYPE html>
<html>
<head>
	<title>Whisperverse</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/static/purecss/pure-min.css">
	<link rel="stylesheet" href="/static/purecss/pure-grids-responsive-min.css">
	<link rel="stylesheet" href="/static/colors.css">

	<link rel="stylesheet" href="/static/accessibility.css">
	<link rel="stylesheet" href="/static/animations.css">
	<link rel="stylesheet" href="/static/cards.css">
	<link rel="stylesheet" href="/static/content.css">
	<link rel="stylesheet" href="/static/forms.css">	
	<link rel="stylesheet" href="/static/layout.css">
	<link rel="stylesheet" href="/static/modal.css">
	<link rel="stylesheet" href="/static/responsive.css">	
	<link rel="stylesheet" href="/static/tabs.css">	
	<link rel="stylesheet" href="/static/tables.css">	
	<link rel="stylesheet" href="/static/typography.css">	

	<link rel="stylesheet" href="/static/fontawesome-free-6.0.0/css/all.css">
	<script type="text/javascript" src="/static/htmx/htmx.min.js"></script>

</head>

<body hx-target="#main" hx-swap="innerHTML" hx-push-url="false" hx-ext="a11y">

	{{- $topID := .TopLevelID -}}

	<nav hx-push-url="true">
		<div class="framed">
			<div class="left">
				{{- range .TopLevel -}}
					<a href="/{{.Token}}" class="{{- if eq $topID .StreamID -}}selected{{- end -}}">{{.Label}}</a>
				{{- end -}}
			</div>
			<div class="right">
				{{- if .IsAuthenticated -}}
				<a href="/profile/inbox" class="{{- if eq $topID `inbox` -}}selected{{- end -}}">Inbox</a>
				<a href="/profile" class="{{- if eq $topID `profile` -}}selected{{- end -}}">Profile</a>
					{{- if .IsOwner -}}<a href="/admin/domain"  class="{{- if eq $topID `admin` -}}selected{{- end -}}">Settings</a>{{- end -}}
					<!--button hx-post="/signout" hx-target="body">Sign Out</button-->
				{{- else -}}
					<a href="/signin">Sign In</a>
				{{- end -}}
			</div>
		</div>

	</nav>

	<main>
		<div id="main" class="framed">
			{{- .Render -}}
		</div>
	</main>
	
	<aside></aside>

	<script type="text/hyperscript" src="/static/date._hs"></script>
	<script type="text/hyperscript" src="/static/forms._hs"></script>
	<script type="text/hyperscript" src="/static/modal._hs"></script>
	<script type="text/hyperscript" src="/static/tabs._hs"></script>

	<script type="text/javascript" src="/static/hyperscript/_hyperscript_web.min.js"></script>
	<script type="text/javascript" src="/static/a11y.js"></script>
	<script type="text/javascript" src="/static/preload.js"></script>
	<script type="text/javascript" src="/static/extensions.js"></script>
	
</body>
</html>
