{{- $userID := .AttributedTo.UserID.Hex -}}
{{- $permalink := .Permalink -}}

<h1 id="modal-title">{{icon "star"}} Buy Now</h1>

<div class="table">
	{{- range $index, $product := .Products -}}
		<a href="/.checkout?productId={{$product.ProductID.Hex}}&return={{$permalink}}" role="link" class="text-nocolor text-plain flex-row">
			<div class="flex-grow">
				<div class="bold">{{$product.Name}}</div>
				<div class="text-sm text-gray">{{$product.Price}}</div>
			</div>
			<div class="flex-align-self-start text-xl margin-none">&rarr;</div>
		</a>
	{{- end -}}
</div>

<div class="margin-top">
	<button script="on click send closeModal">Close Window</button>
</div>