<div class="page">

	<div class="flex-row margin-bottom">
		<div class="flex-grow">
			<a href="/{{.StreamID}}">&larr; {{.Label}}</a>
			&middot;
			<b>Sell Online</b>
		</div>

		<a href="https://emissary.dev/payments" class="nowrap" target="_blank">{{icon "help"}} Help with Payments</a>
	</div>

	{{- $merchantAccounts := .MerchantAccounts.Slice -}}

	{{- if eq 0 $merchantAccounts.Length -}}

		<div role="tablist" class="wizard margin-bottom-xl">
			<div role="tab">
				<div class="step-number">1</div>
				<div class="step-label">Account</div>
			</div>	
			<div class="line" disabled></div>
			<div role="tab" disabled>
				<div class="step-number">2</div>
				<div class="step-label">Products</div>
			</div>
			<div class="line" disabled></div>
			<div role="tab" disabled>
				<div class="step-number">3</div>
				<div class="step-label">Content</div>
			</div>
		</div>

		<h1 class="text-xl bold">
			1. Connect Your Merchant Account
		</h1>
		
		<div class="text-sm text-gray margin-bottom-lg md:width-60%">
			To get started, connect to one of the payment procesors listed here.
			If you don't already have an account, you can create one with the links below.
		</div>

		<div class="md:flex-row margin-bottom md:text-sm">
			{{- $connections := .AvailableMerchantAccounts -}}

			{{- range $index, $connection := $connections -}}
				<a href="/.{{$connection.Value | lowerCase }}/connect" class="text-nocolor card padding margin-bottom hover-outline flex-row md:flex-column md:width-25%">
					<div class="align-center margin-bottom flex-grow">
						<img src="{{$connection.Icon}}" class="width-128 md:height-100%">
					</div>
					<div class="text-gray">{{$connection.Description}}</div>
				</a>
			{{- end -}}
		</div>

	{{- else -}}

		{{- $hasproducts := .StreamHasPrivileges -}}

		<div script="install TabContainer">
			
			<div role="tablist" class="wizard margin-bottom-xl">
				<div role="tab" aria-controls="tab-merchant-account" class="done">
					<div class="step-number">&check;</div>
					<div class="step-label">Account</div>
				</div>	
				<div class="line done"></div>
				<div role="tab" aria-controls="tab-products" {{if $hasproducts}} class="done" {{else}} aria-selected="true" {{end}}>
					<div class="step-number">
						{{if $hasproducts}}&check;{{else}}2{{end}}
					</div>
					<div class="step-label">Products</div>
				</div>
				<div class="line" {{if not $hasproducts}} disabled {{end}}></div>
				<div role="tab" aria-controls="tab-content" {{if $hasproducts}} aria-selected="true" {{else}} disabled {{end}}>
					<div class="step-number">3</div>
					<div class="step-label">Content</div>
				</div>
			</div>

			<div id="tab-merchant-account" role="tabpanel" hidden>
				
				<h1 class="text-xl bold">
					1. Connect Your Merchant Account
				</h1>

				<div class="text-sm text-gray margin-bottom-lg md:width-60%">
					Use this menu to edit your merchant account settings, or to add another merchant account.
				</div>

				<div class="table margin-top">
					{{- range  $index, $merchantAccount := $merchantAccounts -}}
						{{- $type := lowerCase $merchantAccount.Type -}}
						<div role="button" class="flex-row turboclick">
							<div hx-get="/@me/settings/merchantAccount-edit-{{$type}}?merchantAccountId={{$merchantAccount.ID}}" class="flex-row flex-grow">
								<div>{{- icon $type -}}</div>
								<div class="flex-grow">{{$merchantAccount.Name}}</div>
							</div>
						</div>
					{{- end -}}
					<div hx-get="/@me/settings/merchantAccount-add" role="button" class="flex-row link turboclick">
						<div>{{- icon "add" -}}</div>
						<div>Connect Another</div>
					</div>
				</div>
			</div>

			<div id="tab-products" role="tabpanel" {{if $hasproducts}} hidden {{end}}>
				<h1 class="text-xl bold">
					2. Connect Products &amp; Subscriptions
				</h1>

				<div class="text-sm text-gray md:width-60% margin-bottom-lg">
					Now that your merchant account is connected, you can select the products that grant access to this item.
					Visitors purchase access to your content, with either one-time, or recurring payments.
				</div>

				<div id="edit-products" hx-get="/{{.StreamID}}/edit-products" hx-trigger="load" hx-target="#edit-products" hx-swap="innerHTML" hx-push-url="false">
					One moment please, loading...
				</div>

			</div>

			<div id="tab-content" role="tabpanel" {{if not $hasproducts}} hidden {{end}}>
				{{- .View "edit-paid-content" -}}
			</div>

		</div>


	{{- end -}}

	<div hx-get="/{{.StreamID}}/edit-checkout" hx-trigger="refreshPage from:window" hx-push-url="false"></div>
</div>