{{- $attachments := .AttachmentsByCategory "paid" -}}

<div class="flex-row">

	<div class="margin-right">
		<img src="{{.IconURL}}" class="rounded square width-96">
	</div>

	<div>
		<!--div class="bold">{{.Label}}</div-->
		<div class="bold margin-bottom-sm">{{.Label}}</div>

		{{range $index, $attachment := $attachments}}
			<a href="/{{$attachment.ObjectID.Hex}}/attachments/{{$attachment.ID}}" target="_blank" class="flex-row flex-align-center" role="link">
				<div class="margin-none">{{icon "file"}}</div>
				<div class="flex-grow">{{$attachment.Label}}</div>
			</a><br>
		{{end}}
	</div>
</div>