{{$activity := .Activity}}

<div class="float-right">
	<button script="on click send closeModal" class="text-sm">Close</button>
</div>

<h1>{{$activity.Document.Label}}</h1>

<div>
	<button data-script="on click go to url '{{$activity.Document.URL}}' in new window then trigger closeModal">Visit Website</button>
	<button>Move to Folder</button>
</div>

<div>{{$activity.Document.Summary}}</div>
<div>{{$activity.Content.HTML | html}}</div>

<script type="text/hyperscript">
	init
		fetch `/@me/pub/inbox/{{.Activity.ActivityID.Hex}}/mark-read` with method:"POST"
	end

	on keypress[keyCode==ArrowRight] from window
		log "Right Arrow"
	end

	on keypress[keyCode==ArrowLeft] from window
		log "Left Arrow"
	end	
</script>