{{- range . -}}

<hr/>

<div 
	id="item_{{.MessageID.Hex}}" 
	class="message" 
	data-status="{{.Status}}" 
	data-inboxItemId="{{.MessageID.Hex}}" 
	style="max-width:640px; cursor:pointer;" 
	hx-get="/@me/message?messageId={{.MessageID.Hex}}"
	hx-push-url="true">

	<div class="flex-row" style="max-width:800px;">

		<div style="width:64px; flex-grow:0; flex-shrink:0;">
			<img src="{{.Document.Author.ImageURL}}" class="circle" style="width:64px;">
		</div>

		<div style="flex-grow:1;">

			<div class="ellipsis">
				<span class="bold black">{{.Document.Author.Name}}</span>
				<span class="text-gray nowrap">
					&nbsp;
					{{ icon .Origin.Icon }}
					{{ .PublishDate | tinyDate }}
				</span>
			</div>

			<div>
				{{- .Document.Summary | html -}}
			</div>

			{{- if ne .Document.ImageURL "" -}}
				<div class="space-above" style="max-width:400px; min-height:84px; border:solid 1px var(--gray20); background-color:var(--gray10);">
					<img src="{{.Document.ImageURL}}" loading="lazy" style="max-width:400x; max-height:300px; object-fit:cover;"/>
				</div>
			{{- end -}}

		</div>
	
	</div>

</div>

{{- end -}}