{{- range $index, $message := . -}}
<hr/>

<div 
	id="item_{{$message.MessageID.Hex}}" 
	class="inbox-item space-below" 
	data-status="{{$message.Status}}" 
	data-inboxItemId="{{$message.MessageID.Hex}}" 
	style="max-width:640px; cursor:pointer;" 
	hx-get="/@me/inbox-item?messageId={{$message.MessageID.Hex}}"
	hx-push-url="true">

	<div class="text-lg bold black ellipsis">{{$message.Document.Label}}</div>

	{{- if ne $message.Document.ImageURL "" -}}
		<div class="space-below" style="width:100%; max-width:800px; max-height:600px;">
			<img src="{{$message.Document.ImageURL}}" {{if gt $index 3}} loading="lazy" {{end}} style="width:100%; object-fit:cover;"/>
		</div>
	{{- end -}}

	<div class="text-gray ellipsis-block" style="max-height:6em;">
		{{- $message.Document.Summary -}}
	</div>

	<div class="text-gray text-sm space-below flex-row">
		<span class="ellipsis">
			{{- icon $message.Origin.Icon }}
			{{ $message.Origin.Label }} &middot;
			{{ $message.Document.Author.Name -}}
			&nbsp;&middot;
		</span>
		<span class="nowrap">
			{{- $message.PublishDate | tinyDate -}}
		</span>
	</div>

</div>

<div class="space-below">&nbsp;</div>

{{- end -}}