{{- $folders := .FoldersWithSelection}}
{{- $folder := $folders.Selected}}

{{- $inbox := .Inbox $folders.SelectedID -}}
{{ $isReallyEmpty := .IsInboxEmpty $inbox}}

{{- if $isReallyEmpty -}}

	<hr>
	<h2 style="color:var(--gray50);">There are no posts in this inbox.</h2>

{{- else if eq 0 (len $inbox) -}}
	<hr/>

{{- else -}}

	{{- $lastIndex := subtract (len $inbox) 1 -}}
	{{- $last := index $inbox $lastIndex -}}
	<div 
		hx-get="/@me/inbox-list?folderId={{$folders.SelectedID.Hex}}&document.publishDate=GT:{{$last.PublishDate}}" 
		hx-push-url="false" 
		hx-trigger="intersect once" 
		hx-target="#loading" 
		hx-swap="outerHTML">
	</div>

	{{- if eq "SOCIAL" $folder.Layout -}}
		{{- template "inbox-list-social" $inbox -}}
	{{- else if eq "CHAT" $folder.Layout -}}
		{{- template "inbox-list-chat" $inbox -}}
	{{- else if eq "NEWSPAPER" $folder.Layout -}}
		{{- template "inbox-list-newspaper" $inbox -}}
	{{- else if eq "MAGAZINE" $folder.Layout -}}
		{{- template "inbox-list-magazine" $inbox -}}
	{{- else -}}
		{{- template "inbox-list-social" $inbox -}}
	{{- end -}}


	<!-- Trigger to load more records at the end of this-->
	<div id="loading">Just a sec.  Loading more...</div>

{{- end -}}
