{{- range $index, $message := . -}}
<div class="hover-trigger space-below">
	<hr/>

	<div class="float-right text-xs hover-reveal">
		<button hx-get="/@me/following-edit?followingId={{$message.Origin.InternalID.Hex}}">Edit Source</button>
		<button hx-get="/@me/block-new">Block</button>
	</div>

	<div 
		id="item_{{$message.MessageID.Hex}}" 
		class="inbox-item space-below clickable" 
		data-status="{{$message.Status}}" 
		data-inboxItemId="{{$message.MessageID.Hex}}" 
		style="max-width:640px;" 
		hx-get="/@me/inbox-item?messageId={{$message.MessageID.Hex}}"
		hx-push-url="true">

		<h2 class="black ellipsis">{{$message.Document.Label}}</h2>

		{{- if ne $message.Document.ImageURL "" -}}
			<div class="space-below" style="width:100%; max-width:800px;">
				<img src="{{$message.Document.ImageURL}}" {{if gt $index 3}} loading="lazy" {{end}} style="width:100%; border:solid 1px var(--gray20);"/>
			</div>
		{{- end -}}

		<div class="text-gray ellipsis-block" style="max-height:6em;">
			{{- $message.Document.Summary -}}
		</div>

		<div class="text-sm space-below flex-row">
			<span class="ellipsis">
				{{- icon $message.Origin.Icon }}
				{{ $message.Origin.Label }} &middot;
				{{ $message.Document.Author.Name -}}
				&nbsp;&middot;
			</span>
			<span class="nowrap">
				{{- $message.PublishDate | tinyDate -}}
			</span>
		</div>

	</div>
</div>

{{- end -}}