{{- $inbox := .Inbox -}}
{{ $isReallyEmpty := .IsInboxEmpty $inbox}}

{{- if $isReallyEmpty -}}

	<h2>There are no posts in this inbox.</h2>
	<button hx-get="/@me/pub/following/new">Follow a Person or Website...</button>

{{- else -}}

	{{- if eq 0 (len $inbox) -}}
		<div>The end.</div>

	{{- else -}}

		{{- $lastIndex := subtract (len $inbox) 1 -}}
		{{- $last := index $inbox $lastIndex -}}
		<div hx-get="/@me/inbox-list?publishDate=GT:{{$last.PublishDate}}" hx-push-url="false" hx-trigger="intersect once" hx-target="#loading" hx-swap="outerHTML"></div>

		{{- range $inbox -}}
			<hr style="height:0px; border:none; border-top:solid 1px var(--gray20); margin:24px 0px;"></hr>

			<div 
				id="item_{{.ActivityID.Hex}}" 
				class="inbox-item" 
				data-status="{{.Status}}" 
				data-inboxItemId="{{.ActivityID.Hex}}" 
				style="max-width:640px; cursor:pointer;" 
				hx-get="/@me/activity?activityId={{.ActivityID.Hex}}">

				<div class="flex-row" hx-push-url="true">

					{{- if eq .Format "TOOT" -}}

					{{- else if eq .Format "MEDIA" -}}

					{{- else -}}

					{{- end -}}

					<div style="flex-grow:1; min-width:0px; position:relative; width:100%; max-width:100%;">
						
						{{- if eq .Document.Label "" -}}
							<div class="flex-row">

								{{- if ne .Document.Author.ImageURL "" -}}
									<img src="{{.Document.Author.ImageURL}}" class="circle" style="width:100px;">
								{{- end -}}

								<div>
									<div class="ellipsis">
										<span class="bold black">{{.Document.Author.Name}}</span>
									</div>
									<div class="text-gray text-sm space-below flex-row">
										<span class="ellipsis">
											{{ icon .Origin.Icon }}
											{{ .Origin.Label }} &middot;
										</span>
										<span class="nowrap">
											{{ .PublishDate | tinyDate }}
										</span>
									</div>
								</div>
							</div>

						{{- else -}}
							<div class="bold black ellipsis">{{.Document.Label}}</div>
							<div class="text-gray text-sm space-below flex-row">
								<span class="ellipsis">
									{{ icon .Origin.Icon }}
									{{ .Origin.Label }} &middot;
									{{ .Document.Author.Name }} 
									&nbsp;&middot;
								</span>
								<span class="nowrap">
									{{ .PublishDate | tinyDate }}
								</span>
							</div>
							{{- end -}}

						<div class="text-gray ellipsis-block" style="max-height:6em;">{{.Document.Summary}}</div>
					</div>
				
					{{- if ne .Document.ImageURL "" -}}
						<div style="width:160px;">
							<div style="width:140px; margin-right:20px; min-height:84px; border:solid 1px var(--gray20); background-color:var(--gray10);">
								<img src="{{.Document.ImageURL}}" loading="lazy" style="width:140px; max-height:140px; object-fit:cover;"/>
							</div>
						</div>
					{{- end -}}

				</div>

			</div>
		{{- end -}}

		<!-- Trigger to load more records at the end of this-->
		<div id="loading">Just a sec.  Loading more...</div>
	
	{{- end -}}

{{- end -}}
