{{$message := .Message}}

<div class="float-right text-xs" style="margin-top:var(--rhythm); line-height:calc(var(--rhythm) * 6);">
	<button script="on click send closeModal">Close</button>
</div>
<h1>{{$message.Document.Label}}</h1>

<div class="text-gray space-below">
	{{ icon $message.Origin.Icon }}
	{{$message.Document.Author.Name}} &middot; {{ $message.Document.PublishDate | tinyDate }}
</div>

<div class="text-sm">

	<!--
	<button id="previous" hx-get="/@me/inbox-item?messageId=LT:{{$message.MessageID}}">Previous</button>
	<button id="next" hx-get="/@me/inbox-item?messageId=GT:{{$message.MessageID}}">Next</button>
	-->
	<button data-script="on click go to url '{{$message.Document.URL}}' in new window then trigger closeModal">Visit Website</button>
	&nbsp; &nbsp; &nbsp;
	<button hx-get="/@me/block?messageId={{$message.MessageID}}">Block</button>
</div>

<hr/>

<div class="content">
	<div>{{$message.Document.Summary}}</div>
	<div>{{$message.ContentHTML | html}}</div>
</div>

<script type="text/hyperscript">
	init
		fetch `/@me/pub/inbox/{{$message.MessageID.Hex}}/mark-read` with method:"POST"
	end

	on keydown[key=="ArrowLeft"] from window
		halt the event
		send click to #previous
		log event
	
	on keydown[key=="ArrowRight"] from window
		halt the event
		send click to #next
		
</script>

