{{- $folderID := .FolderID -}}
{{- $folder := .Folder $folderID}}

<div id="app" class="app" hx-get="{{.URL}}" hx-swap="morph:outerHTML" hx-trigger="refreshPage from:window" hx-target="#app">

	<!-- Sidebar Content -->
	{{.View "inbox-sidebar"}}

	<!-- Main App Content -->
	<div class="app-content">

		<div class="float-right">
			<button class="primary" hx-get="/@me/following-add?folderId={{$folderID.Hex}}">{{icon "add"}} Follow</button>
			<button hx-get="/@me/inbox-folder-edit?folderId={{$folderID.Hex}}">Edit Folder</button>
		</div>

		<h1 style="margin-top:0px;">{{$folder.Label}}</h1>

		{{ .View "inbox-list"}}
	</div>
	
	<!-- Auto-Archive Feature
	<script type="text/hyperscript">
		on scroll from window debounced at 500ms
			tell <div.inbox-item[data-status=Unread] /> in me
		
				set offsetBottom to your offsetTop
				increment offsetBottom by your offsetHeight
				if (offsetBottom) - (window.scrollY) > 0 then
					exit
				end
	
				set url to "/@me/pub/inbox/" + [@data-inboxItemId] + "/mark-read"
				fetch `${url}` with method:"POST"
				set your [@data-status] to "Read"
			end
		end
	</script>
	 -->

</div>

