{{- $selectedID := .SelectedID -}}
<div id="app-sidebar" class="app-sidebar" hx-target="#main" hx-swap="innerHTML" hx-push-url="true">

	<link rel="stylesheet" href="/.templates/user-profile/stylesheet">

	<div class="pos-sticky" style="top:100px;">

		<form class="sortable" hx-post="/@me/inbox-folder-sort" hx-push-url="false" hx-trigger="end">

			{{- range .Folders -}}
				{{- if eq $selectedID .FolderID -}}
					<div role="link" hx-get="/@me/inbox?folderId={{.FolderID.Hex}}" hx-trigger="click" hx-push-url="true" class="menu-item selected ellipsis hover-trigger folder">
						{{icon "folder-fill"}} {{.Label}}
						<span class="hover-reveal folder-handle">{{icon "drag-handle"}}</span>
						<input type="hidden" name="keys" value="{{.FolderID.Hex}}">
					</div>
				{{- else -}}
					<div role="link" hx-get="/@me/inbox?folderId={{.FolderID.Hex}}" hx-trigger="click" hx-push-url="true" class="menu-item ellipsis hover-trigger folder">
						{{icon "folder"}} {{.Label}}
						<span class="hover-reveal folder-handle">{{icon "drag-handle"}}</span>
						<input type="hidden" name="keys" value="{{.FolderID.Hex}}">
					</div>
				{{- end -}}
			{{- end -}}

		</form>
		<div role="button" hx-get="/@me/inbox-folder-add" class="menu-item">{{icon "add"}} Add a Folder</div>

		<hr>

		{{- if .HasSelection -}}
			<div role="button" hx-get="/@me/inbox-following" class="menu=item">{{icon "settings"}} Following</div>
		{{- else -}}
			<div role="button" hx-get="/@me/inbox-following" class="selected menu-item">{{icon "settings-fill"}} Following</div>
		{{- end -}}
	</div>

	<div 
		hx-get="/@me/inbox-sidebar" 
		hx-swap="outerHTML" 
		hx-trigger="refreshSidebar from:body" 
		hx-push-url="false" 
		hx-target="#app-sidebar">
	</div>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

	<script>
        var sortables = document.querySelectorAll(".sortable");
        for (var node of sortables) {
            new Sortable(node, {
                animation: 150,
				handle: '.folder-handle',
                whisperClass: 'folder-whisper'
            });
        }
    </script>

</div>
