{{$message := .Message}}

<div class="float-right text-sm" style="margin-top:var(--rhythm); line-height:calc(var(--rhythm) * 6);">
	<button script="on click send closeModal">Close</button>
</div>

<div class="ellipsis flex-row text-lg">
	{{- if ne "" $message.Document.Author.ImageURL -}}
		<img src="{{$message.Document.Author.ImageURL}}" class="circle" style="height:1.5em;">
	{{- end -}}

	<div>
		<div class="bold black">
			{{$message.Document.Author.Name}} 
			<span class="text-gray">
				{{ icon $message.Origin.Icon }}
				{{ $message.PublishDate | tinyDate }}
			</span>
		</div>
		<div class="text-sm">
			<a href="{{$message.Document.Author.ProfileURL}}" class="text-gray">
				{{$message.Document.Author.ProfileURL}}
			</a>
		</div>
	</div>
</div>

<div class="text-sm">

	<span class="button-group">
		<button id="previous" hx-get="/@me/message-social?rank=LT:{{$message.Rank}}&folderId={{$message.FolderID.Hex}}&origin.internalId={{.QueryParam `origin.internalId`}}">&laquo; Prev</button>
		<button id="next" hx-get="/@me/message-social?rank=GT:{{$message.Rank}}&folderId={{$message.FolderID.Hex}}&origin.internalId={{.QueryParam `origin.internalId`}}">Next &raquo;</button>
	</span>

	<span class="button-group">
		<button hx-get="/@me/following-edit?followingId={{$message.Origin.InternalID.Hex}}">Edit Source</button>
		<button hx-get="/@me/message-delete?messageId={{$message.MessageID.Hex}}">Delete</button>
		<button hx-get="/@me/block-new?messageId={{$message.MessageID.Hex}}">Block</button>
	</span>

</div>

<hr/>

<div class="content">

	{{- if ne "" $message.Document.Label -}}
		<h3>{{$message.Document.Label}}</h3>
	{{- end -}}

	{{- if ne "" $message.Document.ImageURL -}}
		<div class="space-below">
			<img src="{{$message.Document.ImageURL}}" style="max-width:100%">
		</div>
	{{- end -}}

	<div>{{$message.Document.Summary}}</div>
	<div>{{$message.ContentHTML | html}}</div>
</div>
<hr>
-- REPLIES HERE --
<hr>
-- ADD A REPLY HERE --
