{{- $children := .Outbox.Top60.ByPublishDate.Reverse.View -}}

<div class="h-feed">
	{{- range $children -}}
		<a class="h-entry" href="{{.OriginURL}}" target="_blank" style="display:grid; column-gap:20px; row-gap:20px; grid-template-columns: 60px 1fr; margin-bottom:20px;">
			<div style="height:60px; width:60px; border:solid 1px var(--gray30); border-radius:5px;">
				{{- if ne .ThumbnailImage ""}}
					<img src="{{.ThumbnailImage}}" style="object-fit:cover;">
				{{- end -}}
			</div>
			<div>
				<div class="h-name bold black">{{.Label}}</div>
				<div class="h-summary black">{{.Description}}</div>
				<div class="p-author h-card gray50">
					<span class="p-name">{{.AuthorName}}</span>
					&middot;
					<span class="p-published">{{.PublishDate | humanizeTime}}</span>
				</div>
			</div>
		</a>
	{{- end -}}
</div>