{{- $outbox := .Outbox.Top12.ByPublishDate.Reverse.Slice -}}

{{- if ne 0 (len $outbox) -}}

	{{- $lastIndex := subtract (len $outbox) 1 -}}
	{{- $last := index $outbox $lastIndex -}}

	{{- range $outbox -}}
		<hr style="border-color:var(--gray10);">
		<div hx-get="/{{.StreamID.Hex}}" hx-push-url="true" role="link" class="h-entry" style="display:grid; column-gap:16px; row-gap:16px; grid-template-columns: 60px 1fr; margin-bottom:20px;">
			<div style="height:60px; width:60px;">
				{{- if ne .Author.ImageURL ""}}
					<img src="{{.Author.ImageURL}}" style="width:60px; border-radius:30px; object-fit:contain;">
				{{- end -}}
			</div>
			<div style="max-width:600px">
				<div class="p-author h-card text-sm gray50" style="margin:0px;">
					<span class="p-name">{{.Author.Name}}</span>
					&middot;
					<span class="p-published">{{.PublishDate | humanizeTime}}</span>
				</div>
				<div class="h-name bold black">{{.Document.Label}}</div>
				<div class="h-summary black">{{.Document.Summary | html }}</div>
				{{- if ne .Document.ImageURL ""}}
					<div style="margin-top:var(--rhythm);">
						<img src="{{.Document.ImageURL}}?width=600" style="border:solid 1px var(--gray40); border-radius:16px; max-width:100%; object-fit:contain;">
					</div>
				{{- end -}}
			</div>
		</div>
	{{- end -}}

	<div hx-get="{{.ActivityPubProfileURL}}/outbox-list?publishDate=LT:{{$last.PublishDate}}" hx-push-url="false" hx-trigger="intersect once" hx-target="#loading" hx-swap="outerHTML"></div>
	<div id="loading">Just a sec...</div>

{{- end -}}