<!-- Page content -->
<div hx-get="{{.URL}}" hx-trigger="refreshPage from:body" hx-target="this" hx-swap="outerHTML">

	<title>{{.DisplayName}}</title>

	<!-- Alternate links for service discovery -->
	<link rel="alternate" type="application/rss+xml" href="/@{{.UserID}}/rss"/>
	<link rel="alternate" type="application/atom+xml" href="/@{{.UserID}}/atom"/>
	<link rel="alternate" type="application/feed+json" href="/@{{.UserID}}/json"/>
	<link rel="hub" href="/@{{.UserID}}/websub"/>
	<link rel="alternate" type="application/activity+json" href="/@{{.UserID}}/pub/outbox"/>

	<div class="page h-card">

		<div class="pure-g">

			{{ .View "profile-sidebar" }}

			<div class="pure-u-1 pure-u-md-2-3 pure-u-lg-3-4">

				<div class="space-below" hx-push-url="true">
					<b>{{icon "book"}} Posts</b> &nbsp;
					<span hx-get="/@{{.UserID}}/followers" class="clickable">{{icon "person"}} Followers</a> &nbsp;
					<span hx-get="/@{{.UserID}}/following" class="clickable">{{icon "star"}} Following</a>
				</div>

				{{if .UserCan "outbox-add" -}}
					<div hx-target="this" hx-swap="outerHTML">
						<button hx-get="/@me/outbox-add" class="text-sm primary">New Post</button>
					</div>
				{{- end -}}

				<div class="h-feed">
					{{ .View "outbox-list"}}
				</div>
			</div>
		</div>
	</div>
</div>
