{{- $following := .Following -}}

<div hx-get="{{.URL}}" hx-trigger="refreshPage from:body" hx-target="this" hx-swap="outerHTML">
	<title>{{.FollowingCount}} Following | {{.DisplayName}}</title>

	<div class="page h-card">

		<div class="pure-g">

			{{ .View "profile-sidebar" }}

			<div class="pure-u-1 pure-u-md-2-3 pure-u-lg-3-4">

				{{- if .UserCan "edit-profile" -}}
				<div class="float-right">
					<button hx-get="/@me/pub/following/new">{{icon "add"}} Follow</button>
				</div>
				{{- end -}}

				<div role="tablist" class="underlined" hx-push-url="true">
					<span role="tab" hx-get="/@{{.UserID}}">{{icon "outbox"}} Posts</span>
					<span role="tab" hx-get="/@{{.UserID}}/followers">{{icon "person"}} Followers</span>
					<span role="tab" aria-selected="true">{{icon "star-fill"}} Following</span>
					<span role="tab" hx-get="/@{{.UserID}}/blocks">{{icon "block"}} Blocks</span>
				</div>

				<br>

				<table class="table">
					{{ range $following }}
						<tr role="button">
							<td hx-get="/@me/pub/following/{{.FollowingID.Hex}}">
								<span class="{{.StatusClass}}">{{icon .StatusIcon}}</span>
							</td>
							<td hx-get="/@me/pub/following/{{.FollowingID.Hex}}">
								{{ if ne "" .Label }} 
									{{- .Label -}}
								{{ else }}
									{{- .URL -}}
								{{ end }}
							</td>
						</tr>
					{{ end }}
				</table>
						
			</div>
		</div>
	</div>
</div>