<div id="profile-sidebar" class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-4">
	<link rel="canonical" class="u-url" href="{{.ActivityPubProfileURL}}"></link>

	<div hx-get="/@{{.Username}}" hx-push-url="true" role="link" class="hover-trigger space-below" style="position:relative;">
		{{- if .UserCan "profile-photo" -}}
			<script src="/static/nebula/uploader._hs" type="text/hyperscript"></script>
			<link rel="stylesheet" href="/static/nebula/uploader.css"/>
			<button hx-get="/@me/profile-photo" role="button" class="text-xs vertical-space-none pos-absolute" style="top:0px; right:0px;">Edit</button>
		{{- end -}}
	
		{{- if ne "" .ActivityPubAvatarURL -}}
			<img class="circle aspect-square u-photo" src="{{.ActivityPubAvatarURL}}" style="width:90%; max-width:200px;">
		{{- else -}}
			<div class="circle aspect-square placeholder-gray" style="width:90%; max-width:200px;"></div>
		{{- end -}}
	</div>

	<div class="space-below">
		<button hx-get="/@me/profile-edit" class="text-xs float-right">Edit</button>
		
		<h1 class="p-name" style="margin:0px;">{{.DisplayName}}</h1>
		<h2 class="gray50" style="margin:0px;">{{.Username}}</h2>
		{{- if not .Myself -}}
			<div class="space-above">
				<button type="button" class="primary width-100" hx-get="/@{{.UserID}}/follow">{{icon "add-circle"}} Follow {{.DisplayName}}</button>
			</div>
		{{- end -}}
		<div class="space-above" hx-push-url="true">
			<span hx-get="/@{{.Username}}/followers" role="link"><b>{{.FollowerCount}}</b> Followers</span>
			&nbsp;
			<span hx-get="/@{{.Username}}/following" role="link"><b>{{.FollowingCount}}</b> Following</span>
		</div>
		<div class="space-above">
			<span class="p-note">{{.StatusMessage}}</span>
		</div>
	</div>

	<hr>

	<div class="space-above align-left">

		{{- $links := .Links -}}

		{{- if or (gt 0 (len $links)) (.UserCan "profile-edit")  -}}
			<div class="float-right">
				{{- if .UserCan "profile-links" -}}
					<button hx-get="/@me/profile-links" role="button" class="text-xs vertical-space-none">Edit</button>
				{{- end -}}
			</div>
		{{- end -}}

		{{- if ne "" .Location -}}
			<div class="p-adr"><span class="p-label">{{icon "location"}} {{.Location}}</a></div>
		{{- end -}}

		{{- range $links -}}
			<div><a rel="me" class="text-plain u-url" href="{{.ProfileURL}}" target="_blank">{{icon "globe"}} {{.Name}}</a></div>
		{{- end -}}

	</div>

	{{- if .UserCan "profile-edit" -}}
		<hr>
		<div>
			<button hx-post="/signout" hx-target="body">Sign Out</button>
		</div>
	{{- end -}}

</div>

<style>
	#profile-sidebar {
		margin: -10px 20px -10px -20px;
		background-color:var(--gray04);
		padding: 30px 20px 10px 20px;
		border-right:solid 1px var(--gray15);
		color:var(--gray80);
	}
</style>