<!-- Page content -->
<div hx-get="{{.URL}}" hx-trigger="refreshPage from:body" hx-target="this" hx-swap="outerHTML">

	<title>{{.DisplayName}}</title>

	<!-- Alternate links for service discovery -->
	<link rel="alternate" type="application/rss+xml" href="/@{{.UserID}}/rss"/>
	<link rel="alternate" type="application/atom+xml" href="/@{{.UserID}}/atom"/>
	<link rel="alternate" type="application/feed+json" href="/@{{.UserID}}/json"/>
	<link rel="hub" href="/@{{.UserID}}/websub"/>
	<link rel="alternate" type="application/activity+json" href="/@{{.UserID}}/pub/outbox"/>

	<div class="page h-card">

		<div class="pure-g">

			{{ .View "profile-sidebar" }}

			<div class="pure-u-1 pure-u-md-2-3 pure-u-lg-3-4">

				<div role="tablist" class="underlined" hx-push-url="true">
					<span role="tab" aria-selected="true">{{icon "outbox-fill"}} Posts</span>
					<span role="tab" hx-get="/@{{.UserID}}/followers">{{icon "person"}} Followers</span>
					<span role="tab" hx-get="/@{{.UserID}}/following">{{icon "star"}} Following</span>
				</div>

				{{if .UserCan "outbox-add" -}}
					<div hx-target="this" hx-swap="outerHTML">
						<button hx-get="/@me/outbox-add" class="text-sm primary">New Post</button>
					</div>
				{{- end -}}

				<div class="h-feed">
					{{ .View "outbox-list"}}
				</div>
			</div>
		</div>
	</div>
</div>
