{{- $canBlock := .UserCan "block" -}}
{{- $followers := .Followers.Slice -}}

{{- if eq 0 (len $followers) -}}

	No followers.

{{- else -}}

	<table class="table">

		{{ range $followers }}
			<tr role="button">
				<td hx-get="/@me/pub/followers/{{.FollowerID.Hex}}">
					{{icon .MethodIcon }} 
				</td>
				<td hx-get="/@me/pub/followers/{{.FollowerID.Hex}}">
					{{ if ne "" .Actor.Name }} 
						{{- .Actor.Name -}}
					{{- else if ne "" .Actor.ProfileURL -}}
						{{- .Actor.ProfileURL -}}
					{{- else -}}
						{{- .Actor.InboxURL -}}
					{{- end -}}
				</td>
				<td class="align-right">
					{{- if $canBlock -}}
						<button hx-get="/@me/pub/followers/{{.FollowerID.Hex}}/delete" class="text-red">Block</button>
					{{- end -}}
				</td>
			</tr>
		{{ end }}
	</table>

{{- end -}}