{{- $canEdit := .UserCan "edit-profile" -}}

<table class="table">

	{{ range .Followers.Slice }}
		<tr role="button">
			<td hx-get="/@me/pub/followers/{{.FollowerID.Hex}}">
				{{icon "rss"}} 
			</td>
			<td hx-get="/@me/pub/followers/{{.FollowerID.Hex}}">
				{{ if ne "" .Actor.Name }} 
					{{- .Actor.Name -}}
				{{- else -}}
					{{- .Actor.ProfileURL -}}
				{{- end -}}
			</td>
			<td class="align-right">
				{{- if $canEdit -}}
					<button hx-get="/@me/pub/followers/{{.FollowerID.Hex}}/delete" class="text-red">Delete</button>
				{{- end -}}
			</td>
		</tr>
	{{ end }}
</table>
