{{- $following := .Following -}}

<div hx-get="{{.URL}}" hx-trigger="refreshPage from:body" hx-target="this" hx-swap="outerHTML">
	<title>{{.FollowingCount}} Following | {{.DisplayName}}</title>

	<div class="page h-card">

		<div class="pure-g">

			{{ .View "profile-sidebar" }}

			<div class="pure-u-1 pure-u-md-2-3 pure-u-xl-4-5">
	
				<div>
					<span hx-get="/@{{.Username}}" hx-push-url="true" class="link" role="link">&larr; {{.DisplayName}}</span>
				</div>

				<h1>Following</h1>

				<table class="table">
					{{- if .UserCan "edit-profile" -}}
					<tr hx-get="/@me/pub/following/new" role="button">
						<td>{{icon "add"}}</td>
						<td colspan="3">Add a Person or Website to Follow...</td>
					</tr>
					{{- end -}}

					{{ range $following }}
						<tr role="button">
							<td hx-get="/@me/pub/following/{{.FollowingID.Hex}}">
								{{icon "rss"}} 
							</td>
							<td hx-get="/@me/pub/following/{{.FollowingID.Hex}}">
								{{ if eq "" .Label }} 
									{{- .URL -}}
								{{ else }}
									{{- .Label -}}
								{{ end }}
							</td>
							<td hx-get="/@me/pub/following/{{.FollowingID.Hex}}">{{.Status}}</td>
							<td class="align-right">
								<button hx-get="/@me/pub/following/{{.FollowingID.Hex}}/delete" class="text-red">Delete</button>
							</td>
						</tr>
					{{ end }}
				</table>
						
			</div>
		</div>
	</div>
</div>