{{$inboxFolders := .Folders}}
{{- $selectedfolder := .FolderID -}}
{{$subscriptions := .Subscriptions}}

<div class="page" hx-get="{{.URL}}" hx-trigger="refreshPage from:body">

	<div class="pure-g">

		{{ .View "inbox-sidebar" }}

		<!-- Content Section -->
		<div class="pure-u-1 pure-u-md-2-3 pure-u-lg-3-4 pure-u-xl-4-5">

			<table class="table">
				<tr hx-get="/@me/pub/subscriptions/new" role="button">
					<td colspan="4">{{icon "add"}} Add Subscription</td>
				</tr>
				{{ range $subscriptions }}
					<tr role="button">
						<td hx-get="/@me/pub/subscriptions/{{.SubscriptionID.Hex}}">{{icon "rss"}} {{.URL}} {{.Label}}</td>
						<td hx-get="/@me/pub/subscriptions/{{.SubscriptionID.Hex}}"><!--{{if ne .URL .Label}}{{.URL}}{{end}}--></td>
						<td hx-get="/@me/pub/subscriptions/{{.SubscriptionID.Hex}}">{{.Status}}</td>
						<td class="align-right">
							<button hx-get="/@me/pub/subscriptions/{{.SubscriptionID.Hex}}/delete" class="text-red">Delete</button>
						</td>
					</tr>
				{{ end }}
			</table>
		</div>
	</div>
</div>	
