<div hx-get="{{.URL}}" hx-trigger="refreshPage from:body">
	<title>{{.DisplayName}}</title>

	<div class="page h-card">
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3 pure-u-xl-1-4">
				<link rel="canonical" class="u-url" href="{{.ActivityPubProfileURL}}"></link>

				{{- if .UserCan "edit-photo" -}}
					<script src="/static/nebula/uploader._hs" type="text/hyperscript"></script>
					<link rel="stylesheet" href="/static/nebula/uploader.css"/>

					<div role="button" hx-get="/@me/edit-photo">
						{{- if ne "" .ActivityPubAvatarURL -}}
							<img class="u-photo" src="{{.ActivityPubAvatarURL}}" style="aspect-ratio:1; width:80%; border-radius:300px;">
						{{- else -}}
							<div class="placeholder-gray space-below hover-trigger" style="position:relative; aspect-ratio:1; width:80%; border-radius:300px;"></div>
						{{- end -}}
						<div class="text-sm align-center hover-reveal" style="position:absolute; bottom:0px; margin:0px; color:white; background-color:rgba(0,0,0,0.5); padding:5px; margin:0px auto;">Edit Profile Photo</div>
					</div>
				{{- else -}}
					<div class="placeholder-gray space-below" style="aspect-ratio:1; width:80%; border-radius:300px;">
						{{- if ne "" .ActivityPubAvatarURL -}}
							<img class="u-photo" src="{{.ActivityPubAvatarURL}}" style="aspect-ratio:1; width:100%; border-radius:300px;">
						{{- end -}}
					</div>
				{{- end -}}

				<div class="space-below">
					<button hx-get="/@me/edit-profile" class="text-xs float-right">Edit</button>
					
					<h1 class="p-name" style="margin:0px;">{{.DisplayName}}</h1>
					<h2 class="gray50" style="margin:0px;">{{.Username}}</h2>
					<div class="space-above">
						<span class="p-note">{{.StatusMessage}}</span>
					</div>
					{{- if ne "" .Location -}}
						<div class="space-above p-adr"><span class="p-label">{{icon "location"}} {{.Location}}</a></div>
					{{- end -}}

				</div>

				<hr>

				<div class="space-above align-left">

					{{- $links := .Links -}}

					{{- if or (gt 0 (len $links)) (.UserCan "edit-profile")  -}}
						<p>
							{{- if .UserCan "edit-links" -}}
								<button hx-get="/@me/edit-links" role="button" class="float-right text-xs">Edit</button>
							{{- end -}}
							<div class="bold">Links</div>
						</p>
					{{- end -}}

					{{- range $links -}}
						<div><a rel="me" class="u-url" href="{{.ProfileURL}}" target="_blank">{{icon "globe"}} {{.Organization}}</a></div>
					{{- end -}}

				</div>

				{{- if .UserCan "edit-profile" -}}
					<hr>
					<div>
						<button hx-post="/signout" hx-target="body">Sign Out</button>
					</div>
				{{- end -}}

			</div>

			<div class="pure-u-1 pure-u-md-2-3 pure-u-lg-2-3 pure-u-xl-3-4" style="border-left: solid 1px var(--gray20); padding-left:20px;">
				<h1>My Timeline</h1>

				{{if .UserCan "outbox-add" -}}
					<div hx-target="this" hx-swap="outerHTML">
						<button hx-get="/@me/outbox-add" class="text-sm primary">New Post</button>
					</div>
				{{- end -}}

				<div class="h-feed">
					{{ .View "outbox-list"}}
				</div>
			</div>
		</div>
	</div>
</div>