{{- $blocks := (.BlocksByType "EXTERNAL").Slice -}}

<div role="tablist" class="pills">
	<div hx-get="/@me/blocks?tab=ACTOR" role="tab" class="turboclick">People</div>
	<div hx-get="/@me/blocks?tab=DOMAIN" role="tab" class="turboclick">Domains</div>
	<div hx-get="/@me/blocks?tab=CONTENT" role="tab" class="turboclick">Tags & Keywords</div>
	<div hx-get="/@me/blocks?tab=EXTERNAL" role="tab" class="turboclick" aria-selected="true">External Services</div>
</div>

<table class="table">
	<tr hx-get="/@me/block-service" role="button" class="link">
		<td class="text-lg">
			{{icon "add"}}
		</td>
		<td style="vertical-align:middle; width:100%;">
			Use a Block Service
		</td>
		<td>&nbsp;</td>
	</tr>

	{{- template "blocks-list" $blocks -}}
</table>

<div class="bold space-above">
	If you register an external content blocker, 
	it will be used to filter all inbound messages.
</div>