{{- $blockedActors := (.BlocksByType "ACTOR").Slice -}}
{{- $blockedDomains := (.BlocksByType "DOMAIN").Slice -}}
{{- $blockedContent := (.BlocksByType "CONTENT").Slice -}}
{{- $blockServices := (.BlocksByType "EXTERNAL").Slice -}}

<div script="install TabContainer">
	<div role="tablist">
		<div id="tab-actors" role="tab" aria-controls="panel-actors" aria-selected="true">People</div>
		<div id="tab-domains" role="tab" aria-controls="panel-domains">Domains</div>
		<div id="tab-content" role="tab" aria-controls="panel-content">Tags & Keywords</div>
		<div id="tab-external" role="tab" aria-controls="panel-external">External Services</div>
	</div>

	<div id="panel-actors" role="tabpanel" aria-labelledby="tab-actors">

		<div class="bold space-below">
			If you receive a post is from a person in this list,
			it will be rejected or hidden from your timeline.
		</div>

		<table class="table">
			<tr hx-get="/@me/block-actor" role="button">
				<td class="text-lg">
					{{icon "add"}}
				</td>
				<td style="width:100%">
					<div class="bold">Block a Person</div>
				</td>
				<td>&nbsp;</td>
			</tr>

			{{- template "block-list" $blockedActors -}}
		</table>
		
	</div>

	<div id="panel-domains" role="tabpanel" aria-labelledby="tab-domains" hidden>

		<div class="bold space-below">
			If you receive a post is from a domain in this list, it
			will be rejected or hidden from your timeline.
		</div>

		<table class="table">
			<tr hx-get="/@me/block-domain" role="button">
				<td class="text-lg">
					{{icon "add"}}
				</td>
				<td style="width:100%">
					<div class="bold">Block a Domain</div>
				</td>
				<td>&nbsp;</td>
			</tr>

			{{- template "block-list" $blockedDomains -}}
		</table>
	</div>

	<div id="panel-content" role="tabpanel" aria-labelledby="tab-content" hidden>

		<div class="bold space-below">
			If you receive a post containing any of the
			words or tags in this list, it will be rejected or hidden from your timeline.
		</div>

		<table class="table">
			<tr hx-get="/@me/block-keywords" role="button">
				<td class="text-lg">
					{{icon "add"}}
				</td>
				<td style="width:100%">
					<div class="bold">Block Tags &amp; Keywords</div>
				</td>
				<td>&nbsp;</td>
			</tr>

			{{- template "block-list" $blockedContent -}}
		</table>
	</div>

	<div id="panel-external" role="tabpanel" aria-labelledby="tab-external" hidden>

		<div class="bold space-below">
			If you register an external content blocker, 
			it will be used to filter all inbound messages.
		</div>

		<table class="table">
			<tr hx-get="/@me/block-service" role="button">
				<td class="text-lg">
					{{icon "add"}}
				</td>
				<td style="width:100%">
					<div class="bold">Use a Block Service</div>
				</td>
				<td>&nbsp;</td>
			</tr>

			{{- template "block-list" $blockServices -}}
		</table>
	</div>

</div>