{{- $blocks := (.BlocksByType "DOMAIN").Slice -}}

<div role="tablist" class="pills">
	<div hx-get="/@me/inbox/blocks?tab=ACTOR" role="tab" class="turboclick">People</div>
	<div hx-get="/@me/inbox/blocks?tab=DOMAIN" role="tab" class="turboclick" aria-selected="true">Domains</div>
	<div hx-get="/@me/inbox/blocks?tab=CONTENT" role="tab" class="turboclick">Tags & Keywords</div>
</div>

<table class="table">
	<tr hx-get="/@me/inbox/block-domain" role="button" class="link">
		<td colspan="2">
			{{icon "add"}}
			Block a Domain
		</td>
	</tr>

	{{- template "blocks-list" $blocks -}}
</table>

<div class="bold space-above">
	If you receive a post is from a domain in this list, it
	will be rejected or hidden from your timeline.
</div>