{{- range . -}}
	<tr hx-get="/@me/inbox/block-edit?blockId={{.BlockID.Hex}}" role="button">
		<td class="width-100 valign-middle">
			<div class="ellipsis">
				{{.Trigger}} &nbsp;
				<span class="text-sm text-gray">{{.Comment}}</span>
			</div>
		</td>
		<td class="align-right" nowrap>
			{{- if .IsActive -}}
				<span class="text-green">
					{{- if .IsPublic -}}
						<span title="Published">{{icon "visible-fill"}}</span>
					{{- else -}}
						<span title="Not Published">{{icon "invisible"}}</span>
					{{- end -}}
					&nbsp;
					Active
				</span>
			{{- else -}}
				Inactive
			{{- end -}}
		</td>
	</tr>
{{- end -}}
