/***************************
 * Default Tab Style
 ***************************/

[role="tablist"] {
    border-bottom:solid 1px var(--gray40);
    margin-bottom:20px;
    line-height:normal;
}

[role="tablist"] > [role="tab"] {
    cursor:pointer;
    display:inline-block;
    padding:8px 16px 4px 16px;
    margin:0px 2px -1px 0px;
    background-color:var(--gray05);
    border:solid 1px var(--gray30);
    border-bottom:solid 1px var(--gray40);
    border-radius:4px 4px 0px 0px; 
    color:var(--gray50);
    font-family:inherit;
    font-size:0.9rem;
    text-decoration:none;
}

[role="tablist"] > [role="tab"]:hover:not([disabled]),
[role="tablist"] > [role="tab"]:focus:not([disabled]) {
    background-color:var(--gray10);
    border-color:var(--gray40);
    border-bottom:solid 1px var(--gray40);
    color:var(--gray50);
}

[role="tablist"] > [role="tab"][disabled] {
    background-color:var(--gray10);
    color:var(--gray30);
    cursor:not-allowed;
}

[role="tablist"] > [role="tab"][aria-selected="true"]:not([disabled]) {
    border-color:var(--gray40);
    border-bottom:solid 1px white;
    background-color:white;
    color:var(--gray100);
}

/***************************
 * Alternate Style
 ***************************/

 [role="tablist"].underlined {
    border-bottom:none;
    margin-bottom:20px;
    line-height:1em;
}

[role="tablist"].underlined > [role="tab"] {
    cursor:pointer;
    display:inline-block;
    padding:8px 16px;
    margin:0px;
    background-color:rgba(0,0,0,0);
    border:none;
    border-bottom:solid 3px rgba(0,0,0,0);
    border-radius:0px; 
    color:var(--gray80);
    font-family:inherit;
    font-size:1rem;
    text-decoration:none;
}

[role="tablist"].underlined > [role="tab"]:hover:not([disabled]),
[role="tablist"].underlined > [role="tab"]:focus:not([disabled]) {
    background-color:var(--gray10);
    border:none;
    border-bottom:solid 3px rgba(0,0,0,0);
    border-radius:6px;
    color:var(--gray80);
}

[role="tablist"].underlined > [role="tab"][disabled] {
    background-color:rgba(0,0,0,0);
    color:var(--gray30);
    cursor:not-allowed;
}

[role="tablist"].underlined > [role="tab"][aria-selected="true"]:not([disabled]) {
    border-color:var(--gray40);
    border-bottom:solid 3px var(--blue60);
    border-radius:0px;
    background-color:rgba(0,0,0,0);
    color:var(--gray100);
    padding:8px;
    margin:0px 8px;
    font-weight:500;
}
