{{- $folders := .FoldersWithSelection}}
{{- $folder := $folders.Selected -}}
{{- $filter := .FilteredByFollowing -}}

<div id="app" class="app" hx-get="{{.URL}}" hx-trigger="refreshPage from:window" hx-target="#app" hx-swap="outerHTML">

	<script src="/.templates/user-profile/hyperscript" type="text/hyperscript"></script>

	<!-- Sidebar Content -->
	{{- template "inbox-sidebar" $folders -}}

	<!-- Main App Content -->
	<div class="app-content">

		<div class="float-right text-sm">
			{{- if $filter.IsZero -}}
				<button hx-get="/@me/inbox-filter?folderId={{$folder.FolderID.Hex}}" class="turboclick">{{icon "filter"}} Filter</button>
			{{- else -}}
				<button hx-get="/@me/inbox-filter?folderId={{$folder.FolderID.Hex}}&filterId={{$filter.FollowingID.Hex}}" class="selected ellipsis turboclick" style="max-width:160px;">{{icon "filter-fill"}} {{$filter.Label}}</button>
			{{- end -}}
			<button hx-get="/@me/inbox-folder-edit?folderId={{$folder.FolderID.Hex}}" class="turboclick">{{icon "settings"}} Edit Folder</button>
			<button hx-get="/@me/following-add?folderId={{$folder.FolderID.Hex}}" class="primary turboclick">{{icon "add"}} Follow</button>
		</div>

		<h1 style="margin-top:0px;">{{icon $folder.Icon}} {{$folder.Label}}</h1>

		{{- template "inbox-load-older" $folder -}}

		{{- if eq "SOCIAL" $folder.Layout -}}
			{{- template "inbox-list-social" . -}}
		{{- else if eq "CHAT" $folder.Layout -}}
			{{- template "inbox-list-chat" . -}}
		{{- else if eq "NEWSPAPER" $folder.Layout -}}
			{{- template "inbox-list-newspaper" . -}}
		{{- else if eq "MAGAZINE" $folder.Layout -}}
			{{- template "inbox-list-magazine" . -}}
		{{- else -}}
			{{- template "inbox-list-social" . -}}
		{{- end -}}
	
	</div>


</div>
