{{- $inbox := .Inbox -}}
{{- $folderID := .QueryParam "folderId" -}}
{{- $internalID := .QueryParam "origin.internalId" -}}

{{- if gt (len $inbox) 0 -}}

	{{- $lastMessage := index $inbox (subtract (len $inbox) 1) -}}

	{{- range $index, $message := $inbox -}}

		<div 
			id="item_{{$message.MessageID.Hex}}" 
			class="message" 
			style="max-width:640px; cursor:pointer;" 
			hx-get="/@me/message?messageId={{$message.MessageID.Hex}}&origin.internalId={{$internalID}}">

			<div class="flex-row" style="justify-content:space-between;" hx-push-url="true">

				<div style="width:160px; flex-grow:0; flex-shrink:0">
					{{- if ne "" .Document.ImageURL -}}
						<div style="width:140px; margin-right:20px; min-height:84px; border:solid 1px var(--gray20); background-color:var(--gray10);">
							<img src="{{$message.Document.ImageURL}}" {{ if gt $index 3 }} loading="lazy" {{ end }} style="width:140px; max-height:140px; object-fit:cover;"/>
						</div>
					{{- end -}}
				</div>

				<div style="flex-grow:1; min-width:0px; position:relative; width:100%; max-width:100%;">
					<div class="bold black ellipsis">{{$message.Document.Label}}</div>
					<div class="text-gray text-sm space-below flex-row">
						<span class="ellipsis">
							{{ icon .Origin.Icon }}
							{{ .Origin.Label }} &middot;
							{{ .Document.Author.Name }} 
							&nbsp;&middot;
						</span>
						<span class="nowrap">
							{{ .PublishDate | tinyDate }}
						</span>
					</div>
					<div class="text-gray text-sm ellipsis-block" style="max-height:6em;">{{$message.Document.Summary}}</div>
				</div>

			</div>

		</div>

		<hr>

		{{- end -}}

	<div 
		hx-get="/@me/inbox-list?folderId={{$folderID}}&origin.internalId={{$internalID}}&rank=GT:{{$lastMessage.Rank}}" 
		hx-push-url="false" 
		hx-trigger="intersect once" 
		hx-target="this" 
		hx-swap="outerHTML">
		<hr>
		<div><span class="spin">{{icon "loading"}}</span> Loading...</div>
	</div>

	<div
		hx-post="/@me/pub/folder/readDate?folderId={{$folderID}}&readDate={{$lastMessage.Rank}}"
		hx-push-url="false"
		hx-trigger="intersect once">
	</div>

{{- else -}}
	{{- template "inbox-empty" . -}}
{{- end -}}