<div hx-sse="connect:/{{.StreamID}}/sse">
<div hx-get="/{{.Token}}" hx-trigger="sse:message, refreshPage from:body">
<div class="page">

	<h1>{{.Label}}</h1>

	{{- if ne "" .Description -}}
		<div class="space-below">{{.Description}}</div>
	{{- end -}}

	{{- if .UserCan "edit" -}}
		<div id="menu-bar">
			<button hx-get="/{{.Token}}/edit">Edit</button>

			{{- if .UserCan "sharing" -}}
				<button hx-get="/{{.Token}}/sharing">Sharing</button>
			{{- end -}}
		</div>
	{{- end -}}

	{{- if eq (.Data "format") "TABLE" -}}
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody hx-push-url="true">
				{{- if .UserCan "new" -}}
					<tr hx-get="/{{.Token}}/new" role="button">
						<td colspan="3" class="link"><i class="fa-solid fa-circle-plus"></i> Add Stream</td>
					</tr>
				{{- end -}}
				{{- range .Children.ByLabel.View -}}
					<tr hx-get="/{{.Token}}" role="link">
						<td><i class="fa-regular fa-file-lines"></i> {{.Label}}</td>
						<td>{{.Description}}</td>
						<td></td>
					</tr>
				{{- end -}}
			</tbody>
		</table>
	{{- end -}}

	{{- if eq (.Data "format") "CARDS" -}}

		{{- range .Children.ByLabel.View -}}
			<article class="clickable" hx-get="/{{.Token}}">
				<h2 role="link">{{.Label}}</h2>
				<p>{{.Description}}</p>
			</article>
		{{- end -}}

	{{- end -}}


	{{- if eq (.Data "format") "CARDSx2" -}}
		<div class="pure-g">
			{{- range .Children.ByLabel.View -}}
				<div class="clickable pure-u-1 pure-u-sm-1-2" hx-get="/{{.Token}}">
					<article>
					<h2 role="link">{{.Label}}</h2>
					<p>{{.Description}}</p>
					</article>
				</div>
			{{- end -}}
		</div>
	{{- end -}}

	{{- if eq (.Data "format") "CARDSx3" -}}
		<div class="pure-g">
			{{- range .Children.ByLabel.View -}}
				<div class="clickable pure-u-1 pure-u-sm-1-2 pure-u-md-1-3" hx-get="/{{.Token}}">
					<article>
					<h2 role="link">{{.Label}}</h2>
					<p>{{.Description}}</p>
					</article>
				</div>
			{{- end -}}
		</div>
	{{- end -}}

</div>
</div>
</div>