{{- $name := .QueryParam "name" -}}
{{- $stateID := .QueryParam "stateId" -}}
{{- $groupID := .QueryParam "group" -}}

<div class="page">
   	
	{{template "menubar" .}}

    <form hx-get="/admin/tags/list" hx-trigger="refreshPage from:window, change, keyup throttle:500ms" hx-target="#results" hx-swap="innerHTML" hx-push-url="false">
        <div class="flex-row">

            <div>
                <label for="search" class="text-xs text-gray">Tag</label>
                <input id="search" name="name" value="{{$name}}" autocomplete="off">
            </div>
            <div>
                <label for="search" class="text-xs text-gray">Group</label>
                <select name="group" script="install select(value:'{{$groupID}}', options:{{.Groups |json }})">
					<option value="">(All Groups)</option>
                </select>
            </div>
            <div>
                <label for="search" class="text-xs text-gray">Status</label>
                <select name="stateId" script="install select(value:'{{$stateID}}', options:{{.States | json}})">
                    <option value="">(All)</option>
                </select>
            </div>
        </div>
    </form>

    <table class="table margin-top">
        <tbody>
            <tr role="link" class="link" hx-get="/admin/tags/add">
                <td colspan="3">{{icon "add"}} Add a Tag</td>
            </tr>
        </tbody>
        <tbody id="results">
            {{- .View "list" -}}
        </tbody>
    </table>

</div>
