{{- $tags := .SearchTags.Top60.ByName.Slice -}}

{{- if not $tags.IsEmpty }}

    {{- range $index, $tag := $tags -}}
        <tr class="clickable">
            <td role="link" hx-get="/admin/tags/{{$tag.SearchTagID.Hex}}/edit">
                {{icon "tag"}} {{$tag.Name}}
            </td>
            <td role="link" hx-get="/admin/tags/{{$tag.SearchTagID.Hex}}/edit">
                {{- $tag.StatusText -}}
            </td>
            <td nowrap class="text-xs width-128 text-align-right">
            </td>
        </tr>
    {{- end -}}

{{- end -}}
