/************************
 * PAGE
 ************************/

.page {
    background-color: var(--page-background);
    padding: 10px 20px;
    position:relative;
	line-height:150%;
	margin-bottom: 50px;
	xborder: solid 1px var(--gray15);
}

/************************
 * MENU BAR
 ************************/

 #menu-bar {
	border-bottom: solid 1px var(--gray20);
	margin-bottom: 30px;
	padding: 5px 0px;
	line-height: 100%;
	display:flex;
	flex-direction: row;
	flex-wrap:nowrap;
	overflow-x: scroll;
}

#menu-bar div {
	white-space: nowrap;
	flex-grow: 1;
}

#menu-bar div.left {
	text-align: left;
}

#menu-bar div.center {
	text-align: center;
}

#menu-bar div.right {
	text-align: right;
}

#menu-bar a,
#menu-bar button {
	display: inline-block;
	padding: 10px 20px;
	border-radius: var(--border-radius);
	color: var(--gray80);
	background-color:inherit;
	margin:0px;
}

#menu-bar a:hover,
#menu-bar a:focus,
#menu-bar button:hover,
#menu-bar button:focus {
	background-color: var(--gray10);
	color: var(--gray90);
}

#menu-bar a.selected,
#menu-bar a.selected:hover,
#menu-bar a.selected:focus,
#menu-bar button.selected,
#menu-bar button.selected:hover,
#menu-bar button.selected:hover {
	background-color: var(--gray20);
	color: var(--black);
}

/************************
 * BREADCRUMBS
 ************************/

 #breadcrumbs {
	margin-bottom:20px;
}