/****************************
 * DEFAULT FONTS
 ****************************/
:root {
    --rhythm:8px;
    --weight:400;
}

@media (prefers-color-scheme:dark) {
    :root {
        --weight:300;
    }
}
    
html {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:var(--weight);
    font-size:calc(var(--rhythm) * 2);
    line-height:calc(var(--rhythm) * 3);
}
 
.monospace, code {
    font-family:ui-monospace, "Menlo", "Monaco", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

/****************************
 * HEADINGS
 ****************************/

h1 {
    font-weight:calc(var(--weight) + 100);
    font-size:calc(var(--rhythm) * 4);
    line-height:calc(var(--rhythm) * 6);
    margin-top:var(--rhythm);
    margin-bottom:calc(var(--rhythm) * 2);
    color:var(--heading-color);
}


h2 {
    font-weight:calc(var(--weight) + 100);
    font-size:calc(var(--rhythm) * 3);
    line-height:calc(var(--rhythm) * 4.5);
    margin-top:var(--rhythm);
    margin-bottom:calc(var(--rhythm) * 2);
    color:var(--heading-color);
}

h3 {
    font-weight:calc(var(--weight) + 300);
    font-size:calc(var(--rhythm) * 2);
    line-height:calc(var(--rhythm) * 3);
    margin-top:var(--rhythm);
    margin-bottom:calc(var(--rhythm) * 2);
    color:var(--heading-color);
}

h1.space-above,
h2.space-above,
h3.space-above {
    margin-top:30px;
}


h1.space-below,
h2.space-below,
h3.space-below {
    margin-bottom:30px;
}

/****************************
 * Block - Flexbox
 ****************************/

.flex-row {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    gap:10px;
}

.flex-column {
    display:flex;
    flex-direction:column;
}

.flex-row > *,
.flex-column > * {
    flex-basis:auto;
    flex-grow:1;
}

.flex-nowrap {
    display:flex;
    flex-wrap:nowrap;
    overflow:scroll;
}

.width-40 {
    flex-grow:0;
    flex-shrink:0;
    flex-basis:40px;
    width:40px;
}

.width-50 {
    flex-grow:0;
    flex-shrink:0;
    flex-basis:50px;
    width:50px;
}

.width-60 {
    flex-grow:0;
    flex-shrink:0;
    flex-basis:60px;
    width:60px;
}

.width-100 {
    flex-grow:0;
    flex-shrink:0;
    flex-basis:100px;
    width:100px;
}

.width-150 {
    flex-grow:0;
    flex-shrink:0;
    flex-basis:150px;
    width:150px;
}

.width-200 {
    flex-grow:0;
    flex-shrink:0;
    flex-basis:200px;
    width:200px;
}

.width-full {
    width:100%;
}

/****************************
 * Block Spacing
 ****************************/

.vertical-space-none {
    margin-top:0px!important;
    margin-bottom:0px!important;
}

.horizontal-space-none {
    margin-left:0px!important;
    margin-right:0px!important;
}

.space-above,
.space-before {
    margin-top:1.5em;
}

.space-below,
.space-after {
    margin-bottom:1.5em;
}

.space-left {
    margin-left:1.5em;
}

.space-right {
    margin-right:1.5em;
}

.padding-5 {
    padding:5px;
}

.pading-10 {
    padding:10px;
}

.pading-20 {
    padding:10px;
}

.block {
    display:block;
    width:100%;
}

.inline-block {
	display:inline-block;
}

.inline {
	display:inline;
}

.align-left {
    text-align:left;
}

.align-center {
    text-align:center;
}

.align-right {
    text-align:right;
}

.flex-row {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    gap:8px;
}

.float-right {
    float:right;
}

.float-left {
    float:left;
}

.float-clear {
    float:unset;
}

/****************************
 * CIRCLES
 ****************************/

.circle-24 {
	height:50px;
	width:50px;
	border-radius:25px;
}


.circle-50 {
	height:50px;
	width:50px;
	border-radius:25px;
}

.circle-100 {
	height:100px;
	width:100px;
	border-radius:50px;
}

.circle-200 {
	height:200px;
	width:200px;
	border-radius:100px;
}

.circle-300 {
	height:300px;
	width:300px;
	border-radius:150px;
}

/****************************
 * MISC WIDGETS
 ****************************/

.info {
	display:block;
	border:solid 1px var(--blue20);
	border-radius:10px;
	background-color:var(--blue10);
	color:var(--gray90);
	padding:15px 15px;
	margin-bottom:40px;
}

.info > .info-marker {
	float:left;
	margin-right:15px;
	color:var(--blue60);
}

/****************************
 * PLACEHOLDER
 ****************************/

.placeholder-gray {
	background-color:var(--gray30);
}

/****************************
 * Hover Show/Hide
 ****************************/

.hover-reveal {
    opacity:0;
}

.hover-reveal:focus {
    opacity:1;
}

.hover-trigger:hover .hover-reveal {
    opacity:1;
}

/****************************
 * Text Modifiers
 ****************************/
 
.text-xxxl,
.text-3xl {
    font-size:calc(var(--rhythm) * 6);
    line-height:calc(var(--rhythm) * 9);
    margin-top:var(--rhythm);
    margin-bottom:calc(var(--rhythm) * 2);
}

.text-xxl,
.text-2xl,
.text-xxl input,
input.text-xxl {
    font-size:calc(var(--rhythm) * 4);
    line-height:calc(var(--rhythm) * 6);
    margin-top:var(--rhythm);
    margin-bottom:calc(var(--rhythm) * 2);
}

.text-xl,
.text-xl input,
input.text-xl {
    font-size:calc(var(--rhythm) * 3);
    line-height:calc(var(--rhythm) * 4.5);
    margin-top:var(--rhythm);
    margin-bottom:calc(var(--rhythm) * 3);
}

.text-lg,
.text-lg input,
input.text-lg {
    font-size:calc(var(--rhythm) * 2.5);
    line-height:calc(var(--rhythm) * 3.75);
    margin-top:var(--rhythm);
    margin-bottom:calc(var(--rhythm) * 3);
}

.text-md,
p,
.text-md input,
input.text-md {
    font-size:calc(var(--rhythm) * 2);
    line-height:calc(var(--rhythm) * 3);
    margin-top:var(--rhythm);
    margin-bottom:calc(var(--rhythm) * 3);
}

.text-sm {
    font-size:calc(var(--rhythm) * 1.75);
    line-height:calc(var(--rhythm) * 2.625);
    margin-top:var(--rhythm);
    margin-bottom:calc(var(--rhythm) * 2);
}

.text-xs {
    font-size:calc(var(--rhythm) * 1.5);
    line-height:calc(var(--rhythm) * 2.25);
    margin-top:var(--rhythm);
    margin-bottom:calc(var(--rhythm));
}


.text-plain,
.text-plain:hover{
    color:var(--text-color)!important;
    text-decoration:none;
}

.text-gray {
    color:var(--gray60);
}

.text-green {
    color:var(--green70)!important;
}

.text-green:hover {
    color:var(--green80)!important;
}

.text-red {
    color:var(--red50)!important;
}

.text-red:hover {
    color:var(--red60)!important;
}

hr {
    border-top:1px solid var(--gray20);
    border-bottom:none;
    border-left:none;
    border-right:none;
    height:0px;
    margin-top:calc(var(--rhythm) * 3);
    margin-bottom:calc(var(--rhythm) * 3);
}

/****************************
 * Element-Level classes
 ****************************/


b, strong, .bold {
	font-weight:calc(var(--weight) + 200);
}

a, .link {
	color:var(--link-color);
	text-decoration:none;
}

a:hover,
.link:hover,
[role="link"]:hover {
	cursor:pointer;
	color:var(--link-color-hover)!important;
}

.clickable, [role="link"], [role="button"] {
	cursor:pointer;
}

p:last-child {
    margin:0px;
}

code {
    display:block;
    background-color:var(--gray10);
    border:solid 1px var(--gray-20);
    padding:5px 10px;
    white-space:pre-wrap;
}

code.inline {
    display:inline;
}
