<!DOCTYPE html>
<html>
<head>
	<title>Sign In &middot; {{.domainName}}</title>
	{{- template "includes-head" . -}}
</head>

<body hx-target="main" hx-swap="innerHTML" hx-push-url="false" hx-ext="a11y">

	<main class="flex-justify-center flex-align-center" style="display:flex; height:clamp(400px, 100vh, 1000px);">

		<div id="response" class="card" style="width:clamp(540px, 50%, 720px); margin:auto; padding:16px 32px; line-height:150%;">
			
			<form hx-post="/@guest/signin">

				<div class="layout-vertical margin-bottom">

					{{- template "guest-signin-header" . -}}

					<div class="layout-elements">
						<div class="layout-element">
							<label for="username">Email / Fediverse Username</label>
							<input type="text" name="identifier" required="true" maxlength="50" autofocus autocomplete="username">
						</div>
					</div>					
				</div>

				<div class="margin-bottom-lg">
					No signup is necessary.  Just enter your <b class="nowrap">Email Address</b> or <b class="nowrap">Fediverse account</b>
					and we'll send you a one-time code to get in.
				</div>

				<div>

					<button id="submitButton" type="submit" class="primary htmx-request-hide" tabIndex="0">
						Send Me a Signin Code
					</button>

					<button class="htmx-request-show primary" disabled>
						<span class="spin">{{icon "loading"}}</span> Sending Code
					</button>

					<button type="button" script="on click window.history.back()">Cancel</button>

					<span id="htmx-response-message"></span>

				</div>

			</form>

		</div>

	</main>

	<script type="text/hyperscript">	

		on htmx:beforeRequest
			add [@hidden=true] to #htmx-response-message
			add [@disabled=true] to #submitButton
		end

	</script>

	{{ template "includes-foot" . }}
	
</body>
</html>
