{{- $name := .Name -}}
{{- $domain := .Domain -}}
<!DOCTYPE html>
<html>
<head>
	<title>OAuth - Emissary</title>
	{{- template "includes-head" . -}}
</head>

<body hx-target="main" hx-swap="innerHTML" hx-push-url="false" hx-ext="preload">

	<main style="display:flex; height:clamp(400px, 100vh, 1000px); justify-content: center; align-items: center;">

		<div style="width:clamp(540px, 50%, 720px); margin:auto;">

			<div class="align-center">
				<img src="{{$domain.ImageURL}}" style="max-height:200px;">
			</div>

			<div class="card" style="padding:16px 32px; line-height:150%;">

				<form action="/oauth/authorize" method="post"
					script="on submit add .htmx-request">

					<input type="hidden" name="client_id" value="{{.ClientID}}">
					<input type="hidden" name="redirect_uri" value="{{.RedirectURI}}">
					<input type="hidden" name="scope" value="{{.Scope}}">
					<input type="hidden" name="state" value="{{.State}}">
					<input type="hidden" name="response_type" value="{{.ResponseType}}">

					<div class="text-xl flex-row flex-align-center margin-bottom-xl">
						<img src="{{.IconURL}}" class="circle width-48">
						<span>
							<b>{{$name}}</b> is requesting permission to:
						</span>
					</div>

					{{- range .Scopes -}}
						{{- if eq . "activitypub_account_portability" -}}
							<div class="margin-top">
								<div class="text-lg margin-none bold text-red">{{icon "alert"}} Export All of Your Data</div>
								<div class="margin-bottom">
									Allow {{$name}} to access all of your profile data
									(including your private keys)
								</div>
							</div>
							<div class="margin-top">
								<div class="text-lg margin-none bold text-red">{{icon "alert"}} Move Your Account</div>
								<div class="margin-bottom">
									Allow {{$name}} to move close your account on this server and move it to {{$name}}
								</div>
							</div>
							<div class="margin-top">
								<div class="bold text-red">You should only approve this request if you are <i>backing up or migrating your profile</i> to {{$name}}</div>
							</div>
						{{- else -}}
							<div class="margin-top">{{.}}</div>
						{{- end -}}
					{{- end -}}

					<div class="margin-top-lg">
						<span class="htmx-request-show">
							<button disabled class="primary">
								{{icon "loading"}} Working On It...
							</button>
						</span>
						<span class="htmx-request-hide">
							<button id="submitButton" type="submit" class="primary">
								Allow Access
							</button>
						</span>

						<button script="on click back() the window's history">Cancel</button>

						<span id="message" class="text-red" hidden></span>

					</div>

				</form>

			</div>
		</div>

	</main>

	{{ template "includes-foot" . }}
	
</body>
</html>
