{{- $name := .Name -}}
{{- $domain := .Domain -}}
{{- $user := .User -}}

<!DOCTYPE html>
<html>
<head>
	<title>OAuth - Emissary</title>
	{{- template "includes-head" . -}}
</head>

<body hx-target="main" hx-swap="innerHTML" hx-push-url="false" hx-ext="preload">

	<main>

		<div class="margin-horizontal-auto" style="width:clamp(540px, 50%, 720px);">

			<div class="margin-vertical-lg">
				<img src="{{$domain.ImageURL}}" style="max-width:50%; max-height:64px;">
			</div>

			<div class="flex-row flex-align-center margin-bottom">
				<div class="width-32">
					<img src="{{$user.IconURL}}" class="circle width-100%">
				</div>
				<div class="flex-grow">
					<div class="text-xs text-gray">Signed In As:</div>
					<div class="text-sm bold">
						<a href="/@me">@{{$user.Username}}@{{$domain.Host}}</a>
					</div>
				</div>
				<div class="text-sm">
					<a hx-post="/signout" class="text-nocolor">Sign Out</a>
				</div>
			</div>

			<div class="card" style="padding:16px 32px; line-height:150%;">

				<form action="/oauth/authorize" method="post"
					script="on submit add .htmx-request">

					<input type="hidden" name="client_id" value="{{.ClientID}}">
					<input type="hidden" name="redirect_uri" value="{{.RedirectURI}}">
					<input type="hidden" name="scope" value="{{.Scope}}">
					<input type="hidden" name="state" value="{{.State}}">
					<input type="hidden" name="response_type" value="{{.ResponseType}}">

					<div class="flex-row flex-align-center margin-top margin-bottom-lg">
						{{- if ne "" .IconURL -}}
							<img src="{{.IconURL}}" class="circle width-64">
						{{- end -}}
						<div class="flex-grow">
							<div class="text-lg bold margin-none">{{$name}}</div>
							<div class="text-sm margin-none"><a href="{{.Website}}" target="_blank">{{.Website }} {{icon "link-outbound"}}</a></div>
						</div>
					</div>

					{{- range .Scopes -}}
						{{- if eq . "activitypub_account_portability" -}}
							<div class="margin-top">
								<div class="text-lg margin-none">Is asking to <b>Export All of Your Data</b></div>
								<div class="margin-bottom text-red">
									{{icon "alert"}}  Do not approve unless you are <b>migrating your profile</b>
								</div>
							</div>
						{{- else -}}
							<div class="margin-top">{{.}}</div>
						{{- end -}}
					{{- end -}}

					<div class="margin-top-lg">
						<span class="htmx-request-show">
							<button disabled class="primary">
								{{icon "loading"}} Working On It...
							</button>
						</span>
						<span class="htmx-request-hide">
							<button type="submit" class="primary">
								Yes. Allow Access
							</button>
						</span>

						<button script="on click halt the event then window.history.back()">Cancel</button>
						<span id="message" class="text-red" hidden></span>

					</div>

				</form>

			</div>
		</div>

	</main>

	{{ template "includes-foot" . }}
	
</body>
</html>
