<!DOCTYPE html>
<html>
<head>
	<title>Reset Your Password &middot; {{.Label}}</title>
	{{template "includes-head" .}}
</head>
<body>

	<main class="flex-justify-center flex-align-center" style="display:flex; height:clamp(400px, 100vh, 1000px);">

		<div class="card" style="width:clamp(540px, 50%, 720px); margin:auto; padding:16px 32px; line-height:150%;">

			<div class="bold text-gray text-lg margin-vertical-none">{{.Label}}</div>
			<h1 class="margin-top-none">{{icon "key"}} Reset Your Password</h1>
			<p>Enter your email address and we will send a password reset email right away.</p>

			<form hx-post="/signin/reset" hx-target="body">
				<div class="layout-vertical">
					<div class="layout-vertical-elements">
						<div class="layout-vertical-element flex-grow-1">
							<input type="text" name="emailAddress" value="" autocomplete="email" placeholder="your@email-address.com" autofocus required="true">
						</div>
						<div class="layout-vertical-element margin-bottom-none">
							<button class="htmx-request-hide primary" tabindex="0" type="submit">Reset Password</button>
							<button class="htmx-request-show primary" disabled>
								<span class="spin">{{icon "loading"}}</span>
								Resetting Password
							</button>
							<a href="/signin" class="button" tabindex="0">Cancel</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>
	
	{{template "includes-foot" .}}
</body>
</html>
