<!DOCTYPE html>
<html>
<head>
	<title>Choose Your Password &middot; {{.domainName}}</title>
	{{template "includes-head" .}}
</head>
<body>

	<main class="flex-justify-center flex-align-center" style="display:flex; height:clamp(400px, 100vh, 1000px);">

		<div class="card" style="width:clamp(540px, 50%, 720px); margin:auto; padding:16px 32px; line-height:150%;">

			{{- if ne "" .domainIcon -}}
				<div style="margin-bottom:32px; text-align: center;">
					<img src="{{.domainIcon}}" style="width:40%; margin:0px auto; display:block;">
				</div>
				<h2>Choose New Password</h2>
			{{- else -}}
				<div class="bold text-gray text-lg margin-vertical-none">{{.domainName}}</div>
				<h1 class="margin-top-none">{{icon "key"}} Choose New Password</h1>
			{{- end -}}

			<p>Hello, <b>{{.username}}</b>. Enter your new password below.</p>

			<form method="post" action="/signin/reset-code" onsubmit="return validateReset(this)">
				<input type="hidden" name="userId" value="{{.userId}}">
				<input type="hidden" name="code" value="{{.code}}">

				<div class="layout-vertical">
					<div class="layout-elements">
						<div class="layout-element">
							<input type="password" name="password" placeholder="New Password" autofocus required>
							<div class="text-sm text-gray">Enter your new password here.  It must not be easy to guess.</div>
						</div>
						<div class="layout-element">
							<input type="password" name="password2" placeholder="Confirm Password" required>
							<div class="text-sm text-gray">Re-enter your password to prevent mistakes.</div>
						</div>
					</div>
				</div>
				<button type="submit" class="primary">Reset Password</button>
				<button type="button" class="button" script="on click go to url /signin">Cancel</button>
			</form>
		</div>
	</main>
	
	<script>
		function validateReset(form) {
			if (form.password.value !== form.password2.value) {
				alert("Passwords must match. Please check your entries");
				return false;
			}
			return true
		}
	</script>


	{{template "includes-foot" .}}
</body>
</html>
