<!DOCTYPE html>
<html>
<head>
	<title>Password Reset</title>
	{{template "includes-head" .}}
</head>
<body>

	<main class="flex-justify-center flex-align-center" style="display:flex; height:clamp(400px, 100vh, 1000px);">

		<div class="card" style="width:clamp(540px, 50%, 720px); margin:auto; padding:16px 32px; line-height:150%;">
			<div class="bold text-gray text-lg margin-vertical-none">{{.Label}}</div>
			<h1 class="margin-top-none">{{icon "email"}} Please Check Your Email</h1>
			<p>If your email is registered on this site, we will send you an email with a link to reset your password.</p>
			<p><a href="/signin" class="button">&larr; Return to Signin</a></p>
		</div>
	</main>
	
	{{template "includes-foot" .}}
</body>
</html>
