<!DOCTYPE html>
<html>
<head>
	<title>Signin - Emissary</title>
	{{- template "includes-head" . -}}
</head>

<body hx-target="main" hx-swap="innerHTML" hx-push-url="false">

	<main style="display:flex; height:clamp(400px, 100vh, 1000px); justify-content: center; align-items: center;">

		<div class="card" style="width:clamp(540px, 50%, 720px); margin:auto; padding:16px 32px; line-height:150%;">
			
			<form hx-post="/signin" hx-target="#message">

				<div class="layout-vertical margin-bottom">

					<div class="layout-title">Sign In:</div>

					{{ if eq .message "password-reset" }}
						<div class="layout-description">Your password has been reset.  Please enter it below to log in.</div>
					{{ end }}

					<div class="layout-vertical-elements">
						<div class="layout-vertical-element">
							<label for="username">Username</label>
							<input type="text" name="username" id="username" required="true" maxlength="50">
						</div>
					</div>

					<div class="layout-vertical-element">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" required="true" maxlength="100">
					</div>

				</div>

				<div>

					<button class="htmx-request-show primary" disabled>
						<span class="spin">{{icon "loading"}}</span> Signing In
					</button>

					<button id="submitButton" type="submit" class="primary htmx-request-hide">
						Sign In
					</button>

					<span id="message" class="text-red" hidden></span>

					&nbsp;

					<a href="/signin/reset">Forgot Password?</a>

					{{- if .HasSignupForm -}}
						<div class="margin-top">
							Don't have a profile? 
							<a href="/register">Register Now</a>
						</div>
					{{- end -}}

				</div>

			</form>

		</div>

	</main>

	<script type="text/hyperscript">	
		init 
			set lastPage to document.referrer
			if (lastPage is empty) or (lastPage contains "/signin") or (lastPage contains "/register") then 
				call sessionStorage.removeItem("signin-return")
				exit
			end

			call sessionStorage.setItem("signin-return", lastPage)
		end

		on htmx:beforeRequest
			add [@hidden=true] to #message
			add [@disabled=true] to #submitButton

		on SigninSuccess
			set lastPage to sessionStorage.getItem("signin-return")
			call sessionStorage.removeItem("signin-return")
			if lastPage is empty then
				set lastPage to "/home"
			end
			set window.location to lastPage
		end

		on SigninError
			set #message.innerHTML to "Invalid Login.  Please Try Again."
			remove [@hidden] from #message
			remove [@disabled] from #submitButton
	</script>

	{{ template "includes-foot" . }}
	
</body>
</html>
