.content-editor {
    background-color:rgb(250,250,250);
    padding:20px;
    margin-bottom:40px;
}

/** CONTAINERS ****/

div.container-insert-point {
    /*cursor:context-menu;*/
    cursor: copy;
}


div.container-insert-point:hover {
    background-color:cornflowerblue;
}

div.container[data-style=ROWS] > div.container-insert-point {
    height:10px;
}

div.container[data-style=ROWS] > div.container-insert-point:first-child {
    margin-top:-10px;
}

div.container[data-style=ROWS] > div.container-insert-point:last-child {
    margin-bottom:-10px;
}

div.container[data-style=COLUMNS] > div.container-insert-point {
    width:10px;
}

div.container[data-style=COLUMNS] > div.container-insert-point:first-child {
    margin-left:-10px;
}

div.container[data-style=COLUMNS] > div.container-insert-point:last-child {
    margin-right:-10px;
}


/** WYSIWYG *******/
.ck-content {
    background-color:white;
}

.ck-content.ck-blurred {
    border: 1px solid hsla(0, 0%, 0%, 0.15)!important;
}