.uploader {
    border: 2px dashed #ccc;
    border-radius: 20px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
    cursor: pointer;
}

#drop-area.highlight {
    border-color: purple;
}

.uploader form {
  display: none;
}
