{{template "_navigation.html" "server"}}

<main>
	<div class="framed page">
		<h1>Server Setup</h1>

		<p>This page configures the file locations for important server resources.</p>
		<p>All values should be populated before domains are added.</p>

		<form hx-post="/server">

			{{.Server}}

			<div class="space-above">
				<button type="submit" class="primary htmx-request-hide">Save Changes</button>
				<button type="button" disabled class="htmx-request-show"><i class="fa-spin fa-spinner"></i> Saving</button>
				<span id="inline-confirmation" class="htmx-request-hide"></span>
			</div>
			<div class="text-sm gray30">
				Changes will be immediately applied to all servers in the cluster.
			</div>
		</form>
	</div>
</main>