<!DOCTYPE html>
<html>
<head>
	<title>Password Reset</title>
	{{template "includes-head" .}}
</head>
<body>

	<main>
		<div class="framed">
			<div class="pure-g">
				<div class="pure-u-0 pure-u-sm-1-12 pure-u-md-1-8 pure-u-lg-1-6 pure-u-xl-1-4"></div>
				<div class="pure-u-1 pure-u-sm-5-6 pure-u-md-3-4 pure-u-lg-2-3 pure-u-xl-1-2">
					<div class="card padded">
						<h1>Password Reset</h1>
						<p>Enter your email address and we will send a password reset email right away.</p>
						<form hx-post="/signin/reset" hx-target="body">
							<div class="layout-vertical">
								<div class="layout-vertical-elements">
									<div class="layout-vertical-element" style="flex-grow:1">
										<input type="text" name="emailAddress" value="" autocomplete="off" placeholder="your@email-address.com">
									</div>
									<div class="layout-vertical-element">
										<button class="htmx-request-hide primary" type="submit">Reset Password</button>
										<button class="htmx-request-show primary" disabled>
											<span class="spin">{{icon "loading"}}</span>
											Resetting Password
										</button>
										<a href="/signin" class="button">Cancel</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	{{template "includes-foot" .}}
</body>
</html>
