<div class="page" hx-get="/admin/domain/index" hx-trigger="refreshPage from:body">

	<h1>Settings</h1>

	<div id="menu-bar" hx-push-url="true">
		{{- $token := .Token -}}
		{{- range .AdminSections -}}
			<a hx-get="/admin/{{.Value}}" class="{{if eq $token .Value}}selected{{end}}">{{.Label}}</a>
		{{- end -}}
	</div>

	<div>
		<h3>Let New People Sign Up?</h3>
 
		<span role="link" hx-get="/admin/domain/signup">
			{{- if .SignupForm.Active -}}
				<div class="toggle-container" value="true">
					<span class="toggle"><span class="marker"></span></span>
					<label>YES.  New people CAN make new accounts.</label>
				</div>
			{{- else -}}
			<div class="toggle-container" value="false">
				<span class="toggle"><span class="marker"></span></span>
				<label>NO. New people CAN NOT make new accounts.</label>
			</div>
			{{- end -}}
		</span>

	</div>

</div>
