{{- $siblings := .Siblings.Slice -}}
{{- $children := .Children.Slice -}}
{{- $parentID := .ParentID -}}
{{- $streamID := .StreamID -}}

<div class="widget widget-ancestors-siblings" hx-target="#main" hx-push-url="true">

	{{- if .HasParent }}
		{{- $parent := .Parent "view" -}}
		<div class="ellipsis"><a href="/{{$parent.StreamID}}" hx-get="/{{$parent.StreamID}}" class="turboclick">{{$parent.Label}}</a></div>
	{{- end -}}

	{{- range $index, $sibling := $siblings -}}
		{{- if eq $streamID $sibling.StreamID -}}
			<div class="ellipsis bold">{{.Label}}</div>

			{{- range $index, $child := $children -}}
				<div class="ellipsis"><a href="/{{$child.StreamID}}" hx-get="/{{$child.StreamID}}" class="turboclick">- {{$child.Label}}</a></div>
			{{- end -}}

			{{- else -}}
			<div class="ellipsis"><a href="/{{$sibling.StreamID}}" hx-get="/{{$sibling.StreamID}}" class="turboclick">{{.Label}}</a></div>
		{{- end -}}
	{{- end -}}

</div>