/******************************************
 * PAGE LAYOUT CLASSES
 ******************************************/

* {
	box-sizing: border-box;
}

body {
	display:flex;
	flex-direction:column;
	background-color: var(--body-background);
	color: var(--text-color);
	margin:0px;
}

main {
	display: flex;
	flex-direction:row;
	justify-content: center;
	container-type:inline-size;
	-overflow-x:hidden;
	-overflow-y:auto;
	overscroll-behavior: none;
}

body:has(> main > .app) {
	height:100dvh;
	width:100dvw;
	overflow-x:hidden;
	overflow-y:hidden;
	overscroll-behavior: none;
}

main:has(> .app) {
	height:100%;
	overflow-x:hidden;
	overflow-y:hidden;
	overscroll-behavior:none;
}
