nav {
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;

	font-weight:400;
	overflow-x:auto;
	overflow-y:hidden;
	overscroll-behavior: none;

	& .ToggleShow,
	& .ToggleHide {
		position:fixed;
		top:calc(var(--rhythm) * 2.5);
		right:calc(var(--rhythm) * 2.5);
	}

	& > .ToggleContent {
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		padding: calc(var(--rhythm)*2);
		background-color: var(--white);
		color: var(--black);
	}

	& .nav-item {
		display:block;
		padding: var(--rhythm);
		font-size:calc(var(--rhythm) *3);
	}
}

