{{- $topID := .NavigationID -}}

<!DOCTYPE html>
<html>
<head>
	<title>{{.PageTitle}} &middot; {{.DomainLabel}}</title>
	<link rel="webmention" href="/.webmention"/>
	{{ template "includes-head" .}}
</head>

<body hx-target="#page" hx-swap="innerHTML" hx-push-url="false" hx-ext="a11y">

	<nav>
		{{- range .Navigation -}}
			<a href="/{{.Token}}" class="turboclick" class="{{- if eq $topID .StreamID -}}selected{{- end -}}">{{.Label}}</a>
		{{- end -}}

		<br>
		{{- if .IsAuthenticated -}}
			<a href="/@me" class="turboclick {{- if eq $topID `profile` -}}selected{{- end -}}">Profile</a>
			<a href="/@me/inbox" class="turboclick {{- if eq $topID `inbox` -}}selected{{- end -}}">Inbox</a>
			{{- if .IsOwner -}}<a href="/admin/domain" class="turboclick {{- if eq $topID `admin` -}}selected{{- end -}}">Settings</a>{{- end -}}
		{{- else -}}
			<a href="/signin" class="turboclick">Sign In</a>
		{{- end -}}
	</nav>

	<main>
		<div id="page" class="page">
			{{- .GetContent -}}
		</div>
		<aside></aside>

	</main>
	
</body>

{{ template "includes-foot" .}}

</html>
