{{- $theme := .Theme .ThemeID -}}

<div class="page" hx-get="/admin/domain/index" hx-trigger="refreshPage from:window">

	<script src="/.themes/global/resources/sortable-1.15.0/Sortable.min.js"></script>
	
	<div id="menu-bar" hx-push-url="true">
		{{- $token := .Token -}}
		{{- range .AdminSections -}}
			<a hx-get="/admin/{{.Value}}" class="turboclick {{if eq $token .Value}}selected{{end}}">{{.Label}}</a>
		{{- end -}}
	</div>


	<div class="margin-bottom">
		<span class="bold">Theme: {{$theme.Label}}</span> 
		<span class="button text-xs" hx-get="/admin/domain/themes">Select a Theme</span>
	</div>