{{- $selected := .ThemeID -}}
{{- $themes := .Themes -}}

<h1><i class="bi bi-palette"></i> Website Theme</h1>

<div class="margin-vertical">
	Themes determine how your website looks. They may also change setup checklist items and other website defaults.
</div>

<form hx-post="/admin/domain/themes">

	<div>
		{{- range $themes -}}
			{{- $id := .ThemeID -}}
			{{- $selected := eq $id $.ThemeID -}}
			{{- $selected := iif $selected "checked" "" -}}

			<label for="theme-{{$id}}">
				<div class="radiobutton padding">
					<div class="margin-right">
						<img src="/.themes/{{.ThemeID}}/resources/startup/icon.png" class="width-64">
					</div>
					<div>
						<input type="radio" id="theme-{{$id}}" name="themeId" value="{{$id}}" {{- $selected -}} />
						<div class="bold margin-none">{{.Label}}</div>
						<div class="text-sm text-gray margin-none">{{.Description}}</div>
					</div>
				</div>
			</label>
		{{- end -}}
	</div>

	<div class="margin-top-lg">
		<button type="submit" class="primary">Select Theme</button>
		<button script="on click trigger closeModal">Cancel</button>
	</div>

</form>