{{- $themeID := .ThemeID -}}
{{- $themes := .Themes -}}

<h1>Select a Theme</h1>

<div class="flex-row" script="install TabContainer">
	<div role="tablist" class="vertical width-1-4">
		{{- range $themes -}}
			{{- if eq .ThemeID $themeID -}}
				<div role="tab" aria-controls="theme-{{.ThemeID}}" aria-selected="true">{{.Label}}</div>
			{{- else -}}
				<div role="tab" aria-controls="theme-{{.ThemeID}}">{{.Label}}</div>
			{{- end -}}
		{{- end -}}
	</div>

	{{- range $themes -}}
		<div id="theme-{{.ThemeID}}" role="tabpanel" class="width-4-5">
			<div class="text-lg bold margin-none">{{.Label}}</div>
			<div class="text-gray margin-bottom">{{.Description}}</div>
			<img src="/.themes/{{.ThemeID}}/resources/startup/splash.png" class="width-100% margin-bottom">

			<div>
				<button class="primary" hx-post="/admin/domain/themes" hx-vals='{"themeId":"{{.ThemeID}}"}'>Select Theme</button>
				<button script="on click trigger closeModal">Cancel</button> 
			</div>
		</div>
	{{- end -}}
</div>