<div hx-get="{{.Token}}?view={{.ViewID}}" hx-trigger="stream:update" hx-swap="settle:1s" stream="{{.StreamID}}">

	{{ $parent := .Parent ""}}
	<div>
		<a href="/{{$parent.Token}}" hx-get="/{{$parent.Token}}" preload>&laquo; {{$parent.Label}}.</a>
	</div>

	<h1 class="space-after">{{.Label}}</h1>

	<article class="space-after">
		<div>{{.Description}}</div>
	</article>

	<div class="space-after">
		<span 
			preload
			hx-get="/{{.Token}}/transition/update" 
			hx-target="body" 
			hx-swap="beforeend" 
			hx-push-url="false" 
			class="button primary">Update Stream</span>

		<span 
			preload
			hx-get="/{{.Token}}/new" 
			hx-target="body" 
			hx-swap="beforeend" 
			hx-push-url="false" 
			class="button">+ Add Stream</span>
	</div>

	<div class="space-after">
		{{ range .Children "list-item" }}
			{{.Render}}
		{{ end }}
	</div>

</div>