THIS IS THE DEFAULT PAGE
<h1 class="space-after">{{.Label}}</h1>

<article class="space-after">
	<div>{{.Description}}</div>
</article>

<div class="space-after">
	<span 
		preload
		hx-get="/{{.Token}}/transition/update" 
		hx-target="body" 
		hx-swap="beforeend" 
		hx-push-url="false" 
		class="button primary">Update Stream</span>

	<span 
		preload
		hx-get="/{{.Token}}/new" 
		hx-target="body" 
		hx-swap="beforeend" 
		hx-push-url="false" 
		class="button">+ Add Stream</span>
</div>

<div class="space-after">
	{{ range .Children "" }}
		<div>.Label</div>
	{{ end }}
</div>