THIS IS THE DEFAULT PAGE
<h3 >{{.Label}}</h3>

{{ template "tabs" . }}

<article>
	<div>{{.Description}}</div>
</article>
<br>
<div>
	<span 
		hx-get="/{{.Token}}?transition=update" 
		hx-trigger="mousedown[!button]"
		hx-target="body" 
		hx-swap="beforeend" 
		hx-push-url="false" class="uk-button uk-button-primary">Update Stream</span>
</div>


<h3>New Stream</h3>
{{ range .SubTemplates}}
	<div hx-get="/new?parent={{$.Token}}&amp;template={{.TemplateID}}" class="link">
		<div class="uk-text-bold">{{.Label}}</div>
		<div class="uk-text-meta">{{.Description}}</div>
	</div>
{{ end}}