<link rel="stylesheet" href="/static/editor/editor.css" />
<link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.bubble.css">
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script type="text/hyperscript" src="/static/editor/editor.hs"></script>

<div>

	<div class="space-after">
		<span 
			hx-get="/{{.Token}}" 
			class="button">Save Draft</span>

			<span 
				script="install AsModal"
				hx-post="/{{.Token}}/delete-draft" 
				hx-confirm="Are you sure you want to DELETE this draft?"
				class="button">Cancel</span>

		<button hx-post="/{{.Token}}/publish-draft" class="button primary">Publish</button>
		&nbsp;
		&nbsp;

		{{- if .UserCan "properties" -}}
			<span script="install AsModal()" hx-get="/{{.Token}}/properties" class="button">Info</span>
		{{- end -}}

		{{- if .UserCan "delete" -}}
			<span hx-confirm="Are you sure you want to DELETE this Article?" hx-post="/{{.Token}}/delete" class="button">Delete</span>
		{{- end -}}

		{{- if .UserCan "share" -}}
			<span 
				preload
				hx-get="/{{.Token}}/transition/share" 
				hx-target="body" 
				hx-swap="beforeend" 
				hx-push-url="false" 
				class="button">Share</span>
		{{- end -}}

		<span id="toaster"></span>

	</div>

	<h1 class="space-after">{{.Label}}</h1>

	<article class="space-after">
		<div>{{.Description}}</div>
	</article>

	<article class="content-editor">
		<div>{{.ContentEditor}}</div>
	</article>

</div>
