<link rel="stylesheet" href="/static/editor/editor.css">
<!--link rel="stylesheet" href="/static/editor/bubble2.css"-->
<!--script src="//cdn.quilljs.com/1.3.6/quill.js"></script-->
<script type="text/hyperscript" src="/static/editor/hotkey.hs"></script>
<script type="text/hyperscript" src="/static/editor/wysiwyg.hs"></script>
<!--link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.bubble.css"-->
<!--script src="/static/editor/editor.js"></script-->

<div class="page">

	<div hx-get="/{{.Token}}/heading" hx-trigger="refreshPage">
		{{.View "heading"}}
	</div>

	<div id="menu-bar">
		<div class="left">
			<button hx-get="/{{.Token}}/promote-draft" class="button primary">Promote</button>
			<button hx-get="/{{.Token}}">Save Draft</button>
			<button hx-get="/{{.Token}}/discard-draft">Discard Draft</button>
		</div>

		<div class="right">
			{{- if .UserCan "sharing" -}}
				<a hx-get="/{{.Token}}/sharing">Sharing</a>
			{{- end -}}

			{{- if .UserCan "properties" -}}
				<a hx-get="/{{.Token}}/properties">Info</a>
			{{- end -}}

			{{- if .UserCan "delete" -}}
				<a hx-get="/{{.Token}}/delete">Delete</a>
			{{- end -}}
		</div>

	</div>

	<article class="content-editor">
		<div>{{.ContentEditor}}</div>
	</article>

</div>