<link rel="stylesheet" href="/static/editor/editor.css" />
<script type="text/hyperscript" src="/static/editor/editor.hs"></script>
<script type="text/hyperscript" src="/static/viewer/modal.hs"></script>

<div>

	<div class="space-after">
		<span 
			preload
			hx-get="/{{.Token}}" 
			class="button">&laquo; Back</span>

		<button hx-post="/{{.Token}}/draft/publish" class="button primary">Publish</button>

		{{ if .CanTransition "update"}}
			<span 
				preload
				hx-get="/{{.Token}}/transition/update" 
				hx-target="body" 
				hx-swap="beforeend" 
				hx-push-url="false" 
				class="button">Info</span>
		{{ end }}

		{{ if .CanTransition "share"}}
			<span 
				preload
				hx-get="/{{.Token}}/transition/share" 
				hx-target="body" 
				hx-swap="beforeend" 
				hx-push-url="false" 
				class="button">Share</span>
		{{ end }}

		<span id="toaster"></span>

	</div>

	<h1 class="space-after">{{.Label}}</h1>

	<article class="space-after">
		<div>{{.Description}}</div>
	</article>

	<article class="space-after">
		<div>{{.ContentEditor}}</div>
	</article>

    {{ if .CanAddChild }}
        <div class="space-after">
            <span 
                preload
                hx-get="/{{.Token}}/new" 
                hx-target="body" 
                hx-swap="beforeend" 
                hx-push-url="false" 
                class="button">+ Add Stream</span>
        </div>
	{{ end }}
  	<div class="space-after">

		{{ range .Children "list-item" }}
			{{.Render}}
		{{ end }}
	</div>

</div>

<script src="/static/ckeditor5/build/ckeditor.js"></script>
