<div hx-ext="sse" sse-connect="/{{.StreamID}}/sse">
<div class="page" hx-get="/{{.Token}}" hx-trigger="sse:{{.StreamID}}, refreshPage from:body">

	<h1 class="space-after">{{.Label}}</h1>

	<div class="space-after">
		<div>{{.Description}}</div>
	</div>

	{{- if .UserCan "edit" -}}
		<div id="menu-bar">
			<a href="/{{.Token}}/edit">Edit</a>
		</div>

		{{- if .UserCan "sharing" -}}
			<a hx-get="/{{.Token}}/sharing">Sharing</a>
		{{- end -}}

		{{- if .UserCan "publish" -}}
			<a hx-post="/{{.Token}}/publish" class="button primary">Publish</a>
		{{- end -}}

		{{- if .UserCan "unpublish" -}}
			<a hx-post="/{{.Token}}/unpublish" class="button primary">Un-publish</a>
		{{- end -}}

	{{- end -}}

	<article class="space-after">
		<div>{{.Content}}</div>
	</article>

</div>
</div>