<script type="text/hyperscript" src="/static/viewer/viewer.hs"></script>
<script type="text/hyperscript" src="/static/viewer/modal.hs"></script>

<div hx-get="{{.Token}}" hx-trigger="stream:update" hx-swap="settle:1s" stream="{{.StreamID}}">

	{{ if .UserCan "edit"}}
		<a href="/{{.Token}}/draft" class="button primary" preload style="float:right;">Edit</a>
	{{ end }}

	{{ if .HasParent }}
		{{ $parent := .Parent "view"}}
		<div>
			<a href="/{{$parent.Token}}" hx-get="/{{$parent.Token}}" preload>&laquo; {{$parent.Label}}.</a>
		</div>
	{{ end }}

	<h1 class="space-after">{{.Label}}</h1>

	<article class="space-after">
		<div>{{.Description}}</div>
	</article>

	<article class="space-after">
		<div>{{.Content}}</div>
	</article>

	<div class="space-after">
		{{ range .Children "view" }}
			<a href="/{{.Token}}">{{.Label}}</a><br>
		{{ end }}
	</div>

</div>