<article id="content-editor" data-content="{{.ContentRaw}}" style="max-width:752px"></article>	

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/attaches@latest"></script>

<script>
	
	var editor = new EditorJS({
		holder: "content-editor",
		data: JSON.parse(document.getElementById("content-editor").getAttribute("data-content")),
		tools: {
			paragraph: {
				class: Paragraph,
				inlineToolbar: true,
			},
			header: {
				class: Header,
				inlineToolbar: ['link'],
				config: {
					placeholder: 'Header',
					levels: [1, 2, 3],
					defaultLevel: 2,
				},
			},
			list: {
				class: List,
				inlineToolbar: true,
				config: {
					placeholder: 'List',
				},
			},
			linkTool: {
				class: LinkTool,
				config: {
				// endpoint: 'http://localhost:8008/fetchUrl', // Your backend endpoint for url data fetching,
				}
			},
			embed: {
				class: Embed,
				config: {
				}
			},
			image: {
				class: ImageTool,
				config: {
					endpoints: {
						byFile: '/{{.StreamID}}/upload-image', // Your backend file uploader endpoint
						byUrl: '/{{.StreamID}}/upload-image', // Your endpoint that provides uploading by Url
					}
				}
			},
			attaches: {
				class: AttachesTool,
				config: {
					endpoint: 'http://localhost:8008/uploadFile'
				}
			}
		},
	})

	async function saveDraft(promote) {
		// Get the content from the editor
		content = await editor.save()

		// POST the content to the server
		await fetch("{{.URL}}", {
			method: "POST",
			body: JSON.stringify(content),
		})

		// Maybe Promote the draft
		if (promote) {
			await fetch("/{{.StreamID}}/promote-draft", {
				method: "POST"
			})
		}

		// Redirect to the top of the page.
		window.location = "/{{.StreamID}}"
	}
</script>