<form hx-post="/{{.StreamID}}/widgets" hx-trigger="editor:save" hx-target="#main" hx-swap="innerHTML">

	<div class="widget-editor-title">Edit Widgets</div>
	<div class="widget-editor" script="install widgetEditor(url:'/{{.StreamID}}/widgets')">

		<div class="widget-editor-NONE">
			<div class="widget-label">Available</div>
			<div class="widget-editor-sortable" data-location="NONE">
				{{- range .ListAllWidgets -}}
					<div class="widget" data-widgetId="{{.Value}}">
						<span class="widget-handle">{{icon "drag-handle"}}</span> 
						{{.Label}}
					</div>
				{{- end -}}
			</div>
		</div>

		<div class="widget-editor-layout">

			<div class="widget-editor-LEFT">
				<div class="widget-label">Left</div>
				<div class="widget-editor-sortable" data-location="LEFT">
					<input type="hidden" name="LEFT" value="">
					{{- range .ListWidgetsByLocation "LEFT" -}}
						<div class="widget" data-widgetId="{{.WidgetID}}">
							<span class="widget-handle">{{icon "drag-handle"}}</span> 
							{{.Label}}
							<button hx-get="/{{.StreamID}}/widget?widgetId={{.WidgetID}}">Edit</button>
						</div>
					{{- end -}}
				</div>
			</div>

			<div class="widget-editor-CENTER">
				<div class="widget-editor-TOP">
					<div class="widget-label">Top</div>
					<div class="widget-editor-sortable" data-location="TOP">
						<input type="hidden" name="TOP" value="">
						{{- range .ListWidgetsByLocation "TOP" -}}
							<div class="widget" data-widgetId="{{.WidgetID}}">
								<span class="widget-handle">{{icon "drag-handle"}}</span> 
								{{.Label}}
								<button hx-get="/{{.StreamID}}/widget?widgetId={{.WidgetID}}">Edit</button>
							</div>
						{{- end -}}
					</div>
				</div>
				
				<div class="widget-editor-MAIN">
					<div class="widget-label">Main Page Contents</div>
				</div>

				<div class="widget-editor-BOTTOM">
					<div class="widget-label">Bottom</div>
					<div class="widget-editor-sortable" data-location="BOTTOM">
						<input type="hidden" name="BOTTOM" value="">
						{{- range .ListWidgetsByLocation "BOTTOM" -}}
							<div class="widget" data-widgetId="{{.WidgetID}}">
								<span class="widget-handle">{{icon "drag-handle"}}</span> 
								{{.Label}}
								<button hx-get="/{{.StreamID}}/widget?widgetId={{.WidgetID}}">Edit</button>
							</div>
						{{- end -}}
					</div>
				</div>
			</div>

			<div class="widget-editor-RIGHT">
				<div class="widget-label">Right</div>
				<div class="widget-editor-sortable" data-location="RIGHT">
					<input type="hidden" name="RIGHT" value="">
					{{- range .ListWidgetsByLocation "RIGHT" -}}
						<div class="widget" data-widgetId="{{.WidgetID}}">
							<span class="widget-handle">{{icon "drag-handle"}}</span> 
							{{.Label}}
							<button hx-get="/{{.StreamID}}/widget?widgetId={{.WidgetID}}">Edit</button>
						</div>
					{{- end -}}
				</div>
			</div>
		</div>
	</div>

</form>