<div id="idCheckout">
	{{- if .UserCan "checkout" -}}

		<button class="primary htmx-request-hide" hx-post="/{{.StreamID}}/checkout" hx-push-url="false" script="on click add .htmx-request to #idCheckout">{{.Data "buttonLabel"}} ({{.Data "decimalAmount"}})</button>
		<button class="primary htmx-request-show" disabled="true"><i class="fa-solid fa-spinner fa-spin-pulse"></i>&nbsp;{{.Data "buttonLabel"}} ({{.Data "decimalAmount"}})</button>

		{{- if .UserCan "edit" -}}
			&nbsp; <a hx-get="/{{.StreamID}}/edit"><i class="fa-solid fa-gear gray40" title="Edit Checkout Settings [ADMIN ONLY]"></i></a>
		{{- end -}}

	{{- else -}}

		{{- if eq "sold-out" .StateID -}}
			<button type="button" class="primary" disabled="true">{{.Data "buttonLabel"}} ({{.Data "decimalAmount"}})</button>
			<span class="red">SOLD OUT</span>

			{{- if .UserCan "edit" -}}
				&nbsp; <a hx-get="/{{.StreamID}}/edit"><i class="fa-solid fa-gear gray40" title="Edit Checkout Settings [ADMIN ONLY]"></i></a>
			{{- end -}}
		{{- else -}}
			{{- if .UserCan "edit" -}}
				<div class="space-below">
					<button hx-get="/{{.StreamID}}/edit"><i class="fa-solid fa-gear"></i>&nbsp;Activate Checkout</button>
				</div>
			{{- end -}}
		{{- end -}}

	{{- end -}}
</div>