<div hx-ext="sse" sse-connect="/{{.StreamID}}/sse">
<div hx-get="/{{.Token}}" hx-trigger="sse:message, refreshPage from:body">

	<div class="page">
		{{ if .UserCan "edit" }}
			<div id="menu-bar">
				<div class="left">
				<a href="/{{.Token}}/edit">Upload Photos</a>

				{{- if .UserCan "properties" -}}
					<a hx-get="/{{.Token}}/properties">Edit Info</a>
				{{- end -}}

				{{- if .UserCan "sharing" -}}
					<a hx-get="/{{.Token}}/sharing">Sharing</a>
				{{- end -}}
				</div>

				<div class="right">
				{{- if .UserCan "delete" -}}
					<a hx-get="/{{.Token}}/delete" class="text-red">Delete</a>
				{{- end -}}
				</div>
			</div>
		{{ end }}

		<h1>{{.Label}}</h1>

		{{- if ne .Description "" -}}
			<article class="space-after">
				{{.Description}}
			</article>
		{{- end -}}

		<div id="children" class="pure-g card-group">
			{{- .View "children" -}}
		</div>

	</div>
	
</div>
</div>