<div id="modal">
	<div class="modal-underlay"></div>
	<div class="modal-content">
        <h1>Add a Section</h1>

        <form hx-post="/{{.Token}}/draft" hx-trigger="click">
            <input type="hidden" name="type" value="new-item">
            <input type="hidden" name="parentId" value="{{.QueryParam `parentId`}}">
            <input type="hidden" name="childIndex" value="{{.QueryParam `childIndex`}}">
            <input type="hidden" name="itemType" value="WYSIWYG">
            <input type="hidden" name="check" value="{{.QueryParam `check`}}">
            WYSIWYG
        </form>

        <button _="on click trigger closeModal">Cancel</button>
    </div>
</div>
