<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
        <div class="list">
        {{ for _, template := range .ChildTemplates}}
            <div
                hx-get="/{{.Token}}/new/{{.TemplateId}}" 
                hx-target="#modal"
                class="list-item">
                {{ template }}
            </div>
        {{ end }}
        </div>

        <div class="space-before">
			<span class="button"_="on click trigger closeModal">Cancel</span>
        </div>
	</div>
</div>
