<!DOCTYPE html>
<html>
<head>
	<title>GH0ST</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/static/pure-min.css">
	<link rel="stylesheet" href="/static/pure-grids-responsive-min.css">
	<link rel="stylesheet" href="/static/colors.css">

	<link rel="stylesheet" href="/static/accessibility.css">
	<link rel="stylesheet" href="/static/animations.css">
	<link rel="stylesheet" href="/static/cards.css">
	<link rel="stylesheet" href="/static/content.css">
	<link rel="stylesheet" href="/static/forms.css">	
	<link rel="stylesheet" href="/static/layout.css">
	<link rel="stylesheet" href="/static/modal.css">
	<link rel="stylesheet" href="/static/responsive.css">	
	<link rel="stylesheet" href="/static/tables.css">	
	<link rel="stylesheet" href="/static/typography.css">	

	<link rel="stylesheet" href="/static/fontawesome-free-6.0.0/css/all.css">

	<script type="text/hyperscript" src="/static/viewer/viewer.hs"></script>
	<script type="text/hyperscript" src="/static/viewer/modal.hs"></script>

</head>

<body hx-target="#page" hx-swap="innerHTML" hx-push-url="true" hx-ext="preload">

	<main>
		<div id="page" class="framed">
			{{- .Render -}}
		</div>
	</main>

	<header>
		<div class="framed">
			<div>
				{{- $topID := .TopLevelID -}}
				{{- range .TopLevel -}}
					<a href="/{{.Token}}" class="{{- if eq $topID .StreamID -}}selected{{- end -}}">{{.Label}}</a>
				{{- end -}}
			</div>
			<div>
				{{- if .IsAuthenticated -}}
					<a href="/profile">Profile</a>
					<a href="/settings">Settings</a>
					<a hx-post="/signout" hx-target="body">Sign Out</a>
				{{- else -}}
					<a href="/signin">Sign In</a>
				{{- end -}}
			</div>
		</div>

	</header>

	<script type="text/javascript" src="/htmx/htmx.js"></script>
	<script type="text/javascript" src="/htmx/ext/sse.js"></script>
	<script type="text/javascript" src="/static/preload.js"></script>
	<script type="text/javascript" src="/hyperscript/_hyperscript_web.min.js"></script>
	
</body>
</html>
