<!DOCTYPE html>
<html>
<head>
	<title>GH0ST</title>
	<link rel="stylesheet" href="/static/reset.css">
	<link rel="stylesheet" href="/static/layout.css">
	<link rel="stylesheet" href="/static/colors.css">
	<link rel="stylesheet" href="/static/tables.css">	
	<link rel="stylesheet" href="/static/forms.css">	
	<link rel="stylesheet" href="/static/modal.css">
	<link rel="stylesheet" href="/static/animations.css">
	<link rel="stylesheet" href="/static/accessibility.css">
	<link rel="stylesheet" href="/static/utilities.css">
</head>

<body hx-ext="preload">
	<div id="main" hx-target="#main" hx-swap="innerHTML" hx-push-url="true">
		{{.Render}}
	</div>

	<div id="menu" hx-target="#main" hx-push-url="true">

		<a href="/home" hx-get="/home" class="space-before space-after">Home</a>

		<div class="space-before space-after"></div>
		
		<a preload
			hx-get="/top/new/folder" 
			hx-target="body" 
			hx-swap="beforeend" 
			hx-push-url="false" 
			class="link">+ Add Folder</a>

		{{ range .TopLevel "" }}
			<a preload hx-get="/{{.Token}}">{{.Label}}</a>
		{{ end }}
	</div>

</body>

<script src="https://cdn.jsdelivr.net/gh/bigskysoftware/htmx@dev/src/htmx.js"></script>
<script src="/hyperscript/core.js"></script>
<script src="/hyperscript/web.js"></script>
<script src="/hyperscript/eventsource.js"></script>

<script>
	function query(value) {
		return document.querySelectorAll(value)
	}
</script>

<script type="text/hyperscript">
	eventsource StreamServer from /{{.Token}}/sse
		on message
			for el in query("#" + it)
				log el
				send stream:update to it
			end
		end
	end

	on htmx:pushedIntoHistory or htmx:historyRestore
		call StreamServer.open(window.location.pathname + "/sse")
	end

	on closeModal(event)
		add .closing to #modal
		set window.location to event.detail.nextPage unless no event.detail.nextPage
		settle
		remove #modal
	end
</script>
</html>