<!DOCTYPE html>
<html>
<head>
	<title>GH0ST</title>

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/static/reset.css">
	<link rel="stylesheet" href="/static/layout.css">
	<link rel="stylesheet" href="/static/colors.css">
	<link rel="stylesheet" href="/static/content.css">
	<link rel="stylesheet" href="/static/tables.css">	
	<link rel="stylesheet" href="/static/forms.css">	
	<link rel="stylesheet" href="/static/modal.css">
	<link rel="stylesheet" href="/static/animations.css">
	<link rel="stylesheet" href="/static/accessibility.css">
	<link rel="stylesheet" href="/static/utilities.css">

	<script type="text/hyperscript" src="/static/viewer/viewer.hs"></script>
	<script type="text/hyperscript" src="/static/viewer/modal.hs"></script>

	<!--
	<script src="https://unpkg.com/hyperscript.org"></script>
	<script src="https://unpkg.com/htmx.org"></script>
	-->

</head>

<body hx-ext="preload">

	<div id="main" hx-target="#main" hx-swap="innerHTML" hx-push-url="true">
		{{.Render}}
	</div>

	<div id="menu" hx-target="#main" hx-push-url="true">

		<a href="/home" hx-get="/home" class="space-before">Home</a>

		{{ range .TopFolders "view" }}
			<a preload hx-get="/{{.Token}}" {{ if true }} class="selected" {{ end }}>{{.Label}}</a>
		{{ end }}

		{{ if .UserCan "manage-folders"}}
		<a script="install modal('/admin/folders')" class="link">
			Manage Folders</a>
		{{ end }}

		{{ if .IsAuthenticated }}
			<a href="/profile" class="space-before">My Profile</a>
			<a hx-post="/signout" hx-target="body">Sign Out</a>
		{{ else }}
			<a href="/signin" class="space-before">Sign In</a>
		{{ end }}
		
	</div>

	<script src="/htmx/htmx.js"></script>
	<script src="/hyperscript/_hyperscript.js"></script>

</body>
</html>