<div class="page h-entry" script="init send SelectNav(id:'{{.NavigationID}}')">

	<link rel="stylesheet" href="/.templates/article-base/stylesheet"/>

	<!-- Custom stylesheet (if defined) -->
	{{- $stylesheet := .Data "stylesheet" | string -}}
	{{- if ne "" $stylesheet -}}
		<style>{{ $stylesheet | css }}</style>
	{{- end -}}

	<article class="content margin-bottom">
		{{- .Widgets "LEFT" -}}
		<div class="content-main">
			<div class="layout-{{.Data `width`}}">
				{{- .Widgets "TOP" -}}
				<div class="e-content">{{- .ContentHTML -}}</div>
				{{- .Widgets "BOTTOM" -}}
			</div>
		</div>
		{{- .Widgets "RIGHT" -}}
	</article>

	{{- if .UserCan "edit" -}}
		<div style="position:absolute; top:4px; right:8px;">
			<a class="text-xs button" href="/{{.StreamID}}/edit">Edit &rarr;</a>
		</div>
	{{- end -}}

	<div 
		hx-get="/{{.StreamID}}" 
		hx-trigger="refreshPage from:window"
		hx-target="main"
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>
	
</div>