<div class="page">

	{{- $breadcrumbs := .Breadcrumbs -}}
	<script type="text/hyperscript">
		def saveDraft(promote)
			if promote then
				fetch /{{.StreamID}}/promote-draft with method:"POST"
			end
	
			set window.location to "/{{.StreamID}}"
		end
	</script>

	<div id="menu-bar" class="margin-bottom">
		{{- range $index, $stream := $breadcrumbs -}}
			<a href="/{{$stream.ID}}/edit" class="text-gray margin-none padding-horizontal-xs">{{$stream.Name}} &rarr;</a>
		{{- end -}}
		<button script="on click saveDraft(false)" class="bold margin-none padding-horizontal-xs">{{.Name}}</button>
	</div>

	<div id="menu-bar">

		<div class="left">
			{{- if .UserCan "edit" -}}
				<a href="/{{.StreamID}}/edit">Edit</a>
			{{- end -}}

			{{- if .UserCan "widgets" -}}
				<a href="/{{.StreamID}}/widgets" class="bold">Widgets</a>
			{{- end -}}

			{{- if .UserCan "children" -}}
				<a href="/{{.StreamID}}/children">Children</a>
			{{- end -}}

			{{- if .UserCan "properties" -}}
				<a hx-get="/{{.StreamID}}/properties">Info</a>
			{{- end -}}

			{{- if .UserCan "sharing" -}}
				<a hx-get="/{{.StreamID}}/sharing">Sharing</a>
			{{- end -}}

		</div>

		<div class="right">
			<button script="on click saveDraft(true)" class="button primary">Promote</button>
			<button hx-get="/{{.StreamID}}/discard-draft">Discard Draft</button>

			{{- if .UserCan "delete" -}}
				<a hx-get="/{{.StreamID}}/delete" class="text-red">Delete</a>
			{{- end -}}
		</div>

	</div>

	{{- template "widgets-list" . -}}

</div>
