/* FROM https://www.ibm.com/design/language/color/ */

:root {
	--white: #ffffff;
	--gray05: #fafafa;
	--gray10: #f4f4f4;
	--gray15: #eaeaea;
	--gray20: #e0e0e0;
	--gray30: #c6c6c6;
	--gray40: #a8a8a8;
	--gray50: #8d8d8d;
	--gray60: #6f6f6f;
	--gray70: #525252;
	--gray80: #393939;
	--gray90: #262626;
	--black: #000000;

	--blue10: #edf5ff;
	--blue20: #d0e2ff;
	--blue30: #a6c8ff;
	--blue40: #78a9ff;
	--blue50: #4589ff;
	--blue60: #0f62fe;
	--blue70: #0043ce;
	--blue80: #002d9c;
	--blue90: #001d6c;
	--blue100: #001141;

	--red10: #fff1f1;
	--red20: #ffd7d9;
	--red30: #ffb3b8;
	--red40: #ff8389;
	--red50: #fa4d56;
	--red60: #da1e28;
	--red70: #a2191f;
	--red80: #750e13;
	--red90: #520408;
	--red100: #2d0709;

	--input-border: var(--gray30);
	--input-background: var(--gray05);
	--input-color: var(--gray80);

	--input-border-invalid: var(--red40);
	--input-background-invalid: var(--red20);
	--input-color-invalid: var(--red50);

	--border-radius: 7px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--black: #ffffff;
		--gray90: #f4f4f4;
		--gray80: #e0e0e0;
		--gray70: #c6c6c6;
		--gray60: #a8a8a8;
		--gray50: #8d8d8d;
		--gray40: #6f6f6f;
		--gray30: #525252;
		--gray20: #393939;
		--gray15: #333333;
		--gray10: #262626;
		--gray05: #131313;
		--white: #000000;

		--input-border-invalid: var(--red60);
		--input-background-invalid: var(--red80);
		--input-color-invalid: var(--red50);
		}
}

.white {color:var(--white);}
.gray05 {color:var(--gray05);}
.gray10 {color:var(--gray10);}
.gray20 {color:var(--gray20);}
.gray30 {color:var(--gray30);}
.gray40 {color:var(--gray40);}
.gray50 {color:var(--gray50);}
.gray60 {color:var(--gray60);}
.gray70 {color:var(--gray70);}
.gray80 {color:var(--gray80);}
.gray90 {color:var(--gray90);}
.black {color:var(--black);}
