/***************************
 * INPUT ELEMENTS
 ***************************/

input:not([type=submit], [type=checkbox], [type=radio]), textarea, select {
    border: solid 1px var(--input-border);
    background-color: var(--input-background);
    color: var(--input-color);
    padding: 10px 10px;
    line-height:100%;
    width:100%;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:13pt;
    border-radius:3px;
}

select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 99% 50%;
    background-color: var(--input-background);
    -moz-appearance:none;
    -webkit-appearance: none;
    appearance: none;
}

input:invalid,
input.invalid {
    border: solid 1px var(--input-border-invalid);
    background-color: var(--input-background-invalid);
}

input:invalid:focus,
input.invalid:focus {
    outline-color: var(--red70) ;
}

input:last-child {
    margin-right:auto;
}

input[type=checkbox],
input[type=radio] {
    margin-right:5px;
}

/** TOGGLE CONTROLS ********/

.toggle-container {
    cursor:pointer;
    user-select:none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.toggle-container label {
    cursor:pointer;
    padding-left:0.5em;
}

.toggle {
    display:inline-block;
    vertical-align: middle;
    box-sizing: content-box;
    position:relative;
    border-radius: 1em;
    width:3em;
    height:1.5em;
    border-style:solid;
    border-width: 2px;
    background-color: #e0e0e0;
    border-color: #c6c6c6;
}

.toggle-container[value=true] .toggle {
    -background-color: #19a21f;
    -border-color: #19a21f;
    background-color: var(--blue50);
    border-color: var(--blue50);
}

@media (prefers-color-scheme: dark) {
    .toggle-container[value=true] .toggle {
        background-color: var(--blue70);
        border-color: var(--blue70);
    }
}

.toggle-container .marker {
    display:inline-block;
    border-radius:1em;
    background-color:white;
    height: 1.5em;
    width: 1.5em;
    transition:transform 0.1s ease-in-out;
}

.toggle .marker {
    box-shadow:3px 0px 3px 0px rgba(0,0,0,0.15);
}

.toggle-container[value=true] .marker {
    box-shadow:-3px 0px 3px 0px rgba(0,0,0,0.15);
    transform:translateX(100%);
}

/** MULTI-SELECT ********/

.multiselect {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.multiselect > .options {
	display:block;
	flex-grow:1;
	border: solid 1px var(--input-border);
	background-color: var(--input-background);
	height:auto;
	margin-right:10px;
	overflow-y:scroll;
	overflow-x:hidden;
}

.multiselect > .options > label {
	display:block;
	padding:5px;
	cursor: pointer;
	border-top: solid 1px rgba(0,0,0,0);
	border-bottom: solid 1px var(--gray20);
	transition:background-color 100ms;
}

.multiselect > .options > label.selected,
.multiselect > .options > label:focus {
	background-color: Highlight;
	color: HighlightText;
	border-top: solid 1px var(--blue40);
	border-bottom: solid 1px var(--blue40);
	outline: 0;
}

.multiselect > .options > label > input {
	vertical-align: middle;
	display:inline-block;
	margin-right:0.5em;
	height:1em;
	width:1em;
}

.multiselect > .options > label > div {
	display:inline-block;
	vertical-align:top;
}

.multiselect > .buttons {
	flex-basis:0;
}

.multiselect > .buttons > button {
	display:block;
	margin-bottom:5px;
	padding:5px 10px;
}


/* Alternate colors for dark mode */
@media (prefers-color-scheme: dark) {

    input:not([type=checkbox], [type=radio]), textarea {
        border-color:var(--gray30);
        background-color:var(--gray10);
		color:var(--gray90);
	}
}


/***************************
 * SUBMIT BUTTONS
 ***************************/

button,
.button {
    font-size:12pt;
    font-weight:400;
    line-height:100%;
    margin-right:5px;
    box-sizing:border-box;
    width:auto;
    display:inline-block;
    cursor:pointer;
    padding:10px 20px;
    background-color: var(--gray10);
    border-radius: 5px;
    border:none;
    color: var(--gray90);
    user-select:none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.text-sm button,
.text-sm .button,
button.text-sm,
.button.text-sm {
    font-size:10pt;
    padding:8px 16px;
}

.text-xs button,
.text-xs .button,
button.text-xs,
.button.text-xs {
    font-size:8pt;
    padding:6px 12px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    color:var(--black);
    background-color: var(--gray30);
}

button.primary,
.button.primary {
    background-image: linear-gradient(var(--button-primary-background))!important;
    color: var(--button-primary-color)!important;
}

button.primary:hover,
button.primary:focus,
.button.primary:hover,
.button.primary:focus {
    background-image: linear-gradient(var(--button-primary-background-hover))!important;
    color: var(--button-primary-color-hover)!important;
}

button.warning,
.button.warning {
    background:linear-gradient(var(--red60), var(--red70));
    color: white;
}

button.warning:hover,
button.warning:focus,
.button.warning:hover,
.button.warning:focus {
    background:linear-gradient(var(--red50), var(--red60));
    color: white;
}

input[disabled],
button[disabled],
.button[disabled],
input[disabled]:hover,
button[disabled]:hover,
.button[disabled]:hover {
    background:var(--gray10)!important;
    color: var(--gray50)!important;
    cursor: not-allowed;
}

.button.barberpole,
.button.primary.barberpole,
button.barberpole,
button.primary.barberpole, 
button[disabled].barberpole
{
    background-image: repeating-linear-gradient(
        -45deg, 
        var(--blue60), 
        var(--blue60) 1rem,
        var(--blue70) 1rem,
        var(--blue70) 2rem
    )!important;
  background-size: 200% 200%;
  animation: barberpole 3s linear infinite;
}

/***************************
 * FORM LAYOUTS
 ***************************/

.layout-vertical {
    display:block;
}

.layout-vertical > .layout-vertical-label {
    font-size:24px;
    font-weight:500;
    margin-bottom:20px;
}

.layout-vertical > .layout-vertical-elements > .layout-vertical-element {
    margin-bottom:24px;
}

.layout-vertical > .layout-vertical-elements > .layout-vertical-element > label {
    margin-bottom:8px;
    display:block;
}

.layout-vertical > .layout-vertical-elements > .layout-vertical-element > input {
    display:block;
}

.layout-vertical > .layout-vertical-element > input[type=checkbox] {
    display:inline-block;
    vertical-align: middle;
}


/***************************
 * FORM LAYOUTS
 ***************************/

.height100 {height:100px;}
.height200 {height:200px;}
.height300 {height:300px;}
.height400 {height:400px;}
.height500 {height:500px;}


.htmx-request .htmx-request-hide,
.htmx-request-show {
    opacity:0;
    position:absolute;
    z-index:-1;
}

.htmx-request .htmx-request-show {
    opacity:1;
    position:initial;
}
