.show {
	display:inherit;
}

.hide {
	display:none;
}

.framed {
	position: relative;
}

@media screen and (max-width:35.5em) {

	.framed {
		width:100%;
		margin:0px;		
		padding:10px 0px;
	}

	.page {
		border-right: none;
		border-left: none;
		padding: 10px;
	}

	.show-xs {
		display:inherit;
	}

	.hide-xs {
		display:none;
	}

}

@media screen and (min-width:35.5em) {

	.framed {
		width:100%;
	}

	.show-sm {
		display:inherit;
	}

	.hide-sm {
		display:none;
	}
}

@media screen and (min-width:48em) {

	.framed {
		width:44em;
	}

	.show-md {
		display:inherit;
	}

	.hide-md {
		display:none;
	}
}

@media screen and (min-width:64em) {

	.framed {
		width:60em;
	}

	.show-lg {
		display:inherit;
	}

	.hide-lg {
		display:none;
	}
}

@media screen and (min-width:80em) {

	.framed {
		width:76em;
	}

	.show-xl {
		display:inherit;
	}

	.hide-xl {
		display:none;
	}
}