table.table {
    width:100%;
    border-bottom: solid 1px var(--gray20);
    border-spacing: 0px;
    margin-bottom:30px;
}

table.table th {
    font-weight:600;
    text-align:left;
}

table.table th,
table.table td {
    padding: 10px 20px;
    vertical-align: top;
}

table.table td {
    border-top: solid 1px var(--gray20);
    font-weight:300;
}

table.table tr[role="link"]:hover td {
    background-color:var(--gray10);
    cursor:pointer;
}

div.table {
    border-bottom: solid 1px var(--gray20);
    margin-bottom: 30px;
}

div.table > div {
    padding: 10px 20px;
    vertical-align: top;
    border-top: solid 1px var(--gray20);
    font-weight:300;
}

div.table > [role=link]:hover {
    background-color:var(--gray10);
    cursor:pointer;
}
