/****************************
 * CARD WIDGET CLASSES
 ****************************/

.card-group {
	margin-right: -1px;
}

.card-group .card {
	margin-right: 1px;
	margin-bottom:1px;
}

.card {
	border: solid 1px var(--gray20);
	background-color: var(--gray00);
	position:relative;
	text-overflow: ellipsis;
}

.card .text {
	padding-top:var(--rhythm);
	padding-bottom:var(--rhythm);
}


@media screen and (max-width:35.5em) {

	.card {
		border:none;
		margin-bottom: 40px!important;
	}
}

@media screen and (min-width:35.5em) {

	.card-group {
		margin-right: -5px;
	}

	.card {
		border:none;
		margin:0px 5px 5px 0px;
	}

	.card.padded {
		padding:5px;
	}
}

@media screen and (min-width:48em) {

	.card-group {
		margin-right: -10px;
	}

	.card-group .card {
		margin: 0px 10px 10px 0px;
	}

	.card.padded {
		padding:10px;
	}
}

@media screen and (min-width:64em) {

	.card-group {
		margin-right: -20px;
	}

	.card-group .card {
		margin: 0px 20px 20px 0px;
	}

	.card.padded {
		padding:50px;
	}
}

@media screen and (min-width:80em) {

	.card-group {
		margin-right: -30px;
	}

	.card-group .card {
		margin: 0px 30px 30px 0px;
	}

	.card.padded {
		padding:20px;
	}
}

/****************************
 * PICTURE/PHOTO FORMATTING
 ****************************/

 picture {
	display: block;
	width:100%;
	background-color: var(--gray20);
	margin:0px;
	padding:0px;
	border:0px;
}

picture img {
	display:block;
	margin:0px;
	padding:0px;
	border:0px;
	width:100%;
}

@media screen and (max-width:568px) {

	picture {
		margin-left: -10px;
		margin-right: -10px;
		margin-bottom: 20px;
	}

}

.aspect-2-3 {
	aspect-ratio:2/3;
	overflow-y:hidden;
}

.aspect-4-3 {
	aspect-ratio:4/3;
	overflow-y:hidden;
}

.aspect-1-1 {
	aspect-ratio:1;
	overflow-y:hidden;
}

.aspect-16-9 {
	aspect-ratio:16/9;
	overflow-y:hidden;
}

/****************************************** 
 * SLIDER CONTROLS
 ******************************************/

.slideshow {
	display:flex;
	flex-direction:row;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
	width:100%;
	aspect-ratio:1.3;
}

.slideshow::-webkit-scrollbar {
	display:none;
}

.slideshow::-webkit-scrollbar-track {
	background: transparent;
}

.slideshow > div {
	scroll-snap-align:center;
	height:100%;
	width:90%;
	max-width:90%;
	flex:none;
	overflow-y:hidden;
	overflow-x:hidden;
	background-color:var(--gray10);
	text-align:center;
	margin-right:5px;
}

.slideshow > div > img {
	object-fit:scale-down;
}
