name: Nilaway
permissions:
  contents: read

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

env:
  GOFLAGS: "-buildvcs=false"

jobs:

  nilaway:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
   
    - name: Nil panic checks
      uses: qbaware/nilaway-action@v0
      with:
        package-to-scan: ./...
