{{- $results := .Children.Top6.Slice -}}
{{- if not $results.IsEmpty -}}

	{{- range $results -}}

		<div streamId="{{.StreamID}}" class="item">
			<div 
				hx-get="/{{.Token}}" 
				hx-push-url="true"
				class="clickable card" 
				style="overflow:hidden; aspect-ratio:1;">
				<img src="{{.ImageURL}}?height=300&amp;width=300" style="width:100%;">
			</div>
		</div>

	{{- end -}}

	{{- if $results.IsLength 6 -}}

		<div
			hx-get="/{{.Token}}/children?publishDate=lt:{{$results.Last.PublishDate}}" 
			hx-push-url="false"
			hx-trigger="revealed" 
			hx-target="#children" 
			hx-swap="beforeend"></div>

	{{- end -}}

{{- end -}}	