<div class="page h-entry" hx-get="/{{.StreamID}}" hx-trigger="sse:{{.StreamID}}, refreshPage from:window"  hx-sse="connect:/{{.StreamID}}/sse">

	<link rel="stylesheet" href="/.templates/photo-album/stylesheet"/>

	<!-- Alternate links for service discovery -->
	<link rel="alternate" type="application/rss+xml" href="/{{.StreamID}}/rss"/>
	<link rel="alternate" type="application/atom+xml" href="/{{.StreamID}}/atom"/>
	<link rel="alternate" type="application/feed+json" href="/{{.StreamID}}/json"/>
	<link rel="hub" href="/{{.StreamID}}/websub"/>

	{{ if .UserCan "edit" }}
		<div id="menu-bar">
			<div class="left">
			<a href="/{{.Token}}/edit">Upload Photos</a>

			{{- if .UserCan "properties" -}}
				<a hx-get="/{{.Token}}/properties">Edit Info</a>
			{{- end -}}

			{{- if .UserCan "sharing" -}}
				<a hx-get="/{{.Token}}/sharing">Sharing</a>
			{{- end -}}
			</div>

			<div class="right">
			{{- if .UserCan "delete" -}}
				<a hx-get="/{{.Token}}/delete" class="text-red">Delete</a>
			{{- end -}}
			</div>
		</div>
	{{ end }}

	<h1>{{.Label}}</h1>

	{{- if ne .Summary "" -}}
		<article class="margin-bottom">
			{{.Summary}}
		</article>
	{{- end -}}

	<div id="children" class="cols-3">
		{{- .View "children" -}}
	</div>

</div>