
<div id="menu-bar" hx-push-url="true">
	<div class="center">
		<a hx-get="/admin/domain/index" class="turboclick {{if eq .Token `domain`}}selected{{end}}">
			General
		</a>

		<a hx-get="/admin/navigation/index" class="turboclick {{if eq .Token `navigation`}}selected{{end}}">
			Navigation
		</a>

		<a hx-get="/admin/rules/index" class="turboclick {{if eq .Token `rules`}}selected{{end}}">
			Rules
		</a>

		<a hx-get="/admin/users/index" class="turboclick {{if in .Token `users` `groups`}}selected{{end}}">
			People
		</a>

		<a hx-get="/admin/tags/index" class="turboclick {{if in .Token `search` `tags`}}selected{{end}}">
			Search
		</a>

		<a hx-get="/admin/syndication/index" class="turboclick {{if in .Token `connections` `webhooks` `syndication` `sso`}}selected{{end}}">
			External
		</a>

	</div>

</div>

<!-- Sub-Menus -->
{{ if in .Token "users" "groups" }}

	<div id="menu-bar-sub">
		<a hx-get="/admin/users/index" class="turboclick {{if eq `users` .Token}}selected{{end}}">
			Users
		</a>
		<a hx-get="/admin/groups/index" class="turboclick {{if eq `groups` .Token}}selected{{end}}">
			Groups
		</a>
	</div>

{{ else if in .Token "search" "tags" }}

	<div id="menu-bar-sub">
	
		<a hx-get="/admin/tags/index" class="turboclick {{if eq `tags` .Token}}selected{{end}}">
			Tags
		</a>

		<a hx-get="/admin/search/index" class="turboclick {{if eq `search` .Token}}selected{{end}}">
			Indexes
		</a>

	</div>

{{ else if in .Token "connections" "webhooks" "syndication" "sso" }}

	<span id="menu-bar-sub">
		<a hx-get="/admin/syndication/index" class="turboclick {{if eq .Token `syndication`}}selected{{end}}">
			Syndication
		</a>

		<a hx-get="/admin/webhooks/index" class="turboclick {{if eq .Token `webhooks`}}selected{{end}}">
			Webhooks
		</a>
	
		<a hx-get="/admin/connections/index" class="turboclick {{if eq .Token `connections`}}selected{{end}}">
			OAuth Services
		</a>
	
		<a hx-get="/admin/sso/index" class="turboclick {{if eq .Token `sso`}}selected{{end}}">
			Single Sign On
		</a>

	</span>

{{ end }}
