<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;"><tr><td style="
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
        font-size:18px;
        opacity:0.9;
        max-width:630px;
        line-height:1.5em;">
    
        {{- if ne "" .Domain_Icon -}}
            <div style="margin-bottom:32px;">
                <img src="{{.Domain_Icon}}" style="width:40%;">
            </div>
        {{- end -}}

        <p>Here is your guest code to sign in to <b>{{.Domain_Name}}</b>. This code is valid for <b>1 hour</b>.</p>
        <p>If you did not make this request, then you can safely ignore this email and no other actions will be taken.</p>
        <p>To continue, click the button below and you'll be linked back to your guest profile on {{.Domain_Name}}.</p>
        
        <p><a href="{{.Domain_URL}}/@guest/signin/{{.Token}}" style="
            display:inline-block;
            padding:9px 18px;
            background-color:#ff5522;
            color:white;
            border-radius:6px;
            text-decoration:none;
            ">Sign In Now &rarr;</a>
        </p>

</td></tr></table>

</body>
</html>