{{- if ne "" .Name -}}
	<h1><a href="{{.URL}}" target="_blank" class="text-black">{{.Name}}</a></h1>
{{- end -}}

<div class="content space-above space-below">
	{{- $image := .Image -}}
	{{- if $image.NotNil -}}
		<div class="space-below">
			<a href="{{.URL}}" target="_blank"><img src="{{$image.URL}}" style="width:100%;
			{{- if $image.HasDimensions}} aspect-ratio:{{$image.AspectRatio}};{{end}}"/></a>
		</div>
	{{- end -}}

	<div class="text-gray flex-row">
		<div class="bold">{{ .Published | longDate -}}</div>
	</div>	

	{{- if .HasContent -}}
		<div>{{- .Content | html -}}</div>
	{{- else if .HasSummary -}}
		<div>{{- .Summary -}}</div>
	{{- end -}}

</div>