{{- $pageSize := 6 -}}
{{- $published := .QueryParam "published" -}}
{{- $replies := .RepliesBefore $published $pageSize -}}

{{- if eq $replies.Length $pageSize -}}
	<div class="space-below" role="button" hx-get="/@me/messages/{{.MessageID}}/view-replies-before?published={{$replies.First.Published | epochDate}}" hx-target="this" hx-swap="outerHTML" hx-push-url="false">
		<span class="button text-xs">Show Previous Replies</span>
	</div>
{{- end -}}

{{- range $replies -}}
	{{- template "activitystream" . -}}
{{- end -}}
