{{- $pageSize := 4 -}}
{{- $published := .QueryParam "published" -}}
{{- $replies := .RepliesBefore $published $pageSize -}}

{{- if eq $replies.Length $pageSize -}}
	<div class="space-below" role="button" hx-get="{{.Path}}?published={{$replies.First.Published | epochDate}}" hx-target="this" hx-swap="outerHTML" hx-push-url="false">
		<hr>
		<span class="button text-xs">Show Previous Replies</span>
	</div>
{{- end -}}

{{- range $replies -}}

	{{- $object := .UnwrapActivity -}}
	{{- $actor := $object.AttributedTo.Load -}}

	<hr>
	<div class="space-below">
		<div class="flex-row">
			<div style="width:32px; height:32px; margin-right:8px;">
				{{- if $actor.Icon.NotNil -}}
					<a href="{{$actor.ID}}"><img class="circle-32" src="{{$actor.Icon.URL}}"></a>
				{{- end -}}
			</div>
			<div class="flex-grow-1">
				<div>
					{{- if $actor.NotNil -}}
						<a href="{{$actor.ID}}">
							<span class="bold">{{$actor.Name}}</span>
							<span class="text-gray">&middot; {{ $object.Published | epochDate | tinyDate}} ago</span>
						</a> &nbsp;
					{{- end -}}
				</div>

				{{- if ne "" $object.Name -}}
					<h1 class="space-above">{{$object.Name}}</h1>
				{{- end -}}

				{{- if $object.Image.NotNil -}}
					<div class="space-above space-below"><img src="{{$object.Image.URL}}" style="width:100%;"></div>
				{{- end -}}
			
				<div>{{$object.Content | html}}</div>
			</div>
			<div class="text-align-right text-xs nowrap">
				<button>Follow</button>
				<button>Block</button>
			</div>
		</div>
	</div>

{{- end -}}