<div script="install message(messageId:'{{.MessageID}}')">

	<div class="space-below">
		<div class="flex-row text-xs">

			<div style="flex-grow:1">
				<span class="button-group">
					<button id="previous" hx-get="/@me/messages/{{.MessageID}}/view?sibling=prev&followingId={{.QueryParam `origin.followingId`}}">&laquo; Prev</button>
					<button id="next" hx-get="/@me/messages/{{.MessageID}}/view?sibling=next&followingId={{.QueryParam `origin.followingId`}}">Next &raquo;</button>
				</span>

				<span class="button-group">
					<button script="on click go to url '{{.URL}}' in new window">View Original</button>
					<button hx-get="/@me/following-edit?followingId={{.Origin.FollowingID.Hex}}">Edit Source</button>
					<button hx-get="/@me/messages/{{.MessageID}}/delete">Delete</button>
				</span>
			</div>

			<div class="align-right">
				<button script="on click send closeModal">Close</button>
			</div>
		
		</div>
	</div>

	{{- if eq "" .Label -}}
		{{- if .Origin.NotEmpty -}}
			<a class="text-black flex-row flex-align-center" 
				href="/@me/inbox?folderId={{.FolderID}}&origin.followingId={{.Origin.FollowingID.Hex}}">

				{{- if ne "" .Origin.ImageURL -}}
					<img src="{{.Origin.ImageURL}}" class="circle" style="height:48px;"/>
				{{- end -}}
				<h1>{{.Origin.Label}}</h1>
			</a>
		{{- end -}}
	{{- else -}}
		<a class="text-gray bold flex-row flex-align-center"
			href="/@me/inbox?folderId={{.FolderID}}&origin.followingId={{.Origin.FollowingID.Hex}}">
			
			{{- if ne "" .Origin.ImageURL -}}
				<img src="{{.Origin.ImageURL}}" class="circle" style="height:24px"/>
			{{- end -}}
			<div style="margin:0px;">{{.Origin.Label}}</div>
		</a>
		<h1><a href="{{.URL}}" target="_blank" class="text-black">{{.Label}}</a></h1>
	{{- end -}}

	<div class="flex-row text-gray">
		<div>
			{{- if ne .AttributedTo.Name .Origin.Label -}}
				{{- if ne "" .AttributedTo.ProfileURL -}}
					<a href="{{.AttributedTo.ProfileURL}}" target="_blank">By: {{.AttributedTo.Name}}</a> &middot;
				{{- else -}}
					By: {{.AttributedTo.Name}} &middot;
				{{- end -}}
			{{end}}
			{{.PublishDate | longDate -}}
		</div>
		<div>{{.Responses}}</div>
	</div>

	<hr>

	<div class="content space-below">
		{{- if not .HasContentImage -}}
			{{- if .HasImage -}}
				<div class="space-below">
					<a href="{{.URL}}" target="_blank"><img src="{{.ImageURL}}" style="width:100%;"/></a>
				</div>
			{{- end -}}
		{{- end -}}

		{{- if .HasSummary -}}
			{{- if .HasContent -}}
				<div class="text-lg space-below">{{- .Summary | html -}}</div>
				<div class="bold text-gray">
					{{ .PublishDate | longDate -}}
				</div>	
					<div>{{- .ContentHTML -}}</div>
			{{- else -}}
				<div class="bold text-gray">
					{{ .PublishDate | longDate -}}
				</div>	
				<div>{{- .Summary | html -}}</div>
				{{- end -}}
		{{- else -}}
			<div class="bold text-gray">
				{{ .PublishDate | longDate -}}
			</div>	
			<div>{{- .ContentHTML -}}</div>
		{{- end -}}
			
	</div>

	<hr>

	<div hx-get="/@me/messages/{{.MessageID}}/replies-before" hx-trigger="load" hx-target="this" hx-swap="outerHTML" hx-push-url="false">
		Loading Replies...
	</div>

	<div hx-get="/@me/messages/{{.MessageID}}/replies-after?published={{now | epochDate}}" hx-trigger="refreshReplies" hx-push-url="false" hx-swap="innerHTML" hx-target="this">
		{{- if .UserCan "reply" -}}
			{{.View "reply"}}
		{{- end -}}
	</div>

</div>
