{{- $record := .ActivityStream .URL -}}

<div script="install message(folderId:'{{.FolderID}}', readDate:'{{.Rank}}')">

	<div class="float-right text-sm" style="margin-top:var(--rhythm); line-height:calc(var(--rhythm) * 6);">
		<button script="on click send closeModal">Close</button>
	</div>
	<h1>{{.Label}}</h1>

	<div class="text-gray space-below ellipsis">
		<a href="{{.URL}}" target="_blank" class="text-gray">
			{{- icon .Origin.Icon }} {{ .URL}}
		</a>
		&middot; 
		{{ .PublishDate | tinyDate -}}
	</div>

	<div class="text-sm">

		<span class="button-group">
			<button id="previous" hx-get="/@me/message-newspaper?rank=LT:{{.Rank}}&folderId={{.FolderID}}&origin.followingId={{.QueryParam `origin.followingId`}}">&laquo; Prev</button>
			<button id="next" hx-get="/@me/message-newspaper?rank=GT:{{.Rank}}&folderId={{.FolderID}}&origin.followingId={{.QueryParam `origin.followingId`}}">Next &raquo;</button>
		</span>

		<span class="button-group">
			<button hx-get="/@me/following-edit?followingId={{.Origin.FollowingID.Hex}}">Edit Source</button>
			<button hx-get="/@me/message-delete?messageId={{.MessageID}}">Delete</button>
			<button hx-get="/@me/block-new?messageId={{.MessageID}}">Block</button>
		</span>

	</div>

	<hr/>

	<div class="content">
		<div>{{- $record.Summary -}}</div>
		<div>{{- $record.Content | html -}}</div>
	</div>

	{{- .Responses -}}

	<hr>

	<div hx-get="/@me/messages/{{.MessageID}}/replies-before" hx-trigger="load" hx-target="this" hx-swap="outerHTML" hx-push-url="false">
		Loading Replies...
	</div>

	<div hx-get="/@me/messages/{{.MessageID}}/replies-after?published={{now | epochDate}}" hx-trigger="refreshReplies" hx-push-url="false" hx-swap="innerHTML" hx-target="this">
		{{- if .UserCan "reply" -}}
			{{.View "reply"}}
		{{- end -}}
	</div>

</div>

