<div script="install message(folderId:'{{.FolderID}}', readDate:'{{.Rank}}')">

	<div class="text-sm">

		<div class="button-group float-right">
			<button script="on click send closeModal">Close</button>
		</div>
	
		<span class="button-group">
			<button id="previous" hx-get="/@me/messages/{{.MessageID}}/view?sibling=prev&followingId={{.QueryParam `origin.followingId`}}">&laquo; Prev</button>
			<button id="next" hx-get="/@me/messages/{{.MessageID}}/view?sibling=next&followingId={{.QueryParam `origin.followingId`}}">Next &raquo;</button>
		</span>

		<span class="button-group">
			<button hx-get="/@me/following-edit?followingId={{.Origin.FollowingID.Hex}}">Edit Source</button>
			<button hx-get="/@me/messages/{{.MessageID}}/delete">Delete</button>
			<button hx-get="/@me/inbox/block-new?messageId={{.MessageID}}">Block</button>
		</span>

	</div>

	<h1 role="link" class="clickable flex-row flex-justify-center flex-align-center" script="on click go to url '{{.URL}}' in new window">
		{{- if ne "" .Label -}}
			{{- .Label -}}
		{{- else if .AttributedTo.NotEmpty -}}
			{{- $author := .AttributedTo.First -}}
			{{- if $author.HasImageURL -}}
				<img src="{{$author.ImageURL}}" class="circle" style="height:1.5em">&nbsp;
			{{- end -}}
			{{- .AttributedTo.First.Name -}}
		{{- else -}}
			{{.URL}}
		{{- end -}}
	</h2>

	<hr>

	<div class="content space-below">
		{{- if not .HasContentImage -}}
			{{- if .HasImage -}}
				<div class="space-below">
					<a href="{{.URL}}" target="_blank"><img src="{{.ImageURL}}" style="width:100%;"/></a>
				</div>
			{{- end -}}
		{{- end -}}

		{{- if .HasSummary -}}
			{{- if .HasContent -}}
				<div class="text-lg space-below">{{- .Summary | html -}}</div>
				<div class="bold text-gray">
					{{ .PublishDate | longDate -}}
				</div>	
					<div>{{- .ContentHTML -}}</div>
			{{- else -}}
				<div class="bold text-gray">
					{{ .PublishDate | longDate -}}
				</div>	
				<div>{{- .Summary | html -}}</div>
				{{- end -}}
		{{- else -}}
			<div class="bold text-gray">
				{{ .PublishDate | longDate -}}
			</div>	
			<div>{{- .ContentHTML -}}</div>
		{{- end -}}
			
	</div>

	{{- .Responses -}}

	<hr>

	<div hx-get="/@me/messages/{{.MessageID}}/replies-before" hx-trigger="load" hx-target="this" hx-swap="outerHTML" hx-push-url="false">
		Loading Replies...
	</div>

	<div hx-get="/@me/messages/{{.MessageID}}/replies-after?published={{now | epochDate}}" hx-trigger="refreshReplies" hx-push-url="false" hx-swap="innerHTML" hx-target="this">
		{{- if .UserCan "reply" -}}
			{{.View "reply"}}
		{{- end -}}
	</div>

</div>
